@import "~ajax-bootstrap-select/dist/css/ajax-bootstrap-select";
@import "~jquery-datetimepicker/jquery.datetimepicker";
@import "typeahead.js-bootstrap";

.tooltip.bottom {
    margin-top: 0;
}

.bu.modal .modal-header {
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.03);
    box-shadow: inset rgba(0, 0, 0, 0.1) 0 -10px 10px -10px;
    border-bottom-color: #ddd;
    margin-bottom: 0;
}

.bu.modal .modal-body {
    padding-bottom: 0;
    margin-bottom: 5px;
    padding-top: 0;
    margin-top: 20px;
}

.bu.modal .modal-footer {
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.03);
    box-shadow: inset rgba(0, 0, 0, 0.1) 0 10px 10px -10px;
    border-top-color: #ddd;
    margin-top: 0;
}

.modal-narrow .modal-dialog {
    width: 312px;
}

.modal-wide .modal-dialog {
    width: 482px;
}

.modal-superwide .modal-dialog {
    width: 702px;
}

a:not([href]) {
    cursor: pointer;
}

a.dashed {
    text-decoration: none;
    border-bottom: #069 1px dashed;
}

a.empty.dashed {
    color: #333;
    border-bottom-color: #333;
}


.dropdown-menu li a .glyphicon {
    top: 3px;
}

.field-pollquestion-dependquestionid .bootstrap-select .dropdown-menu.open {
    max-width: 100%;
}
.bootstrap-select .dropdown-menu li a {
    padding-left: 10px;
    /*padding-right: 10px;*/
}

.module.maximized {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    border: none;
    border-radius: 0;
    min-height: 100%;
}


.form-group label small {
    color: #aaa;
    font-weight: normal;
    font-size: 11px;
    margin-left: 5px;
    position: relative;
    top: 1px;
}


.bootstrap-select.btn-group, .bootstrap-select.btn-group[class*="span"] {
    margin-bottom: 0;
}

.bootstrap-select .dropdown-menu > li > a {
    text-decoration: none;
}


.vehicle-list .n-a {
    color: rgba(0, 0, 0, 0.15);
}

a.btn:not(.btn-link) {
    text-decoration: none;
}

.text-primary:hover {
    color: #428BCA;
}

a.text-primary:hover {
    color: #3071A9;
}

.modal {
    overflow-x: auto;
    overflow-y: scroll;
}

.collapse-link {
    display: block;
    position: relative;
    height: 18px;
    background: #e6e6e6;
    padding: 0 10px;
    text-decoration: none;
    .glyphicon-menu-up,
    &.collapsed .glyphicon-menu-down {
        display: inline-block;
    }
    .glyphicon-menu-down,
    &.collapsed .glyphicon-menu-up {
        display: none;
    }
    &::after {
        content: '';
        display: block;
        height: 1px;
        background: #ccc;
        margin-top: -6px;
        margin-left: 160px;
    }
}


.table-funnel tr.dealerData td:first-child {
    padding-left: 25px;
}

.table-funnel tr.dealerGroup {
    cursor: pointer;
}

.table-funnel tr.dealerGroup td:first-child span:before {
    content: "\e250 ";
}

.table-funnel tr.dealerGroup.expanded td:first-child span:before {
    content: "\e252 ";
}

#client_car_statistics {
    min-width: 250px;
    max-width: 700px;
    margin: 0 auto;
}

#chart-gender-pie,
#chart-type-pie,
#chart-age-pie {
    width: 33%;
    height: 200px;
    float: left;
}

#chart-sales-funnel {
    height: 400px;
    padding-bottom: 20px;
}

#chart-level-of-sales {
    width: 100%;
    height: 400px;
    float: left;
}

.placeholders-box {
    padding-bottom: 16px;
}

.js-placeholder {
    margin-right: 2px;
    margin-top: 2px;
    font-size: 10px;
}

.js-placeholder:hover {
    cursor: pointer;
}

.js-trade-in-vehicle-select-data {
    display: none;
}

.js-trade-in-vehicle-select-data table td {
    padding: 2px 8px;
}

.js-trade-in-vehicle-select-option-disabled > span {
    color: #999999;
}
.report-common-client-disabled {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #c3c3c3d9;
    z-index: 1;
    top: 0;
    left: 0;
}
.report-common-client-disabled > div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    margin: 10% 0;
    min-height: 200px;
    font-size: 30px;
    line-height: 30px;
}
