.svg--VIN {
  background-image: url('/icons/png/VIN.png');
}

.svg--accommodation {
  background-image: url('/icons/png/accommodation.png');
}

.svg--add {
  background-image: url('/icons/png/add.png');
}

.svg--adjust {
  background-image: url('/icons/png/adjust.png');
}

.svg--amd {
  background-image: url('/icons/png/amd.png');
}

.svg--appeal {
  background-image: url('/icons/png/appeal.png');
}

.svg--applications-site {
  background-image: url('/icons/png/applications-site.png');
}

.svg--arrowRight {
  background-image: url('/icons/png/arrowRight.png');
}

.svg--asc {
  background-image: url('/icons/png/asc.png');
}

.svg--availability {
  background-image: url('/icons/png/availability.png');
}

.svg--backArrow {
  background-image: url('/icons/png/backArrow.png');
}

.svg--btl-check {
  background-image: url('/icons/png/btl-check.png');
}

.svg--budget {
  background-image: url('/icons/png/budget.png');
}

.svg--byn {
  background-image: url('/icons/png/byn.png');
}

.svg--calendar--erp {
  background-image: url('/icons/png/calendar--erp.png');
}

.svg--calendar {
  background-image: url('/icons/png/calendar.png');
}

.svg--car {
  background-image: url('/icons/png/car.png');
}

.svg--car_default {
  background-image: url('/icons/png/car_default.png');
}

.svg--car_default_contrast {
  background-image: url('/icons/png/car_default_contrast.png');
}

.svg--chat {
  background-image: url('/icons/png/chat.png');
}

.svg--clock {
  background-image: url('/icons/png/clock.png');
}

.svg--comments {
  background-image: url('/icons/png/comments.png');
}

.svg--contracts {
  background-image: url('/icons/png/contracts.png');
}

.svg--contracts2 {
  background-image: url('/icons/png/contracts2.png');
}

.svg--contractsChart {
  background-image: url('/icons/png/contractsChart.png');
}

.svg--conversion {
  background-image: url('/icons/png/conversion.png');
}

.svg--copy {
  background-image: url('/icons/png/copy.png');
}

.svg--del {
  background-image: url('/icons/png/del.png');
}

.svg--desc {
  background-image: url('/icons/png/desc.png');
}

.svg--dotted {
  background-image: url('/icons/png/dotted.png');
}

.svg--eventIcon--call {
  background-image: url('/icons/png/eventIcon--call.png');
}

.svg--eventIcon--cancel-contract {
  background-image: url('/icons/png/eventIcon--cancel-contract.png');
}

.svg--eventIcon--close {
  background-image: url('/icons/png/eventIcon--close.png');
}

.svg--eventIcon--cold-call {
  background-image: url('/icons/png/eventIcon--cold-call.png');
}

.svg--eventIcon--comment {
  background-image: url('/icons/png/eventIcon--comment.png');
}

.svg--eventIcon--contract {
  background-image: url('/icons/png/eventIcon--contract.png');
}

.svg--eventIcon--internet {
  background-image: url('/icons/png/eventIcon--internet.png');
}

.svg--eventIcon--issue {
  background-image: url('/icons/png/eventIcon--issue.png');
}

.svg--eventIcon--lead-close {
  background-image: url('/icons/png/eventIcon--lead-close.png');
}

.svg--eventIcon--lead-open {
  background-image: url('/icons/png/eventIcon--lead-open.png');
}

.svg--eventIcon--meet {
  background-image: url('/icons/png/eventIcon--meet.png');
}

.svg--eventIcon--offer {
  background-image: url('/icons/png/eventIcon--offer.png');
}

.svg--eventIcon--poll {
  background-image: url('/icons/png/eventIcon--poll.png');
}

.svg--eventIcon--reject {
  background-image: url('/icons/png/eventIcon--reject.png');
}

.svg--eventIcon--test-drive {
  background-image: url('/icons/png/eventIcon--test-drive.png');
}

.svg--eventIcon--visit {
  background-image: url('/icons/png/eventIcon--visit.png');
}

.svg--excel {
  background-image: url('/icons/png/excel.png');
}

.svg--export {
  background-image: url('/icons/png/export.png');
}

.svg--eye {
  background-image: url('/icons/png/eye.png');
}

.svg--fast-link {
  background-image: url('/icons/png/fast-link.png');
}

.svg--favorite {
  background-image: url('/icons/png/favorite.png');
}

.svg--file {
  background-image: url('/icons/png/file.png');
}

.svg--filter-alt {
  background-image: url('/icons/png/filter-alt.png');
}

.svg--folder {
  background-image: url('/icons/png/folder.png');
}

.svg--funnel {
  background-image: url('/icons/png/funnel.png');
}

.svg--glyphicons-arrow-up {
  background-image: url('/icons/png/glyphicons-arrow-up.png');
}

.svg--glyphicons-basic-archive {
  background-image: url('/icons/png/glyphicons-basic-archive.png');
}

.svg--glyphicons-basic-bin {
  background-image: url('/icons/png/glyphicons-basic-bin.png');
}

.svg--glyphicons-basic-block-move {
  background-image: url('/icons/png/glyphicons-basic-block-move.png');
}

.svg--glyphicons-basic-calendar {
  background-image: url('/icons/png/glyphicons-basic-calendar.png');
}

.svg--glyphicons-basic-cars {
  background-image: url('/icons/png/glyphicons-basic-cars.png');
}

.svg--glyphicons-basic-circle-alert {
  background-image: url('/icons/png/glyphicons-basic-circle-alert.png');
}

.svg--glyphicons-basic-circle-empty-check {
  background-image: url('/icons/png/glyphicons-basic-circle-empty-check.png');
}

.svg--glyphicons-basic-circle-empty-remove {
  background-image: url('/icons/png/glyphicons-basic-circle-empty-remove.png');
}

.svg--glyphicons-basic-circle-empty {
  background-image: url('/icons/png/glyphicons-basic-circle-empty.png');
}

.svg--glyphicons-basic-circle-minus {
  background-image: url('/icons/png/glyphicons-basic-circle-minus.png');
}

.svg--glyphicons-basic-circle-remove {
  background-image: url('/icons/png/glyphicons-basic-circle-remove.png');
}

.svg--glyphicons-basic-direction {
  background-image: url('/icons/png/glyphicons-basic-direction.png');
}

.svg--glyphicons-basic-export {
  background-image: url('/icons/png/glyphicons-basic-export.png');
}

.svg--glyphicons-basic-eye-off {
  background-image: url('/icons/png/glyphicons-basic-eye-off.png');
}

.svg--glyphicons-basic-eye {
  background-image: url('/icons/png/glyphicons-basic-eye.png');
}

.svg--glyphicons-basic-filter-plus {
  background-image: url('/icons/png/glyphicons-basic-filter-plus.png');
}

.svg--glyphicons-basic-filter {
  background-image: url('/icons/png/glyphicons-basic-filter.png');
}

.svg--glyphicons-basic-fullscreen-off {
  background-image: url('/icons/png/glyphicons-basic-fullscreen-off.png');
}

.svg--glyphicons-basic-fullscreen {
  background-image: url('/icons/png/glyphicons-basic-fullscreen.png');
}

.svg--glyphicons-basic-hourglass {
  background-image: url('/icons/png/glyphicons-basic-hourglass.png');
}

.svg--glyphicons-basic-lock {
  background-image: url('/icons/png/glyphicons-basic-lock.png');
}

.svg--glyphicons-basic-menu-close {
  background-image: url('/icons/png/glyphicons-basic-menu-close.png');
}

.svg--glyphicons-basic-minus {
  background-image: url('/icons/png/glyphicons-basic-minus.png');
}

.svg--glyphicons-basic-no-symbol {
  background-image: url('/icons/png/glyphicons-basic-no-symbol.png');
}

.svg--glyphicons-basic-pencil {
  background-image: url('/icons/png/glyphicons-basic-pencil.png');
}

.svg--glyphicons-basic-picture {
  background-image: url('/icons/png/glyphicons-basic-picture.png');
}

.svg--glyphicons-basic-plus {
  background-image: url('/icons/png/glyphicons-basic-plus.png');
}

.svg--glyphicons-basic-progress {
  background-image: url('/icons/png/glyphicons-basic-progress.png');
}

.svg--glyphicons-basic-refresh {
  background-image: url('/icons/png/glyphicons-basic-refresh.png');
}

.svg--glyphicons-basic-reload {
  background-image: url('/icons/png/glyphicons-basic-reload.png');
}

.svg--glyphicons-basic-remove {
  background-image: url('/icons/png/glyphicons-basic-remove.png');
}

.svg--glyphicons-basic-repeat {
  background-image: url('/icons/png/glyphicons-basic-repeat.png');
}

.svg--glyphicons-basic-search {
  background-image: url('/icons/png/glyphicons-basic-search.png');
}

.svg--glyphicons-basic-sort-attributes-alt {
  background-image: url('/icons/png/glyphicons-basic-sort-attributes-alt.png');
}

.svg--glyphicons-basic-sort-attributes {
  background-image: url('/icons/png/glyphicons-basic-sort-attributes.png');
}

.svg--glyphicons-basic-square-download {
  background-image: url('/icons/png/glyphicons-basic-square-download.png');
}

.svg--glyphicons-basic-square-edit {
  background-image: url('/icons/png/glyphicons-basic-square-edit.png');
}

.svg--glyphicons-basic-square-empty-check {
  background-image: url('/icons/png/glyphicons-basic-square-empty-check.png');
}

.svg--glyphicons-basic-square-info {
  background-image: url('/icons/png/glyphicons-basic-square-info.png');
}

.svg--glyphicons-basic-square-upload {
  background-image: url('/icons/png/glyphicons-basic-square-upload.png');
}

.svg--glyphicons-basic-squares {
  background-image: url('/icons/png/glyphicons-basic-squares.png');
}

.svg--glyphicons-basic-tag {
  background-image: url('/icons/png/glyphicons-basic-tag.png');
}

.svg--glyphicons-basic-triangle-empty-alert {
  background-image: url('/icons/png/glyphicons-basic-triangle-empty-alert.png');
}

.svg--glyphicons-basic-user-plus {
  background-image: url('/icons/png/glyphicons-basic-user-plus.png');
}

.svg--glyphicons-basic-user {
  background-image: url('/icons/png/glyphicons-basic-user.png');
}

.svg--glyphicons-basic-users {
  background-image: url('/icons/png/glyphicons-basic-users.png');
}

.svg--glyphicons-call-incoming {
  background-image: url('/icons/png/glyphicons-call-incoming.png');
}

.svg--glyphicons-call-outgoing {
  background-image: url('/icons/png/glyphicons-call-outgoing.png');
}

.svg--glyphicons-car {
  background-image: url('/icons/png/glyphicons-car.png');
}

.svg--glyphicons-chevron-up {
  background-image: url('/icons/png/glyphicons-chevron-up.png');
}

.svg--glyphicons-clipboard {
  background-image: url('/icons/png/glyphicons-clipboard.png');
}

.svg--glyphicons-clock {
  background-image: url('/icons/png/glyphicons-clock.png');
}

.svg--glyphicons-dotted {
  background-image: url('/icons/png/glyphicons-dotted.png');
}

.svg--glyphicons-global {
  background-image: url('/icons/png/glyphicons-global.png');
}

.svg--glyphicons-handshake {
  background-image: url('/icons/png/glyphicons-handshake.png');
}

.svg--glyphicons-keys {
  background-image: url('/icons/png/glyphicons-keys.png');
}

.svg--glyphicons-list {
  background-image: url('/icons/png/glyphicons-list.png');
}

.svg--glyphicons-newspaper {
  background-image: url('/icons/png/glyphicons-newspaper.png');
}

.svg--glyphicons-ok-sign {
  background-image: url('/icons/png/glyphicons-ok-sign.png');
}

.svg--glyphicons-ok {
  background-image: url('/icons/png/glyphicons-ok.png');
}

.svg--glyphicons-open {
  background-image: url('/icons/png/glyphicons-open.png');
}

.svg--glyphicons-plus-sign {
  background-image: url('/icons/png/glyphicons-plus-sign.png');
}

.svg--glyphicons-plus {
  background-image: url('/icons/png/glyphicons-plus.png');
}

.svg--glyphicons-show-thumbnails {
  background-image: url('/icons/png/glyphicons-show-thumbnails.png');
}

.svg--import {
  background-image: url('/icons/png/import.png');
}

.svg--installation {
  background-image: url('/icons/png/installation.png');
}

.svg--kgs {
  background-image: url('/icons/png/kgs.png');
}

.svg--kzt {
  background-image: url('/icons/png/kzt.png');
}

.svg--leftovers {
  background-image: url('/icons/png/leftovers.png');
}

.svg--lightbulb-on {
  background-image: url('/icons/png/lightbulb-on.png');
}

.svg--lock {
  background-image: url('/icons/png/lock.png');
}

.svg--lockOpen {
  background-image: url('/icons/png/lockOpen.png');
}

.svg--message-status--error {
  background-image: url('/icons/png/message-status--error.png');
}

.svg--message-status--inprogress {
  background-image: url('/icons/png/message-status--inprogress.png');
}

.svg--message-status--success {
  background-image: url('/icons/png/message-status--success.png');
}

.svg--mileage {
  background-image: url('/icons/png/mileage.png');
}

.svg--mix-channel {
  background-image: url('/icons/png/mix-channel.png');
}

.svg--new-folder {
  background-image: url('/icons/png/new-folder.png');
}

.svg--noauto {
  background-image: url('/icons/png/noauto.png');
}

.svg--nocorporate {
  background-image: url('/icons/png/nocorporate.png');
}

.svg--nophoto {
  background-image: url('/icons/png/nophoto.png');
}

.svg--open {
  background-image: url('/icons/png/open.png');
}

.svg--pdf {
  background-image: url('/icons/png/pdf.png');
}

.svg--pencil {
  background-image: url('/icons/png/pencil.png');
}

.svg--print {
  background-image: url('/icons/png/print.png');
}

.svg--receipt {
  background-image: url('/icons/png/receipt.png');
}

.svg--redeemed {
  background-image: url('/icons/png/redeemed.png');
}

.svg--regularize {
  background-image: url('/icons/png/regularize.png');
}

.svg--remove-sign {
  background-image: url('/icons/png/remove-sign.png');
}

.svg--remove {
  background-image: url('/icons/png/remove.png');
}

.svg--repair {
  background-image: url('/icons/png/repair.png');
}

.svg--rub {
  background-image: url('/icons/png/rub.png');
}

.svg--sale {
  background-image: url('/icons/png/sale.png');
}

.svg--sales {
  background-image: url('/icons/png/sales.png');
}

.svg--sales2 {
  background-image: url('/icons/png/sales2.png');
}

.svg--score-check {
  background-image: url('/icons/png/score-check.png');
}

.svg--score {
  background-image: url('/icons/png/score.png');
}

.svg--search-alt {
  background-image: url('/icons/png/search-alt.png');
}

.svg--search {
  background-image: url('/icons/png/search.png');
}

.svg--send-alt {
  background-image: url('/icons/png/send-alt.png');
}

.svg--send {
  background-image: url('/icons/png/send.png');
}

.svg--sendComment {
  background-image: url('/icons/png/sendComment.png');
}

.svg--settings {
  background-image: url('/icons/png/settings.png');
}

.svg--share {
  background-image: url('/icons/png/share.png');
}

.svg--sign-info-red {
  background-image: url('/icons/png/sign-info-red.png');
}

.svg--sign-info {
  background-image: url('/icons/png/sign-info.png');
}

.svg--sign {
  background-image: url('/icons/png/sign.png');
}

.svg--simple-info {
  background-image: url('/icons/png/simple-info.png');
}

.svg--sources-traffic {
  background-image: url('/icons/png/sources-traffic.png');
}

.svg--spares {
  background-image: url('/icons/png/spares.png');
}

.svg--stat {
  background-image: url('/icons/png/stat.png');
}

.svg--sync {
  background-image: url('/icons/png/sync.png');
}

.svg--table {
  background-image: url('/icons/png/table.png');
}

.svg--tag {
  background-image: url('/icons/png/tag.png');
}

.svg--traffic {
  background-image: url('/icons/png/traffic.png');
}

.svg--triangle-alert {
  background-image: url('/icons/png/triangle-alert.png');
}

.svg--triangle-down {
  background-image: url('/icons/png/triangle-down.png');
}

.svg--triangle-empty-alert {
  background-image: url('/icons/png/triangle-empty-alert.png');
}

.svg--triangle-right {
  background-image: url('/icons/png/triangle-right.png');
}

.svg--uah {
  background-image: url('/icons/png/uah.png');
}

.svg--usd {
  background-image: url('/icons/png/usd.png');
}

.svg--warehouse-add {
  background-image: url('/icons/png/warehouse-add.png');
}

.svg--warehouse-addTel {
  background-image: url('/icons/png/warehouse-addTel.png');
}

.svg--warehouse-auto {
  background-image: url('/icons/png/warehouse-auto.png');
}

.svg--warehouse-dealer {
  background-image: url('/icons/png/warehouse-dealer.png');
}

.svg--warehouse-fetch {
  background-image: url('/icons/png/warehouse-fetch.png');
}

.svg--warehouse-info {
  background-image: url('/icons/png/warehouse-info.png');
}

.svg--warehouse-owner {
  background-image: url('/icons/png/warehouse-owner.png');
}

.svg--warehouse-photo {
  background-image: url('/icons/png/warehouse-photo.png');
}

.svg--wrench {
  background-image: url('/icons/png/wrench.png');
}

