.js-global-lock-layer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 99999;
}

.ic {
    width: 28px;
}

table td span, table th span {
    display: inline-block;
}

td.ic span {
    width: 12px;
    height: 12px;
    background: transparent url(../images/icon.png) no-repeat -1px -185px;
}

.nav a, .navbar-nav > li > a {
    color: #006699;
    font-size: 13px;
    font-weight: 700;
    padding: 0 26px 0 0;
    text-decoration: none;
}

.navbar-nav > li > a {
    line-height: 14px;
}

.nav > li > a:hover,
.nav > li > a:focus {
    background-color: transparent;
}

.nav.navbar-nav > li.active > a {
    text-decoration: none;
    color: #747373;
}

.nav.navbar-nav > li.active ul.dropdown-menu li.active a {
    color: #fff;
}

li.dropdown-submenu:last-child > .dropdown-menu {
    left: -50%;
}

/************************************************/

.client-card-left {
    border-right: 1px solid #d1d1d1;
}

.client-card-right {
    border-left: 1px solid #d1d1d1;
    margin-left: -1px;
}

.client-card-left,
.client-card-right {
    float: left;
    width: 50%;
}

.client-card {
    border-top: 1px solid #d1d1d1;
    background-color: #f8f8ff;
}

.client-card h4,
.client-card h5 {
    font-weight: 700;
}

.client-card h5.page-subtitle {
    display: inline-block;
    margin: 0;
    padding-top: 6px;
}

.client-card .work-with-application {
    background-color: #ecead2;
    margin-right: -15px;
    margin-left: -15px;
    padding: 5px 15px 1px;
    border-bottom: 1px solid #d1d1d1;
}

.client-card .work-with-application .table {
    margin-bottom: 20px;
}

.client-card .work-with-application .table th,
.client-card .work-with-application .table td {
    text-align: left;
    border-top-width: 0;
    padding: 4px 8px;
    height: auto;
}

.client-card .work-with-application .table th {
    border-bottom-width: 1px;
}

.client-card .work-with-application .table tr:first-child td {
    padding-top: 8px;
}

.client-card .work-with-application table {
    margin-bottom: 0;
}

.client-card .work-with-application table > tbody > tr:nth-child(even) > td {
    background-color: transparent;
}

.client-card .work-with-application .table th:first-child,
.client-card .work-with-application .table td:first-child {
    padding-left: 0;
}

.client-card .work-with-application .work-with-application-btn-group {
    margin-bottom: 15px;
    margin-top: 10px;
}

.client-card .work-with-application .work-with-application-btn-group .form-group + .form-group {
    margin-left: 50px;
}

.client-card .clients {
    margin-right: -15px;
    margin-left: -15px;
    padding: 5px 15px 1px;
    border-bottom: 1px solid #d1d1d1;
    background-color: #f8f8ff;
}

.client-card .customer-needs {
    margin-right: -15px;
    margin-left: -15px;
    padding: 5px 15px 1px;
    background-color: #f8f8ff;
}

.client-card .clients .control-label,
.client-card .css-credit-block .control-label,
.client-card .css-buy-block .control-label,
.client-card .css-service-block .control-label,
.client-card .css-trade-in-block .control-label,
.client-card .work-with-application .control-label {
    text-align: left;
}

.css-trade-in-block,
.css-credit-block,
.css-buy-block,
.css-service-block {
    margin-top: 15px;
    padding-bottom: 1px;
    background-color: rgba(236, 234, 210, 1);
    padding-left: 15px;
    padding-right: 15px;
    /*margin-top: 5px;*/
    clear: both;
}

.request-trade-in .text-left,
.request-credit .text-left,
.request-buy .text-left,
.request-service .text-left {
    margin: 15px 0 15px 15px;
    /*float: right;*/
}

.request-trade-in, .request-service, .request-buy, .request-credit {
    margin-bottom: 15px;
}

.short-info {
    margin-bottom: 12px;
    margin-top: 12px;
}

.short-info .collapse-button.collapsed .glyphicon-collapse-up:before {
    content: "\e159";
}

.short-info h4 {
    font-weight: 700;
    float: left;
    margin-top: 0;
}

.short-info h4 span {
    font-size: 12px;
    line-height: 20px;
}

.short-info h4 span i {
    font-style: normal;
    font-weight: normal;
}

.short-info .collapse-button {
    float: right;
}

.short-info .collapse-button .glyphicon {
    color: #939397;
    font-size: 18px;
}

.short-info .col-sm-4,
.short-info .col-sm-5,
.short-info .col-sm-3,
.short-info .col-sm-8 {
    padding-top: 6px;
    padding-bottom: 6px;
}


.grid-view-loader,
.grid-view-loading {
    background: url(../images/loading.gif) no-repeat;
    width: 120px;
    display: block;
    height: 45px;
    position: absolute;
    right: 50%;
    margin-right: -60px;
}

.btn-action-down {
    margin-bottom: 15px;
    margin-top: 15px;
}


.css-stage-types h5 {
    margin-bottom: 0;
}

/******************** filters *******************/
section.content-filters {
    background-color: #e6e6e6;
    border-bottom: 1px solid #b4b4b4;
    padding: 10px 12px 4px;
    margin: 10px;
}

section.content-filters label {
    font-weight: normal;
    font-size: 0.9166666667em;
    margin-bottom: 2px;
}

section.content-filters .btn + .btn {
    margin-left: 5px;
}

section.content-filters .checkbox-sm {
    border: 1px solid transparent;
    margin-top: 0;
    margin-bottom: 0;

    label {
        display: block;
        height: 26px;
        line-height: 26px;
        margin-bottom: 0;

        &.control-label {
            height: auto;
            margin-bottom: 2px;
            min-height: auto;
        }

        input[type="checkbox"] {
            margin-top: 0;
            top: 0;
            vertical-align: middle;
        }
    }
}

.bs-actionsbox .btn-group .btn + .btn {
    margin-left: 0;
}

/***********************************************/
.table-work .pagination {
    margin: 0 0 12px;
}

.table-work .summary {
    margin: 27px 0 0;
}

.modal-interests {
    max-height: 500px;
    overflow: auto;
}

.collection-item {
    width: 100%;
    display: table;
}

.collection-item + .collection-item {
    margin-top: 15px;
}

.collection-item .group-horizontal {
    max-width: 100%;
    width: 100%;
}

.collection-item .group-horizontal-addon {

}

.collection-item .collection-item .group-horizontal {
    display: table;
}

.collection-item .group-horizontal-addon {
    display: table-cell;
    width: 27px;
    vertical-align: middle;
}


.customer-needs-tabs .nav-tabs {
    /*background-color: #cacaca;*/
    margin-bottom: 6px;
}

.customer-needs-tabs .nav-tabs > li > a {
    background-color: #ddd;
    color: #333;
    border: 0 solid #DDD;
    border-radius: 0;
}

.customer-needs-tabs .nav-tabs > li.active > a,
.customer-needs-tabs .nav-tabs > li.active > a:hover,
.customer-needs-tabs .nav-tabs > li.active > a:focus {
    border: 0 solid #DDD;
    background-color: #a1a1a1;
    color: #fff;
    /*color: #006699;*/
}

.customer-needs-tabs .tab-content {
    border-radius: 0;
    border: none;
}

.customer-needs-tabs .tab-content > .active {
    border: none;
    /*background-color: transparent;*/
    background-color: rgba(236, 234, 210, 1);
    padding: 0;
    border-radius: 0;
}

.captcha a {
    display: block;
    text-decoration: none;
}

.widgetConfiguration li a {
    font-size: 14px;
    text-decoration: none;
    margin-bottom: 4px;
    display: inline-block;
}

.table > tbody > tr.css-result-stat > td {
    padding: 10px;
    border: 0;
    background-color: #fff;
}

.css-result-stat td table {
    margin-bottom: 0;
}

.css-toggle {
    cursor: pointer;
}

.css-toggle:before {
    content: "\e114";
    position: relative;
    top: 1px;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.css-toggle.table-collapse:before {
    content: "\e080";
}

.button-column .glyphicon + .glyphicon {
    margin-left: 8px;
}

td.id {
    white-space: nowrap;
    width: 40px;
}

td.dealer-name {
    width: 220px;
}

td.timeleft {
    width: 110px;
    white-space: nowrap;
}

td.overdue {
    white-space: nowrap;
    width: 30px;
}

td.statusName {
    white-space: nowrap;
    width: 68px;
}

td.created-at {
    white-space: nowrap;
    width: 110px;
}

td.button-column {
    white-space: nowrap;
    width: 30px;
}

.chrome-logo {
    height: 96px;
    margin-top: 10px;
    background: url(../images/browsers/chrome.png) no-repeat center center;
}

.firefox-logo {
    height: 96px;
    margin-top: 10px;
    background: url(../images/browsers/firefox.png) no-repeat center center;
}

.opera-logo {
    height: 96px;
    margin-top: 10px;
    background: url(../images/browsers/opera.png) no-repeat center center;
}

.ie-logo {
    height: 96px;
    margin-top: 10px;
    background: url(../images/browsers/ie.png) no-repeat center center;
}

.css-login-checkbox {
    float: left;
}

.css-login-checkbox .checkbox {
    margin: 0;
}

h3.subtitle {
    font-size: 18px;
    margin-top: 0;
}

.dsf-ul li {
    margin-bottom: 8px;
    padding-left: 12px;
}

.dealer-card .has-error .help-block { /*в карточке дилера прыгали строки*/
    position: absolute;;
    top: 43px;
}

.has-error .comboTreeInputBox {
    border-color: #b94a48;
}

.item.purchase-details-client {
    min-height: 190px;
    margin-top: 0;
    margin-bottom: 0;
}

.item.purchase-details-auto {
    margin-bottom: 0;
    margin-top: 0;
    min-height: 190px;
}

.common-client .item-header .glyphicon-edit {
    font-size: 14px;
}

.common-client .client-phone .client-phone-item + .client-phone-item {
    margin-top: 12px;
}

.common-client .client-phone .crm-btn-row {
    font-size: 13px;
    float: right;
}

.common-client .client-contact-email .crm-btn-row {
    float: right;
    font-size: 13px;
}

.common-client .client-contact-comment {
    position: relative;
    /*padding-left: 143px;*/
    margin-bottom: 15px;
}

.common-client .client-contact-comment .glyphicon-pencil {
    position: absolute;
    top: 19px;
    /*left: 148px;*/
    left: 5px;
}

.common-client .client-contact-comment textarea {
    border: 1px solid #ddd;
    border-left: 22px solid #ddd;
    font-size: 12px;
    height: 80px;
    padding: 4px 6px;
}

.common-client-history {
    background-color: #f9f9f9;
    height: 351px;
    padding: 10px 10px 5px;
}

.common-client-history .css-table-history {
    height: 269px;
}

tr.dealerData td:first-child {
    padding-left: 25px;
}

//tr.dealerGroup,
tr.serviceGroup {
    cursor: pointer;
}

tr.dealerGroup.odd,
tr.week-data.odd,
tr.serviceGroup.odd {
    background-color: #f9f9f9;
}

.css-week-header td {
    background-color: #fff;
}

tr.dealerGroup.timeout {
    opacity: 0.5;
}

.table tr.thead > th {
    border-bottom: 1px solid #ddd;
    background-color: #BABABA;
    color: #fff;
    font-size: 11px;
    font-weight: normal;
    vertical-align: bottom;
}

.table tr td .empty {
    text-align: center;
}

#js-manual-report-list-table a.js-detail span:before {
    content: "\e250 ";
}

#js-manual-report-list-table a.js-detail.active span:before {
    content: "\e252 ";
}

.js-dealer-manual-report-list .css-week-header.js-week-header span:first-child:before {
    content: "\e250 ";
}

.js-dealer-manual-report-list .css-week-header.js-week-header.expanded span:first-child:before {
    content: "\e252 ";
}

.js-dealer-manual-report-list .css-week-header.js-week-header {
    cursor: pointer;
}

.css-search .btn + .btn {
    margin-left: 25px;
}

section.client-block {
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 10px;
}

section.client-block .item-header {
    padding: 10px 0;
}

section.client-block .item-header.border {
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

section.client-block .item-header h4 {
    display: inline-block;
    font-size: 1.1666666667em;
    margin: 0 0 0;
}

section.client-block .client-id {
    float: left;
    margin-right: 6px;
    width: 138px;
}

section.client-block .client-id .code {
    margin-left: 4px;
    max-width: 94px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

section.client-block .client-name {
    margin-bottom: 6px;
}

section.client-block .client-contact-left {
    float: left;
    margin-right: 36px;
    width: 107px;
}

section.client-block .client-info {
    padding-left: 143px;
    width: 100%;
}

section.client-block .client-photo:empty {
    background: transparent url(/images/nophoto.png) no-repeat;
}

section.client-block .client-photo {
    border-radius: 107px;
    height: 107px;
    overflow: hidden;
    margin-right: 36px;
    width: 107px;
}

section.client-block .client-phone {
    padding: 6px 7px;
    background-color: #ffdb7d;
    margin-bottom: 0;
    line-height: 1em;
}

section.client-block .client-phone label {
    display: none;
}

section.client-block .client-contact-email {
    padding: 6px 7px 6px 0;
}

section.client-info-sale.item .item-body {
    padding: 0;
    padding-left: 0;
    padding-top: 20px;
}

section.client-info-sale.item--simple .item-header {
    padding-left: 0;
}

.twitter-typeahead-block .twitter-typeahead {
    display: block !important;
}


.required label:after {
    color: red;
    content: '*';
}

.help-block:empty {
    display: none;
}

.table-conversionform-events .form-group,
.table-conversionform-events .form-group {
    margin-bottom: 0;
}

.table-conversionform-events label.control-label,
.table-conversionform-events label.control-label {
    display: none;
}

.labelPosUp {
    position: relative;
    top: -1px;
}

.labelPosUp.label-danger {
    background-color: #f1aeac;
}

.labelPosUp.label-success {
    background-color: #b1dab1;
}

.code-label-ib .control-label {
    display: inline-block;
    margin-right: 4px;
}

.labelPosUp.label {
    padding: 0.3em .6em .3em;
}

/* ============================= */
/*  table-history                */
/* ============================= */
.css-table-history {
    overflow-y: auto;
}

.css-table-history .pseudo-table-td:first-child {
    padding-left: 15px;
}

.css-table-history .pseudo-table-td:last-child {
    padding-right: 15px;
}

.css-table-history .pseudo-table-td.col-sm-6 {
    color: #999;
}

.css-table-comment {
    word-wrap: break-word;
    color: #333;
}

.css-table-comment .glyphicon-comment {
    float: left;
    margin-right: 3px;
    top: 3px;
}

.css-table-history .pseudo-table-td.col-sm-6 {
    color: #999;
}

/* ============================= */
/*  pseudo-table                 */
/* ============================= */
.pseudo-table-td {
    float: left;
    padding: 8px;
}

.pseudo-table-tr {
    border-top: 1px solid #ddd;
}

.pseudo-table-tr:first-child {
    border-top: 0;
}

.pseudo-table-tr:before, .pseudo-table-tr:after {
    content: " ";
    display: table;
}

.pseudo-table-tr:after {
    clear: both;
}


.bg-striped {
    background-color: #ececec;
}

.bg-striped .bg-striped-right {
    background-color: #f9f9f9;
}

.dealer-card .bg-striped .bg-striped-left,
.dealer-card .bg-striped .bg-striped-right {
    padding-top: 12px;
}

.dealer-card .dealer-tag ul {
    font-weight: 700;
    list-style-type: none;
    padding-left: 0;
}

.dealer-card .dealer-tag ul input[type="checkbox"] {
    position: relative;
    top: 2px;
}

.dealer-card .dealer-tag .field-dealerform-tagsids label {
    font-weight: normal;
}

.dealer-card .dealer-tag ul .form-group {
    margin-top: 5px;
}

a.tdn {
    text-decoration: none;
}

.table-half-bordered > tbody > tr > td:first-child {
    border-left: none;
}

.table-half-bordered > tbody > tr > td {
    border-left: 1px solid #ddd;
}

.do-edit-order-type {
    text-decoration: none;
}

.do-edit-order-type .label {
    display: inline-block;
    font-size: 80%;
    padding: 0.3em .6em 0.4em;
}

.do-edit-order-type .label.Contract {
    background-color: #5cb85c;
    color: #fff;
}

.do-edit-order-type .label.Test-drive {
    background-color: #6e6e6e;
    color: #fff;
}

.do-edit-order-type .label.Delivery {
    background-color: #f0ad4e;
    color: #fff;
}

.do-edit-order-type .label.None {
    background-color: #777;
    color: #fff;
}

.edit-order-type table > tbody > tr > td.td-line-stages {
    background-color: transparent;
    margin-bottom: 0;
}

.edit-order-type .table {
    margin-bottom: 0;
}

.edit-order-type section.client-block {
    margin-bottom: 20px;
}

.edit-order-type .line-stages {
    background-color: transparent;
    margin-bottom: 0;
}

.edit-order-type section.client-block:empty {
    display: none;
}

#chart-level-of-visits {
    margin-top: 26px;
}

#chart-user-jump {
    margin-top: 46px;
}

.kpi-edit h4 {
    border-bottom: 1px solid #ccc;
    margin-top: 0;
    padding-bottom: 10px;
}

.kpi-edit .poll-block {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

.kpi-edit .poll-block .poll-block {
    border: 1px dotted #666;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: none;
    margin-top: 10px;
}

.kpi-edit .poll-block .poll-block-actions {
    margin-right: 10px;
}

.kpi-edit .poll-block .poll-block-actions button {
    margin: 0 2px;
}

.kpi-edit .poll-block .poll-block-actions button span {
    margin: 0;
    top: 1px;
}

.kpi-edit .poll-block .poll-question {
    border-bottom: 1px dotted #ccc;
    margin-bottom: 20px;
}

.kpi-edit .poll-block .block-name {
    border: none;
}

.kpi-edit .poll-block .block-name span {
    border-bottom: 1px dotted #999;
    padding-bottom: 2px;
}

.kpi-edit .poll-block .block-name span:hover {
    cursor: pointer;
    border-bottom: 1px dotted #ccc;
}

.kpi-collapse:hover {
    cursor: pointer;
}

#poll table {
    width: 100%
}

#poll table th {
    background-color: #DDD;
    background-image: none;
    border: 1px solid #ccc;
    vertical-align: middle;
    text-align: center;
    height: 35px;
    max-height: 35px;
}

#poll table th.text-left {
    text-align: left;
}

#poll table td {
    border: 1px solid #ccc;
}

#client-survey table td.question-answer {
    padding: 0 3px 3px;
}

#client-survey table td.question-answer .input-group {
    margin: auto;
}

#client-survey .active2 {
    background-color: #DFF0D8;
}

#client-survey .notActive2 {
    background-color: #F2DEDE;
}

#client-survey table td {
    border: 1px solid #ccc;
}

#poll .col-md-1 {
    text-align: center;
}

#client-survey .radiobtn.notActive {
    background-position: -16px -18px;
    padding-left: 18px;
}

#client-survey .radiobtn.active {
    background-position: -58px -18px;
    padding-left: 18px;
}

#client-survey .radiobtn {
    background: transparent url(/images/radio.png) no-repeat;
    width: 12px;
    height: 18px;
    text-decoration: none;
}

#client-survey .question-comment {
    padding: 0px;
}

#client-survey .question-comment > .form-control {
    border: 0;
    background-color: transparent;
    box-shadow: 0 0 0;
    -webkit-box-shadow: 0 0 0;
    cursor: pointer;
    padding: 0;
}

#client-survey .question-comment > .form-control .glyphicon {
    top: 8px;
}

#client-survey table.action-plan-table .actionplan-head > tr > th,
table.action-plan-table .actionplan-head > tr > th {
    background-color: #8E8E8E;
    background-image: none;
    border: 0px solid #ccc;
    color: #EBEBEB;
}

.action-plan-table .actionplan-head .glyphicon.glyphicon-comment {
    font-size: 20px;
    /*color: #919191;*/
    color: #EBEBEB;
    /*text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.5);*/
    text-shadow: 0px 2px 3px rgba(121, 121, 121, 0.5);
}

.action-plan-table {
}

.action-plan-table h5 {
    padding-left: 10px;
}

.actionplan-head label {
    margin-bottom: 0;
}

.action-plan-table td.autocrm-col-md-4,
.action-plan-table td.autocrm-col-md-6 {
    text-align: left;
}

table.action-plan-table > tbody > tr:nth-child(even) > td {
    background: rgba(228, 228, 228, 0);
}

table.action-plan-table > tbody > tr:nth-child(odd) > td {
    background: rgba(228, 228, 228, 0.5);
}

.action-plan-table .autocrm-col-md-05,
.action-plan-table .autocrm-col-md-1,
.action-plan-table .autocrm-col-md-2,
.action-plan-table .autocrm-col-md-3,
.action-plan-table .autocrm-col-md-4 {
    padding: 0 10px;
    border: 0;
}

#client-survey table.action-plan-table td {
    border: 0;
}

.action-plan-table .autocrm-col-md-05 {
    width: 5%;
}

.action-plan-table .autocrm-col-md-1 {
    width: 10%;
}

.action-plan-table .autocrm-col-md-2 {
    width: 20%;
}

.action-plan-table .autocrm-col-md-3 {
    width: 30%;
}

.action-plan-table .autocrm-col-md-4 {
    width: 40%;
}

.action-plan-table .autocrm-col-md-05 > .btn-sm {
    padding: 5px 7px;
}

.action-plan-table .autocrm-col-md-1 > input.form-control {
    padding: 5px 3px;
}

.action-plan-table .autocrm-col-md-2 > textarea.form-control {
    padding: 2px 3px;
    margin: 3px 0;
}

.action-plan-table .poll .btn-xs {
    margin-top: 0px;
}

.closed-action-plan {
    padding-top: 10px;
    font-size: 80%;
}

.task-log-change {
    padding: 2px;
    padding-left: 20px;
    margin-left: 10px;
    border-left: 1px solid #a7a7ab;
}

.comment-box {
    border-top: 1px solid #cccccc;
    padding: 15px 25px;
    margin: 10px 0;
}

.comment-box #comment {
    display: inline-block;
    width: 80%;
    vertical-align: bottom;
    margin-right: 10px;
    min-height: 100px;
    padding: 10px;
    resize: vertical;
    box-shadow: 0 1px 2px #eee inset;
    border: 1px solid #cccccc;
    transition: all 0.2s ease 0s;
}

.comment-box #comment:focus,
.comment-box #comment:active {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

.task-log-comment {
    background: #f2f2f2;
    padding: 2px 10px;
    box-shadow: 0 1px 0 #c1c1c1;
    margin: 8px 0 12px 12px;
    display: inline-block; /*соскакивало на другую строку в Согласовании*/
}

.action-plan-table .task {
    padding: 4px 8px;
    margin: 10px 0;
    background: white;
    border: 1px solid #8e8e8e;
}

.action-plan-table .task hr,
#poll .task hr {
    margin: 2px 0;
    border: none;
    border-bottom: 1px solid #dddddd;
}

.action-plan-table .task td {
    padding: 10px;
}

.action-plan-table .task p {
    padding-left: 5px;
}

.worksheet-tab > .tab-content {
    border-bottom: 1px solid #c1c1c1;
    margin-bottom: 0;
}

.worksheet-tab .tab-content-noborder.tab-content > .active {
    padding-bottom: 1px;
}

.total-secondary {
    font-size: 11px;
}

#dealer-images {
    letter-spacing: -10px;
    margin: 0 -10px;
}

.dealer-image {
    width: calc(25% - 20px);
    height: 200px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    margin: 10px;
    letter-spacing: 0;
    border-radius: 2px;
}

.dealer-image.main-image::before {
    content: 'Главная';
    position: absolute;
    background: rgba(62, 133, 195, 0.8);
    color: white;
    padding: 1px 4px;
    border-bottom-right-radius: 2px;
}

.dealer-image .dealer-image-actions {
    position: absolute;
    padding: 10px;
    right: 0;
    opacity: 0.4;
    transition: all 0.2s ease 0s;
    z-index: 10;
}

.dealer-image:hover .dealer-image-actions {
    opacity: 1;
}

.dealer-image img {
    object-fit: cover;
    object-position: 50% 50%;
    height: 100%;
}


.section-item-header {
    background-color: #428bca;
    color: #fff;
    padding: 10px 10px;
    margin: -12px -15px 10px -12px;
}

.section-item-header.danger {
    background-color: #ca4242;
    position: relative;
}

.section-item-header.danger .js-unblock {
    position: absolute;
    right: 6px;
    top: 6px;
    border-radius: 2px;
}

section.section-comment {
    padding-top: 0;
    border-top: 1px solid transparent;
}

.comment-box-new #comment {
    width: 100%;
    min-height: auto;
}

.comment-box.comment-box-new {
    background-color: #dee2ea;
    border-top: none;
    margin: 0;
    padding: 10px 10px;
    margin: 0 -10px 0 -10px;
}

.css-request_agreement .comment-box.comment-box-new {
    margin: 0 -10px 0 -10px;
}

.comment-box-new .input-group textarea + .input-group-btn .btn .glyphicon {
    color: #fff;
}

.comment-template-box-new .task-log-change {
    border-bottom: 1px solid #ddd;
    border-left: none;
}

.log-box-new {
    margin: 0 -10px 0 -10px;
    max-height: 500px;
    padding: 10px;
    padding-bottom: 10px;
    overflow-y: auto;
}

.log-box-new .task-log-change {
    border-left: none;
    margin-top: 10px;
    margin-left: 0;
    padding-left: 5px;
    padding-bottom: 0px;
    padding-top: 10px;
}

.log-box-new .task-log-change:first-child {
    margin-top: 0;
}

.log-box-new .task-log-change.bordered {
    border-top: 1px solid #ddd;
}

.log-box-new .task-log-change.bordered:first-child {
    border-top: none;
}

.log-box-new .task-log-change .name {
    color: #999;
}

.log-box-new .task-log-comment {
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #999;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0 10px;
}

.error-summary li {
    color: red;
}

#poll .task {
    border: 1px solid #a7a7ab;
    background: white;
    padding: 4px 8px;
}

#poll .task-row {
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 8px;
    padding-top: 8px;
    border-top: 1px solid #dbdbdb;
}

.colorpicker {
    padding: 0;
    z-index: 2500 !important;
}

.order-color .color-box {
    width: 24px;
    height: 18px;
    border-radius: 2px;
}

.common-tag-select {
    padding: 6px;
    height: 30px;
}

.btn .label.common-tag {
    font-size: 12px;
    text-shadow: none;
    border-radius: 2px;
    padding: 4px 6px;
}

.common-tag-small {
    width: 16px;
    height: 16px;
    border-radius: 2px;
    margin-top: 2px;
}

#common-client-update-form[data-type="individual"] .type-b,
#common-client-update-form[data-type="business"] .type-i {
    display: none;
}

.bad-email {
    color: red;
}

.shifted-grid {
    margin-top: 10px;
}

.request-work-with-application {
    background-color: #f9f9f9;
    padding: 15px 10px 1px;
    margin-bottom: 15px;
}

.lms-request-show-info {
    margin-top: 0;
    margin-bottom: 8px;
}

.col-left-border {
    border-right: 1px solid #c1c1c1;
}

.col-right-border {
    border-left: 1px solid #c1c1c1;
    margin-left: -1px;
}

/* marketing */

.report-items {
    padding-top: 10px;
}

.report-item {
    padding: 10px 0;
    border-top: 1px solid #ccc;
}

.report-item:first-child {
    border-top: none;
}

.report-extension {
    font-size: 12px;
}

.report-preview {

}

.report-preview img {
    width: 100px;
    border: 1px solid #b4b4b4;
    border-radius: 2px;
    padding: 2px;
    display: none;
}

.report-preview img[src$=".jpeg"],
.report-preview img[src$=".jpg"],
.report-preview img[src$=".JPEG"],
.report-preview img[src$=".JPG"],
.report-preview img[src$=".png"],
.report-preview img[src$=".PNG"],
.report-preview img[src$=".gif"],
.report-preview img[src$=".GIF"] {
    display: inline-block;
}

.report-item-actions {
    text-align: right;
}

// .action-column {
//     min-width: 160px; // большая ширина ячейки
// }


.action-menu {
    text-align: right;
    display: block;
    float: right;
}

.action-menu a {
    display: inline-block;
    vertical-align: top;
}


.client-questioning .question-code:empty {
    display: none;
}

.questioning h4 {
    font-size: 16px;
    font-weight: 700;
    margin-top: 6px;
    margin-bottom: 24px;
}


/****************************************************/
.css-placing-agreement .comment-box.comment-box-new {
    margin: 0 0;
}

/****************************************************/

.purchase-details-auto .vehicle-label {
    display: inline-block;
    background: #f2f2f2;
    padding: 0px 6px;
    margin-bottom: 10px;
}

.purchase-details-auto .warehouse-item .table-condensed > tbody > tr > th,
.purchase-details-auto .warehouse-item .table > tbody > tr > td {
    border: none;
    padding: 4px 0px;
}

.purchase-details-auto .vehicle-label-divider {
    margin-top: 10px;
    margin-bottom: 10px;
}

.placing-form .form-bordered {
    border-bottom: 1px solid #ccc;
}

.css-placing-search-result {
    background: #f5f5f5;
    padding: 15px 0;
}

.css-placing-search-result-footer {
    padding: 0 10px;
}

.css-announcing-search {
    margin: 0;
}

.css-announcing-search .col {
    background: #f5f5f5;
    padding: 10px;
}

.css-btl-announcing-tbl {
    margin-bottom: 0;
}

.css-btl-announcing-tbl .checkbox-col {
    display: none;
}

.css-btl-announcing-tbl .remove-col {
    padding: 8px;
}

.css-placing-search-result .remove-col {
    display: none;
}

.is-image .preview-file {
    display: none;
}

.is-file .preview-image {
    display: none;
}

.dealer-image.is-file .preview-file {
    display: block;
    text-align: center;
    padding-top: 20px;
    text-decoration: none;
}

.dealer-image .preview-file .glyphicon {
    font-size: 1000%;
}

.dealer-image .preview-file span {
    display: block;
    color: #fff;
    font-size: 300%;
    position: relative;
    top: -40px;
}

.report-preview .preview-file {
    text-align: center;
    padding-top: 20px;
    text-decoration: none;
}

.report-preview .preview-file .glyphicon {
    font-size: 24px;
}

/* ============> End style block <=============== */
.dealer-dashboard-counter {
    font-size: 36px;
    padding: 20px;
}

.distributor-dashboard-counter {
    font-size: 16px;
    padding: 20px 0;
}

.dealer-dashboard-counter a, .distributor-dashboard-counter a {
    color: inherit;
    text-decoration: none;
}

.distributor-dashboard .item {
    min-height: 240px;
}

.distributor-dashboard .item-goal {
    min-height: 200px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.distributor-dashboard .item-mix {
    margin-top: 0;
}

.report-links-table a {
    text-decoration: none;
}

.report-links-table a:hover {
    text-decoration: underline;
}

#message-images {
    letter-spacing: -10px;
    margin: 0 -10px;
}

.message-image {
    width: calc(20% - 20px);
    height: 240px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    margin: 10px;
    letter-spacing: 0;
    border-radius: 2px;
    text-align: center;
}

.message-image .message-image-actions {
    position: absolute;
    padding: 10px;
    right: 0;
    opacity: 0.4;
    transition: all 0.2s ease 0s;
}

.message-image:hover .message-image-actions {
    opacity: 1;
}

.message-image img {
    object-fit: cover;
    object-position: 50% 50%;
    height: 200px;
}

.message-image .message-image-title {
    margin-top: 10px;
    font-weight: bold;
}

.without-caret span.caret {
    display: none;
}

.without-caret .btn {
    padding: 0;
    border: 0;
}

.without-caret.btn-group {
    vertical-align: inherit;
}

.wait-overlay {
    position: absolute;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: none;
    background: rgba(255, 255, 255, 0.5) url(../images/wait48.gif) no-repeat center center fixed;

    &.size-16 {
        background: rgba(255, 255, 255, 0.5) url(../images/wait16.gif) no-repeat center center;
    }

    &.fixed {
        position: fixed;
    }
}

.table-sale-plan tr td:first-child {
  white-space: nowrap;
  vertical-align: middle;
}

.table-sale-plan a.collapser--opened span {
  transform: rotate(90deg);
}

.table-sale-plan span.glyphicon.indenter:before {
  content: "\e174";
}

.collapser {
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.collapser--hidden {
  visibility: collapse;
}
