// @function _fontsList($keys...) {
//   @return val($fontsList, $keys...);
// }
$fontsList: (
  "Roboto": (
    "normal": (
      400:                                  roboto-v18-cyrillic_latin-regular,
      600:                                  roboto-v18-cyrillic_latin-700,
    ),
    "italic": (
      400:                                  roboto-v18-cyrillic_latin-italic,
      600:                                  roboto-v18-cyrillic_latin-700italic,
    )
  )
);

@function _fontSizes($keys...) {
  @return val($fontSizes, $keys...);
}
$fontSizes: (
  body:                                                                      12,
  btn:                                                                       12,
  btnXs:                                                                     10,
);

@function _fontWeight($keys...) {
  @return val($fontWeight, $keys...);
}
$fontWeight: (
  btn:                                                                      400,
);

@function _lineHeight($keys...) {
  @return val($lineHeight, $keys...);
}
$lineHeight: (
  body:                                                                      14,
  btn:                                                                       26,
  btnXs:                                                                     18,
);
