@function _zindex($keys...) {
  @return val($zindex, $keys...);
}
$zindex: (
  bootstrapSelectDropdownMenu:                                             1005,
  custom-file--label:                                                      1,
  carouselIndicatorsImage:                                                 15,
  comboTreeDropDownContainer:                                              1005,
  crmUsermenuCollapse:                                                     1000,
  crmUsermenuCollapse_mobileView:                                          1100,
  custom-file--btn:                                                        3,
  dropdown-menu:                                                           1003,
  // dropdown-menu: table thead th перекрывало
  maximizableModuleMaximized:                                              99,
  menuNav:                                                                 1041,
  menuNavMulticolumnMenu:                                                  1010,
  modal:                                                                   1050,
  modalBackground:                                                         1040,
  navbarNavDropdownMenu:                                                   1010,
  popover:                                                                 2000,
  sectionItem_ItemHeader:                                                  10,
  tableStickyTbodyTd:                                                      1000,
  tableStickyTheadTh:                                                      1001,
  tableStickyTheadThFirstChild:                                            1002,
  tableStickyTheadTrFirstChildThFirstChild:                                1003,
  header:                                                                  1004,
  tooltip:                                                                 1600,
  // tooltip: fix for tooltip in modal, because .modal-dialog z-index 1050
  zindex-navbar-fixed:                                                     1030,
  // zindex-tooltip:                                                          1070,
);
