/* =~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~ */
/*                                                                            */
/* ANIMATIONS                                                                 */
/* path: dsf-common-ui/src/scss/helpers/_animations.scss                      */
/*                                                                            */
/* =~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~ */
@use './../utilities/functions/func_val' as val;
@use './../utilities/variables/var-sizes' as *;
@use './../utilities/variables/var-colors' as *;

.svg--looper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 0;

  .error-view &{
    bottom: -#{val.brandSizes(footer_height)}px;
    top: auto;
  }

  &-g {
    opacity: .3;
  }

  &-path {
    stroke-width: 2;
  }

  &-linearGradientStopStart {
    stop-color: val.brandColors(_vibrant-blue);
  }

  &-linearGradientStopEnd {
    stop-color: val.brandColors(_green);
  }
}

.svg--mainImageCenter {
  position: absolute;
  left: 0;
  height: 100%;
  top: 0;
  width: 100%;
  z-index: 0;
}
