/* =~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~ */
/*                                                                            */
/* ANIMATIONS                                                                 */
/* path: dsf-common-ui/src/scss/helpers/_animations.scss                      */
/*                                                                            */
/* =~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~ */

.svg--looper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 0;

  .error-view &{
    bottom: -#{_brand-sizes(footer_height)}px;
    top: auto;
  }

  &-g {
    opacity: .3;
  }

  &-path {
    stroke-width: 2;
  }

  &-linearGradientStopStart {
    stop-color: _brand-colors(_vibrant-blue);
  }

  &-linearGradientStopEnd {
    stop-color: _brand-colors(_green);
  }
}

.svg--mainImageCenter {
  position: absolute;
  left: 0;
  height: 100%;
  top: 0;
  width: 100%;
  z-index: 0;
}