/* =~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~ */
/*                                                                            */
/* ANIMATIONS                                                                 */
/* path: dsf-common-ui/src/scss/helpers/_animations.scss                      */
/*                                                                            */
/* =~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~ */
@use './../utilities/functions/func_val' as val;
@use '../utilities/variables/var-svg' as  varsvg;
@use "../utilities/functions/func_svg-url" as svgurl;

.svg--looper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 0;

  .error-view &{
    bottom: -#{val.layoutSizes(footer_height)}px;
    top: auto;
  }

  &-g {
    opacity: .3;
  }

  &-path {
    stroke-width: 2;
  }

  &-linearGradientStopStart {
    stop-color: val.brandColors(_light-blue);
  }

  &-linearGradientStopEnd {
    stop-color: val.brandColors(_green);
  }
}

.svg--mainImageCenter {
  position: absolute;
  left: 0;
  height: 100%;
  top: 0;
  width: 100%;
  z-index: 0;
}


.preloading {
  &__isShown{
    cursor: progress;
    --preloadingShown: block;
    pointer-events: none;
  }
  &Block{ // отдельный контейнер в родителе с p-relative
    background-image: svgurl.svg-url(varsvg.$loading-svg);
    background-color: #ffffff70;
    background-position: center;
    background-repeat: no-repeat;
    display: var(--preloadingShown, none);
    height: 56px;
    position: absolute;
    // right: 50%;
    // margin-right: -60px;
    transition: background-color 0.15s linear;
    width: 112px;
    z-index: 10000;
  }
  &BlockPage{ // отдельный контейнер на всю страницу
    bottom: 0;
    display: var(--preloadingShown, none);
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 10000;
    &:before{
      background-image: svgurl.svg-url(varsvg.$loading-svg);
      background-repeat: no-repeat;
      background-position: center;
      bottom: 0;
      content: '';
      display: block;
      height: 100%;
      left: 0;
      position: fixed;
      right: 0;
      top: 0;
      width: 100%;
      z-index: 2;
    }
    &:after{
      background-color: #ffffff70;
      content: '';
      bottom: 0;
      opacity: 0.5;
      display: block;
      left: 0;
      position: fixed;
      right: 0;
      top: 0;
      transition: opacity 0.15s linear;
      z-index: 1;
    }
  }
  &Page{ // отдельный класс на всю страницу
    &::before{
      background-color: #000;
      content: '';
      bottom: 0;
      opacity: 0.5;
      display: block;
      left: 0;
      position: fixed;
      right: 0;
      top: 0;
      transition: opacity 0.15s linear;
      z-index: 9999;
    }
    &:after{
      background-color: transparent;
      background-image: svgurl.svg-url(varsvg.$loading-svg);
      background-position: center;
      background-repeat: no-repeat;
      bottom: 0;
      content: '';
      display: block;
      height: 100%;
      left: 0;
      position: fixed;
      right: 0;
      top: 0;
      width: 100%;
      z-index: 10000;
    }
  }
  &Wrapper{ // отдельный класс на всесь блок
    cursor: progress;
    position: relative;
    pointer-events: none;
    &::before{
      background-color: #000;
      content: '';
      bottom: 0;
      opacity: 0.5;
      display: block;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      transition: opacity 0.15s linear;
      z-index: 9999;
    }
    &:after{
      background-color: transparent;
      background-image: svgurl.svg-url(varsvg.$loading-svg);
      background-position: center;
      background-repeat: no-repeat;
      bottom: 0;
      content: '';
      display: block;
      height: 100%;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      z-index: 10000;
    }
  }
  &InfoBlock{
    position: fixed;
    background-color: #ffffff70;
    background-image: svgurl.svg-url(varsvg.$loading-svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    display: var(--preloadingShown, none);
    height: 85px;
    padding: 20px;
    top: 20px;
    right: 20px;
    transition: background-color 0.15s linear;
    width: 160px;
    z-index: 10000;
  }
}