/* =~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~ */
/*                                                                            */
/* STATES                                                                     */
/* path: dsf-common-ui/src/scss/helpers/_states.scss                           */
/*                                                                            */
/* =~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~ */
@use 'sass:map';
@use './../utilities/mixins/transition' as *;
@use './../utilities/mixins_bootstrap-v3/vendor-prefixes' as *;
@use './../utilities/variables/var-colors' as *;

.fade {
  // display: none;
  opacity: 0;
  @include transition(opacity .15s linear);
  &.modal-backdrop {
    opacity: 0;
  }
  &.in,
  &.show {
    // display: block;
    opacity: 1;
    &.modal-backdrop {
      opacity: 0.5;
    }
  }
}

.collapse {
  display: none;
  &.in,
  &.show { display: block; }
  // [converter] extracted tr&.in to tr.collapse.in
  // [converter] extracted tbody&.in to tbody.collapse.in
}

tr.collapse.show,
tr.collapse.in { display: table-row; }

tbody.collapse.show,
tbody.collapse.in { display: table-row-group; }

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  @include transition-property(height, visibility);
  @include transition-duration(.35s);
  @include transition-timing-function(ease);
}

.limited{ // состояния текста
  .block__show{
    display: none;
  }
  .block__hide{
    display: inline-block;
  }
  &.collapsed{
    .block__show{
      display: inline-block;
    }
    .block__hide{
      display: none;
    }
  }
}

.iconModification{ // состояния иконок
  .svg--icon{
    svg{
      #{--limited-stroke-on}: inherit;
      #{--limited-fill-on}: inherit;
      #{--limited-stroke-off}: transparent;
      #{--limited-fill-off}: transparent;
      #{--svg-icon-fill}: #{brandColors(_dark-grey)};
      #{--svg-icon-fill_blue}: #{brandColors(_vibrant-blue)};
      #{--svg-icon-stroke}: #{brandColors(_dark-grey)};
      #{--svg-icon-stroke_blue}: #{brandColors(_vibrant-blue)};
    }
    &.active{
      svg{
        #{--limited-stroke-on}: transparent;
        #{--limited-fill-on}: transparent;
        #{--limited-stroke-off}: var(--svg-icon-stroke_blue);
        #{--limited-fill-off}: var(--svg-icon-fill_blue);
        #{--limited-reverse}: var(--bg_color, #fff);
      }
    }
  }
  &.collapsed,
  &.active{ 
    .svg--icon{ 
      svg{ 
        #{--limited-stroke-on}: transparent;
        #{--limited-fill-on}: transparent;
        #{--limited-stroke-off}: var(--svg-icon-stroke_blue);
        #{--limited-fill-off}: var(--svg-icon-fill_blue);
        #{--limited-reverse}: var(--bg_color, #fff);
      }
      &__notIconModification{ 
        svg{ 
          #{--limited-stroke-off}: transparent;
          #{--limited-fill-off}: transparent;
          #{--limited-stroke-on}: var(--svg-icon-stroke_blue);
          #{--limited-fill-on}: var(--svg-icon-fill_blue);
          #{--limited-reverse}: inherit;
        }
      }
    }
  }
  &_ver_1{
    .svg--icon{
      svg{
        #{--limited-stroke-ver_1}: var(--svg-icon-stroke_blue);
        #{--limited-fill-ver_1}: var(--svg-icon-fill_blue);
      }
    }
  }
  &_ver_2{
    .svg--icon{
      svg{
        #{--limited-stroke-ver_2}: var(--svg-icon-stroke_blue);
        #{--limited-fill-ver_2}: var(--svg-icon-fill_blue);
      }
    }
  }
}

// .svg--collapseIcon{
//   transform: rotate(180deg);
//   .collapsed &{ 
//     transform: rotate(0deg);
//   }
// }


.hoverTarget_parent{
  .hoverTarget_item__block,
  .hoverTarget_item__inline-block,
  .hoverTarget_item__flex,
  .hoverTarget_item__grid,
  .hoverTarget_item__inline-flex{
    display: none;
   }
  &:hover{
    .hoverTarget_item__block{
      display: block;
    }
    .hoverTarget_item__inline-block{
      display: inline-block;
    }
    .hoverTarget_item__flex{
      display: flex;
    }
    .hoverTarget_item__inline-flex{
      display: inline-flex;
    }
    .hoverTarget_item__grid{
      display: grid;
    }
  }
}