/* =~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~ */
/*                                                                            */
/* STATES                                                                     */
/* path: dsf-common-ui/src/scss/states/_states.scss                           */
/*                                                                            */
/* =~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~ */

.fade {
  // display: none;
  opacity: 0;
  @include transition(opacity .15s linear);
  &.in,
  &.show {
    // display: block;
    opacity: 1;
  }
}

.collapse {
  display: none;
  &.in,
  &.show { display: block; }
  // [converter] extracted tr&.in to tr.collapse.in
  // [converter] extracted tbody&.in to tbody.collapse.in
}

tr.collapse.show,
tr.collapse.in { display: table-row; }

tbody.collapse.show,
tbody.collapse.in { display: table-row-group; }

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  @include transition-property(height, visibility);
  @include transition-duration(.35s);
  @include transition-timing-function(ease);
}

.limited{
  .svg--icon{ 
  --limited-stroke-on: transparent;
  --svg-icon-fill: transparent;
  }
  &.collapsed{
  .svg--icon{ 
      --limited-stroke-on: inherit;
      --svg-icon-fill: inherit;
    }
  }
}