/* =~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~ */
/*                                                                            */
/* STATES                                                                     */
/* path: dsf-common-ui/src/scss/states/_states.scss                           */
/*                                                                            */
/* =~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~ */

.fade {
  // display: none;
  opacity: 0;
  @include transition(opacity .15s linear);
  &.modal-backdrop {
    opacity: 0;
  }
  &.in,
  &.show {
    // display: block;
    opacity: 1;
    &.modal-backdrop {
      opacity: 0.5;
    }
  }
}

.collapse {
  display: none;
  &.in,
  &.show { display: block; }
  // [converter] extracted tr&.in to tr.collapse.in
  // [converter] extracted tbody&.in to tbody.collapse.in
}

tr.collapse.show,
tr.collapse.in { display: table-row; }

tbody.collapse.show,
tbody.collapse.in { display: table-row-group; }

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  @include transition-property(height, visibility);
  @include transition-duration(.35s);
  @include transition-timing-function(ease);
}

.limited{
  .svg--icon{ 
  --limited-stroke-on: transparent;
  --svg-icon-fill: transparent;
  }
  &.collapsed{
    .svg--icon{ 
      --limited-stroke-on: inherit;
      --svg-icon-fill: inherit;
    }
    .btn-text__show{
      display: inline-block;
    }
    .btn-text__hide{
      display: none;
    }
  }
  .btn-text__show{
    display: none;
  }
  .btn-text__hide{
    display: inline-block;
  }
}

.svg--collapseIcon{
  transform: rotate(180deg);
  .collapsed &{ 
    transform: rotate(0deg);
  }
}

.favorite__active{
  .svg--icon{
    #{--favorite-stroke-active}: map-get($brand-namecolors, 'vibrant-blue'); 
    #{--favorite-fill-active}: map-get($brand-namecolors, 'vibrant-blue'); 
    #{--favorite-stroke_blue-active}: map-get($brand-namecolors, 'white');
  }
}

.star__active{
  .svg--icon{
    #{--star-stroke-active}: map-get($brand-namecolors, 'vibrant-blue');
    #{--star-fill-active}: map-get($brand-namecolors, 'vibrant-blue');
    #{--star-stroke_blue-active}: map-get($brand-namecolors, 'vibrant-blue');
  }
}

.hoverTarget_parent{
  .hoverTarget_item__block,
  .hoverTarget_item__inline-block,
  .hoverTarget_item__flex,
  .hoverTarget_item__grid,
  .hoverTarget_item__inline-flex{
    display: none;
   }
  &:hover{
    .hoverTarget_item__block{
      display: block;
    }
    .hoverTarget_item__inline-block{
      display: inline-block;
    }
    .hoverTarget_item__flex{
      display: flex;
    }
    .hoverTarget_item__inline-flex{
      display: inline-flex;
    }
    .hoverTarget_item__grid{
      display: grid;
    }
  }
}