/* =~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~ */
/*                                                                            */
/* HELPER TOOLS                                                               */
/* path: dsf-common-ui/src/scss/content/_helperTools.scss                     */
/*                                                                            */
/* =~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~ */

.img-responsive {
  @include img-responsive;
}
.img-rounded {
  border-radius: rem(border-radius-large);
}
.img-thumbnail {
  padding: calc($grid-gutter-width * 0.5);
  // line-height: $line-height-base;
  background-color: _brand-colors(_white);
  border: 1px solid _brand-colors(_grey2);
  border-radius: rem(_brand-sizes(border-radius-base));
  @include transition(all .2s ease-in-out);
  @include img-responsive(inline-block);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.lang {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: block;
  text-indent: -9999px;
  &_usa {
    background-color: #fff;
    background-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 12"><path d="M16,0H0V1.33H16Z" fill="#dc4437"/><path d="M16,2.67H0V4H16Z" fill="#dc4437"/><path d="M16,8H0V9.33H16Z" fill="#dc4437"/><path d="M16,10.67H0V12H16Z" fill="#dc4437"/><path d="M16,5.33H0V6.66H16Z" fill="#dc4437"/><path d="M8.62,0H0V6.67H8.62Z" fill="#2a66b7"/><path d="M1.66.4l.28.49L2.58,1l-.46.39.11.54-.57-.26L1.1,1.9l.11-.54L.74,1,1.38.89Z" fill="#fff"/><path d="M4.18.4l.29.49L5.11,1l-.46.39.1.54-.57-.26-.56.26.1-.54L3.26,1,3.9.89Z" fill="#fff"/><path d="M6.71.4,7,.89,7.63,1l-.47.39.11.54-.56-.26-.57.26.11-.54L5.78,1,6.42.89Z" fill="#fff"/><path d="M3,2.4l.29.49L3.88,3l-.46.39.1.54L3,3.64l-.56.26.1-.54L2,3l.64-.08Z" fill="#fff"/><path d="M5.48,2.4l.28.49L6.4,3l-.47.39L6,3.9l-.56-.26-.57.26L5,3.36,4.55,3l.64-.08Z" fill="#fff"/><path d="M1.66,4.52,1.94,5l.64.08-.46.38L2.23,6l-.57-.26L1.1,6l.11-.55L.74,5.09,1.38,5Z" fill="#fff"/><path d="M4.18,4.52,4.47,5l.64.08-.46.38.1.55-.57-.26L3.62,6l.1-.55-.46-.38L3.9,5Z" fill="#fff"/><path d="M6.71,4.52,7,5l.64.08-.47.38L7.27,6l-.56-.26L6.14,6l.11-.55-.47-.38L6.42,5Z" fill="#fff"/></svg>');
  }
  &_ru{
    background-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 16 12"><defs><clipPath id="a" transform="translate(0 0)"><rect width="16" height="12" fill="none"/></clipPath></defs><title>ru</title><g clip-path="url(#a)"><path d="M0,0H16V12H0Z" transform="translate(0 0)" fill="#fff" fill-rule="evenodd"/><path d="M0,4H16v8H0Z" transform="translate(0 0)" fill="#0039a6" fill-rule="evenodd"/><path d="M0,8H16v4H0Z" transform="translate(0 0)" fill="#d52b1e" fill-rule="evenodd"/></g></svg>');
  }
}

@each $marginSize in $marginSizes {
  .mt-#{$marginSize} {
      margin-top: rem($marginSize);
  }
  .mobile-view .mt-#{$marginSize}__mobile {
      margin-top: rem($marginSize);
  }
  .mr-#{$marginSize} {
      margin-right: rem($marginSize);
  }
  .mobile-view .mr-#{$marginSize}__mobile {
      margin-right: rem($marginSize);
  }
  .mb-#{$marginSize} {
      margin-bottom: rem($marginSize);
  }
  .mobile-view .mb-#{$marginSize}__mobile {
      margin-bottom: rem($marginSize);
  }
  .ml-#{$marginSize} {
      margin-left: rem($marginSize);
  }
  .mobile-view .ml-#{$marginSize}__mobile {
      margin-left: rem($marginSize);
  }
  .margin-#{$marginSize} {
      margin: rem($marginSize);
  }
  .mobile-view .margin-#{$marginSize}__mobile {
      margin: rem($marginSize);
  }
}
.mt-auto{
  margin-top: auto;
}
.mr-auto{
  margin-right: auto;
}
.mb-auto{
  margin-bottom: auto;
}
.ml-auto {
  margin-left: auto;
}

@each $paddingSize in $paddingSizes {
  .pt-#{$paddingSize} {
      padding-top: rem($paddingSize);
  }
  .mobile-view .pt-#{$paddingSize}__mobile {
      padding-top: rem($paddingSize);
  }
  .pr-#{$paddingSize} {
      padding-right: rem($paddingSize);
  }
  .mobile-view .pr-#{$paddingSize}__mobile {
      padding-right: rem($paddingSize);
  }
  .pb-#{$paddingSize} {
      padding-bottom: rem($paddingSize);
  }
  .mobile-view .pb-#{$paddingSize}__mobile {
      padding-bottom: rem($paddingSize);
  }
  .pl-#{$paddingSize} {
      padding-left: rem($paddingSize);
  }
  .mobile-view .pl-#{$paddingSize}__mobile {
      padding-left: rem($paddingSize);
  }
  .padding-#{$paddingSize} {
    padding: rem($paddingSize);
  }
  .mobile-view .padding-#{$paddingSize}__mobile {
    padding: rem($paddingSize);
  }
}

@each $gapSize in $gapSizes {
  .gap-#{$gapSize} {
      gap: rem($gapSize);
  }
  .mobile-view .gap-#{$gapSize}__mobile {
      gap: rem($gapSize);
  }
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.list-inline {
  padding-left: 0;
  list-style: none;
  margin-left: -5px;
  > li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
  }
}

.nowrap                                 { white-space: nowrap; }
.mobile-view .nowrap__mobile            { white-space: nowrap; }
.whitespace-normal                      { white-space: normal; }
.mobile-view .whitespace-normal__mobile { white-space: normal; }
.break-word                             { word-break: break-word; }
.mobile-view .break-word__mobile        { word-break: break-word; }

.overflow-ellipsis                      { overflow: hidden; text-overflow: ellipsis; }
.overflow-hidden                        { overflow: hidden;}
.mobile-view .overflow-hidden__mobile   { overflow: hidden;}
.overflowX-auto                         { overflow-x: auto;}
.overflowY-auto                         { overflow-y: auto;}

.text-left                              { text-align: left; }
.mobile-view .text-left__mobile         { text-align: left; }
.text-right                             { text-align: right; }
.mobile-view .text-right__mobile        { text-align: right; }
.text-center                            { text-align: center; }
.mobile-view .text-center__mobile       { text-align: center; }
.text-justify                           { text-align: justify; }
.mobile-view .text-justify__mobile      { text-align: justify; }

.va-middle                              { vertical-align: middle;}
.va-top                                 { vertical-align: top;}
.va-bottom                              { vertical-align: bottom;}

.text-lowercase                         { text-transform: lowercase; }
.mobile-view .text-lowercase__mobile    { text-transform: lowercase; }
.text-uppercase                         { text-transform: uppercase; }
.mobile-view .text-uppercase__mobile    { text-transform: uppercase; }
.text-capitalize                        { text-transform: capitalize; }
.mobile-view .text-capitalize__mobile   { text-transform: capitalize; }

.text-regular                           { font-weight: 400; }
.mobile-view .text-regular__mobile      { font-weight: 400; }
.text-bold                              { font-weight: 700; }
.mobile-view .text-bold__mobile         { font-weight: 700; }

.transformText__left   { writing-mode: vertical-lr; transform: rotate(0deg); }
.transformText__right  { writing-mode: vertical-lr; transform: rotate(180deg); }

@each $fontSize in $fontSizeList {
  .fz#{$fontSize} { font-size: rem($fontSize); }
  .mobile-view .fz#{$fontSize}__mobile { font-size: rem($fontSize); }
}

.lh12                                       { line-height: 12px; }
.mobile-view .lh12__mobile                  { line-height: 12px; }
.lh14                                       { line-height: 14px; }
.mobile-view .lh14__mobile                  { line-height: 14px; }
.lh16                                       { line-height: 16px; }
.mobile-view .lh16__mobile                  { line-height: 16px; }
.lh18                                       { line-height: 18px; }
.mobile-view .lh18__mobile                  { line-height: 18px; }
.lh20                                       { line-height: 20px; }
.mobile-view .lh20__mobile                  { line-height: 20px; }
.lh24                                       { line-height: 24px; }
.mobile-view .lh24__mobile                  { line-height: 24px; }

.p-relative                                 { position: relative; }
.mobile-view .p-relative__mobile            { position: relative; }
.p-absolute                                 { position: absolute; }
.mobile-view .p-absolute__mobile            { position: absolute; }
.p-sticky                                   { position: sticky; }
.mobile-view .p-sticky__mobile              { position: sticky; }


.d-none                                     { display: none !important; }
.mobile-view .d-none__mobile                { display: none; }
.d-block                                    { display: block; }
.mobile-view .d-block__mobile               { display: block; }
.d-flex                                     { display: flex; }
.mobile-view .d-flex__mobile                { display: flex; }
.d-inline-flex                              { display: inline-flex; }
.mobile-view .d-inline-flex__mobile         { display: inline-flex; }
.d-inline-block                             { display: inline-block; }
.mobile-view .d-inline-block__mobile        { display: inline-block; }
.d-grid                                     { display: grid; }
.mobile-view .d-grid__mobile                { display: grid; }

.justify-flex-start                         { justify-content: flex-start; }
.mobile-view .justify-flex-start__mobile    { justify-content: flex-start; }
.justify-space-between                      { justify-content: space-between; }
.mobile-view .justify-space-between__mobile { justify-content: space-between; }
.justify-flex-end                           { justify-content: flex-end; }
.mobile-view .justify-flex-end__mobile      { justify-content: flex-end; }
.justify-center                             { justify-content: center; }
.mobile-view .justify-center__mobile        { justify-content: center; }

.align-start                                { align-items: flex-start; }
.mobile-view .align-start__mobile           { align-items: flex-start; }
.align-center                               { align-items: center; }
.mobile-view .align-center__mobile          { align-items: center; }
.align-end                                  { align-items: flex-end; }
.mobile-view .align-end__mobile             { align-items: flex-end; }

.flex-wrap                                  { flex-wrap: wrap; }
.mobile-view .flex-wrap__mobile             { flex-wrap: wrap; }
.flex-nowrap                                { flex-wrap: nowrap; }
.mobile-view .flex-nowrap__mobile           { flex-wrap: nowrap; }

.flex-column                                { flex-direction: column; }
.mobile-view .flex-column__mobile           { flex-direction: column; }
.flex-column-reverse                        { flex-direction: column-reverse; }
.mobile-view .flex-column-reverse__mobile   { flex-direction: column-reverse; }
.flex-row                                   { flex-direction: row; }
.mobile-view .flex-row__mobile              { flex-direction: row; }
.flex-row-reverse                           { flex-direction: row-reverse; }
.mobile-view .flex-row-reverse__mobile      { flex-direction: row-reverse; }

.flex-grow-0                                { flex-grow: 0 }
.mobile-view .flex-grow-0__mobile           { flex-grow: 0 }
.flex-grow-1                                { flex-grow: 1 }
.mobile-view .flex-grow-1__mobile           { flex-grow: 1 }
.flex-shrink-0                              { flex-shrink: 0; }
.mobile-view .flex-shrink-0__mobile         { flex-shrink: 0; }
.flex-shrink-1                              { flex-shrink: 1; }
.mobile-view .flex-shrink-1__mobile         { flex-shrink: 1; }
.flex-basis-100p                            { flex-basis: 100%; }
.mobile-view .flex-basis-100p__mobile       { flex-basis: 100%; }
.flex-basis-auto                            { flex-basis: auto; }
.mobile-view .flex-basis-auto__mobile       { flex-basis: auto; }


@each $order in 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10 {
  .order-#{$order} {
      order: $order;
  }
  .mobile-view {
    .order-#{$order}__mobile {
      order: $order;
    }
  }
}

.rotate90              { transform: rotate(90deg); }
.rotate180             { transform: rotate(180deg); }
.rotate270             { transform: rotate(270deg); }

.h-auto                           { height: auto; }
.mobile-view .h-auto__mobile      { height: auto; }
.h-100p                           { height: 100%; }
.mobile-view .h-100p__mobile      { height: 100%; }
.maxh-none                        { max-height: none;}
.mobile-view .maxh-none__mobile   { max-height: none;}
.maxh-100p                        { max-height: 100%; }
.mobile-view .maxh-100p__mobile   { max-height: 100%; }
.minh-auto                        { min-height: auto;}
.mobile-view .minh-auto__mobile   { min-height: auto;}
.minh-100p                        { min-height: 100%;}
.mobile-view .minh-100p__mobile   { min-height: 100%;}

.w-auto                           { width: auto; }
.mobile-view .w-auto__mobile      { width: auto; }
.w-100p                           { width: 100%; }
.mobile-view .w-100p__mobile      { width: 100%; }
.minw-100p                        { min-width: 100%; }
.mobile-view .minw-100p__mobile   { min-width: 100%; }
.minw-auto                        { min-width: auto; }
.mobile-view .minw-auto__mobile   { min-width: auto; }
.maxw-100p                        { max-width: 100%; }
.mobile-view .maxw-100p__mobile   { max-width: 100%; }
.maxw-none                        { max-width: none; }
.mobile-view .maxw-none__mobile   { max-width: none; }

.scrollbar__thin{
  @extend %scrollVar;
}

.border{
  border: 1px solid _brand-palette(border);
  &-top{
    border-top: 1px solid _brand-palette(border);
    &__none{
      border-top: none !important;
      &__mobile{ 
        .mobile-view &{
          border-top: none !important;
        }
      }
    }
    &__dotted{
      border-top-style: dotted;
    }
    &__dashed{ 
      border-top-style: dashed;
    }
    &__mobile{ 
      .mobile-view &{
        border-top: 1px solid _brand-palette(border);
      }
    }
  }
  &-right{
    border-right: 1px solid _brand-palette(border);
    &__none {
      border-right: none !important;
      &__mobile{ 
        .mobile-view &{
          border-right: none !important;
        }
      }
    }
    &__dotted {
      border-right-style: dotted;
    }
    &__dashed{ 
      border-right-style: dashed;
    }
    &__mobile{ 
      .mobile-view &{
        border-right: 1px solid _brand-palette(border);
      }
    }
  }
  &-bottom{
    border-bottom: 1px solid _brand-palette(border);
    &__none {
      border-bottom: none !important;
      &__mobile{ 
        .mobile-view &{
          border-bottom: none !important;
        }
      }
    }
    &__dotted {
      border-bottom-style: dotted;
    }
    &__dashed{ 
      border-bottom-style: dashed;
    }
    &__mobile{ 
      .mobile-view &{
        border-bottom: 1px solid _brand-palette(border);
      }
    }
  }
  &-left{
    border-left: 1px solid _brand-palette(border);
    &__none {
      border-left: none !important;
      &__mobile{ 
        .mobile-view &{
          border-left: none !important;
        }
      }
    }
    &__dotted {
      border-left-style: dotted;
    }
    &__dashed{ 
      border-left-style: dashed;
    }
    &__mobile{ 
      .mobile-view &{
        border-left: 1px solid _brand-palette(border);
      }
    }
  }
  &__none{
    border: none !important;
    &__mobile{ 
      .mobile-view &{
        border: none !important;
      }
    }
  }
  &__dotted {
    border-style: dotted;
  }
  &__dashed{ 
    border-style: dashed;
  }
}

@each $name, $value in $brand-namecolors {
  .svg-#{$name},
  .svg-#{$name}.svg--icon {
    svg {
      #{--svg-icon-fill}: $value;
      #{--svg-icon-stroke}: $value;
      #{--svg-icon-fill_blue}: $value;
      #{--svg-icon-stroke_blue}: $value;
      #{--svg-valute-fill}: $value;
    }
  }

  .text-#{$name}{
    color: #{$value};
    #{--text_color}: #{$value};
    #{--svg-valute-fill}: #{$value};
  }
  .bg-#{$name}{
    background-color: #{$value};
    #{--bg_color}: #{$value};
  }
  .border-#{$name}{
    border-color: #{$value};
    #{--border_color}: #{$value};
  }
}

.phoneField{
  &Orange{ 
    background-color: _brand-colors(_light-orange);
    display: inline-flex;
    font-size: 13px;
    line-height: 16px;
    padding: 5px 7px;
  }
  &Blue{
    align-items: center;
    background-color: _brand-colors(_light-blue2);
    display: flex;
    font-size: 14px;
    justify-content: space-between;
    line-height: 18px;
    min-height: 36px;
    padding: 7px 10px;
    width: 100%;
  }
}

.commentField{
  border-radius:0 10px 10px 10px;
  background-color: _brand-colors(_light-blue2);
  display: inline-flex;
  font-size: 12px;
  line-height: 14px;
  padding: 10px;
}