/* =~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~ */
/*                                                                            */
/* ALERTS                                                                     */
/* path: dsf-common-ui/src/scss/modules/_alerts.scss                          */
/*                                                                            */
/* =~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~ */
@use './../utilities/functions/func_svg-url' as svgurl;
// @use './../utilities/functions/func_fonts' as fonts;
@use './../utilities/functions/func_val' as val;
@use './../utilities/variables/var-bootstrap-v3' as varbootstrapv3;
// @use './../utilities/variables/var-colors' as *;

.error-summary { 
  color: val.brandAlert(danger_bg);
}

.alert {
  border: 1px solid transparent;
  border-radius: 0;
  box-shadow: none;
  margin-bottom: 10px;
  padding: 10px 20px 10px 10px;
  position: relative;
  text-shadow: none;
  h4 {
    margin-top: 0;
    color: inherit; // Specified for the h4 to prevent conflicts of changing $headings-color
  }

  // Provide class for links that match alerts
  .alert-link {
    font-weight: varbootstrapv3.$alert-link-font-weight;
  }

  // Improve alignment and spacing of inner content
  > p,
  > ul {
    margin-bottom: 0;
  }

  > p + p {
    margin-top: 5px;
  }
  @each $alert in 'default', 'primary', 'success', 'danger', 'warning', 'info' {
    &-#{$alert}{
      background-color: val.brandAlert(#{$alert}_bg);
      border-color: val.brandAlert(#{$alert}_border);
      color: val.brandAlert(#{$alert}_color);
      .close{
        color: val.brandAlert(#{$alert}_close);
        #{--svg-icon-fill}: val.brandAlert(#{$alert}_close);
        #{--svg-icon-stroke}: val.brandAlert(#{$alert}_close);
        #{--svg-icon-stroke_blue}: val.brandAlert(#{$alert}_close);
      }
      h4, .h4{
        color: val.brandAlert(#{$alert}_title);
      }
    }
  }
  .close{
    border: none;
    background-color: transparent;
    background-image: none;
    cursor: pointer;
    float: none;
    opacity: 1;
    height: 14px;
    width: 14px;
    position: absolute;
    right: 10px;
    text-shadow: none;
    top: 10px;
    svg{
      height: 14px;
      width: 14px;
    }
  }
  &__attention,
  &__checked,
  &__caution{ 
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: 10px center;
    padding-left: 44px;
  }
  &__attention{
    &.alert-default {
      background-image: svgurl.svg-url("<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><circle cx='12' cy='12' r='8' stroke='#{val.brandAlert(default_title)}' fill='none'></circle><path d='M11.2461 10.7129L12.6523 10.7129L12.8516 16.625L11.0469 16.625L11.2461 10.7129ZM11.9492 9.78711C11.6641 9.78711 11.4355 9.70312 11.2637 9.53516C11.0879 9.36719 11 9.15234 11 8.89062C11 8.63281 11.0879 8.41992 11.2637 8.25195C11.4355 8.08398 11.6641 8 11.9492 8C12.2305 8 12.459 8.08398 12.6348 8.25195C12.8066 8.41992 12.8926 8.63281 12.8926 8.89062C12.8926 9.14844 12.8066 9.36133 12.6348 9.5293C12.459 9.70117 12.2305 9.78711 11.9492 9.78711Z' fill='#{val.brandAlert(default_title)}' stroke='none'></path></svg>")
    }
    &.alert-primary {
      background-image: svgurl.svg-url("<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><circle cx='12' cy='12' r='8' stroke='#{val.brandAlert(primary_title)}' fill='none'></circle><path d='M11.2461 10.7129L12.6523 10.7129L12.8516 16.625L11.0469 16.625L11.2461 10.7129ZM11.9492 9.78711C11.6641 9.78711 11.4355 9.70312 11.2637 9.53516C11.0879 9.36719 11 9.15234 11 8.89062C11 8.63281 11.0879 8.41992 11.2637 8.25195C11.4355 8.08398 11.6641 8 11.9492 8C12.2305 8 12.459 8.08398 12.6348 8.25195C12.8066 8.41992 12.8926 8.63281 12.8926 8.89062C12.8926 9.14844 12.8066 9.36133 12.6348 9.5293C12.459 9.70117 12.2305 9.78711 11.9492 9.78711Z' fill='#{val.brandAlert(primary_title)}' stroke='none'></path></svg>")
    }
    &.alert-info {
      background-image: svgurl.svg-url("<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><circle cx='12' cy='12' r='8' stroke='#{val.brandAlert(info_title)}' fill='none'></circle><path d='M11.2461 10.7129L12.6523 10.7129L12.8516 16.625L11.0469 16.625L11.2461 10.7129ZM11.9492 9.78711C11.6641 9.78711 11.4355 9.70312 11.2637 9.53516C11.0879 9.36719 11 9.15234 11 8.89062C11 8.63281 11.0879 8.41992 11.2637 8.25195C11.4355 8.08398 11.6641 8 11.9492 8C12.2305 8 12.459 8.08398 12.6348 8.25195C12.8066 8.41992 12.8926 8.63281 12.8926 8.89062C12.8926 9.14844 12.8066 9.36133 12.6348 9.5293C12.459 9.70117 12.2305 9.78711 11.9492 9.78711Z' fill='#{val.brandAlert(info_title)}' stroke='none'></path></svg>")
    }
    &.alert-success {
      background-image: svgurl.svg-url("<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><circle cx='12' cy='12' r='8' stroke='#{val.brandAlert(success_title)}' fill='none'></circle><path d='M11.2461 10.7129L12.6523 10.7129L12.8516 16.625L11.0469 16.625L11.2461 10.7129ZM11.9492 9.78711C11.6641 9.78711 11.4355 9.70312 11.2637 9.53516C11.0879 9.36719 11 9.15234 11 8.89062C11 8.63281 11.0879 8.41992 11.2637 8.25195C11.4355 8.08398 11.6641 8 11.9492 8C12.2305 8 12.459 8.08398 12.6348 8.25195C12.8066 8.41992 12.8926 8.63281 12.8926 8.89062C12.8926 9.14844 12.8066 9.36133 12.6348 9.5293C12.459 9.70117 12.2305 9.78711 11.9492 9.78711Z' fill='#{val.brandAlert(success_title)}' stroke='none'></path></svg>")
    }
    &.alert-danger {
      background-image: svgurl.svg-url("<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><circle cx='12' cy='12' r='8' stroke='#{val.brandAlert(danger_title)}' fill='none'></circle><path d='M11.2461 10.7129L12.6523 10.7129L12.8516 16.625L11.0469 16.625L11.2461 10.7129ZM11.9492 9.78711C11.6641 9.78711 11.4355 9.70312 11.2637 9.53516C11.0879 9.36719 11 9.15234 11 8.89062C11 8.63281 11.0879 8.41992 11.2637 8.25195C11.4355 8.08398 11.6641 8 11.9492 8C12.2305 8 12.459 8.08398 12.6348 8.25195C12.8066 8.41992 12.8926 8.63281 12.8926 8.89062C12.8926 9.14844 12.8066 9.36133 12.6348 9.5293C12.459 9.70117 12.2305 9.78711 11.9492 9.78711Z' fill='#{val.brandAlert(danger_title)}' stroke='none'></path></svg>")
    }
    &.alert-warning {
      background-image: svgurl.svg-url("<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><circle cx='12' cy='12' r='8' stroke='#{val.brandAlert(warning_title)}' fill='none'></circle><path d='M11.2461 10.7129L12.6523 10.7129L12.8516 16.625L11.0469 16.625L11.2461 10.7129ZM11.9492 9.78711C11.6641 9.78711 11.4355 9.70312 11.2637 9.53516C11.0879 9.36719 11 9.15234 11 8.89062C11 8.63281 11.0879 8.41992 11.2637 8.25195C11.4355 8.08398 11.6641 8 11.9492 8C12.2305 8 12.459 8.08398 12.6348 8.25195C12.8066 8.41992 12.8926 8.63281 12.8926 8.89062C12.8926 9.14844 12.8066 9.36133 12.6348 9.5293C12.459 9.70117 12.2305 9.78711 11.9492 9.78711Z' fill='#{val.brandAlert(warning_title)}' stroke='none'></path></svg>")
    }
  }
  &__caution{
    &.alert-default {
      background-image: svgurl.svg-url("<svg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M12.1222 4L3 19H21L12.1222 4Z' stroke='#{val.brandAlert(default_title)}' flll='none'></path><path d='M12.6465 14.9121H11.2402L11.041 9H12.8457L12.6465 14.9121ZM11.9434 15.8379C12.2285 15.8379 12.457 15.9219 12.6289 16.0898C12.8047 16.2578 12.8926 16.4727 12.8926 16.7344C12.8926 16.9922 12.8047 17.2051 12.6289 17.373C12.457 17.541 12.2285 17.625 11.9434 17.625C11.6621 17.625 11.4336 17.541 11.2578 17.373C11.0859 17.2051 11 16.9922 11 16.7344C11 16.4766 11.0859 16.2637 11.2578 16.0957C11.4336 15.9238 11.6621 15.8379 11.9434 15.8379Z' fill='#{val.brandAlert(default_title)}' stroke='none'></path></svg>");
    }
    &.alert-primary {
      background-image: svgurl.svg-url("<svg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M12.1222 4L3 19H21L12.1222 4Z' stroke='#{val.brandAlert(primary_title)}' flll='none'></path><path d='M12.6465 14.9121H11.2402L11.041 9H12.8457L12.6465 14.9121ZM11.9434 15.8379C12.2285 15.8379 12.457 15.9219 12.6289 16.0898C12.8047 16.2578 12.8926 16.4727 12.8926 16.7344C12.8926 16.9922 12.8047 17.2051 12.6289 17.373C12.457 17.541 12.2285 17.625 11.9434 17.625C11.6621 17.625 11.4336 17.541 11.2578 17.373C11.0859 17.2051 11 16.9922 11 16.7344C11 16.4766 11.0859 16.2637 11.2578 16.0957C11.4336 15.9238 11.6621 15.8379 11.9434 15.8379Z' fill='#{val.brandAlert(primary_title)}' stroke='none'></path></svg>");
    }
    &.alert-info {
      background-image: svgurl.svg-url("<svg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M12.1222 4L3 19H21L12.1222 4Z' stroke='#{val.brandAlert(info_title)}' flll='none'></path><path d='M12.6465 14.9121H11.2402L11.041 9H12.8457L12.6465 14.9121ZM11.9434 15.8379C12.2285 15.8379 12.457 15.9219 12.6289 16.0898C12.8047 16.2578 12.8926 16.4727 12.8926 16.7344C12.8926 16.9922 12.8047 17.2051 12.6289 17.373C12.457 17.541 12.2285 17.625 11.9434 17.625C11.6621 17.625 11.4336 17.541 11.2578 17.373C11.0859 17.2051 11 16.9922 11 16.7344C11 16.4766 11.0859 16.2637 11.2578 16.0957C11.4336 15.9238 11.6621 15.8379 11.9434 15.8379Z' fill='#{val.brandAlert(info_title)}' stroke='none'></path></svg>");
    }
    &.alert-success {
      background-image: svgurl.svg-url("<svg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M12.1222 4L3 19H21L12.1222 4Z' stroke='#{val.brandAlert(success_title)}' flll='none'></path><path d='M12.6465 14.9121H11.2402L11.041 9H12.8457L12.6465 14.9121ZM11.9434 15.8379C12.2285 15.8379 12.457 15.9219 12.6289 16.0898C12.8047 16.2578 12.8926 16.4727 12.8926 16.7344C12.8926 16.9922 12.8047 17.2051 12.6289 17.373C12.457 17.541 12.2285 17.625 11.9434 17.625C11.6621 17.625 11.4336 17.541 11.2578 17.373C11.0859 17.2051 11 16.9922 11 16.7344C11 16.4766 11.0859 16.2637 11.2578 16.0957C11.4336 15.9238 11.6621 15.8379 11.9434 15.8379Z' fill='#{val.brandAlert(success_title)}' stroke='none'></path></svg>");
    }
    &.alert-danger {
      background-image: svgurl.svg-url("<svg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M12.1222 4L3 19H21L12.1222 4Z' stroke='#{val.brandAlert(danger_title)}' flll='none'></path><path d='M12.6465 14.9121H11.2402L11.041 9H12.8457L12.6465 14.9121ZM11.9434 15.8379C12.2285 15.8379 12.457 15.9219 12.6289 16.0898C12.8047 16.2578 12.8926 16.4727 12.8926 16.7344C12.8926 16.9922 12.8047 17.2051 12.6289 17.373C12.457 17.541 12.2285 17.625 11.9434 17.625C11.6621 17.625 11.4336 17.541 11.2578 17.373C11.0859 17.2051 11 16.9922 11 16.7344C11 16.4766 11.0859 16.2637 11.2578 16.0957C11.4336 15.9238 11.6621 15.8379 11.9434 15.8379Z' fill='#{val.brandAlert(danger_title)}' stroke='none'></path></svg>");
    }
    &.alert-warning {
      background-image: svgurl.svg-url("<svg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M12.1222 4L3 19H21L12.1222 4Z' stroke='#{val.brandAlert(warning_title)}' flll='none'></path><path d='M12.6465 14.9121H11.2402L11.041 9H12.8457L12.6465 14.9121ZM11.9434 15.8379C12.2285 15.8379 12.457 15.9219 12.6289 16.0898C12.8047 16.2578 12.8926 16.4727 12.8926 16.7344C12.8926 16.9922 12.8047 17.2051 12.6289 17.373C12.457 17.541 12.2285 17.625 11.9434 17.625C11.6621 17.625 11.4336 17.541 11.2578 17.373C11.0859 17.2051 11 16.9922 11 16.7344C11 16.4766 11.0859 16.2637 11.2578 16.0957C11.4336 15.9238 11.6621 15.8379 11.9434 15.8379Z' fill='#{val.brandAlert(warning_title)}' stroke='none'></path></svg>");
    }
  }
  &__checked{
    &.alert-default {
      background-image: svgurl.svg-url("<svg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M20.3764 10.5558C20.5661 11.6558 20.5372 12.7824 20.2915 13.8712C20.0457 14.9601 19.5879 15.9899 18.9442 16.9018C18.3005 17.8137 17.4835 18.5899 16.5398 19.1861C15.5961 19.7823 14.5442 20.1868 13.4442 20.3764C12.3442 20.5661 11.2176 20.5372 10.1288 20.2915C9.03991 20.0457 8.01012 19.5879 7.09819 18.9442C6.18626 18.3005 5.41005 17.4835 4.81388 16.5398C4.21771 15.5961 3.81324 14.5442 3.62359 13.4442C3.43393 12.3442 3.4628 11.2176 3.70853 10.1288C3.95427 9.03991 4.41206 8.01012 5.05577 7.09819C5.69949 6.18626 6.51652 5.41005 7.46021 4.81388C8.40391 4.21771 9.45579 3.81324 10.5558 3.62359C11.6558 3.43393 12.7824 3.4628 13.8712 3.70853C14.9601 3.95427 15.9899 4.41206 16.9018 5.05577C17.8137 5.69949 18.5899 6.51652 19.1861 7.46021C19.7823 8.40391 20.1868 9.45579 20.3764 10.5558L20.3764 10.5558Z' stroke='#{val.brandAlert(default_title)}' fill='none'></path><path d='M7.5 12L10.875 15.375L16.5 9.75' stroke='#{val.brandAlert(default_title)}' fill='none'></path></svg>");
    }
    &.alert-primary {
      background-image: svgurl.svg-url("<svg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M20.3764 10.5558C20.5661 11.6558 20.5372 12.7824 20.2915 13.8712C20.0457 14.9601 19.5879 15.9899 18.9442 16.9018C18.3005 17.8137 17.4835 18.5899 16.5398 19.1861C15.5961 19.7823 14.5442 20.1868 13.4442 20.3764C12.3442 20.5661 11.2176 20.5372 10.1288 20.2915C9.03991 20.0457 8.01012 19.5879 7.09819 18.9442C6.18626 18.3005 5.41005 17.4835 4.81388 16.5398C4.21771 15.5961 3.81324 14.5442 3.62359 13.4442C3.43393 12.3442 3.4628 11.2176 3.70853 10.1288C3.95427 9.03991 4.41206 8.01012 5.05577 7.09819C5.69949 6.18626 6.51652 5.41005 7.46021 4.81388C8.40391 4.21771 9.45579 3.81324 10.5558 3.62359C11.6558 3.43393 12.7824 3.4628 13.8712 3.70853C14.9601 3.95427 15.9899 4.41206 16.9018 5.05577C17.8137 5.69949 18.5899 6.51652 19.1861 7.46021C19.7823 8.40391 20.1868 9.45579 20.3764 10.5558L20.3764 10.5558Z' stroke='#{val.brandAlert(primary_title)}' fill='none'></path><path d='M7.5 12L10.875 15.375L16.5 9.75' stroke='#{val.brandAlert(primary_title)}' fill='none'></path></svg>");
    }
    &.alert-info {
      background-image: svgurl.svg-url("<svg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M20.3764 10.5558C20.5661 11.6558 20.5372 12.7824 20.2915 13.8712C20.0457 14.9601 19.5879 15.9899 18.9442 16.9018C18.3005 17.8137 17.4835 18.5899 16.5398 19.1861C15.5961 19.7823 14.5442 20.1868 13.4442 20.3764C12.3442 20.5661 11.2176 20.5372 10.1288 20.2915C9.03991 20.0457 8.01012 19.5879 7.09819 18.9442C6.18626 18.3005 5.41005 17.4835 4.81388 16.5398C4.21771 15.5961 3.81324 14.5442 3.62359 13.4442C3.43393 12.3442 3.4628 11.2176 3.70853 10.1288C3.95427 9.03991 4.41206 8.01012 5.05577 7.09819C5.69949 6.18626 6.51652 5.41005 7.46021 4.81388C8.40391 4.21771 9.45579 3.81324 10.5558 3.62359C11.6558 3.43393 12.7824 3.4628 13.8712 3.70853C14.9601 3.95427 15.9899 4.41206 16.9018 5.05577C17.8137 5.69949 18.5899 6.51652 19.1861 7.46021C19.7823 8.40391 20.1868 9.45579 20.3764 10.5558L20.3764 10.5558Z' stroke='#{val.brandAlert(info_title)}' fill='none'></path><path d='M7.5 12L10.875 15.375L16.5 9.75' stroke='#{val.brandAlert(info_title)}' fill='none'></path></svg>");
    }
    &.alert-success {
      background-image: svgurl.svg-url("<svg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M20.3764 10.5558C20.5661 11.6558 20.5372 12.7824 20.2915 13.8712C20.0457 14.9601 19.5879 15.9899 18.9442 16.9018C18.3005 17.8137 17.4835 18.5899 16.5398 19.1861C15.5961 19.7823 14.5442 20.1868 13.4442 20.3764C12.3442 20.5661 11.2176 20.5372 10.1288 20.2915C9.03991 20.0457 8.01012 19.5879 7.09819 18.9442C6.18626 18.3005 5.41005 17.4835 4.81388 16.5398C4.21771 15.5961 3.81324 14.5442 3.62359 13.4442C3.43393 12.3442 3.4628 11.2176 3.70853 10.1288C3.95427 9.03991 4.41206 8.01012 5.05577 7.09819C5.69949 6.18626 6.51652 5.41005 7.46021 4.81388C8.40391 4.21771 9.45579 3.81324 10.5558 3.62359C11.6558 3.43393 12.7824 3.4628 13.8712 3.70853C14.9601 3.95427 15.9899 4.41206 16.9018 5.05577C17.8137 5.69949 18.5899 6.51652 19.1861 7.46021C19.7823 8.40391 20.1868 9.45579 20.3764 10.5558L20.3764 10.5558Z' stroke='#{val.brandAlert(success_title)}' fill='none'></path><path d='M7.5 12L10.875 15.375L16.5 9.75' stroke='#{val.brandAlert(success_title)}' fill='none'></path></svg>");
    }
    &.alert-danger {
      background-image: svgurl.svg-url("<svg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M20.3764 10.5558C20.5661 11.6558 20.5372 12.7824 20.2915 13.8712C20.0457 14.9601 19.5879 15.9899 18.9442 16.9018C18.3005 17.8137 17.4835 18.5899 16.5398 19.1861C15.5961 19.7823 14.5442 20.1868 13.4442 20.3764C12.3442 20.5661 11.2176 20.5372 10.1288 20.2915C9.03991 20.0457 8.01012 19.5879 7.09819 18.9442C6.18626 18.3005 5.41005 17.4835 4.81388 16.5398C4.21771 15.5961 3.81324 14.5442 3.62359 13.4442C3.43393 12.3442 3.4628 11.2176 3.70853 10.1288C3.95427 9.03991 4.41206 8.01012 5.05577 7.09819C5.69949 6.18626 6.51652 5.41005 7.46021 4.81388C8.40391 4.21771 9.45579 3.81324 10.5558 3.62359C11.6558 3.43393 12.7824 3.4628 13.8712 3.70853C14.9601 3.95427 15.9899 4.41206 16.9018 5.05577C17.8137 5.69949 18.5899 6.51652 19.1861 7.46021C19.7823 8.40391 20.1868 9.45579 20.3764 10.5558L20.3764 10.5558Z' stroke='#{val.brandAlert(danger_title)}' fill='none'></path><path d='M7.5 12L10.875 15.375L16.5 9.75' stroke='#{val.brandAlert(danger_title)}' fill='none'></path></svg>");
    }
    &.alert-warning {
      background-image: svgurl.svg-url("<svg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M20.3764 10.5558C20.5661 11.6558 20.5372 12.7824 20.2915 13.8712C20.0457 14.9601 19.5879 15.9899 18.9442 16.9018C18.3005 17.8137 17.4835 18.5899 16.5398 19.1861C15.5961 19.7823 14.5442 20.1868 13.4442 20.3764C12.3442 20.5661 11.2176 20.5372 10.1288 20.2915C9.03991 20.0457 8.01012 19.5879 7.09819 18.9442C6.18626 18.3005 5.41005 17.4835 4.81388 16.5398C4.21771 15.5961 3.81324 14.5442 3.62359 13.4442C3.43393 12.3442 3.4628 11.2176 3.70853 10.1288C3.95427 9.03991 4.41206 8.01012 5.05577 7.09819C5.69949 6.18626 6.51652 5.41005 7.46021 4.81388C8.40391 4.21771 9.45579 3.81324 10.5558 3.62359C11.6558 3.43393 12.7824 3.4628 13.8712 3.70853C14.9601 3.95427 15.9899 4.41206 16.9018 5.05577C17.8137 5.69949 18.5899 6.51652 19.1861 7.46021C19.7823 8.40391 20.1868 9.45579 20.3764 10.5558L20.3764 10.5558Z' stroke='#{val.brandAlert(warning_title)}' fill='none'></path><path d='M7.5 12L10.875 15.375L16.5 9.75' stroke='#{val.brandAlert(warning_title)}' fill='none'></path></svg>");
    }
  }
}

// Dismissible alerts
//
// Expand the right padding and account for the close button's positioning.

// The misspelled .alert-dismissable was deprecated in 3.2.0.
.alert-dismissable,
.alert-dismissible {
  padding-right: (varbootstrapv3.$alert-padding + 20);

  // Adjust close link position
  .close {
    position: relative;
    top: -2px;
    right: -21px;
    color: inherit;
  }
}
