/* =~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~ */
/*                                                                            */
/* BUTTONS                                                                    */
/* path: dsf-common-ui/src/scss/modules/_buttons.scss                         */
/*                                                                            */
/* =~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~ */
@use 'sass:map';

@use './../utilities/functions/func_fonts' as *;
@use './../utilities/functions/func_val' as val;
@use './../utilities/variables/var-sizes' as *;
@use './../utilities/variables/var-colors' as *;
@use './../utilities/variables/var-fonts' as *;
@use './../utilities/variables/var-lineHeights' as *;
@use './../utilities/mixins_bootstrap-v3/vendor-prefixes' as *;

%btn {
  background-image: none;
  border-style: solid;
  border-color: transparent;
  border-width: #{val.brandSizes(btn_borderWidth)}px;
  border-radius: #{val.brandSizes(btn_borderRadius)}px;
  cursor: pointer;
  display: inline-block;
  font-size: rem(val.fontSizes(btn));
  font-weight: val.fontWeight(btn);
  line-height: rem(val.lineHeight(btn));
  // height: min-content; не работает в сафари с <input>
  height: auto;
  margin-bottom: 0; // For input.btn
  padding: 0 #{val.brandSizes(btn_paddingX)}px;
  text-align: center;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  @include user-select(none);

  &:hover,
  &:focus-visible,
  &:focus,
  &:active,
  &:active:focus,
  &.active,
  &.active:focus,
  &.focus {
    outline: none;
    text-decoration: none;
  }
  
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    // cursor: none;
    cursor: not-allowed;
    opacity: val.brandSizes(disabel_opacity);
    box-shadow: none;
  }

  .badge {
    font-size: 11px;
    line-height: 13px;
    padding: 0px 5px;
  }

  .caret {
    margin-left: 0;
  }

  .svg--icon{
    height: var(--svgIcon_height, rem(12));
    // margin-right: 10px;
    position: relative;
    top: 2px;
    svg{
      height: var(--svgIcon_height, rem(12));
      max-width:20px;
      width: auto;
    }
    // &:only-child{
    //   margin-right: 0px;
    // }
  }
}
.glyphicon,
.svg--icon{
  + .btn-text{
    margin-left: 10px;
  }
}
.btn-text{
  + .glyphicon,
  + .svg--icon{
    margin-left: 10px;
  }
}

@each $btn in default, primary, success, danger, warning {
  .btn-#{$btn}{
    border-color: val.brandBtn(#{$btn}_border);
    color: val.brandBtn(#{$btn}_color);
    @if (val.brandBtn(#{$btn}_bg) == val.brandBtn(#{$btn}-end_bg)) {
      background-color: val.brandBtn(#{$btn}_bg);
      background-image: none;
      #{--btn_bg}: val.brandBtn(#{$btn}_bg);
    }
    @else{
      background-color: val.brandBtn(#{$btn}_bg);
      // background-image: -webkit-linear-gradient(val.brandBtn(#{$btn}_bg) 0%, val.brandBtn(#{$btn}-end_bg) 100%);
      background-image: linear-gradient(val.brandBtn(#{$btn}_bg) 0%, val.brandBtn(#{$btn}-end_bg) 100%);
      #{--btn_bg}: val.brandBtn(#{$btn}_bg);
      #{--btn_bgEnd}: val.brandBtn(#{$btn}-end_bg);
    }
    @if (val.brandBtn(#{$btn}_bg__hover) == val.brandBtn(#{$btn}-end_bg__hover)) {
      #{--btn_bg__hover}: val.brandBtn(#{$btn}_bg__hover);
    }
    @else{
      #{--btn_bgEnd__hover}: val.brandBtn(#{$btn}-end_bg__hover);
      #{--btn_bg__hover}: val.brandBtn(#{$btn}_bg__hover);
    }
    #{--borderColor__hover}: val.brandBtn(#{$btn}_border__hover);
    #{--btn_svg}: val.brandBtn(#{$btn}_svg);
    #{--btn_svg_blue}: val.brandBtn(#{$btn}_svg_blue);
    #{--btn_svg__hover}: val.brandBtn(#{$btn}_svg__hover);
    #{--btn_svg_blue__hover}: val.brandBtn(#{$btn}_svg_blue__hover);
    @extend %btn;
    &:hover,
    &:focus-visible,
    &:active,
    &.active,
    &.focus {
      @if (val.brandBtn(#{$btn}_bg__hover) == val.brandBtn(#{$btn}-end_bg__hover)) {
        background-color: val.brandBtn(#{$btn}_bg__hover);
        background-image: none;
      }
      @else{
        background-color: val.brandBtn(#{$btn}_bg__hover);
        // background-image: -webkit-linear-gradient(val.brandBtn(#{$btn}_bg__hover) 0%, val.brandBtn(#{$btn}-end_bg__hover) 100%);
        background-image: linear-gradient(val.brandBtn(#{$btn}_bg__hover) 0%, val.brandBtn(#{$btn}-end_bg__hover) 100%);
      }
      background-position: inherit;
      border-color: val.brandBtn(#{$btn}_border__hover);
      color: val.brandBtn(#{$btn}_color__hover);
      .svg--icon {
        svg {
          fill: val.brandBtn(#{$btn}_svg);
          #{--svg-icon-fill}: val.brandBtn(#{$btn}_svg__hover);
          #{--svg-icon-stroke}: val.brandBtn(#{$btn}_svg__hover);
          #{--svg-icon-fill_blue}: val.brandBtn(#{$btn}_svg_blue__hover);
          #{--svg-icon-stroke_blue}: val.brandBtn(#{$btn}_svg_blue__hover);
          #{--limited-stroke-off}: val.brandColors(_transparent);
        }
      }
    }
    &.disabled,
    &[disabled],
    fieldset[disabled] & {
      &:hover,
      &:focus-visible,
      &:active,
      &:active:focus,
      &.active,
      &.active:focus,
      &.focus {
        @if (val.brandBtn(#{$btn}_bg) == val.brandBtn(#{$btn}-end_bg)) {
          background-color: val.brandBtn(#{$btn}_bg);
          background-image: none;
        }
        @else{
          background-color: val.brandBtn(#{$btn}_bg);
          // background-image: -webkit-linear-gradient(val.brandBtn(#{$btn}_bg) 0%, val.brandBtn(#{$btn}-end_bg) 100%);
          background-image: linear-gradient(val.brandBtn(#{$btn}_bg) 0%, val.brandBtn(#{$btn}-end_bg) 100%);
        }
        border-color: val.brandBtn(#{$btn}_border);
        color: val.brandBtn(#{$btn}_color);
        .svg--icon{
          svg{
            fill: val.brandBtn(#{$btn}_svg);
            #{--svg-icon-fill}: val.brandBtn(#{$btn}_svg);
            #{--svg-icon-stroke}: val.brandBtn(#{$btn}_svg);
            #{--svg-icon-fill_blue}: val.brandBtn(#{$btn}_svg_blue);
            #{--svg-icon-stroke_blue}: val.brandBtn(#{$btn}_svg_blue);
            #{--limited-stroke-off}: val.brandColors(_transparent);
          }
        }
      }
    }
    .svg--icon{
      svg{
        fill: val.brandBtn(#{$btn}_svg);
        #{--svg-icon-fill}: val.brandBtn(#{$btn}_svg);
        #{--svg-icon-stroke}: val.brandBtn(#{$btn}_svg);
        #{--svg-icon-fill_blue}: val.brandBtn(#{$btn}_svg_blue);
        #{--svg-icon-stroke_blue}: val.brandBtn(#{$btn}_svg_blue);
        #{--limited-stroke-off}: val.brandColors(_transparent);
      }
    }
  }
}

.btn-link {
  background-color: transparent;
  background-image: none;
  border-radius: 0;
  box-shadow: none;
  color: val.brandPalette(link_color);
  cursor: pointer;
  font-weight: val.fontWeight(btn);
  @extend %btn;
  &,
  &:hover,
  &:focus,
  &:focus-visible,
  &.disabled,
  &[disabled],
  fieldset[disabled] &,
  &.active,
  &.active:focus,
  &:active:focus,
  &:active {
    background-color: transparent;
    background-image: none;
    border-color: transparent;
    box-shadow: none;
    outline: none;
    text-decoration: none;
  }
  &:hover,
  &:focus-visible,
  &.active,
  &.active:focus,
  &:active:focus,
  &:active {
    background-color: transparent;
    // color: val.brandPalette(linkHover_color);
    color: val.brandPalette(link_color);
    .svg--icon {
      svg {
        #{--svg-icon-fill}: val.brandPalette(linkHover_color);
        #{--svg-icon-stroke}: val.brandPalette(linkHover_color);
        #{--svg-icon-fill_blue}: val.brandPalette(linkHover_color);
        #{--svg-icon-stroke_blue}: val.brandPalette(linkHover_color);
        fill: val.brandPalette(linkHover_color);
        #{--limited-stroke-off}: val.brandColors(_transparent);
      }
    }
  }
  &.disabled,
  &[disabled],
  &:active:focus,
  &:active,
  fieldset[disabled] & {
    &:hover,
    &:focus-visible {
      color: val.brandPalette(link_color);
      text-decoration: none;
      .svg--icon {
        svg {
          #{--svg-icon-fill}: val.brandPalette(link_color);
          #{--svg-icon-stroke}: val.brandPalette(link_color);
          #{--svg-icon-fill_blue}: val.brandPalette(link_color);
          #{--svg-icon-stroke_blue}: val.brandPalette(link_color);
          fill: val.brandPalette(link_color);
          #{--limited-stroke-off}: val.brandColors(_transparent);
        }
      }
    }
  }

  .svg--icon {
    svg {
      #{--svg-icon-fill}: val.brandPalette(link_color);
      #{--svg-icon-stroke}: val.brandPalette(link_color);
      #{--svg-icon-fill_blue}: val.brandPalette(link_color);
      #{--svg-icon-stroke_blue}: val.brandPalette(link_color);
      fill: val.brandPalette(link_color);
      #{--limited-stroke-off}: val.brandColors(_transparent);
    }
  }
  &__minimal{
    align-items: center;
    border-width: 0;
    display: inline-flex;
    line-height: 1;
    .svg--icon{
      top: auto;
    }
  }
  &__nopadding,
  &__minimal{
    padding-left: 0;
    padding-right: 0;
  }
}

.btn{
  @extend .btn-default
}

.btn-default {
  .badge {
    background-color: rgba(50, 50, 50, 0.4);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
    color: #FFF;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  }
}

@each $btn in default, primary, success, danger, warning {
  .btn-#{$btn}__outline {
    background-color: transparent;
    background-image: none;
    border-color: val.brandBtn(#{$btn}_border__outline);
    color: val.brandBtn(#{$btn}_color__outline);
    @extend %btn;
    &:hover,
    &:focus-visible,
    &:active,
    &:active:focus,
    &.active,
    &.active:focus,
    &.focus {
      background-color: val.brandBtn(#{$btn}_border__outline);
      background-image: none;
      background-position: inherit;
      border-color: val.brandBtn(#{$btn}_border__outline);
      color: val.brandBtn(#{$btn}_color__outline__hover);
      .svg--icon svg{
        #{--infotech_svg-colorStroke}: val.brandBtn(#{$btn}_color__outline__hover);
        #{--infotech_svg-stroke}: val.brandBtn(#{$btn}_color__outline__hover);
        #{--infotech_svg-fill}: val.brandBtn(#{$btn}_color__outline__hover);
        #{--infotech_svg-colorFill}: val.brandBtn(#{$btn}_color__outline__hover);
        #{--svg-icon-fill}: val.brandBtn(#{$btn}_color__outline__hover);
        #{--svg-icon-stroke}: val.brandBtn(#{$btn}_color__outline__hover);
        #{--svg-icon-fill_blue}: val.brandBtn(#{$btn}_color__outline__hover);
        #{--svg-icon-stroke_blue}: val.brandBtn(#{$btn}_color__outline__hover);
        fill: val.brandBtn(#{$btn}_color__outline__hover);
        #{--limited-stroke-off}: val.brandColors(_transparent);
      }
      .bicolors-filter,
      .bicolors-filter__24vb{
        #{--infotech_svg-colorStroke}: val.brandBtn(#{$btn}_border__outline);
      }
    }
    &.disabled,
    &[disabled],
    fieldset[disabled] & {
      &:hover,
      &:focus-visible,
      &:active,
      &:active:focus,
      &.active,
      &.active:focus,
      &.focus {
        background-color: transparent;
        border-color: val.brandBtn(#{$btn}_border__outline);
        color: val.brandBtn(#{$btn}_color__outline);
        .svg--icon svg{
          #{--infotech_svg-colorStroke}: val.brandBtn(#{$btn}_color__outline);
          #{--infotech_svg-stroke}: val.brandBtn(#{$btn}_color__outline);
          #{--infotech_svg-fill}: val.brandBtn(#{$btn}_color__outline);
          #{--infotech_svg-colorFill}: val.brandBtn(#{$btn}_color__outline);
          #{--svg-icon-fill_blue}: val.brandBtn(#{$btn}_color__outline);
          #{--svg-icon-stroke_blue}: val.brandBtn(#{$btn}_color__outline);
          #{--svg-icon-fill}: val.brandBtn(#{$btn}_color__outline);
          #{--svg-icon-stroke}: val.brandBtn(#{$btn}_color__outline);
          fill: val.brandBtn(#{$btn}_color__outline);
          #{--limited-stroke-off}: val.brandColors(_transparent);
        }
        .bicolors-filter,
        .bicolors-filter__24vb{
          #{--infotech_svg-colorStroke}: #fff;
        }
      }
    }
    .svg--icon svg{
      #{--infotech_svg-colorStroke}: val.brandBtn(#{$btn}_color__outline);
      #{--infotech_svg-stroke}: val.brandBtn(#{$btn}_color__outline);
      #{--infotech_svg-fill}: val.brandBtn(#{$btn}_color__outline);
      #{--infotech_svg-colorFill}: val.brandBtn(#{$btn}_color__outline);
      #{--svg-icon-fill_blue}: val.brandBtn(#{$btn}_color__outline);
      #{--svg-icon-stroke_blue}: val.brandBtn(#{$btn}_color__outline);
      #{--svg-icon-fill}: val.brandBtn(#{$btn}_color__outline);
      #{--svg-icon-stroke}: val.brandBtn(#{$btn}_color__outline);
      fill: val.brandBtn(#{$btn}_color__outline);
      #{--limited-stroke-off}: val.brandColors(_transparent);
    }
    .bicolors-filter,
    .bicolors-filter__24vb{
      #{--infotech_svg-colorStroke}: #fff;
    }
  }
}

a.btn {
  &.disabled,
  fieldset[disabled] & {
    pointer-events: none; // Future-proof disabling of clicks on `<a>` elements
  }
}

.btn-xs,
.btn-small {
  border-radius: 1px;
  font-size: rem(val.fontSizes(btnXs));
  line-height: rem(val.lineHeight(btnXs));
  padding: #{val.brandSizes(btnXs-paddingY)}px #{val.brandSizes(btnXs-paddingX)}px;
}

.btn-large {
  border-radius: 1px;
  font-size: rem(val.fontSizes(btnLg));
  line-height: rem(val.lineHeight(btnLg));
  padding: #{val.brandSizes(btnLg-paddingY)}px #{val.brandSizes(btnLg-paddingX)}px;
}

.btn-icon{
  background-color: transparent;
  background-image: none;
  border: none;
  box-shadow: none;
  color: map.get($brand-namecolors, 'default');
  cursor: pointer;
  display: inline-block;
  height: rem(val.brandSizes(btnIcon_height));
  line-height: rem(val.brandSizes(btnIcon_height));
  outline: none;
  padding: 0;
  text-align: left;
  .glyphicon {
    color: val.brandPalette(btnIconSvg_color);
    font-size: rem(val.brandSizes(btnIconSvg_height));
    height: rem(val.brandSizes(btnIconSvg_height));
    top: 0;
    vertical-align: middle;
  }
  .svg--icon {
    align-items: center;
    background-color: val.brandPalette(btnIconSvg_bgc);
    display: inline-flex;
    justify-content: center;
    height: rem(val.brandSizes(btnIcon_height));
    width: rem(val.brandSizes(btnIcon_height));
    // vertical-align: middle;
    #{--svg-icon-fill}: val.brandPalette(btnDownloadSvg_color);
    #{--svg-icon-fill_blue}: val.brandPalette(btnDownloadSvg_color);
    #{--svg-icon-stroke_blue}: val.brandPalette(btnDownloadSvg_color);
    #{--svg-icon-stroke}: val.brandPalette(btnDownloadSvg_color);
    #{--limited-stroke-off}: val.brandColors(_transparent);
    svg{
      height: rem(val.brandSizes(btnIconSvg_height));
    }
    &__24vb{
      svg{
        height: rem(val.brandSizes(btnIcon_height));
      }
    }
  }
  &:hover,
  &:focus-visible,
  &.active,
  &.active:focus{
    .svg--icon {
      background-color: val.brandPalette(btnIconSvgHover_bgc);
    }
  }
  &:hover,
  &:focus-visible,
  &:active:focus,
  &:active
  &:hover,
  &:focus {
      background-color: transparent;
      background-image: none;
      box-shadow: none;
      // color: #2a6598;
      outline: 0;
  }
  &__form{
    align-items: center;
    border-color: transparent;
    border-top-width: #{val.brandSizes(btn_borderWidth)}px;
    border-bottom-width: #{val.brandSizes(btn_borderWidth)}px;
    // border-top-width: rem(math.div(calc(val.lineHeight(btn) - val.brandSizes(btnIconSvg_height)), 2));
    // border-bottom-width: rem(math.div(calc(val.lineHeight(btn) - val.brandSizes(btnIconSvg_height)), 2));
    display: inline-flex;
    height: rem(calc(val.lineHeight(btn) + 2));
    line-height: rem(val.lineHeight(btn));
  }
  &__danger{
    &:hover,
    &:focus-visible,
    &.active,
    &.active:focus{
      .svg--icon {
        background-color: val.brandPalette(btnIconSvgDangerHover_bgc);
      }
    }
    .svg--icon {
      #{--svg-icon-fill}: val.brandPalette(btnIconSvgDanger_color);
      #{--svg-icon-fill_blue}: val.brandPalette(btnIconSvgDanger_color);
      #{--svg-icon-stroke_blue}: val.brandPalette(btnIconSvgDanger_color);
      #{--svg-icon-stroke}: val.brandPalette(btnIconSvgDanger_color);
      #{--limited-stroke-off}: val.brandColors(_transparent);
    }
  }
  &__clear{
    background-color: transparent;
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] &{
    cursor: not-allowed;
    opacity: val.brandSizes(disabel_opacity);
    &:hover,
    &:focus-visible{
      .svg--icon {
        background-color: transparent;
      }
    }
  }
  .control-label + & {
    margin-left: 4px;
    position: relative;
    top: -#{calc(val.brandSizes(controlLabel_mb) * .5)}px;
  }
  .nostroke{
    stroke: none;
  }
  .nofill{
    fill: none;
  }
  .fill{
    fill: val.brandPalette(btnIconSvg_color);
  }
  .stroke{
    stroke: val.brandPalette(btnIconSvg_color);
  }
}

.btn-block {
  display: block;
  width: 100%;
}

// Vertically space out multiple block buttons
.btn-block + .btn-block {
  margin-top: 5px;
}

.btn__abs{
  margin-top: -#{calc((val.brandSizes(btn_borderWidth) + val.lineHeight(btn)) * .5)}px;
  position: absolute;
  top: 50%;
}

.btn__activable{
  .btn-text_isActiveOn{
    display: none;
  }
  .btn-text_isDefaultOn{
    display: inline-block;
  }
  &.active {
     .btn-text_isActiveOn{
      display: inline-block;
    }
    .btn-text_isDefaultOn{
      display: none;
    }
  }
}
.btn__shadow{
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.10);
}
// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.btn-block {
    width: 100%;
  }
}

.btn-download{
  background-color: var(--color_white);
  background-image: none;
  border: 1px dashed val.brandPalette(btnDownload_borderColor);
  box-shadow: none;
  color: val.brandPalette(btnDownload_color);
  cursor: pointer;
  display: inline-block;
  font-size: rem(12);
  font-weight: 400;
  height: auto;
  line-height: rem(val.lineHeight(btn));
  // max-height: rem(val.lineHeight(btn));
  margin-bottom: 0;
  outline: none;
  padding: 3px;
  vertical-align: middle;
  &_inner{
    align-items: center;
    background-color: val.brandPalette(btnDownload_bgc);
    display: flex;
    height: 100%;
    justify-content: center;
    padding: 4px #{val.brandSizes(btn_paddingX)}px;
    width: 100%;
    .btn-download__large &,
    .btn-download__square &,
    .btn-download__bigSquare &,
    .btn-download__circle &{
      display: flex;
      flex-direction: column;
      padding: 4px;
      max-height: none;
    }
  }
  &:hover,
  &:focus-visible,
  &.active,
  &.active:focus,
  &:active:focus,
  &:active
  &:hover,
  &:focus {
      background-image: none;
      box-shadow: none;
      outline: 0;
  }
  &:hover, 
  &:focus-visible {
    background-image: none;
    box-shadow: none;
    outline: 0;
    .btn-download_inner{
      background-color: val.brandPalette(btnDownloadHover_bgc);
    }
  }
  .btn-text{
    line-height: rem(12);
  }
  .svg--icon {
    height: var(--svgIcon_height, rem(12));
    width: var(--svgIcon_height, rem(12));
    vertical-align: middle;
    #{--svg-icon-fill}: val.brandPalette(btnIconSvg_color);
    #{--svg-icon-fill_blue}: val.brandPalette(btnIconSvg_color);
    #{--svg-icon-stroke_blue}: val.brandPalette(btnIconSvg_color);
    #{--svg-icon-stroke}: val.brandPalette(btnIconSvg_color);
    #{--limited-stroke-off}: val.brandColors(_transparent);
    svg{
      height: var(--svgIcon_height, rem(12));
      width: var(--svgIcon_height, rem(12));
    }
  }
  .fill{
    fill: val.brandPalette(btnIconSvg_color);
  }
  .stroke{
    stroke: val.brandPalette(btnIconSvg_color);
  }
  &__dragover{
    opacity: 0.4;
  }
  &__onHover{
    opacity: 0;
    z-index: 1;
    &:active{
      .mobile-view &{
        opacity: 1;
      }
    }
    &:hover,
    &:focus-visible{
      opacity: 1;
    }
  }
  &__large,
  &__square,
  &__bigSquare,
  &__circle {
    .btn-text{
      margin: 0;
      text-align: center;
    }
  }
  &__large,
  &__bigSquare,
  &__square{
    .svg--icon {
      height: var(--svgIcon_height, rem(val.brandSizes(btnDownloadSvg_height)));
      width: var(--svgIcon_height, rem(val.brandSizes(btnDownloadSvg_height)));
      svg{
        height: var(--svgIcon_height, rem(val.brandSizes(btnDownloadSvg_height)));
        width: var(--svgIcon_height, rem(val.brandSizes(btnDownloadSvg_height)));
      }
    }
  }
  &__large{ 
    font-size: rem(10);
    line-height: rem(12);
    height: rem(64);
    width: 100%;
  }
  &__circle{
    border-radius: rem(115);
    font-size: rem(10);
    height: rem(115);
    width: rem(115);
    .btn-download_inner{
      border-radius: 100%;
    }
    .svg--icon {
      height: var(--svgIcon_height, rem(21));
      width: var(--svgIcon_height, rem(21));
      svg{
        height: var(--svgIcon_height, rem(21));
        width: var(--svgIcon_height, rem(21));
      }
    }
  }
  &__square{
    font-size: rem(10);
    height: rem(64);
    width: rem(64);
    min-width: rem(64);
  }
  &__bigSquare{
    font-size: rem(10);
    height: rem(128);
    width: rem(128);
    min-width: rem(128);
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] &{
    cursor: not-allowed;
    opacity: val.brandSizes(disabel_opacity);
    &:hover,
    &:focus-visible{
      .btn-download_inner {
        background-color: val.brandPalette(btnDownload_bgc);
      }
    }
  }
}