/* =~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~ */
/*                                                                            */
/* BUTTONS                                                                    */
/* path: dsf-common-ui/src/scss/modules/_buttons.scss                         */
/*                                                                            */
/* =~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~ */
%btn {
  background-image: none;
  border-style: solid;
  border-color: transparent;
  border-width: #{_brand-sizes(btn_borderWidth)}px;
  border-radius: #{_brand-sizes(btn_borderRadius)}px;
  cursor: pointer;
  display: inline-block;
  font-size: rem(_fontSizes(btn));
  font-weight: _fontWeight(btn);
  line-height: rem(_lineHeight(btn));
  // height: min-content; не работает в сафари с <input>
  height: auto;
  margin-bottom: 0; // For input.btn
  padding: 0 #{_brand-sizes(btn_paddingX)}px;
  text-align: center;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  @include user-select(none);

  &:hover,
  &:focus,
  &.focus {
    outline: none;
    text-decoration: none;
  }

  &:active,
  &.active {
    // background-image: none;
    outline: 0;
    &:focus{
      outline: none;
    }
  }
  
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    // cursor: none;
    cursor: not-allowed;
    @include opacity(.65);
    @include box-shadow(none);
  }

  .badge {
    font-size: 11px;
    line-height: 13px;
    padding: 0px 5px;
  }

  .caret {
    margin-left: 0;
  }

  .svg--icon{
    height: rem(12);
    // margin-right: 10px;
    position: relative;
    top: 2px;
    svg{
      height: rem(12);
      max-width:20px;
      width: auto;
    }
    // &:only-child{
    //   margin-right: 0px;
    // }
  }
}
.glyphicon,
.svg--icon{
  + .btn-text{
    margin-left: 10px;
  }
}
.btn-text{
  + .glyphicon,
  + .svg--icon{
    margin-left: 10px;
  }
}

@each $btn in default, primary, success, danger, warning, info, 'grey', 'lightGrey' {
  .btn-#{$btn}{
    @if (_brand-btn(#{$btn}_bg) == _brand-btn(#{$btn}-end_bg)) {
      background-color: _brand-btn(#{$btn}_bg);
      background-image: none;
    }
    @else{
      background-color: _brand-btn(#{$btn}_bg);
      background-image: -webkit-linear-gradient(_brand-btn(#{$btn}_bg) 0%, _brand-btn(#{$btn}-end_bg) 100%);
      background-image: linear-gradient(_brand-btn(#{$btn}_bg) 0%, _brand-btn(#{$btn}-end_bg) 100%);
    }
    // background-color: _brand-btn(#{$btn}_bg);
    // background-image: -webkit-linear-gradient(_brand-btn(#{$btn}_bg) 0%, _brand-btn(#{$btn}-end_bg) 100%);
    // background-image: linear-gradient(_brand-btn(#{$btn}_bg) 0%, _brand-btn(#{$btn}-end_bg) 100%);
    border-color: _brand-btn(#{$btn}_border);
    color: _brand-btn(#{$btn}_color);
    @extend %btn;
    &:hover,
    &:focus,
    &:active,
    &.active,
    &.focus {
      @if (_brand-btn(#{$btn}_bg__hover) == _brand-btn(#{$btn}-end_bg__hover)) {
        background-color: _brand-btn(#{$btn}_bg__hover);
        background-image: none;
      }
      @else{
        background-color: _brand-btn(#{$btn}_bg__hover);
        background-image: -webkit-linear-gradient(_brand-btn(#{$btn}_bg__hover) 0%, _brand-btn(#{$btn}-end_bg__hover) 100%);
        background-image: linear-gradient(_brand-btn(#{$btn}_bg__hover) 0%, _brand-btn(#{$btn}-end_bg__hover) 100%);
      }
      background-position: inherit;
      border-color: _brand-btn(#{$btn}_border__hover);
      color: _brand-btn(#{$btn}_color__hover);
      .svg--icon {
        svg {
          fill: _brand-btn(#{$btn}_svg);
          #{--svg-icon-fill}: _brand-btn(#{$btn}_svg__hover);
          #{--svg-icon-stroke}: _brand-btn(#{$btn}_svg__hover);
          #{--svg-icon-fill_blue}: _brand-btn(#{$btn}_svg_blue__hover);
          #{--svg-icon-stroke_blue}: _brand-btn(#{$btn}_svg_blue__hover);
        }
      }
    }
    .svg--icon{
      svg{
        fill: _brand-btn(#{$btn}_svg);
        #{--svg-icon-fill}: _brand-btn(#{$btn}_svg);
        #{--svg-icon-stroke}: _brand-btn(#{$btn}_svg);
        #{--svg-icon-fill_blue}: _brand-btn(#{$btn}_svg_blue);
        #{--svg-icon-stroke_blue}: _brand-btn(#{$btn}_svg_blue);
      }
    }
    @if (_brand-btn(#{$btn}_bg) == _brand-btn(#{$btn}-end_bg)) {
      #{--btn_bg}: _brand-btn(#{$btn}_bg);
    }
    @else{ 
      #{--btn_bg}: _brand-btn(#{$btn}_bg);
      #{--btn_bgEnd}: _brand-btn(#{$btn}-end_bg);
    }
    @if (_brand-btn(#{$btn}_bg__hover) == _brand-btn(#{$btn}-end_bg__hover)) {
      #{--btn_bg__hover}: _brand-btn(#{$btn}_bg__hover);
    }
    @else{
      #{--btn_bgEnd__hover}: _brand-btn(#{$btn}-end_bg__hover);
      #{--btn_bg__hover}: _brand-btn(#{$btn}_bg__hover);
    }
    #{--borderColor__hover}: _brand-btn(#{$btn}_border__hover);
    #{--btn_svg}: _brand-btn(#{$btn}_svg);
    #{--btn_svg_blue}: _brand-btn(#{$btn}_svg_blue);
    #{--btn_svg__hover}: _brand-btn(#{$btn}_svg__hover);
    #{--btn_svg_blue__hover}: _brand-btn(#{$btn}_svg_blue__hover);
  }
}

.btn{
  @extend .btn-default
}

.btn-default {
  .badge {
    background-color: rgba(50, 50, 50, 0.4);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
    color: #FFF;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  }
}

@each $btn in default, primary, success, danger, warning, 'grey' {
  .btn-#{$btn}__outline {
    background-color: transparent;
    background-image: none;
    border-color: _brand-btn(#{$btn}_outline);
    color: _brand-btn(#{$btn}_outline);
    @extend %btn;
    &:hover,
    &:focus,
    &:active,
    &.active,
    &.focus {
      background-color: _brand-btn(#{$btn}_outline__hover);
      background-image: none;
      background-position: inherit;
      color: #fff;
      .svg--icon {
        svg {
          #{--svg-icon-fill}: #ffffff;
          #{--svg-icon-stroke}: #ffffff;
          #{--svg-icon-fill_blue}: #ffffff;
          #{--svg-icon-stroke_blue}: #ffffff;
          fill: #ffffff;
        }
      }
    }

    .svg--icon {
      svg {
        #{--svg-icon-fill_blue}: _brand-btn(#{$btn}_outline);
        #{--svg-icon-stroke_blue}: _brand-btn(#{$btn}_outline);
        #{--svg-icon-fill}: _brand-btn(#{$btn}_outline);
        #{--svg-icon-stroke}: _brand-btn(#{$btn}_outline);
        fill: _brand-btn(#{$btn}_outline);
      }
    }
  }
}

a.btn {
  &.disabled,
  fieldset[disabled] & {
    pointer-events: none; // Future-proof disabling of clicks on `<a>` elements
  }
}

// .btn,
// .btn-sm,
// .btn-md,
// .btn-lg{
//   font-size: rem(_fontSizes(btn));
//   line-height: rem(_lineHeight(btn));
//   padding: 0 #{_brand-sizes(btn_paddingX)}px;
// }

.btn-xs,
.btn-small {
  border-radius: 1px;
  font-size: rem(_fontSizes(btnXs));
  line-height: rem(_lineHeight(btnXs));
  padding: #{_brand-sizes(btnXs-paddingY)}px #{_brand-sizes(btnXs-paddingX)}px;
}

.btn-large {
  border-radius: 1px;
  font-size: rem(_fontSizes(btnLg));
  line-height: rem(_lineHeight(btnLg));
  padding: #{_brand-sizes(btnLg-paddingY)}px #{_brand-sizes(btnLg-paddingX)}px;
}


.btn-link {
  background-color: transparent;
  background-image: none;
  border-radius: 0;
  box-shadow: none;
  color: _brand-palette(link_color);
  cursor: pointer;
  font-weight: _fontWeight(btn);
  @extend %btn;
  &,
  &:hover,
  &:focus,
  &[disabled],
  fieldset[disabled] &,
  &.active,
  &:active {
    background-color: transparent;
    background-image: none;
    border-color: transparent;
    box-shadow: none;
    outline: none;
  }
  &:hover,
  &:focus {
    color: _brand-palette(linkHover_color);
    text-decoration: none;
  }
  &[disabled],
  fieldset[disabled] & {
    &:hover,
    &:focus {
      color: _brand-palette(linkDisabled_color);
      text-decoration: none;
    }
  }
  .glyphicons-bin{
    #{--svg-icon-fill}: _brand-colors(_red);
  }
  .svg--icon {
    #{--svg-icon-fill}: _brand-palette(btnIconSvg_color);
    #{--svg-icon-stroke}: _brand-palette(btnIconSvg_color);
  }
}

.btn-icon{
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  border: none;
  color: map-get($brand-namecolors, 'default');
  cursor: pointer;
  display: inline-block;
  outline: none;
  padding: 0;
  text-align: left;
  .glyphicon {
    color: _brand-palette(btnIconSvg_color);
    font-size: rem(_brand-sizes(btnIcon_height));
    height: rem(_brand-sizes(btnIcon_height));
    top: 0;
    vertical-align: middle;
  }
  .svg--icon {
    height: rem(_brand-sizes(btnIcon_height));
    vertical-align: middle;
    svg{
      height: rem(_brand-sizes(btnIcon_height));
    }
    #{--svg-icon-fill}: _brand-palette(btnIconSvg_color);
    #{--svg-icon-fill_blue}: _brand-palette(btnIconSvg_color);
    #{--svg-icon-stroke_blue}: _brand-palette(btnIconSvg_color);
    #{--svg-icon-stroke}: _brand-palette(btnIconSvg_color);
  }
  &__h12{
    .glyphicon {
      font-size: rem(12);
      height: rem(12);
    }
    .svg--icon {
      height: rem(12);
      svg{ 
        height: rem(12);
      }
    }
  }
  &__h14{
    .glyphicon {
      font-size: rem(14);
      height: rem(14);
    }
    .svg--icon {
      height: rem(14);
      svg{ 
        height: rem(14);
      }
    }
  }
  &__h18{
    .glyphicon {
      font-size: rem(18);
      height: rem(18);
    }
    .svg--icon {
      height: rem(18);
      svg{ 
        height: rem(18);
      }
    }
  }
  &__h20{
    .glyphicon {
      font-size: rem(20);
      height: rem(20);
    }
    .svg--icon {
      height: rem(20);
      svg{ 
        height: rem(20);
      }
    }
  }
  &__h22{
    .glyphicon {
      font-size: rem(22);
      height: rem(22);
    }
    .svg--icon {
      height: rem(22);
      svg{ 
        height: rem(22);
      }
    }
  }
  &__h24{
    .glyphicon {
      font-size: rem(24);
      height: rem(24);
    }
    .svg--icon {
      height: rem(24);
      svg{ 
        height: rem(24);
      }
    }
  }
  .nostroke{
    stroke: none;
  }
  .nofill{
    fill: none;
  }
  .fill{
    fill: _brand-palette(btnIconSvg_color);
  }
  .stroke{
    stroke: _brand-palette(btnIconSvg_color);
  }
  &:hover,
  &:focus {
      background-color: transparent;
      background-image: none;
      box-shadow: none;
      // color: #2a6598;
      outline: 0;
  }
  .control-label + & {
    margin-left: 4px;
    position: relative;
    top: -#{calc(_brand-sizes(controlLabel_mb) * .5)}px;
  }
  .glyphicons-bin{
    #{--svg-icon-fill}: _brand-colors(_red);
  }
}

.btn-block {
  display: block;
  width: 100%;
}

// Vertically space out multiple block buttons
.btn-block + .btn-block {
  margin-top: 5px;
}

.btn__abs{
  margin-top: -#{calc((_brand-sizes(btn_borderWidth) + _lineHeight(btn)) * .5)}px;
  position: absolute;
  top: 50%;
}

.btn__activable{
  .btn-text_isActiveOn{
    display: none;
  }
  .btn-text_isDefaultOn{
    display: inline-block;
  }
  &.active {
     .btn-text_isActiveOn{
      display: inline-block;
    }
    .btn-text_isDefaultOn{
      display: none;
    }
  }
}
// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.btn-block {
    width: 100%;
  }
}

.btn-download{
  background: var(--color_white);
  border: 1px dashed var(--color_light-blue);
  box-shadow: none;
  color:  var(--color_light-blue);
  cursor: pointer;
  display: flex;
  font-size: rem(10);
  font-weight: 400;
  line-height: 12px;
  margin-bottom: 0;
  height: 64px;
  padding: 4px;
  outline: none;
  &_inner{
    align-items: center;
    background: var(--color_light-blue2);
    display: flex;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }
  &:hover, &:focus {
    background-image: none;
    box-shadow: none;
    outline: 0;
  }
  &__dragover{
    opacity: 0.4;
  }
  .btn-text{
    margin: 0;
    line-height: 12px;
  }
  .svg--icon {
    height: rem(20);
    vertical-align: middle;
    width: rem(20);
    #{--svg-icon-fill}: _brand-palette(btnIconSvg_color);
    #{--svg-icon-fill_blue}: _brand-palette(btnIconSvg_color);
    #{--svg-icon-stroke_blue}: _brand-palette(btnIconSvg_color);
    #{--svg-icon-stroke}: _brand-palette(btnIconSvg_color);
  }
  .fill{
    fill: _brand-palette(btnIconSvg_color);
  }
  .stroke{
    stroke: _brand-palette(btnIconSvg_color);
  }
}