/* =~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~ */
/*                                                                            */
/* CAROUSEL                                                                   */
/* path: dsf-common-ui/src/scss/modules/_carousel.scss                        */
/*                                                                            */
/* =~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~ */

@use 'sass:color';
@use "sass:math";
@use './../utilities/functions/func_fonts' as fonts;
@use './../utilities/functions/func_val' as val;
// @use './../utilities/variables/var-bootstrap-v3' as varbootstrapv3;
@use './../utilities/variables/var-bootstrap-v4' as varbootstrapv4;
// @use './../utilities/variables/var-colors' as *;
// @use './../utilities/variables/var-sizes' as *;
// @use './../utilities/variables/var-zindex' as *;
// @use './../utilities/variables/var-fonts' as *;
@use './../utilities/mixins_bootstrap-v3/clearfix' as clearfix;
@use './../utilities/mixins/transition' as transition;

.carousel {
  position: relative;
  &.pointer-event {
    touch-action: pan-y;
  }
  &-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    @include clearfix.clearfix();
  }
  &-item {
    align-items: center;
    aspect-ratio: 4 / 3;
    position: relative;
    display: none;
    float: left;
    width: 100%;
    margin-right: -100%;
    backface-visibility: hidden;
    @include transition.transition(varbootstrapv4.$carousel-transition);
    .carousel__aspectRatio16-9 &{
      aspect-ratio: 16 / 9;
    }
    .carousel__aspectRatio16-10 &{
      aspect-ratio: 16 / 10;
    }
    &.active,
    &-next,
    &-prev {
      display: flex;
    }
    &.active,
    &-next.carousel-item-left,
    &-prev.carousel-item-right {
      .carousel-fade & {
        z-index: 1;
        opacity: 1;
      }
    }
    &-next:not(.carousel-item-left),
    &-right.active {
      transform: translateX(100%);
    }
    &-prev:not(.carousel-item-right),
    &-left.active {
      transform: translateX(-100%);
    }
    &-left.active,
    &-right.active {
      .carousel-fade & {
        z-index: 0;
        opacity: 0;
        @include transition.transition(opacity 0s varbootstrapv4.$carousel-transition-duration);
      }
    }
    .carousel-fade & {
      opacity: 0;
      transition-property: opacity;
      transform: none;
    }
    img{
      display: block;
      max-width: 100%;
      margin: 0 auto;
      max-height: 100%;
      height: auto;
      object-fit: contain;
    }
    &:hover{
      .carousel-action{
        display: flex;
      }
    }
  }
  &-control-prev,
  &-control-next {
    align-items: center;
    background: none;
    background-color:  color.scale(rgba(val.brandColors(_grey4), 1), $alpha: -40%, $space: rgb);
    border: 1px solid var(--color_grey2);
    // color: $carousel-control-color;
    bottom: auto;
    display: flex;
    justify-content: center;
    height: #{val.brandSizes(carousel-control_size)}px;
    margin-top: #{calc(val.brandSizes(carousel-control_size) / 2 * -1)}px;
    outline: 0;
    padding: 5px;
    position: absolute;
    text-align: center;
    top: 50%;
    opacity: 1;
    z-index: 1;
    width: #{val.brandSizes(carousel-control_size)}px;
    @include transition.transition(varbootstrapv4.$carousel-control-transition);

    // Hover/focus state
    &:hover,
    &:focus {
      color: varbootstrapv4.$carousel-control-color;
      text-decoration: none;
      outline: 0;
      opacity: 1;
      // @include opacity(.9);
    }
    .svg--icon{
      --svg-icon-stroke: var(--color_grey2);
      --svg-icon-stroke_blue: var(--color_grey2);
      height: 16px;
      width: 16px;
      svg{ 
        height: 16px;
        width: 16px;
      }
    }
  }
  &-control-prev {
    left: 5px;
  }
  &-control-next {
    right: 5px;
    left: auto;
  }
  &-caption {
    position: absolute;
    right: (100% - varbootstrapv4.$carousel-caption-width) * .5;
    bottom: 20px;
    left: (100% - varbootstrapv4.$carousel-caption-width) * .5;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: varbootstrapv4.$carousel-caption-color;
    text-align: center;
  }
  &-indicators {
    gap: #{val.brandSizes(carousel-thumbs_gap)}px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style: none;
    margin: 0;
    padding-left: 0; // override <ol> default
    position: relative;
    width: 100%;
    z-index: val.zIndex(carouselIndicatorsImage);
    --carousel-thumbs_gap: #{val.brandSizes(carousel-thumbs_gap)}px;
    &__abs{
      bottom: 0;
      display: flex;
      gap: #{val.brandSizes(carousel-thumbs_gap)}px;
      height: fit-content;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      width: fit-content;
      z-index: val.zIndex(carouselIndicatorsImage) + 1;
       + .carousel-indicators {
          min-height: var(--thumbnail_width);
       }
    }
    &__line {
      img{
        display: none;
      }
    }
    &_outer{
      position: relative;
      min-height: #{val.brandSizes(carousel-thumbs_size) + val.brandSizes(carousel-thumbs_gap)}px;
    }
    &_item{
      &:first-child{ 
        .carousel-indicators__abs + .carousel-indicators &{
          margin-left: calc((var(--thumbnail_width) + var(--carousel-thumbs_gap)) * var(--carousel-indicators__abs-count, 1));
        }
      }
    }
    &-item {
      border: none;
      cursor: pointer;
      display: inline-flex;
      position: relative;
      margin-bottom: 10px;
      @include transition.transition(varbootstrapv4.$carousel-indicator-transition);
      .carousel-indicators__line &{
        background-color: varbootstrapv4.$carousel-indicator-active-bg;
        background-clip: padding-box;
        box-sizing: content-box;
        border-top: varbootstrapv4.$carousel-indicator-hit-area-height solid transparent;
        border-bottom: varbootstrapv4.$carousel-indicator-hit-area-height solid transparent;
        flex: 0 1 auto;
        height: varbootstrapv4.$carousel-indicator-height;
        margin-right: varbootstrapv4.$carousel-indicator-spacer;
        margin-left: varbootstrapv4.$carousel-indicator-spacer;
        opacity: .5;
        text-indent: -999px;
        width: varbootstrapv4.$carousel-indicator-width;
      }
      .carousel-indicators__bigPreview &{ 
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;
      }
      &_inner{
        align-items: center;
        border: 4px solid white;
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        outline: 1px solid var(--color_grey2);
        overflow: hidden;
        height: #{val.brandSizes(carousel-thumbs_size)}px;
        width: #{val.brandSizes(carousel-thumbs_size)}px;
        .carousel-indicators__bigPreview &{
          height: auto;
          width: 100%;
        }
        &Button{ 
          align-items: center;
          background-color: var(--color_light-blue2);
          border: 4px solid white;
          color: var(--color_light-blue);
          cursor: pointer;
          display: inline-flex;
          flex-direction: column;
          font-size: fonts.rem(10);
          height: #{val.brandSizes(carousel-thumbs_size)}px;
          line-height: fonts.rem(12);
          justify-content: center;
          outline: 1px dashed var(--color_light-blue);
          overflow: hidden;
          text-align: center;
          width: #{val.brandSizes(carousel-thumbs_size)}px;
          &Outer{
            position: absolute;
            left: 0;
            top: 0;
            z-index: val.zIndex(carouselIndicatorsButton);
          }
          .carousel-indicators_outer &{
            margin-bottom: 10px;
          }
          svg{
            --svg-icon-stroke: var(--color_light-blue);
            --svg-icon-stroke_blue: var(--color_light-blue);
          }
        }
        img{
          object-fit: cover;
          height: 100%;
          width: 100%;
          .carousel-indicators__bigPreview &{
            max-height: #{val.brandSizes(carousel-thumbsBig_size)}px;
            width: auto;
            z-index: 1;
          }
        }
      }
      &_imgOuter{
          align-items: end;
          background-repeat: no-repeat;
          background-size: cover;
          display: flex;
          justify-content: center;
          max-height: #{val.brandSizes(carousel-thumbsBig_size)}px;
          height: 100%;
          position: relative;
          width: 100%;
          &:after {
            background-color: #fff3;
            content: '';
            display: flex;
            height: 100%;
            position: absolute;
            width: 100%;
          }
      }
      &:hover,
      &:focus,
      &.active {
        .carousel-indicators-item_inner{
          outline-color: var(--color_dark-grey);
        }
        .carousel-indicators__line &{ 
          opacity: 1;
          width: 12px; // old
          height: 12px; // old
          margin: 0; // old
          background-color: varbootstrapv4.$carousel-indicator-active-bg; // old
        }
      }
      .checkbox-item{
        position: absolute;
        right: 4px;
        top: 4px;
        z-index: val.zIndex(carouselIndicatorsButton);
        label.checkbox{
          line-height: fonts.rem(val.brandSizes(checkboxItem_size));
          padding-left: fonts.rem(val.brandSizes(checkboxItem_size));
          width: fonts.rem(val.brandSizes(checkboxItem_size));
        }
      }
      &:first-child{ 
        .carousel-indicators_outer &{
          margin-left: #{val.brandSizes(carousel-thumbs_size) + val.brandSizes(carousel-thumbs_gap)}px;
        }
      }
    }
  }
  &-action{
    display: none;
    flex-direction: column;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    &:before{
      background-color: #000c;
      content: "";
      display: block;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      z-index: 1;
    }
    &_visible{
      display: flex;
      &:before{
        display: none;
      }
    }
    &__center{
      align-self: center;
      margin-top: auto;
      margin-bottom: auto;
      width: 50%;
      z-index: 1;
    }
    &__bottom,
    &__top{
      align-self: flex-start;
      display: flex;
      justify-content: space-between;
      position: absolute;
      left: 0;
      width: 100%;
      z-index: 1;
    }
    &__bottomLeft,
    &__bottomRight,
    &__topRight,
    &__topLeft{
      display: flex;
      gap: 5px;
      position: relative;
      z-index: 1;
    }
    &__bottomLeft,
    &__topLeft{
      align-self: flex-start;
      left: 5px;
    }
    &__bottomRight,
    &__topRight{
      align-self: end;
      margin-left: auto;
      right: 5px;
    }
    &__topLeft,
    &__topRight{
      top: 5px;
    }
    &__bottomLeft,
    &__bottomRight{
      bottom: 5px;
      margin-top: auto;
    }
    &__top{
      top: 0;
    }
    &__bottom{
      bottom: 0;
    }
  }
}
