/* =~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~ */
/*                                                                            */
/* CAROUSEL                                                                   */
/* path: dsf-common-ui/src/scss/modules/_carousel.scss                        */
/*                                                                            */
/* =~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~ */

@use "sass:math";
.carousel {
  position: relative;
  &.pointer-event {
    touch-action: pan-y;
  }
  &-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    @include clearfix();
    // > .item {
    //   position: relative;
    //   display: none;
    //   @include transition(.6s ease-in-out left);

    //   // Account for jankitude on images
    //   > img,
    //   > a > img {
    //     @include img-responsive;
    //     line-height: 1;
    //   }

    //   // WebKit CSS3 transforms for supported devices
    //   @media all and (transform-3d), (-webkit-transform-3d) {
    //     @include transition-transform(0.6s ease-in-out);
    //     @include backface-visibility(hidden);
    //     @include perspective(1000px);

    //     &.next,
    //     &.active.right {
    //       @include translate3d(100%, 0, 0);
    //       left: 0;
    //     }
    //     &.prev,
    //     &.active.left {
    //       @include translate3d(-100%, 0, 0);
    //       left: 0;
    //     }
    //     &.next.left,
    //     &.prev.right,
    //     &.active {
    //       @include translate3d(0, 0, 0);
    //       left: 0;
    //     }
    //   }
    // }

    // > .active,
    // > .next,
    // > .prev {
    //   display: block;
    // }

    // > .active {
    //   left: 0;
    // }

    // > .next,
    // > .prev {
    //   position: absolute;
    //   top: 0;
    //   width: 100%;
    // }

    // > .next {
    //   left: 100%;
    // }
    // > .prev {
    //   left: -100%;
    // }
    // > .next.left,
    // > .prev.right {
    //   left: 0;
    // }

    // > .active.left {
    //   left: -100%;
    // }
    // > .active.right {
    //   left: 100%;
    // }
  }
  &-item {
    position: relative;
    display: none;
    float: left;
    width: 100%;
    margin-right: -100%;
    backface-visibility: hidden;
    @include transition($carousel-transition);
    &.active,
    &-next,
    &-prev {
      display: block;
    }
    &.active,
    &-next.carousel-item-left,
    &-prev.carousel-item-right {
      .carousel-fade & {
        z-index: 1;
        opacity: 1;
      }
    }
    &-next:not(.carousel-item-left),
    &-right.active {
      transform: translateX(100%);
    }
    &-prev:not(.carousel-item-right),
    &-left.active {
      transform: translateX(-100%);
    }
    &-left.active,
    &-right.active {
      .carousel-fade & {
        z-index: 0;
        opacity: 0;
        @include transition(opacity 0s $carousel-transition-duration);
      }
    }
    .carousel-fade & {
      opacity: 0;
      transition-property: opacity;
      transform: none;
    }
  }
  &-control-prev,
  &-control-next {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    // Use flex for alignment (1-3)
    display: flex; // 1. allow flex styles
    align-items: center; // 2. vertically center contents
    justify-content: center; // 3. horizontally center contents
    width: $carousel-control-width;
    padding: 0;
    color: $carousel-control-color;
    text-align: center;
    background: none;
    border: 0;
    opacity: $carousel-control-opacity;
    @include transition($carousel-control-transition);

    // Hover/focus state
    &:hover,
    &:focus {
      color: $carousel-control-color;
      text-decoration: none;
      outline: 0;
      @include opacity(.9);
    }
    &-icon {
      display: inline-block;
      width: $carousel-control-icon-width;
      height: $carousel-control-icon-width;
      background: 50% / 100% 100% no-repeat;
    }
    .glyphicon-chevron-left,
    .glyphicon-chevron-right {
      display: inline-block;
      position: absolute;
      margin-top: -10px;
      top: 50%;
      z-index: 5;

      font-size: rem(20);
      height: rem(20);
      width: rem(20);
    }
    .carousel__theme &{
      align-items: center;
      background-image: none;
      background-color: _brand-colors(_grey4);
      display: flex;
      text-align: left;
      width: 66px;
    }
    .svg--icon{
      background-color: transparentize(#fff, 0.3);
      height: 36px;
      width: 36px;
      svg{ 
        height: 36px;
        width: 36px;
      }
    }
  }
  &-control-prev {
    left: 0;
    @include gradient-horizontal($start-color: rgba(0, 0, 0, .5), $end-color: rgba(0, 0, 0, .0001));
    .carousel__theme &{
      padding-left: 10px;
      justify-content: flex-start;
    }
    &-icon {
      background-image: escape-svg($carousel-control-prev-icon-bg);
    }
    .glyphicon-chevron-left {
      left: 50%;
      margin-left: -10px;
    }
  }
  &-control-next {
    right: 0;
    left: auto;
    @include gradient-horizontal($start-color: rgba(0, 0, 0, .0001), $end-color: rgba(0, 0, 0, .5));
    .carousel__theme &{
      padding-right: 10px;
      justify-content: flex-end;
    }
    &-icon {
      background-image: escape-svg($carousel-control-next-icon-bg);
    }
    .glyphicon-chevron-right {
      right: 50%;
      margin-right: -10px;
    }
  }
  &-caption {
    position: absolute;
    right: (100% - $carousel-caption-width) * .5;
    bottom: 20px;
    left: (100% - $carousel-caption-width) * .5;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: $carousel-caption-color;
    text-align: center;
  }
  &-indicators {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 15;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 0; // override <ol> default
    // Use the .carousel-control's width as margin so we don't overlay those
    margin-right: $carousel-control-width;
    margin-left: $carousel-control-width;
    list-style: none;
  
    &-item  {
      box-sizing: content-box;
      flex: 0 1 auto;
      width: $carousel-indicator-width;
      height: $carousel-indicator-height;
      margin-right: $carousel-indicator-spacer;
      margin-left: $carousel-indicator-spacer;
      text-indent: -999px;
      cursor: pointer;
      background-color: $carousel-indicator-active-bg;
      background-clip: padding-box;
      // Use transparent borders to increase the hit area by 10px on top and bottom.
      border-top: $carousel-indicator-hit-area-height solid transparent;
      border-bottom: $carousel-indicator-hit-area-height solid transparent;
      opacity: .5;
      @include transition($carousel-indicator-transition);
    }

    .active {
      opacity: 1;
      
      width: 12px; // old
      height: 12px; // old
      margin: 0; // old
      background-color: $carousel-indicator-active-bg; // old
    }
    &-image{
      bottom: 0;
      left: 0;
      list-style: none;
      padding-left: 0;
      position: relative;
      text-align: center;
      width: 100%;
      z-index: _zindex(carouselIndicatorsImage);
      margin-left: rem(20);
      .carousel-indicators-item {
        border: none;
        cursor: pointer;
        // border-radius: 10px;
        display: inline-block;
        // text-indent: -999px;
        margin: 0px;
        position: relative;
        width: auto;
        height: auto;
        max-width: 64px;
        &-inner{
          display: block;
          height: 70px;
          width: 95px;
          overflow: hidden;
        }
        &:after{
          // background-color: $medium-grey;
          background-color: _brand-colors(_grey);
          content: '';
          display: block;
          height: 5px;
          // margin-top: 6px;
          width: 100%;
        }
      }
      .active {
        background-color: transparent;
        margin: 0;
        height: auto;
        width: auto;
        &:after{
          background-color: _brand-colors(_green);
        }
      }
    }
  }
}

// Left/right controls for nav
// ---------------------------

// .carousel-control {
//   position: absolute;
//   top: 0;
//   bottom: 0;
//   left: 0;
//   width: $carousel-control-width;
//   font-size: $carousel-control-font-size;
//   color: $carousel-control-color;
//   text-align: center;
//   text-shadow: $carousel-text-shadow;
//   background-color: rgba(0, 0, 0, 0); // Fix IE9 click-thru bug
//   @include opacity($carousel-control-opacity);
//   // We can't have this transition here because WebKit cancels the carousel
//   // animation if you trip this while in the middle of another animation.

//   &.left {
//     @include gradient-horizontal($start-color: rgba(0, 0, 0, .5), $end-color: rgba(0, 0, 0, .0001));
//     .carousel__theme &{
//       padding-left: 10px;
//       justify-content: flex-start;
//     }
//   }
//   &.right {
//     right: 0;
//     left: auto;
//     @include gradient-horizontal($start-color: rgba(0, 0, 0, .0001), $end-color: rgba(0, 0, 0, .5));
//     .carousel__theme &{
//       padding-right: 10px;
//       justify-content: flex-end;
//     }
//   }

//   // Hover/focus state
//   &:hover,
//   &:focus {
//     color: $carousel-control-color;
//     text-decoration: none;
//     outline: 0;
//     @include opacity(.9);
//   }

//   // Toggles
//   .icon-prev,
//   .icon-next,
//   .glyphicon-chevron-left,
//   .glyphicon-chevron-right {
//     display: inline-block;
//     position: absolute;
//     margin-top: -10px;
//     top: 50%;
//     z-index: 5;

//     font-size: rem(20);
//     height: rem(20);
//     width: rem(20);
//   }
//   .icon-prev,
//   .glyphicon-chevron-left {
//     left: 50%;
//     margin-left: -10px;
//   }
//   .icon-next,
//   .glyphicon-chevron-right {
//     right: 50%;
//     margin-right: -10px;
//   }
//   .icon-prev,
//   .icon-next {
//     width: 20px;
//     height: 20px;
//     font-family: serif;
//     line-height: 1;
//   }

//   .icon-prev {
//     &:before {
//       content: "\2039";// SINGLE LEFT-POINTING ANGLE QUOTATION MARK (U+2039)
//     }
//   }
//   .icon-next {
//     &:before {
//       content: "\203a";// SINGLE RIGHT-POINTING ANGLE QUOTATION MARK (U+203A)
//     }
//   }
//   .carousel__theme &{
//     align-items: center;
//     background-image: none;
//     background-color: _brand-colors(_grey4);
//     display: flex;
//     text-align: left;
//     width: 66px;
//   }
//   .svg--icon{
//     background-color: transparentize(#fff, 0.3);
//     height: 36px;
//     width: 36px;
//     svg{ 
//       height: 36px;
//       width: 36px;
//     }
//   }
// }


// .carousel-indicators {
  // position: absolute;
  // bottom: 10px;
  // left: 50%;
  // z-index: 15;
  // width: 60%;
  // padding-left: 0;
  // margin-left: -30%;
  // text-align: center;
  // list-style: none;

  // li {
  //   display: inline-block;
  //   width: 10px;
  //   height: 10px;
  //   margin: 1px;
  //   text-indent: -999px;
  //   cursor: pointer;
  //   background-color: rgba(0, 0, 0, 0); // IE9

  //   border: 1px solid $carousel-indicator-border-color;
  //   border-radius: 10px;
  // }

  // .active {
  //   width: 12px;
  //   height: 12px;
  //   margin: 0;
  //   background-color: $carousel-indicator-active-bg;
  // }
  // &-image{
  //   bottom: 0;
  //   left: 0;
  //   list-style: none;
  //   padding-left: 0;
  //   position: relative;
  //   text-align: center;
  //   width: 100%;
  //   z-index: _zindex(carouselIndicatorsImage);
  //   margin-left: rem(20);
  //   li{
  //     border: none;
  //     cursor: pointer;
  //     // border-radius: 10px;
  //     display: inline-block;
  //     // text-indent: -999px;
  //     margin: 0px;
  //     position: relative;
  //     width: auto;
  //     height: auto;
  //     .carousel-indicators-image-inner{
  //       display: block;
  //       height: 70px;
  //       width: 95px;
  //       overflow: hidden;
  //     }
  //     &:after{
  //       // background-color: $medium-grey;
  //       background-color: _brand-colors(_grey);
  //       content: '';
  //       display: block;
  //       height: 6px;
  //       margin-top: 6px;
  //       width: 100%;
  //     }
  //   }
  //   .active {
  //     background-color: transparent;
  //     margin: 0;
  //     height: auto;
  //     width: auto;
  //     &:after{
  //       background-color: _brand-colors(_green);
  //     }
  //   }
  // }
// }

// Optional captions
// -----------------------------
// Hidden by default for smaller viewports
// .carousel-caption {
//   position: absolute;
//   right: 15%;
//   bottom: 20px;
//   left: 15%;
//   z-index: 10;
//   padding-top: 20px;
//   padding-bottom: 20px;
//   color: $carousel-caption-color;
//   text-align: center;
//   text-shadow: $carousel-text-shadow;

//   & .btn {
//     text-shadow: none; // No shadow for button elements in carousel-caption
//   }
// }


// Scale up controls for tablets and up
// @media screen and (min-width: $screen-sm-min) {

//   // Scale up the controls a smidge
//   .carousel-control {
//     .glyphicon-chevron-left,
//     .glyphicon-chevron-right,
//     .icon-prev,
//     .icon-next {
//       width: ($carousel-control-font-size * 1.5);
//       height: ($carousel-control-font-size * 1.5);
//       margin-top: math.div($carousel-control-font-size, -2);
//       font-size: ($carousel-control-font-size * 1.5);
//     }
//     .glyphicon-chevron-left,
//     .icon-prev {
//       margin-left: math.div($carousel-control-font-size, -2);
//     }
//     .glyphicon-chevron-right,
//     .icon-next {
//       margin-right: math.div($carousel-control-font-size, -2);
//     }
//   }

//   // Show and left align the captions
//   .carousel-caption {
//     right: 20%;
//     left: 20%;
//     padding-bottom: 30px;
//   }

//   // Move up the indicators
//   .carousel-indicators {
//     bottom: 20px;
//   }
// }


.thumbsBlock{
  align-items: center;
  border: 4px solid white;
  display: inline-flex;
  justify-content: center;
  outline: 1px solid var(--color_grey2);
  overflow: hidden;
  height: 64px;
  width: 64px;
  img{
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
  &_outer{
    display: inline-flex;
    position: relative;
    margin-bottom: 10px;
  }
}