/* =~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~ */
/*                                                                            */
/* CHARTSBLOCK                                                                */
/* path: dsf-common-ui/src/scss/modules/_chartsBlock.scss                     */
/*                                                                            */
/* =~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~ */

@use './../utilities/functions/func_fonts' as *;
@use './../utilities/functions/func_val' as val;
@use './../utilities/variables/var-colors' as *;


.chartsBlock{
  border: 1px solid val.brandPalette(chartBlock_border);
  padding: 10px;
  &_header{
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
    // & + .chartsBlock_headerSubtitles{ 
      // margin-top: 20px;
    // }
    &Item{
      align-items: center;
      display: flex;
      .svg--icon{
        height: 24px;
        width: 24px;
        svg{
          height: 24px;
          width: 24px;
        }
      }
      .svg--iconAction{
        height: var(--svgIcon_height, 16px);
        width: var(--svgIcon_height, 16px);
        svg{
          height: var(--svgIcon_height, 16px);
          width: var(--svgIcon_height, 16px);
        }
      }
    }
    &Subtitles{ 
      color: val.brandColors(_grey);
      font-size: rem(12);
      line-height: rem(14);
    }
    h3{
      margin-bottom: 0;
    }
  }
  &_status{
    border-radius: 12px;
    display: inline-flex;
    height: 12px;
    width: 12px;
  }
  &_body{
    position: relative;
    z-index: 1;
    min-height: 220px;
  //   margin-top: 20px;
  }
}
.highcharts-container {
  #{--chart-blue}:                     val.brandColors(_vibrant-blue);
  #{--chart-green}:                    val.brandColors(_green);
  #{--chart-red}:                      val.brandColors(_red);
  #{--chart-light-blue}:               val.brandColors(_light-blue);
  #{--chart-orange}:                   val.brandColors(_orange);
  #{--chart-rose}:                     val.brandColors(_rose);
  #{--chart-light-yellow2}:            val.brandColors(_light-yellow2);
  #{--chart-dark-green}:               val.brandColors(_dark-green);
  #{--chart-grey}:                     val.brandColors(_grey);
  #{--chart-light-green}:              val.brandColors(_light-green);
  #{--chart-dark-grey}:                val.brandColors(_dark-grey);
  #{--chart-black}:                    val.brandColors(_black);
  #{--chart-dark-red}:                 val.brandColors(_dark-red);
  #{--chart-dark-orange}:              val.brandColors(_dark-orange);
  #{--chart-yellow2}:                  val.brandColors(_yellow2);
  #{--chart-light-blue3}:              val.brandColors(_light-blue3);
  #{--chart-grey2}:                    val.brandColors(_grey2);
  #{--chart-grey4}:                    val.brandColors(_grey4);
  #{--chart-white}:                    val.brandColors(_white);
  #{--chart-transparent}:              val.brandColors(_transparent);
  
  #{--chart-label-color}:              val.brandColors(_dark-grey);

  // #{--highcharts-background-color}:    val.brandColors(_transparent); // old  #303030;
  // #{--highcharts-neutral-color-100}:   val.brandColors(_white); // old  #ffffff;
  // #{--highcharts-neutral-color-80}:    val.brandColors(_grey2); // old  #d6d6d6;
  // #{--highcharts-neutral-color-60}:    val.brandColors(_grey); // old  #adadad;
  // #{--highcharts-neutral-color-40}:    val.brandColors(_grey); // old  #858585;
  // #{--highcharts-neutral-color-20}:    val.brandColors(_grey4); // old  #5c5c5c;
  // #{--highcharts-neutral-color-10}:    val.brandColors(_grey4); // old  #474747;
  // #{--highcharts-neutral-color-5}:     val.brandColors(_dark-grey); // old  #3d3d3d;
  // #{--highcharts-neutral-color-3}:     val.brandColors(_dark-grey); // old  #393939;
  // #{--highcharts-highlight-color-100}: val.brandColors(_light-blue3); // old  #7aa7ff;
  // #{--highcharts-highlight-color-80}:  val.brandColors(_light-blue); // old  #6c90d6;
  // #{--highcharts-highlight-color-60}:  val.brandColors(_light-blue); // old  #5e79ad;
  // #{--highcharts-highlight-color-20}:  val.brandColors(_light-blue); // old  #414a5c;
  // #{--highcharts-highlight-color-10}:  val.brandColors(_grey4); // old  #3a3f47;
  // #{--highcharts-positive-color}:      val.brandColors(_green); // old #06b535;
  // #{--highcharts-negative-color}:      val.brandColors(_red); // old #f21313;
}