/* =~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~ */
/*                                                                            */
/* CHECKBOX                                                                   */
/* path: dsf-common-ui/src/scss/modules/_checkbox.scss                        */
/*                                                                            */
/* =~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~ */

@use 'sass:math';
@use './../utilities/functions/func_fonts' as fonts;
@use './../utilities/functions/func_val' as val;
// @use './../utilities/variables/var-lineHeights' as *;
// @use './../utilities/variables/var-colors' as *;
// @use './../utilities/variables/var-fonts' as *;
// @use './../utilities/variables/var-sizes' as *;
@use './../utilities/variables/var-dataImages' as dataimages;


input[type=checkbox] {
    -webkit-appearance: none;
    appearance: none;
    background-color: val.brandPalette(checkboxItem_bgc);
    border: 1px solid val.brandPalette(checkboxItem_border);
    cursor: pointer;
    position: relative;
    height: fonts.rem(val.brandSizes(checkboxItem_size));
    top: -1px;
    flex-shrink: 0; // в comboTreeItemChlid сжимает при длинном названии
    width: fonts.rem(val.brandSizes(checkboxItem_size));
    &:checked{
        background-color: val.brandPalette(checkboxItemActive_bgc);
        border-color: val.brandPalette(checkboxItemActive_border);
        content: url("#{val.brandDataImage(checkIcon)}");
    }
    &[disabled]{
        cursor: not-allowed;
    }
}

.checkbox-item {
    align-items: center;
    display: inline-flex;
    line-height: fonts.rem(val.lineHeight(checkbox));
    min-height: fonts.rem(val.lineHeight(input) + val.brandSizes(formControl_borderSize) * 2);
    position: relative;
    input[type=checkbox] {
        position: absolute;
        clip: rect(0, 0, 0, 0);
        &:checked + label.checkbox:before {
            background-image: url("#{val.brandDataImage(checkIcon)}");
            background-color: val.brandPalette(checkboxItemActive_bgc);
            border-color: val.brandPalette(checkboxItemActive_border);
        }
        & + label.checkbox:before {
            background-image: none;
            border-color: val.brandPalette(checkboxItem_border);
        }
        &:checked + label.checkbox:hover:before {
            background-image: url("#{val.brandDataImage(checkIcon)}");
            background-color: val.brandPalette(checkboxItemHover_bgc);
            border-color: val.brandPalette(checkboxItemHover_border);
        }
        &[disabled] + label.checkbox:before{
            cursor: not-allowed;
        }
        &[disabled] + label.checkbox{
            color: val.brandPalette(checkboxItemDisabled_color);
            cursor: not-allowed;
        }
    }
    label.checkbox {
        align-items: center;
        cursor: pointer;
        color: val.brandPalette(checkboxItem_color);
        // display: inline-block;
        display: inline-flex;
        font-size: fonts.rem(val.fontSizes(checkbox));
        margin: 0;
        padding-left: fonts.rem(calc(val.brandSizes(checkboxItem_size) / 0.75));
        position: relative;
        text-align: left;
        line-height: fonts.rem(val.lineHeight(input) + val.brandSizes(formControl_borderSize) * 2);
        vertical-align: top;
        &:hover:before {
            border-color: val.brandPalette(checkboxItem_border);
        }
        &:before {
            background-color: val.brandPalette(checkboxItem_bgc);
            background-repeat: no-repeat;
            background-size: 74% auto;
            background-position: center center;
            border: 1px solid val.brandPalette(checkboxItem_border);
            border-radius: 0;
            content: " ";
            display: inline-block;
            height: fonts.rem(val.brandSizes(checkboxItem_size));
            left: 0;
            margin-top: fonts.rem(-(val.brandSizes(checkboxItem_size) * 0.5));
            position: absolute;
            top: 50%;
            width: fonts.rem(val.brandSizes(checkboxItem_size));
        }
        span{
            display: inline-block;
            font-weight: 400;
            line-height: fonts.rem(val.brandSizes(checkboxItem_size));
            vertical-align: middle;
        }
        fieldset[disabled]{
            cursor: not-allowed;
        }
        .tableHelpIcon{
            display: inline-flex;
            margin: 0;
        }
    }
    &__toggleCheck{
        background-color: transparent;
        border: none;
        // height: 20px;
        height: fonts.rem(val.lineHeight(input) + (val.brandSizes(formControl_borderSize) * 2));
        padding: 0;
        width: auto;
        label.checkbox{
            align-items: center;
            background-color: transparent;
            background-image: none;
            border: none;
            border-radius: 0;
            display: inline-flex;
            font-size: 0; // safari fix
            // height: 20px;
            height: fonts.rem(val.lineHeight(input) + (val.brandSizes(formControl_borderSize) * 2));
            outline: none;
            padding: 0;
            position: relative;
            text-indent: 0;
            &:hover, 
            &:focus{
                &:after,
                &:before{
                    background-image: none;
                }
            }
            &:after {
                background-color: val.brandColors(_light-grey);
                background-image: none;
                border-radius: 1px;
                border: none;
                box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
                content: '';
                display: block;
                height: fonts.rem(val.brandSizes(toggleCheckToggle_height));
                left: fonts.rem(math.div((math.div(val.brandSizes(toggleCheck_width), 2) - val.brandSizes(toggleCheckToggle_width)), 2));
                margin: 0;
                padding: 0;
                position: absolute;
                transition: left 0.3s ease;
                top: fonts.rem(math.div((val.lineHeight(input) + (val.brandSizes(formControl_borderSize) * 2) - val.brandSizes(toggleCheckToggle_height)), 2));
                width: fonts.rem(val.brandSizes(toggleCheckToggle_width));
            }
            &:before{
                background-color: val.brandColors(_grey2);
                background-image: none;
                border-radius: 1px;
                bottom: auto;
                border: none;
                content: '';
                display: block;
                padding: 0;
                margin: 0;
                left: 0;
                right: auto;
                // top: 0;
                top: fonts.rem(math.div((val.lineHeight(input) + (val.brandSizes(formControl_borderSize) * 2) - val.brandSizes(toggleCheck_height)), 2));
                position: absolute;
                height: fonts.rem(val.brandSizes(toggleCheck_height));
                width: fonts.rem(val.brandSizes(toggleCheck_width));
            }
            span{
                font-size: fonts.rem(val.fontSizes(formElem));
                padding-left: 45px;
                text-indent: 0;
            }
        }
        input[type="checkbox"]:checked + label.checkbox{
            background-color: transparent;
            background-image: none;
            &:hover, 
            &:focus{
                background-color: transparent;
                background-image: none;
                &:after{
                    background-color: val.brandColors(_light-grey);
                    background-image: none;
                }
                &:before{
                    background-color: val.brandColors(_light-blue);
                    background-image: none;
                }
            }
            &:after{
                background-color: val.brandColors(_light-grey);
                background-image: none;
                left: fonts.rem(math.div(val.brandSizes(toggleCheck_width), 2));
            }
            &:before{
                background-color: val.brandColors(_light-blue);
                background-image: none;
            }
        }
    }
}