/* =~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~ */
/*                                                                            */
/* COLLAPSE                                                                   */
/* path: dsf-common-ui/src/scss/modules/_collapse.scss                        */
/*                                                                            */
/* =~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~ */
@use './../utilities/functions/func_val' as val;
@use './../utilities/variables/var-colors' as *;

.collapse{
  &_header{ 
    &__theme{
      align-items: center;
      background-color: val.brandPalette(collapseHeaderActive_bgc);
      border-color: val.brandPalette(collapseHeaderActive_border);
      border-style: solid;
      border-width: 1px;
      color: val.brandPalette(collapseHeaderActive_color);
      display: flex;
      height: 30px;
      padding: 3px 9px;
      width: 100%;
      .svg--collapseIcon{
        margin-left: auto;
        #{--svg-icon-stroke}: val.brandPalette(collapseHeaderActive_color);
        #{--svg-icon-stroke_blue}: val.brandPalette(collapseHeaderActive_color);
        #{--svg-icon-fill}: val.brandPalette(collapseHeaderActive_color);
        #{--svg-icon-fill_blue}: val.brandPalette(collapseHeaderActive_color);
      }
      &.collapsed{ 
        background-color: val.brandPalette(collapseHeader_bgc);
        border-color: val.brandPalette(collapseHeader_border);
        color: val.brandPalette(collapseHeader_color);
        .svg--collapseIcon{
          #{--svg-icon-stroke}: val.brandPalette(collapseHeader_color);
          #{--svg-icon-stroke_blue}: val.brandPalette(collapseHeader_color);
          #{--svg-icon-fill}: val.brandPalette(collapseHeader_color);
          #{--svg-icon-fill_blue}: val.brandPalette(collapseHeader_color);
        }
      }
    }
  }
}