/* =~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~ */
/*                                                                            */
/* COMMENT BLOCK                                                              */
/* path: dsf-common-ui/src/scss/modules/_commentBlock.scss                    */
/*                                                                            */
/* =~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~ */
.comment-block {
    &--field {
        margin-top: 10px;
        // margin-bottom: 10px;
        padding: 0px 10px 0 0;
        overflow: auto;
        &.maxheight-410 {
            max-height: calc(100vh - 410px);
        }
        &--field-blue {
            background-color: transparentize(_brand-colors(_light-blue), .95);
            padding: 15px 15px 10px;
        }
    }
    &--scroll {
        height: 330px;
        margin-right: -10px; // появлялся скрол, когда ничего нет
        overflow-y: auto;
        overflow-x: hidden;
        scrollbar-width: thin;
        @extend %scrollVar;
    }
    &--event {
        margin-bottom: 18px;
        &:last-child {
            margin-bottom: 0;
        }
        @include clearfix;
    }
    &--info {
        // margin-bottom: 5px;
        .user-event & {
          text-align: left;
        }
        .label-arrow {
            height: 8px;
            fill: _brand-colors(_dark-grey);
            margin: 0 5px;
            width: 9px;
            + .label {
                margin-left: 0;
            }
        }
    }
    &--info-user,
    &--info-date {
        color: _brand-colors(_grey4);
        display: inline-block;
        font-size: 11px;
        font-weight: 400;
        line-height: 13px;
        margin-right: 5px;
    }
    &--info-arrow{
      margin: 0 10px;
      svg{
        height: 11px;
        width: 6px;
        #{--svg-icon-fill}: _brand-colors(_dark-grey);
        #{--svg-icon-stroke}: _brand-colors(_dark-grey);
      }
    }
    &--comment {
        color: _brand-colors(_dark-grey);
        font-size: rem(12);
        line-height: rem(14);
        padding: 10px;
        position: relative;
        min-width: calc(55% - 11px);
        max-width: 100%;
        margin-top: 5px;
        word-wrap: break-word;
        white-space: pre-wrap;
        .user-event & {
            background-color: _brand-colors(_light-blue2);
            border-radius: 0 10px 10px 10px;
            // float: left;
        }
        .current-user-comment & {
            background-color: _brand-colors(_light-blue2);
            border-radius: 0 10px 10px 10px;
            // float: right;
        }

        .svg--icon {
            height: 14px;
            vertical-align: bottom;

            svg {
                height: 14px;
                fill: _brand-colors(_light-blue);
            }
        }
    }
    .input-group {
        background-color: _brand-colors(_transparent);
        border-color: _brand-colors(_grey2);
        border-style: solid;
        border-width: 1px;
        border-radius: rem(0);
        textarea.form-control {
            background-color: transparent;
            border: none;
            border-color: transparent;
            box-shadow: none;
            height: 30px;
            line-height: 16px;
            padding: 8px 0;
            resize: none;
            overflow: hidden;
            &:first-child {
                padding-left: 10px;
            }
            @include placeholder2(_brand-colors(_dark-grey), 400, 12);
            + .input-group-btn .btn {
                display: flex;
                height: 30px;
                line-height: 30px;
                padding: 0;
                margin-right: 10px;
                .svg-icon{
                    align-items: center;
                    display: flex;
                }
                .bicolors-telegram{
                    height: 17px;
                    width: 17px;
                }
                &:focus, &:hover {
                    box-shadow: none;
                    outline: none;
                }
            }
            &:focus, &:hover {
                // border: 1px solid #1E6393;
                border-color: transparentize(_brand-colors(_grey2), .8);
                border-right: none;
                outline: none;
                box-shadow: none;
                + .input-group-btn .btnsend {
                    // border-color: #1E6393;
                    svg {
                        fill: _brand-colors(_light-blue);
                    }
                }
            }
        }
        .input-group-addon {
            background-color: transparent;
            border: none;
            .svg--icon {
                position: relative;
                top: 3px;
                &.loaded {
                    svg {
                        fill: _brand-colors(_green);
                    }
                }
            }
            svg {
                fill: _brand-colors(_dark-grey);
            }
            &:hover {
                svg {
                    fill: _brand-colors(_light-blue);
                }
            }
        }
    }
    .btnsend {
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: center;
        background-image: none;
        background-size: rem(22);
        border: none;
        border-left: none;
        .svg--icon {
            transform: rotate(45deg);
        }
        svg {
            fill: _brand-colors(_grey2);
            height: 23px;
            width: 23px;
        }
    }
}

.commentBlock{
  &__inputGroup {
    align-items: center;
    background-color: _brand-palette(formControl-bgc);
    border: 1px solid _brand-palette(formControl-borderColor);
    border-radius: #{_brand-sizes(borderRadiusFormElem)}px;
    display: flex;
    justify-content: space-between;
    height: rem(calc(_lineHeight(input) + 2)); //  + border-top and border-bottom
    padding-right: 7px;
  }
  &__formControl{
    background-color: transparent;
    border: none;
    box-shadow: none;
    border-radius: 0;
    color: _brand-palette(formControl-color);
    flex-basis: 100%;
    font-size: rem(_fontSizes(formElem));
    line-height: rem(_lineHeight(input));
    height: rem(calc(_lineHeight(input) + 2)); //  + border-top and border-bottom
    padding: 0 7px;
    resize: none;
    // resize: vertical;
    overflow: hidden;
    @include placeholder2(_brand-palette(formControl-placeholder), 400, 12);
    &:hover, &:focus, &:active, &:focus-visible{
      border: none;
      box-shadow: none;
      outline: none;
    }
  }
  &__btnSend{
      background-color: transparent;
      background-image: none;
      border: none;
      box-shadow: none;
      flex-basis: 24px;
      outline: none;
      width: 24px;
      &:hover, &:focus, &:active{
        border: none;
        box-shadow: none;
        outline: none;
      }
  }
}
