/* =~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~ */
/*                                                                            */
/* COMMENT BLOCK                                                              */
/* path: dsf-common-ui/src/scss/modules/_commentBlock.scss                    */
/*                                                                            */
/* =~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~ */
@use 'sass:color';
@use './../utilities/functions/func_fonts' as fonts;
@use './../utilities/functions/func_val' as val;
// @use './../utilities/variables/var-colors' as *;
// @use './../utilities/variables/var-sizes' as *;
// @use './../utilities/variables/var-lineHeights' as *;
// @use './../utilities/variables/var-fonts' as *;
@use './../utilities/variables/var-placeholder' as varplaceholder;

@use './../utilities/mixins_bootstrap-v3/clearfix' as clearfix;
@use './../utilities/mixins/placeholder' as placeholder;

.comment-block {
    &--field {
        margin-top: 15px;
        // margin-bottom: 10px;
        padding: 0px 10px 0 0;
        overflow: auto;
        &.maxheight-410 {
            max-height: calc(100vh - 410px);
        }
        &--field-blue {
            background-color: color.scale(rgba(val.brandColors(_light-blue), 1), $alpha: -95%, $space: rgb);
            padding: 15px 15px 10px;
        }
        &--field-yellow {
            background-color: val.brandColors(_light-yellow2);
            padding: 10px;
        }
    }
    &--scroll {
        height: 330px;
        margin-right: -10px; // появлялся скрол, когда ничего нет
        overflow-y: auto;
        overflow-x: hidden;
        scrollbar-width: thin;
        @extend %scrollVar;
    }
    &--event {
        margin-bottom: 18px;
        &:last-child {
            margin-bottom: 0;
        }
        @include clearfix.clearfix;
    }
    &--info {
        // margin-bottom: 5px;
        .user-event & {
          text-align: left;
        }
        .label-arrow {
            height: 8px;
            fill: val.brandColors(_dark-grey);
            margin: 0 5px;
            width: 9px;
            + .label {
                margin-left: 0;
            }
        }
    }
    &--info-user,
    &--info-date {
        color: val.brandColors(_grey4);
        display: inline-block;
        font-size: 11px;
        font-weight: 400;
        line-height: 13px;
        margin-right: 5px;
    }
    &--info-arrow{
      margin: 0 10px;
      svg{
        height: 11px;
        width: 6px;
        #{--svg-icon-fill}: val.brandColors(_dark-grey);
        #{--svg-icon-stroke}: val.brandColors(_dark-grey);
      }
    }
    &--comment {
        color: val.brandColors(_dark-grey);
        font-size: fonts.rem(12);
        line-height: fonts.rem(14);
        padding: 10px;
        position: relative;
        min-width: calc(55% - 11px);
        max-width: 100%;
        margin-top: 5px;
        word-wrap: break-word;
        white-space: pre-wrap;
        .user-event & {
            background-color: val.brandColors(_light-blue2);
            border-radius: 0 10px 10px 10px;
            // float: left;
        }
        .current-user-comment & {
            background-color: val.brandColors(_light-blue2);
            border-radius: 10px 0 10px 10px;
            // float: right;
        }
        .svg--icon {
            height: 14px;
            vertical-align: bottom;
            svg {
                height: 14px;
                fill: val.brandColors(_light-blue);
            }
        }
    }
    .input-group {
        background-color: val.brandColors(_transparent);
        border-color: val.brandColors(_grey2);
        border-style: solid;
        border-width: 1px;
        border-radius: fonts.rem(0);
        textarea.form-control {
            background-color: transparent;
            border: none;
            border-color: transparent;
            box-shadow: none;
            height: 30px;
            line-height: 16px;
            padding: 8px 0;
            resize: none;
            overflow: hidden;
            &:first-child {
                padding-left: 10px;
            }
            @include placeholder.placeholder2(val.brandColors(_dark-grey), 400, 12);
            + .input-group-btn .btn {
                display: flex;
                height: 30px;
                line-height: 30px;
                padding: 0;
                margin-right: 10px;
                .svg-icon{
                    align-items: center;
                    display: flex;
                }
                .bicolors-telegram{
                    height: 17px;
                    width: 17px;
                }
                &:focus, &:hover {
                    box-shadow: none;
                    outline: none;
                }
            }
            &:focus, &:hover {
                // border: 1px solid #1E6393;
                border-color: color.scale(rgba(val.brandColors(_grey2), 1), $alpha: -80%, $space: rgb);
                border-right: none;
                outline: none;
                box-shadow: none;
                + .input-group-btn .btnsend {
                    // border-color: #1E6393;
                    svg {
                        fill: val.brandColors(_light-blue);
                    }
                }
            }
        }
        .input-group-addon {
            background-color: transparent;
            border: none;
            .svg--icon {
                position: relative;
                top: 3px;
                &.loaded {
                    svg {
                        fill: val.brandColors(_green);
                    }
                }
            }
            svg {
                fill: val.brandColors(_dark-grey);
            }
            &:hover {
                svg {
                    fill: val.brandColors(_light-blue);
                }
            }
        }
    }
    .btnsend {
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: center;
        background-image: none;
        background-size: fonts.rem(22);
        border: none;
        border-left: none;
        .svg--icon {
            transform: rotate(45deg);
        }
        svg {
            fill: val.brandColors(_grey2);
            height: 23px;
            width: 23px;
        }
    }
}

.commentBlock{
  $textareaFormControlPaddingX: 7;
  &_inputGroup {
    align-items: center;
    background-color: val.brandPalette(formControl-bgc);
    border: 1px solid val.brandPalette(formControl-borderColor);
    border-radius: #{val.brandSizes(borderRadiusFormElem)}px;
    display: flex;
    justify-content: space-between;
    // height: fonts.rem(calc(val.lineHeight(input) + 2)); //  + border-top and border-bottom
    position: relative;
    padding-right: 0px;
    &__whatsup{
        border-color: val.brandColors(grey2);
    }
    &__bigHeight{
        align-items: flex-start;
        height: auto;
        padding-top: 6px;
        min-height: fonts.rem(calc(val.lineHeight(input) * 2 + 2));
        // .btn-icon{
            // margin-top: 6px;
        // }
    }
  }
  &_formControl{
    background-color: transparent;
    border: none;
    box-shadow: none;
    border-radius: 0;
    color: val.brandPalette(formControl-color);
    flex-basis: 100%;
    font-size: fonts.rem(val.fontSizes(formElem));
    line-height: fonts.rem(val.lineHeight(input));
    height: fonts.rem(val.lineHeight(input));
    padding: 0 fonts.rem(calc((val.brandSizes(btnIcon_height) * 2) + ($textareaFormControlPaddingX * 2) + 10)) 0 #{$textareaFormControlPaddingX}px;
    resize: none;
    // resize: vertical;
    overflow: hidden;
    @include placeholder.placeholder2(val.brandPalette(formControl-placeholder), 400, 12);
    .commentBlock_inputGroup__whatsup &{
      @include placeholder.placeholder2(val.brandColors(grey), 400, 12);
    }
    .commentBlock_inputGroup__bigHeight &{
        height: auto;
        min-height: fonts.rem(calc(val.lineHeight(input) * 2 + 2));
        line-height: fonts.rem(calc(val.fontSizes(formElem) + 2));
    }
    &__resizeVert{
        resize: vertical;
    }
    &:hover, &:focus, &:active, &:focus-visible{
      border: none;
      box-shadow: none;
      outline: none;
    }
  }
  &_actionBlock{
    display: flex;
    position: absolute;
    top: 3px;
    padding-right: 0;
    right: #{$textareaFormControlPaddingX}px;
    .commentBlock_inputGroup__bigHeight &{
        top: 12px;
    }
  }
  &_btnSend{
      background-color: transparent;
      background-image: none;
      border: none;
      box-shadow: none;
      flex-basis: 20px;
      height: 20px;
      outline: none;
      width: 20px;
      &:hover, &:focus, &:active{
        border: none;
        box-shadow: none;
        outline: none;
      }
      .svg--icon{
        background-color: transparent;
      }
  }
  .user-event {
    align-items: flex-start;
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    // text-align: left;
  }
  .current-user-comment {
    align-items: flex-end;
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    // text-align: right;
  }
  &_info {
    &User,
    &Date {
      color: val.brandPalette(commentBlockInfo_color);
      display: inline-block;
      font-size: 11px;
      font-weight: 400;
      line-height: 13px;
      margin-right: 5px;
    }
  }
  &_comments {
    color: val.brandPalette(commentBlockComments_color);
    display: inline-flex;
    font-size: fonts.rem(12);
    flex-direction: column;
    line-height: fonts.rem(14);
    padding: 10px;
    position: relative;
    // min-width: calc(55% - 11px);
    max-width: 100%;
    margin-top: 5px;
    word-wrap: break-word;
    // white-space: pre-wrap; // множестывенные пробелы добавляют нежелательные отступы
    .mobile-view &{
        min-width: auto;
    }
    // &__lightGreen{ 
    //   background-color: val.brandColors(_light-green);
    // }
    // &__lightBlue{
    //   background-color: val.brandColors(_light-blue2);
    // }
    &__shadow{
      box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
    }
    &__wide{
        min-width: calc(55% - 11px);
    }
    .user-event & {
        border-radius: 0 10px 10px 10px;
    }
    .current-user-comment & {
        border-radius: 10px 0 10px 10px;
    }
  }
}
