/* =~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~ */
/*                                                                            */
/* UI-DIALOG                                                                  */
/* path: dsf-common-ui/src/scss/modules/_dialog.scss                          */
/*                                                                            */
/* =~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~ */


.ui-dialog {
  background-clip: padding-box;
  background-color: #fff;
  border: none;
  border-radius: 0px;
  box-shadow: -5px 0px 10px rgba(0, 0, 0, 0.06);
  outline: 0;
  z-index: 1500;
}
.ui-widget-header{ 
  align-items: center;
  display: flex;
  line-height: normal;
  justify-content: flex-start;
  padding: rem(_brand-sizes(modalSidebar_padding));
  position: relative;
}
.ui-draggable-handle{
  cursor: move;
}