/* =~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~ */
/*                                                                            */
/* UI-DIALOG                                                                  */
/* path: dsf-common-ui/src/scss/modules/_dialog.scss                          */
/*                                                                            */
/* =~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~ */
@use './../utilities/functions/func_fonts' as *;
@use './../utilities/functions/func_val' as val;
@use './../utilities/variables/var-colors' as *;
@use './../utilities/variables/var-sizes' as *;

.ui-dialog {
  background-clip: padding-box;
  // background-color: #fff;
  background-color: val.brandColors(_white);
  border: none;
  border-radius: 0px;
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.2);
  outline: 0;
  z-index: 1500;
  &-content{
    background-color: val.brandColors(_white);
  }
  .css-whatsapp-wrapper &{
    display: flex;
    flex-direction: column;
    max-height: 364px;
  }
}
.ui-widget-header{ 
  align-items: center;
  background-color: val.brandColors(_white);
  display: flex;
  justify-content: flex-start;
  height: 52px;
  line-height: normal;
  padding: rem(val.brandSizes(modalSidebar_padding));
  position: relative;
}
.ui-draggable-handle{
  cursor: move;
}