/* =~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~ */
/*                                                                            */
/* FORMS ELEMENT                                                              */
/* path: dsf-common-ui/src/scss/modules/_forms.scss                           */
/*                                                                            */
/* =~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~ */

@use 'sass:color';
@use 'sass:math';
@use './../utilities/functions/func_svg-url' as *;
@use './../utilities/functions/func_fonts' as *;

@use './../utilities/variables/var-lineHeights' as *;
@use './../utilities/variables/var-colors' as *;
@use './../utilities/variables/var-fonts' as *;
@use './../utilities/variables/var-sizes' as *;
@use './../utilities/variables/var-cursor' as *;
@use './../utilities/variables/var-bootstrap-v3' as *;
@use './../utilities/mixins/transition' as *;
@use './../utilities/mixins/placeholder' as *;
@use './../utilities/mixins_bootstrap-v3/forms' as *;
@use './../utilities/mixins_bootstrap-v3/grid' as *;

fieldset {
    padding: 0 12px 8px;
    border: 1px solid #C0C0C0;
    border-radius: 3px;
}

legend {
  // border-bottom: 1px solid $legend-border-color;
  border-bottom: 0;
  padding: 0 9px;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 18px;
  margin-left: 11px;
  width: auto;
}

label {
  display: inline-block;
  max-width: 100%; // Force IE8 to wrap long content (see https://github.com/twbs/bootstrap/issues/13141)
  margin-bottom: 5px;
  font-weight: 700;
}

// Position radios and checkboxes better
input[type="radio"],
input[type="checkbox"] {
  &[disabled],
  &.disabled,
  fieldset[disabled] & {
    cursor: brandCursor(formControlDisabled);
  }
}
select.input-sm {
    line-height: rem(calc(lineHeight(btn) + 2));
    height: rem(calc(lineHeight(btn) + 2));
}

// Adjust output element
output {
  display: block;
  padding-top: rem(brandSizes(output_paddingY));
  font-size: rem(fontSizes(output));
  line-height: lineHeight(output);
  color: brandPalette(output_color);
}

.control-label{
  $paddinFromLeft: 3;
    // letter-spacing: .5px;
    display: block;
    color: brandPalette(controlLabel_color);
    font-size: rem(fontSizes(controlLabel));
    font-weight: fontWeight(controlLabel);
    line-height: 14px; // возможность добавлять иконку
    margin-bottom: #{brandSizes(controlLabel_mb)}px;
    &:after {
      .required & {
        color: brandPalette(controlLabelError_color);
        content: '*';
        .css-formFree & {
          display: inline-block;
          position: relative;
          top: 0;
        }
      }
    }
    .css-formFree & {
      font-size: rem(fontSizes(controlLabel__formFree));
      left: 0;
      // left: rem($paddinFromLeft * -1);
      padding-left: rem(calc(brandSizes(formControl_paddingX) - $paddinFromLeft));
      // padding-right: rem(calc(brandSizes(formControl_paddingX) + 5));
      padding-right: calc(#{brandSizes(caretSelect_size)}px  + #{brandSizes(iconLabel)}px + 10px);
      position: absolute;
      line-height: rem(calc(lineHeight(input) + 2));
      margin-bottom: 0;
      // transition: color .2s ease-out;
      overflow: hidden;
      pointer-events: none;
      text-overflow: ellipsis;
      transition: top .2s ease-out, font-size .2s ease-out;
      transform: translateX(0) translateY(0);
      transform-origin: 0% 100%;
      top: rem(fontSizes(controlLabel_active__formFree));
      // z-index: 0; // Если больше 0 - появляется некликабельный участок. Fix: pointer-events: none;
      z-index: 1;
      white-space: nowrap;
      > span{
        pointer-events: all;
      }
    }
    &.active {
      .css-formFree & {
        // background-color: brandPalette(controlLabelActive_bgc);
        background-color:var(--bg_color, brandPalette(controlLabelActive_bgc));
        font-size: rem(fontSizes(controlLabel_active__formFree));
        left: rem($paddinFromLeft * -1);
        line-height: rem(fontSizes(controlLabel_active__formFree));
        padding-left: rem(calc(brandSizes(formControl_paddingX) - $paddinFromLeft));
        // padding-right: rem(brandSizes(formControl_paddingX));
        padding-right: calc(#{brandSizes(iconLabelActive)}px + 5px);
        transform: translateX(rem(calc(brandSizes(formControl_paddingX) - $paddinFromLeft))) translateY(0);
        top: 2px; // корректировка из-за line-height
        z-index: 1;
      }
    }
    &__relative{
      .css-formFree & {
        left: auto;
        position: relative;
        padding-right: rem(brandSizes(controlLabel_mr));
        top: auto;
        transform: none;
      }
    }
}

.form-control {
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  // background-color: brandPalette(formControl-bgc);
  background-color:var(--bg_color, brandPalette(formControl-bgc));
  border-radius: #{brandSizes(borderRadiusFormElem)}px;
  border: 1px solid brandPalette(formControl-borderColor);
  // @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, .075));
  box-shadow: none;
  color: brandPalette(formControl-color);
  display: block;
  height: rem(calc(lineHeight(input) + 2)); //  + border-top and border-bottom
  font-size: rem(fontSizes(formElem));
  font-weight: fontWeight(formElem);
  line-height: rem(lineHeight(input));
  padding: 0 rem(brandSizes(formControl_paddingX));
  width: 100%;
  @include transition(border-color ease-in-out .15s, box-shadow ease-in-out .15s);

  // Customize the `:focus` state to imitate native WebKit styles.
  // Placeholder
  // @include placeholder;
  @include placeholder2(brandPalette(formControl-placeholder), 400, 12);
  // Unstyle the caret on `<select>`s in IE10+.
  &::-ms-expand {
    background-color: transparent;
    border: 0;
  }

  // Disabled and read-only inputs
  //
  // HTML5 says that controls under a fieldset > legend:first-child won't be
  // disabled if the fieldset is disabled. Due to implementation difficulty, we
  // don't honor that edge case; we style them as disabled anyway.
  &[disabled],
  &[readonly],
  fieldset[disabled] & {
    background-color: brandPalette(formControlDisabled-bgc);
    opacity: 1; // iOS fix for unreadable disabled content; see https://github.com/twbs/bootstrap/issues/11655
  }

  &[disabled],
  fieldset[disabled] & {
    cursor: brandCursor(formControlDisabled);
  }
  &:focus{
    border-color: inherit;
    box-shadow: none;
    outline: none;
  }
  &[type=file] {
    border: none;
  }
  &.datepicker{
      background-image: svg-url('<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="2.5" y="4.16968" width="11" height="9" stroke="#333333"/><path d="M2.33331 6.3363H13.6666" stroke="#333333"/><path d="M4.66669 2.66968V5.33634" stroke="#333333"/><path d="M4 7.66968H5.33333" stroke="#333333"/><path d="M4 9.66968H5.33333" stroke="#333333"/><path d="M10.6667 7.66968H12" stroke="#333333"/><path d="M10.6667 9.66968H12" stroke="#333333"/><path d="M4 11.6697H5.33333" stroke="#333333"/><path d="M10.6667 11.6697H12" stroke="#333333"/><path d="M7.33331 7.66968H8.66665" stroke="#333333"/><path d="M7.33331 9.66968H8.66665" stroke="#333333"/><path d="M7.33331 11.6697H8.66665" stroke="#333333"/><path d="M11.3333 2.66968V5.33634" stroke="#333333"/></svg>');
      background-repeat: no-repeat;
      background-size: 16px;
      background-position: calc(100% - 7px) center;
      .has-error &{
          background-image: svg-url('<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="2.5" y="4.16766" width="11" height="9" stroke="#D9534F"/><path d="M2.33331 6.33429H13.6666" stroke="#D9534F"/><path d="M4.66669 2.66766V5.33433" stroke="#D9534F"/><path d="M4 7.66766H5.33333" stroke="#D9534F"/><path d="M4 9.66766H5.33333" stroke="#D9534F"/><path d="M10.6667 7.66766H12" stroke="#D9534F"/><path d="M10.6667 9.66766H12" stroke="#D9534F"/><path d="M4 11.6677H5.33333" stroke="#D9534F"/><path d="M10.6667 11.6677H12" stroke="#D9534F"/><path d="M7.33331 7.66766H8.66665" stroke="#D9534F"/><path d="M7.33331 9.66766H8.66665" stroke="#D9534F"/><path d="M7.33331 11.6677H8.66665" stroke="#D9534F"/><path d="M11.3333 2.66766V5.33433" stroke="#D9534F"/></svg>');
      }
      &[disabled],
      &.disabled{
          background-image: svg-url('<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="2.5" y="4.16565" width="11" height="9" stroke="#777777"/><path d="M2.33331 6.33228H13.6666" stroke="#777777"/><path d="M4.66669 2.66565V5.33232" stroke="#777777"/><path d="M4 7.66565H5.33333" stroke="#777777"/><path d="M4 9.66565H5.33333" stroke="#777777"/><path d="M10.6667 7.66565H12" stroke="#777777"/><path d="M10.6667 9.66565H12" stroke="#777777"/><path d="M4 11.6656H5.33333" stroke="#777777"/><path d="M10.6667 11.6656H12" stroke="#777777"/><path d="M7.33331 7.66565H8.66665" stroke="#777777"/><path d="M7.33331 9.66565H8.66665" stroke="#777777"/><path d="M7.33331 11.6656H8.66665" stroke="#777777"/><path d="M11.3333 2.66565V5.33232" stroke="#777777"/></svg>');
      }
      &::-moz-placeholder {
          .css-formFree &{ 
              color: brandPalette(controlLabel_color);
              font-size: rem(fontSizes(controlLabel__formFree));
          }
      }
      &:-moz-placeholder {
          .css-formFree &{ 
              color: brandPalette(controlLabel_color);
              font-size: rem(fontSizes(controlLabel__formFree));
          }
      }
      &:-ms-input-placeholder {
          .css-formFree &{ 
              color: brandPalette(controlLabel_color);
              font-size: rem(fontSizes(controlLabel__formFree));
          }
      }
      &::-webkit-input-placeholder {
          .css-formFree &{ 
              color: brandPalette(controlLabel_color);
              font-size: rem(fontSizes(controlLabel__formFree));
          }
      }
    }
  .css-formFree & {
    &::-moz-placeholder {
      font-size: 0;
    }
    &:-moz-placeholder {
      font-size: 0;
    }
    &:-ms-input-placeholder {
      font-size: 0;
    }
    &::-webkit-input-placeholder {
      font-size: 0;
    }
  }
  &__placeholder{
    &::-moz-placeholder {
      .css-formFree & {
        color: brandPalette(controlLabel_color);
        font-size: rem(fontSizes(controlLabel__formFree));
      }
    }
    &:-moz-placeholder {
      .css-formFree & {
        color: brandPalette(controlLabel_color);
        font-size: rem(fontSizes(controlLabel__formFree));
      }
    }
    &:-ms-input-placeholder {
      .css-formFree & {
        color: brandPalette(controlLabel_color);
        font-size: rem(fontSizes(controlLabel__formFree));
      }
    }
    &::-webkit-input-placeholder {
      .css-formFree & {
        color: brandPalette(controlLabel_color);
        font-size: rem(fontSizes(controlLabel__formFree));
      }
    }
  }
  // [converter] extracted textarea& to textarea.form-control
}

// Reset height for `textarea`s
textarea.form-control {
  border-radius: rem(brandSizes(borderRadiusFormElem));
  height: auto;
  line-height: rem(calc(fontSizes(formElem) + 2));
  min-height: rem(calc(lineHeight(input) + 2));
  padding: 6px rem(brandSizes(formControl_paddingX)) 2px;
  resize: vertical;
}

// Special styles for iOS temporal inputs
//
// In Mobile Safari, setting `display: block` on temporal inputs causes the
// text within the input to become vertically misaligned. As a workaround, we
// set a pixel line-height that matches the given height of the input, but only
// for Safari. See https://bugs.webkit.org/show_bug.cgi?id=139848
//
// Note that as of 9.3, iOS doesn't support `week`.

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type="date"],
  input[type="time"],
  input[type="datetime-local"],
  input[type="month"] {
    &.form-control {
      line-height: rem(lineHeight(input));
    }

  }
}

// Form groups
//
// Designed to help with the organization and spacing of vertical forms. For
// horizontal forms, use the predefined grid classes.

.form-group {
  // margin-bottom: $form-group-margin-bottom;
  margin-bottom: rem(brandSizes(formGroup_mb));
  .css-formFree &{ 
    margin-bottom: rem(calc(brandSizes(formGroup__formFree_mb) - fontSizes(controlLabel_active__formFree)));
    padding-top: rem(fontSizes(controlLabel_active__formFree));
    position: relative;
  }
  &__10{
    margin-bottom: rem(10);
    .css-formFree &{ 
      margin-bottom: rem(10);
    }
  }
}

// Checkboxes and radios
//
// Indent the labels to position radios/checkboxes as hanging controls.

.radio,
.checkbox {
  position: relative;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;

  // These are used on elements with <label> descendants
  &.disabled,
  fieldset[disabled] & {
    label {
      cursor: brandCursor(formControlDisabled);
    }
  }

  label {
    min-height: 20px; // Ensure the input doesn't jump when there is no text
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: 400;
    cursor: pointer;
  }
}

.radio {
  margin-top: 0;
}

.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  position: absolute;
  margin-top: 4px \9;
  margin-left: -20px;
}

.radio + .radio,
.checkbox + .checkbox {
  margin-top: -5px; // Move up sibling radios or checkboxes for tighter spacing
}

// Radios and checkboxes on same line
.radio-inline,
.checkbox-inline {
  position: relative;
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: 400;
  vertical-align: middle;
  cursor: pointer;

  // These are used directly on <label>s
  &.disabled,
  fieldset[disabled] & {
    cursor: brandCursor(formControlDisabled);
  }
}
.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
  margin-top: 0;
  margin-left: 10px; // space out consecutive inline controls
}

// Static form control text
//
// Apply class to a `p` element to make any string of text align with labels in
// a horizontal form layout.

.form-control-static {
  color: brandPalette(formControl-color);
  // min-height: ($line-height-computed + $font-size-base);
  font-size: rem(fontSizes(formElem));
  font-weight: fontWeight(formElem);
  min-height: auto;
  // Size it appropriately next to real form controls
  padding-top: rem(brandSizes(formControlStatic_paddingY));
  padding-bottom: rem(brandSizes(formControlStatic_paddingY));
  // Remove default margin from `p`
  margin-bottom: 0;
  padding-right: 0;
  padding-left: 0;
  &__height{
    height: rem(calc(lineHeight(input) + 2));
  }
  .css-formFree &{ 
    padding-left: rem(brandSizes(formControl_paddingX));
    padding-right: rem(brandSizes(formControl_paddingX));
  }
}

// Feedback states
.has-success {
  @include form-control-validation(brandPalette(hasSuccess_color), brandPalette(hasSuccess_border), brandPalette(hasSuccess_bgc));
}
.has-warning {
  @include form-control-validation(brandPalette(hasWarning_color), brandPalette(hasWarning_border), brandPalette(hasWarning_bgc));
}
.has-error {
  @include form-control-validation(brandPalette(hasDanger_color), brandPalette(hasDanger_border), brandPalette(hasDanger_bgc));
}

// Reposition feedback icon if input has visible label above
.has-feedback label {
  & ~ .form-control-feedback {
    top: 25px; // Height of the `label` and its margin
  }
  &.sr-only ~ .form-control-feedback {
    top: 0;
  }
}

// Help text
//
// Apply to any element you wish to create light text for placement immediately
// below a form control. Use for general help, formatting, or instructional text.

.help-block {
  display: block; // account for any element using help-block
  font-size: 10px;
  line-height: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  color: brandPalette(controlLabelActive_color);
  &:empty { // style.css
      display: none;
  }
  .css-formFree &,
  .form-group &{
      margin: 0;
      // position: absolute; // большие тексты перекрываются
  }
}

// Inline forms

@mixin form-inline {

  // Kick in the inline
  @media (min-width: gridBreakpoints(sm)) {
    // Inline-block all the things for "inline"
    .form-group {
      display: inline-block;
      margin-bottom: 0;
      vertical-align: middle;
    }

    // In navbar-form, allow folks to *not* use `.form-group`
    .form-control {
      display: inline-block;
      width: auto; // Prevent labels from stacking above inputs in `.form-group`
      vertical-align: middle;
    }

    // Make static controls behave like regular ones
    .form-control-static {
      display: inline-block;
    }

    .input-group {
      display: inline-table;
      vertical-align: middle;

      .input-group-addon,
      .input-group-btn,
      .form-control {
        width: auto;
      }
    }

    // Input groups need that 100% width though
    .input-group > .form-control {
      width: 100%;
    }

    .control-label {
      margin-bottom: 0;
      vertical-align: middle;
    }

    // Remove default margin on radios/checkboxes that were used for stacking, and
    // then undo the floating of radios and checkboxes to match.
    .radio,
    .checkbox {
      display: inline-block;
      margin-top: 0;
      margin-bottom: 0;
      vertical-align: middle;

      label {
        padding-left: 0;
      }
    }
    .radio input[type="radio"],
    .checkbox input[type="checkbox"] {
      position: relative;
      margin-left: 0;
    }

    // Re-override the feedback icon.
    .has-feedback .form-control-feedback {
      top: 0;
    }
  }
}
// [converter] extracted as `@mixin form-inline` for libsass compatibility
.form-inline {
  @include form-inline;
}

// Horizontal forms

.form-horizontal {

  // Consistent vertical alignment of radios and checkboxes
  //
  // Labels also get some reset styles, but that is scoped to a media query below.
  .radio,
  .checkbox,
  .radio-inline,
  .checkbox-inline {
    padding-top: 7px; // Default padding plus a border
    margin-top: 0;
    margin-bottom: 0;
  }
  // Account for padding we're adding to ensure the alignment and of help text
  // and other content below items
  .radio,
  .checkbox {
    min-height: 27px;
  }

  // Make form groups behave like rows
  .form-group {
    @include make-row;
  }

  // Reset spacing and right align labels, but scope to media queries so that
  // labels on narrow viewports stack the same as a default form example.
  @media (min-width: gridBreakpoints(sm)) {
    .control-label {
      padding-top: 7px; // Default padding plus a border
      margin-bottom: 0;
      text-align: right;
    }
  }

  // Validation states
  //
  // Reposition the icon because it's now within a grid column and columns have
  // `position: relative;` on them. Also accounts for the grid gutter padding.
  .has-feedback .form-control-feedback {
    right: math.floor(math.div($grid-gutter-width, 2));
  }
}

.comboTreeInputBox{
  &,
  &.btn-default,
  &.btn {
    background-color: transparent;
    background-image: none;
    border-color: brandPalette(formControl-borderColor);
    // .css-formFree & {
    // }
  }
}

.redactorBlock{
  display: flex;
  flex-direction: column;
  width: 100%;
  &Container{
    border-radius: #{brandSizes(borderRadiusFormElem)}px;
    border: 1px solid brandPalette(formControl-borderColor);
    display: flex;
    min-height: 36px;
    outline: none;
    padding: 0px;
    position: relative;
    resize: none;
    white-space: pre-wrap;
    word-wrap: break-word;
    &:focus-within{
      border-color: inherit;
    }
  }
  &ActionBlock{
    align-items: center;
    display: inline-flex;
    height: 21px; // равен высоте .redactor-toolbar + отсуп
    position: absolute;
    top: 31px;
    right: rem(brandSizes(formControl_paddingX));
    // width: 56px;
    white-space: nowrap;
    input[type="file"]{
      cursor: pointer;
      opacity: 0;
      position: absolute;
      height: 100%;
      top: 0;
      width: 100%;
    }
  }
  &FileListBlock{
    width: 100%;
    padding-left: rem(brandSizes(formControl_paddingX));
  }
  &BoxWrapper{
    padding: 5px 77px 0 0;
    padding-left: rem(brandSizes(formControl_paddingX));
    min-height: 14px;
    width: 100%;
    word-break: break-word;
    .redactor-toolbar {
      box-shadow: none;
      li a{
        color: brandPalette(formControl-color);
        font-size: 16px;
        margin-right: 5px;
        padding: 0 3px;
        &:hover{
          background-color: transparent;
          color: inherit;
        }
      }
    }
    .redactor-editor {
      border: none;
      padding: 10px 0 38px;
      div,  p, figure, blockquote, pre{
        line-height: 20px;
        margin-bottom: 0px;
      }
    }
    .redactor-box {
      margin-bottom: 0;
    }
    .redactor-placeholder::after{
      color: brandPalette(controlLabel_color) !important;
      font-size: rem(fontSizes(controlLabel__formFree));
      left: 0px;
      top: 10px;
    }
  }
}

.hint-block{
  font-size: 11px;
}

.labelTooltipIcon{
    background-color: color.scale(rgba(brandColors(_white), 1), $alpha: -30%, $space: rgb);
    display: inline-block;
    height: #{brandSizes(iconLabelActive)}px;
    top: 50%;
    right: 0px;
    padding-left: 5px;
    margin-top: calc(#{brandSizes(iconLabelActive)}px * -0.5);
    width: 22px;
    svg { 
        height: #{brandSizes(iconLabelActive)}px;
        width: #{brandSizes(iconLabelActive)}px;
    }
    .css-formFree &{
        width: #{brandSizes(iconLabel)}px;
        height: #{brandSizes(iconLabel)}px;
        position: absolute;
        top: 50%;
        margin-top: -8px;
        right: 24px;
        svg { 
            height: #{brandSizes(iconLabel)}px;
            width: #{brandSizes(iconLabel)}px;
        }
    }
    .css-formFree .checkbox-item label.checkbox &{
      position: relative;
      margin-top: -1px;
      right: 0;
      top: auto;
    }
    .control-label.active &{
        .css-formFree &{
            background-color: color.scale(rgba(brandColors(_white), 1), $alpha: -30%, $space: rgb);
            height: #{brandSizes(iconLabelActive)}px;
            top: 50%;
            right: 0px;
            padding-left: 5px;
            margin-top: calc(#{brandSizes(iconLabelActive)}px * -0.5);
            width: 22px;
            svg { 
                height: #{brandSizes(iconLabelActive)}px;
                width: #{brandSizes(iconLabelActive)}px;
            }
        }
    }
}

