/* =~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~ */
/*                                                                            */
/* ICONS                                                                      */
/* path: dsf-common-ui/src/scss/modules/_icons.scss                           */
/*                                                                            */
/* =~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~ */
@use './../utilities/variables/var-sizes' as sizes;

.svg--icon {
    $this: &;
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px; // !default
    width: auto;
    svg{
        display: block;
        height: 16px;
        width: auto;
    }
}
@each $svgMod in sizes.$svgSizes{
  .svg--icon__#{$svgMod}{
    &,
    &.svg--icon{ 
      height: #{$svgMod}px;
      width: #{$svgMod}px;
      --svgIcon_height: #{$svgMod}px;
      --svgIcon_width: #{$svgMod}px;
      svg{
        height: #{$svgMod}px;
        width: #{$svgMod}px;
      }
    }
  }
  .svg--icon__h#{$svgMod}{
    &,
    &.svg--icon{ 
      height: #{$svgMod}px;
      --svgIcon_height: #{$svgMod}px;
      svg{
        height: #{$svgMod}px;
      }
    }
  }
}
