/* =~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~ */
/*                                                                            */
/* ICONS                                                                      */
/* path: dsf-common-ui/src/scss/modules/_icons.scss                           */
/*                                                                            */
/* =~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~ */
.svg--icon {
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px; // !default
    width: auto;
    svg{
        display: block;
        height: 16px;
        width: auto;
    }
    &__21{
      height: 21px;
      svg{
        height: 21px;
      }
    }
}
.svg-icon-viewbox24{
  align-items: center;
  display: inline-flex;
  justify-content: center;
  height: 24px;
  width: 24px;
  svg{
    max-width: 24px;
    max-height: 24px;
  }
}
