/* =~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~ */
/*                                                                            */
/* ICONS                                                                      */
/* path: dsf-common-ui/src/scss/modules/_icons.scss                           */
/*                                                                            */
/* =~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~ */
@use '../utilities/variables/var-sizes' as *;

.svg--icon {
    $this: &;
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px; // !default
    width: auto;
    svg{
        display: block;
        height: 16px;
        width: auto;
    }
}
@each $svgMod in $svgSizes{
  .svg--icon__#{$svgMod}{
    &,
    &.svg--icon{ 
      height: #{$svgMod}px;
      width: #{$svgMod}px;
      svg{
        height: #{$svgMod}px;
        width: #{$svgMod}px;
      }
    }
  }
  .svg--icon__h#{$svgMod}{
    &,
    &.svg--icon{ 
      height: #{$svgMod}px;
      svg{
        height: #{$svgMod}px;
      }
    }
  }
}
.svg-icon-viewbox24{
  align-items: center;
  display: inline-flex;
  justify-content: center;
  height: 24px;
  width: 24px;
  svg{
    max-width: 24px;
    max-height: 24px;
  }
}
