/* =~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~ */
/*                                                                            */
/* ICONS                                                                      */
/* path: dsf-common-ui/src/scss/modules/_icons.scss                           */
/*                                                                            */
/* =~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~ */
@use './../utilities/variables/var-sizes' as sizes;
@use './../utilities/functions/func_val' as val;
@use './../utilities/functions/func_fonts' as fonts;

.svg--icon,
.svg--icon__24vb {
    background-repeat: no-repeat;
    display: inline-block;
    #{--svg-icon-fill}: #{val.brandColors(_dark-grey)};
    #{--svg-icon-fill_blue}: #{val.brandColors(_light-blue)};
    #{--svg-icon-stroke}: #{val.brandColors(_dark-grey)};
    #{--svg-icon-stroke_blue}: #{val.brandColors(_light-blue)};
    svg{
        display: block;
    }
}
.svg--icon {
    &, svg{
        height: 16px;
        width: auto;
    }
}
.svg--icon__24vb{
  &, svg{
    height: var(--svgIcon_height__24vb, var(--svgIcon_height, fonts.rem(16)));
    width: var(--svgIcon_width__24vb, var(--svgIcon_width, fonts.rem(16)));
  }
}
@each $svgMod in sizes.$svgSizes{
  .svg--icon__#{$svgMod}{
    &,
    &.svg--icon{ 
      height: #{$svgMod}px;
      width: #{$svgMod}px;
      --svgIcon_height: #{$svgMod}px;
      --svgIcon_width: #{$svgMod}px;
      svg{
        height: #{$svgMod}px;
        width: #{$svgMod}px;
      }
    }
  }
  .svg--icon__h#{$svgMod}{
    &,
    &.svg--icon{ 
      height: #{$svgMod}px;
      --svgIcon_height: #{$svgMod}px;
      svg{
        height: #{$svgMod}px;
      }
    }
  }
}
