/* =~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~ */
/*                                                                            */
/* LABELS                                                                     */
/* path: dsf-common-ui/src/scss/modules/_labels.scss                          */
/*                                                                            */
/* =~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~ */

@use './../utilities/functions/func_fonts' as fonts;
@use './../utilities/functions/func_val' as val;
@use './../utilities/functions/func_maps' as maps;
@use './../utilities/variables/var-colors' as colors;
@use './../utilities/variables/var-placeholder' as placeholder;

%label{
  align-items: center;
  border-radius: fonts.rem(2);
  background-color: var(--label_bgc, val.brandColors(_transparent));
  color: var(--label_color, val.brandColors(_white));
  display: inline-flex;
  font-size: var(--label-fontSize, fonts.rem(10));
  font-weight: 700;
  justify-content: center;
  line-height: 1;
  min-height: var(--labelMinHeight, fonts.rem(16));
  height: fit-content;
  padding: 0 fonts.rem(5) 0 fonts.rem(4);
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
}

.label {
  @extend %label;
  &:empty {
    display: none;
  }
  // Quick fix for labels in buttons
  .btn & {
    position: relative;
    top: -1px;
  }
  &_text{
    display: inline-flex;
    line-height: var(--label-lineHeight, fonts.rem(10));
    & + .svg--icon{
      margin-left: fonts.rem(4);
    }
    .svg--icon + &{
      margin-left: fonts.rem(4);
    }
    & + &{
      margin-left: fonts.rem(4);
    }
  }
  .svg--icon{
    display: inline-flex;
    height: var(--svgIcon_height, fonts.rem(12));
    width: var(--svgIcon_height, fonts.rem(12));
    svg{
      height: var(--svgIcon_height, fonts.rem(12));
      width: var(--svgIcon_height, fonts.rem(12));
    }
  }
  .svg--icon__24vb{
    display: inline-flex;
    height: var(--svgIcon_height__24vb, fonts.rem(15));
    width: var(--svgIcon_height__24vb, fonts.rem(15));
    svg{
      height: var(--svgIcon_height__24vb, fonts.rem(15));
      width: var(--svgIcon_height__24vb, fonts.rem(15));
    }
  }
  &__big{
    --label-fontSize: #{fonts.rem(12)};
    --label-lineHeight: #{fonts.rem(12)};
    --labelMinHeight: #{fonts.rem(19)};
    --svgIcon_height: #{fonts.rem(12)};
    --svgIcon_height__24vb: #{fonts.rem(18)};
  }
}

.label__after{
  &.control-label{ 
    margin-bottom: 1px;
  }
  &:after{
    @extend %label;
    content: attr(data-label-text);
    margin-left: var(--label_margin-left, fonts.rem(5));
  }
}

.label__before{
  &.control-label{ 
    margin-bottom: 1px;
  }
  &:before{
    @extend %label;
    content: attr(data-label-text);
    margin-right: var(--label_margin-right, fonts.rem(5));
  }
}



.label_chip{
  align-items: center;
  background-color: var(--label_bgc, val.brandColors(_transparent));
  border-radius: var(--label_chip-borderRadius, fonts.rem(10));
  border-color: var(--label_borderColor, val.brandColors(_transparent));
  border-style: solid;
  border-width: 1px;
  color: var(--label_color, val.brandColors(_dark-grey));
  cursor: pointer;
  display: inline-flex;
  font-size: var(--label_chip-fontSize, fonts.rem(10));
  font-weight: 400;
  height: fit-content;
  line-height: 1;
  min-height: var(--label_chip-minHeight, fonts.rem(20));
  padding: 0 var(--label_chip-paddingX, fonts.rem(6));
  text-transform: none;
  text-align: center;
  white-space: nowrap;
  --label-lineHeight: #{fonts.rem(14)};
  .svg--icon{
    display: inline-flex;
    height: var(--svgIcon_height, fonts.rem(9));
    width: var(--svgIcon_height, fonts.rem(9));
    svg{
      height: var(--svgIcon_height, fonts.rem(9));
      width: var(--svgIcon_height, fonts.rem(9));
    }
  }
  .svg--icon__24vb{
    display: inline-flex;
    height: var(--svgIcon_height__24vb, fonts.rem(12));
    width: var(--svgIcon_height__24vb, fonts.rem(12));
    svg{
      height: var(--svgIcon_height__24vb, fonts.rem(12));
      width: var(--svgIcon_height__24vb, fonts.rem(12));
    }
  }
  &__small{
    --label_chip-borderRadius: #{fonts.rem(8)};
    --label_chip-fontSize: #{fonts.rem(10)};
    --label_chip-minHeight: #{fonts.rem(16)};
    --label_chip-paddingX: #{fonts.rem(4)};
    --label-lineHeight: #{fonts.rem(12)};
    --svgIcon_height: #{fonts.rem(9)};
    --svgIcon_height__24vb: #{fonts.rem(12)};
  }
  &__big{
    --label_chip-borderRadius: #{fonts.rem(12)};
    --label_chip-fontSize: #{fonts.rem(12)};
    --label_chip-minHeight: #{fonts.rem(26)};
    --label_chip-paddingX: #{fonts.rem(7)};
    --label-lineHeight: #{fonts.rem(16)};
    --svgIcon_height: #{fonts.rem(12)};
    --svgIcon_height__24vb: #{fonts.rem(16)};
  }
}

.label_circle {
    align-items: center;
    background-color: var(--label_bgc, val.brandColors(_transparent));
    border-color: var(--label_borderColor, val.brandColors(_transparent));
    border-style: solid;
    border-width: 1px;
    border-radius: fonts.rem(24);
    color: var(--label_color, val.brandColors(_dark-grey));
    display: inline-flex;
    justify-content: center;
    padding: 0;
    height: fonts.rem(24);
    line-height: fonts.rem(24);
    width: fonts.rem(24);
}

.label_small{
  @extend %label;
  --label-fontSize: #{fonts.rem(7)};
  --labelMinHeight: auto;
  // height: fonts.rem(9);
  min-width: fonts.rem(11);
  // min-height: auto;
  padding: fonts.rem(1);
  // width: auto;
  .btn-icon &{
    bottom: fonts.rem(-2);
    position: absolute;
    right: fonts.rem(-2);
  }
  .headerMenu_linkIcon & {
    bottom: fonts.rem(3);
    position: absolute;
    right: fonts.rem(2);
  }
}

@each $name, $value in colors.$brand-label {
  .label-#{$name}{
    #{--label_color}: maps.map-deep-get(colors.$brand-label, $name, 'color');
    #{--label_bgc}: maps.map-deep-get(colors.$brand-label, $name, 'bg');
    #{--label_borderColor}: maps.map-deep-get(colors.$brand-label, $name, 'bg');
    #{--svg-valute-fill}: maps.map-deep-get(colors.$brand-label, $name, 'color');
    #{--svg-icon-fill}: maps.map-deep-get(colors.$brand-label, $name, 'svg');
    #{--svg-icon-stroke}: maps.map-deep-get(colors.$brand-label, $name, 'svg');
    #{--svg-icon-fill_blue}: maps.map-deep-get(colors.$brand-label, $name, 'svg_blue');
    #{--svg-icon-stroke_blue}: maps.map-deep-get(colors.$brand-label, $name, 'svg_blue');
    &.label_chip{
      &:hover, &.active, &:active{
        #{--label_color}: maps.map-deep-get(colors.$brand-label, $name, 'color_active');
        #{--label_bgc}: maps.map-deep-get(colors.$brand-label, $name, 'bg_active');
        #{--label_borderColor}: maps.map-deep-get(colors.$brand-label, $name, 'bg');
        #{--svg-valute-fill}: maps.map-deep-get(colors.$brand-label, $name, 'color');
        #{--svg-icon-fill}: maps.map-deep-get(colors.$brand-label, $name, 'svg');
        #{--svg-icon-stroke}: maps.map-deep-get(colors.$brand-label, $name, 'svg');
        #{--svg-icon-fill_blue}: maps.map-deep-get(colors.$brand-label, $name, 'svg_blue');
        #{--svg-icon-stroke_blue}: maps.map-deep-get(colors.$brand-label, $name, 'svg_blue');
      }
    }
  }
  .label-#{$name}__outline{
    #{--label_color}: maps.map-deep-get(colors.$brand-label, $name, 'bg');
    #{--label_borderColor}: maps.map-deep-get(colors.$brand-label, $name, 'bg');
    #{--label_bgc}: val.brandColors(_transparent);
    #{--svg-valute-fill}: maps.map-deep-get(colors.$brand-label, $name, 'bg');
    #{--svg-icon-fill}: maps.map-deep-get(colors.$brand-label, $name, 'svg-outline');
    #{--svg-icon-stroke}: maps.map-deep-get(colors.$brand-label, $name, 'svg-outline');
    #{--svg-icon-fill_blue}: maps.map-deep-get(colors.$brand-label, $name, 'svg-outline_blue');
    #{--svg-icon-stroke_blue}: maps.map-deep-get(colors.$brand-label, $name, 'svg-outline_blue');
    &.label_chip{
      &:hover, &.active, &:active{
        #{--label_color}: maps.map-deep-get(colors.$brand-label, $name, 'bg');
        #{--label_borderColor}: maps.map-deep-get(colors.$brand-label, $name, 'bg');
        #{--label_bgc}: maps.map-deep-get(colors.$brand-label, $name, 'bg-outline_active');
        #{--svg-valute-fill}: maps.map-deep-get(colors.$brand-label, $name, 'bg');
        #{--svg-icon-fill}: maps.map-deep-get(colors.$brand-label, $name, 'svg-outline');
        #{--svg-icon-stroke}: maps.map-deep-get(colors.$brand-label, $name, 'svg-outline');
        #{--svg-icon-fill_blue}: maps.map-deep-get(colors.$brand-label, $name, 'svg-outline_blue');
        #{--svg-icon-stroke_blue}: maps.map-deep-get(colors.$brand-label, $name, 'svg-outline_blue');
      }
    }
  }
}



// Add hover effects, but only for links
a.label {
  &:hover,
  &:focus {
    color: val.brandColors(_white);
    text-decoration: none;
    cursor: pointer;
  }
}
