/* =~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~ */
/*                                                                            */
/* LABELS                                                                     */
/* path: dsf-common-ui/src/scss/modules/_labels.scss                          */
/*                                                                            */
/* =~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~ */
%label{
  align-items: center;
  border-radius: 2px;
  background-color: var(--label_bgc, _brand-colors(_transparent));
  color: var(--label_color, _brand-colors(_white));
  display: inline-flex;
  font-size: rem(10);
  font-weight: 700;
  line-height: 16px;
  min-height: rem(16);
  padding: 0 5px 0.05em 4px;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
}

.label {
  @extend %label;
  &:empty {
    display: none;
  }
  // Quick fix for labels in buttons
  .btn & {
    position: relative;
    top: -1px;
  }
}

.label__after{
  &:after{
    @extend %label;
    content: attr(data-label-text);
    margin-left: var(--label_margin-left, 5px);
  }
}

.label__before{
  &:before{
    @extend %label;
    content: attr(data-label-text);
    margin-right: var(--label_margin-right, 5px);
  }
}

@each $label in 'default', 'primary', 'success', 'danger', 'warning', 'info', 'yellow', 'black', 'dark-grey' {
  .label-#{$label}{
    // background-color: _brand-label(#{$label}_bg);
    // color: _brand-label(#{$label}_color);
    #{--label_color}: _brand-label(#{$label}_color);
    #{--svg-valute-fill}: _brand-label(#{$label}_color);
    #{--label_bgc}: _brand-label(#{$label}_bg);
  }
}

// Add hover effects, but only for links
a.label {
  &:hover,
  &:focus {
    color: $label-link-hover-color;
    text-decoration: none;
    cursor: pointer;
  }
}
