/* =~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~ */
/*                                                                            */
/* LABELS                                                                     */
/* path: dsf-common-ui/src/scss/modules/_labels.scss                          */
/*                                                                            */
/* =~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~ */

@use './../utilities/functions/func_fonts' as *;
@use './../utilities/functions/func_maps' as *;
@use './../utilities/variables/var-colors' as *;
@use './../utilities/variables/var-placeholder' as *;

%label{
  align-items: center;
  border-radius: rem(2);
  background-color: var(--label_bgc, brandColors(_transparent));
  color: var(--label_color, brandColors(_white));
  display: inline-flex;
  font-size: var(--label-fontSize, rem(10));
  font-weight: 700;
  justify-content: center;
  line-height: 1;
  min-height: var(--labelMinHeight, rem(16));
  height: fit-content;
  padding: 0 rem(5) 0 rem(4);
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
}

.label {
  @extend %label;
  &:empty {
    display: none;
  }
  // Quick fix for labels in buttons
  .btn & {
    position: relative;
    top: -1px;
  }
  &_text{
    display: inline-flex;
    line-height: var(--label-lineHeight, rem(10));
    & + .svg--icon{
      margin-left: rem(4);
    }
    .svg--icon + &{
      margin-left: rem(4);
    }
    & + &{
      margin-left: rem(4);
    }
  }
  .svg--icon{
    display: inline-flex;
    height: var(--svgIcon_height, rem(12));
    width: var(--svgIcon_height, rem(12));
    svg{
      height: var(--svgIcon_height, rem(12));
      width: var(--svgIcon_height, rem(12));
    }
  }
  .svg--icon__24vb{
    display: inline-flex;
    height: var(--svgIcon_height__24vb, rem(15));
    width: var(--svgIcon_height__24vb, rem(15));
    svg{
      height: var(--svgIcon_height__24vb, rem(15));
      width: var(--svgIcon_height__24vb, rem(15));
    }
  }
  &__big{
    --label-fontSize: #{rem(12)};
    --lineHeight: #{rem(12)};
    --labelMinHeight: #{rem(19)};
    --svgIcon_height: #{rem(12)};
    --svgIcon_height__24vb: #{rem(18)};
  }
}

.label__after{
  &.control-label{ 
    margin-bottom: 1px;
  }
  &:after{
    @extend %label;
    content: attr(data-label-text);
    margin-left: var(--label_margin-left, rem(5));
  }
}

.label__before{
  &.control-label{ 
    margin-bottom: 1px;
  }
  &:before{
    @extend %label;
    content: attr(data-label-text);
    margin-right: var(--label_margin-right, rem(5));
  }
}



.label_chip{
  align-items: center;
  background-color: var(--label_bgc, brandColors(_transparent));
  border-radius: var(--label_chip-borderRadius, rem(10));
  border-color: var(--label_borderColor, brandColors(_transparent));
  border-style: solid;
  border-width: 1px;
  color: var(--label_color, brandColors(_dark-grey));
  cursor: pointer;
  display: inline-flex;
  font-size: var(--label_chip-fontSize, rem(10));
  font-weight: 400;
  height: fit-content;
  line-height: 1;
  min-height: var(--label_chip-minHeight, rem(20));
  padding: 0 var(--label_chip-paddingX, rem(6));
  text-transform: none;
  text-align: center;
  white-space: nowrap;
  --label-lineHeight: rem(14);
  .svg--icon{
    display: inline-flex;
    height: var(--svgIcon_height, rem(9));
    width: var(--svgIcon_height, rem(9));
    svg{
      height: var(--svgIcon_height, rem(9));
      width: var(--svgIcon_height, rem(9));
    }
  }
  .svg--icon__24vb{
    display: inline-flex;
    height: var(--svgIcon_height__24vb, rem(12));
    width: var(--svgIcon_height__24vb, rem(12));
    svg{
      height: var(--svgIcon_height__24vb, rem(12));
      width: var(--svgIcon_height__24vb, rem(12));
    }
  }
  &__small{
    --label_chip-borderRadius: #{rem(8)};
    --label_chip-fontSize: #{rem(10)};
    --label_chip-minHeight: #{rem(16)};
    --label_chip-paddingX: #{rem(4)};
    --label-lineHeight: #{rem(12)};
    --svgIcon_height: #{rem(9)};
    --svgIcon_height__24vb: #{rem(12)};
  }
  &__big{
    --label_chip-borderRadius: #{rem(12)};
    --label_chip-fontSize: #{rem(12)};
    --label_chip-minHeight: #{rem(26)};
    --label_chip-paddingX: #{rem(7)};
    --label-lineHeight: #{rem(16)};
    --svgIcon_height: #{rem(12)};
    --svgIcon_height__24vb: #{rem(16)};
  }
}

.label_circle {
    align-items: center;
    background-color: var(--label_bgc, brandColors(_transparent));
    border-color: var(--label_borderColor, brandColors(_transparent));
    border-style: solid;
    border-width: 1px;
    border-radius: rem(24);
    color: var(--label_color, brandColors(_dark-grey));
    display: inline-flex;
    justify-content: center;
    padding: 0;
    height: rem(24);
    line-height: rem(24);
    width: rem(24);
}

.label_small{
  @extend %label;
  --label-fontSize: #{rem(7)};
  --labelMinHeight: auto;
  // height: rem(9);
  min-width: rem(11);
  // min-height: auto;
  padding: rem(1);
  // width: auto;
  .btn-icon &{
    bottom: rem(-2);
    position: absolute;
    right: rem(-2);
  }
  .headerMenu_linkIcon & {
    bottom: rem(3);
    position: absolute;
    right: rem(2);
  }
}

@each $name, $value in $brand-label {
  .label-#{$name}{
    #{--label_color}: map-deep-get($brand-label, $name, 'color');
    #{--label_bgc}: map-deep-get($brand-label, $name, 'bg');
    #{--label_borderColor}: map-deep-get($brand-label, $name, 'bg');
    #{--svg-valute-fill}: map-deep-get($brand-label, $name, 'color');
    #{--svg-icon-fill}: map-deep-get($brand-label, $name, 'svg');
    #{--svg-icon-stroke}: map-deep-get($brand-label, $name, 'svg');
    #{--svg-icon-fill_blue}: map-deep-get($brand-label, $name, 'svg_blue');
    #{--svg-icon-stroke_blue}: map-deep-get($brand-label, $name, 'svg_blue');
    &.label_chip{
      &:hover, &.active, &:active{
        #{--label_color}: map-deep-get($brand-label, $name, 'bg');
        #{--label_bgc}: map-deep-get($brand-label, $name, 'bg_active');
        #{--label_borderColor}: map-deep-get($brand-label, $name, 'bg');
        #{--svg-valute-fill}: map-deep-get($brand-label, $name, 'color');
        #{--svg-icon-fill}: map-deep-get($brand-label, $name, 'svg');
        #{--svg-icon-stroke}: map-deep-get($brand-label, $name, 'svg');
        #{--svg-icon-fill_blue}: map-deep-get($brand-label, $name, 'svg_blue');
        #{--svg-icon-stroke_blue}: map-deep-get($brand-label, $name, 'svg_blue');
      }
    }
  }
  .label-#{$name}__outline{
    #{--label_color}: map-deep-get($brand-label, $name, 'bg');
    #{--label_borderColor}: map-deep-get($brand-label, $name, 'bg');
    #{--label_bgc}: brandColors(_transparent);
    #{--svg-valute-fill}: map-deep-get($brand-label, $name, 'bg');
    #{--svg-icon-fill}: map-deep-get($brand-label, $name, 'svg-outline');
    #{--svg-icon-stroke}: map-deep-get($brand-label, $name, 'svg-outline');
    #{--svg-icon-fill_blue}: map-deep-get($brand-label, $name, 'svg-outline_blue');
    #{--svg-icon-stroke_blue}: map-deep-get($brand-label, $name, 'svg-outline_blue');
    &.label_chip{
      &:hover, &.active, &:active{
        #{--label_color}: map-deep-get($brand-label, $name, 'bg');
        #{--label_borderColor}: map-deep-get($brand-label, $name, 'bg');
        #{--label_bgc}: map-deep-get($brand-label, $name, 'bg-outline_active');
        #{--svg-valute-fill}: map-deep-get($brand-label, $name, 'bg');
        #{--svg-icon-fill}: map-deep-get($brand-label, $name, 'svg-outline');
        #{--svg-icon-stroke}: map-deep-get($brand-label, $name, 'svg-outline');
        #{--svg-icon-fill_blue}: map-deep-get($brand-label, $name, 'svg-outline_blue');
        #{--svg-icon-stroke_blue}: map-deep-get($brand-label, $name, 'svg-outline_blue');
      }
    }
  }
}



// Add hover effects, but only for links
a.label {
  &:hover,
  &:focus {
    color: brandColors(_white);
    text-decoration: none;
    cursor: pointer;
  }
}
