/* =~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~ */
/*                                                                            */
/* LABELS                                                                     */
/* path: dsf-common-ui/src/scss/modules/_labels.scss                          */
/*                                                                            */
/* =~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~ */

@use '../utilities/functions/func_fonts' as *;
@use '../utilities/functions/func_maps' as *;
@use '../utilities/variables/var-colors' as *;
@use '../utilities/variables/var-placeholder' as *;

%label{
  align-items: center;
  border-radius: 2px;
  background-color: var(--label_bgc, brandColors(_transparent));
  color: var(--label_color, brandColors(_white));
  display: inline-flex;
  font-size: rem(10);
  font-weight: 700;
  line-height: 16px;
  min-height: rem(16);
  padding: 0 5px 0.05em 4px;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
}

.label {
  @extend %label;
  &:empty {
    display: none;
  }
  // Quick fix for labels in buttons
  .btn & {
    position: relative;
    top: -1px;
  }
  &_text{
    display: inline-flex;
    & + .svg--icon{
      margin-left: 10px;
    }
    .svg--icon + &{
      margin-left: 10px;
    }
  }
  .svg--icon{
    display: inline-flex;
    height: 16px;
    width: 16px;
    svg{
      height: 16px;
      width: 16px;
    }
  }
}

.label__after{
  &:after{
    @extend %label;
    content: attr(data-label-text);
    margin-left: var(--label_margin-left, 5px);
  }
}

.label__before{
  &:before{
    @extend %label;
    content: attr(data-label-text);
    margin-right: var(--label_margin-right, 5px);
  }
}

@each $name, $value in $brand-label {
  .label-#{$name}{
    #{--label_color}: map-deep-get($brand-label, $name, 'color');
    #{--svg-valute-fill}: map-deep-get($brand-label, $name, 'color');
    #{--label_bgc}: map-deep-get($brand-label, $name, 'bg');
    #{--svg-icon-fill}: map-deep-get($brand-label, $name, 'svg');
    #{--svg-icon-stroke}: map-deep-get($brand-label, $name, 'svg');
    #{--svg-icon-fill_blue}: map-deep-get($brand-label, $name, 'svg');
    #{--svg-icon-stroke_blue}: map-deep-get($brand-label, $name, 'svg');
  }
}



// Add hover effects, but only for links
a.label {
  &:hover,
  &:focus {
    color: brandColors(_white);
    text-decoration: none;
    cursor: pointer;
  }
}
