/* =~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~ */
/*                                                                            */
/* PAGINATIONS                                                                */
/* path: dsf-common-ui/src/scss/modules/_paginations.scss                     */
/*                                                                            */
/* =~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~ */
@use './../utilities/functions/func_fonts' as fonts;
@use './../utilities/functions/func_val' as val;
// @use './../utilities/variables/var-colors' as *;
// @use './../utilities/variables/var-sizes' as *;

.pagination {
  border-radius: 0;
  display: inline-flex;
  padding-left: 0;
  list-style-type: none;
  margin: fonts.rem(10) 0;
  >li {
    margin: 0 fonts.rem(calc(val.brandSizes(paginationItem_margin) * 0.5));
    // display: inline; // Remove list-style and block-level defaults
    >a,
    >span {
      align-items: center;
      border: none;
      border-radius: val.brandSizes(paginationItem_borderRadius);
      background-color: val.brandPalette(pagination_bgc);
      color: val.brandPalette(pagination_color);
      cursor: pointer;
      display: inline-flex;
      font-size: fonts.rem(val.fontSizes(pagination));
      justify-content: center;
      height: fonts.rem(val.brandSizes(paginationItem_height));
      line-height: fonts.rem(val.brandSizes(paginationItem_height));
      margin: 0;
      min-width: fonts.rem(val.brandSizes(paginationItem_width));
      padding: 0 fonts.rem(val.brandSizes(paginationItem_paddingX));
      position: relative;
      // float: left; // Collapse white-space
      // margin-left: -1px;
      text-decoration: none;

      &:hover,
      &:focus {
        background-color: val.brandPalette(pagination_bgc);
        color: val.brandPalette(pagination_color);
        outline: none;
        z-index: 2;
      }
    }

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

  }
  .bicolors-arrow_left__24vb,
  .bicolors-arrow_left_double__24vb,
  .bicolors-arrow_right_double__24vb,
  .bicolors-arrow_right__24vb {
    #{--svg-icon-fill}: val.brandPalette(pagination-svg_color);
    #{--svg-icon-fill_blue}: val.brandPalette(pagination-svg_color);
    #{--svg-icon-stroke}: val.brandPalette(pagination-svg_color);
    #{--svg-icon-stroke_blue}: val.brandPalette(pagination-svg_color);
  }
  >.active>a,
  >.active>span {

    &,
    &:hover,
    &:focus {
      background-color: val.brandPalette(pagination-active_bgc);
      border-color: transparent;
      color: val.brandPalette(pagination-active_color);
      cursor: default;
      outline: none;
      z-index: 3;
    }
  }

  >.disabled {
    >span,
    >span:hover,
    >span:focus,
    >a,
    >a:hover,
    >a:focus {
      background-color: val.brandPalette(pagination-disable_bgc);
      color: val.brandPalette(pagination-disable_color);
      cursor: not-allowed;
    }
    .bicolors-arrow_left__24vb,
    .bicolors-arrow_left_double__24vb,
    .bicolors-arrow_right_double__24vb,
    .bicolors-arrow_right__24vb {
      // opacity: 0.2;
      #{--svg-icon-fill}: val.brandPalette(pagination-svg-disable_color);
      #{--svg-icon-fill_blue}: val.brandPalette(pagination-svg-disable_color);
      #{--svg-icon-stroke}: val.brandPalette(pagination-svg-disable_color);
      #{--svg-icon-stroke_blue}: val.brandPalette(pagination-svg-disable_color);
    }
  }
  .bicolors-arrow_left__24vb,
  .bicolors-arrow_left_double__24vb,
  .bicolors-arrow_right_double__24vb,
  .bicolors-arrow_right__24vb {
    width: 16px;
    height: 16px;
  }
}