/* =~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~ */
/*                                                                            */
/* POPOVER                                                                    */
/* path: dsf-common-ui/src/scss/modules/_popover.scss                         */
/*                                                                            */
/* =~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~ */
@use 'sass:color';
@use './../utilities/functions/func_fonts' as fonts;
@use './../utilities/functions/func_val' as val;
@use './../utilities/functions/func_bootstrap-v4' as funcbootstrapv4;
@use './../utilities/variables/var-bootstrap-v4' as varbootstrapv4;
// @use './../utilities/variables/var-colors' as *;
// @use './../utilities/variables/var-sizes' as *;
// @use './../utilities/variables/var-lineHeights' as *;
// @use './../utilities/variables/var-zindex' as *;
// @use './../utilities/variables/var-fonts' as *;

.popover {
  background-color: val.brandPalette(popover_bgc);
  background-clip: padding-box;
  border-radius: 0;
  border: 1px solid val.brandPalette(popover_borderColor);
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
  display: block;
  font-size: fonts.rem(val.fontSizes(popover));
  letter-spacing: normal;
  left: 0;
  line-break: auto;
  line-height: fonts.rem(val.lineHeight(popover));
  margin: 0;
  max-width: fonts.rem(val.brandSizes(popover_maxWidth));
  position: absolute;
  font-style: normal;
  font-weight: 400;
  opacity: 0;
  text-align: left;
  // text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  top: 0;
  // word-break: normal;
  word-spacing: normal;
  word-wrap: break-word;
  white-space: normal;
  z-index: val.zIndex(popover);

  // box-shadow: 0 .25rem .5rem val.brandPalette(popover_borderColor);
  &.show {
    opacity: 1;
  }
  .arrow {
    position: absolute;
    display: block;
    width: fonts.rem(val.brandSizes(popoverArrow_width));
    height: fonts.rem(val.brandSizes(popoverArrow_height));
    margin: 0;
    &::before,
    &::after {
      position: absolute;
      display: block;
      content: "";
      border-color: transparent;
      border-style: solid;
    }
  }
  &.popoverActionMenu {
    .arrow {
      display: none;
    }
  }
  &.popover__wide{
    max-width: fonts.rem(val.brandSizes(popoverWide_maxWidth));
  }
  &.popover__nonmax{
    max-width: none;
  }
}

.bs-popover-top {
  margin-bottom: fonts.rem(val.brandSizes(popoverArrow_height));
  &.popoverActionMenu {
    margin-bottom: 0;
  }
  > .arrow {
    bottom: funcbootstrapv4.subtract(calc(-1 * fonts.rem(val.brandSizes(popoverArrow_height))), fonts.rem(val.brandSizes(popover_borderWidth)));

    &::before {
      bottom: 0;
      border-width: fonts.rem(val.brandSizes(popoverArrow_height)) fonts.rem(calc(val.brandSizes(popoverArrow_width) * .5)) 0;
      border-top-color: varbootstrapv4.$popover-arrow-outer-color;
    }

    &::after {
      bottom: fonts.rem(val.brandSizes(popover_borderWidth));
      border-width: fonts.rem(val.brandSizes(popoverArrow_height)) fonts.rem(calc(val.brandSizes(popoverArrow_width) * .5)) 0;
      border-top-color: val.brandPalette(popover_bgc);
    }
  }
}

.bs-popover-right {
  margin-left: fonts.rem(val.brandSizes(popoverArrow_height));
  &.popoverActionMenu {
    margin-left: 0;
  }
  > .arrow {
    left: funcbootstrapv4.subtract(calc(-1 * fonts.rem(val.brandSizes(popoverArrow_height))), fonts.rem(val.brandSizes(popover_borderWidth)));
    width: fonts.rem(val.brandSizes(popoverArrow_height));
    height: fonts.rem(val.brandSizes(popoverArrow_width));
    margin: 0 0; // make sure the arrow does not touch the popover's rounded corners

    &::before {
      left: 0;
      border-width: fonts.rem(calc(val.brandSizes(popoverArrow_width) * .5)) fonts.rem(val.brandSizes(popoverArrow_height)) fonts.rem(calc(val.brandSizes(popoverArrow_width) * .5)) 0;
      border-right-color: varbootstrapv4.$popover-arrow-outer-color;
    }

    &::after {
      left: fonts.rem(val.brandSizes(popover_borderWidth));
      border-width: fonts.rem(calc(val.brandSizes(popoverArrow_width) * .5)) fonts.rem(val.brandSizes(popoverArrow_height)) fonts.rem(calc(val.brandSizes(popoverArrow_width) * .5)) 0;
      border-right-color: val.brandPalette(popover_bgc);
    }
  }
}

.bs-popover-bottom {
  margin-top: fonts.rem(val.brandSizes(popoverArrow_height));
  &.popoverActionMenu {
    margin-top: 0;
  }
  > .arrow {
    top: funcbootstrapv4.subtract(-1 * fonts.rem(val.brandSizes(popoverArrow_height)), fonts.rem(val.brandSizes(popover_borderWidth)));

    &::before {
      top: 0;
      border-width: 0 fonts.rem(calc(val.brandSizes(popoverArrow_width) * .5)) fonts.rem(val.brandSizes(popoverArrow_height)) fonts.rem(calc(val.brandSizes(popoverArrow_width) * .5));
      border-bottom-color: varbootstrapv4.$popover-arrow-outer-color;
    }

    &::after {
      top: fonts.rem(val.brandSizes(popover_borderWidth));
      border-width: 0 fonts.rem(calc(val.brandSizes(popoverArrow_width) * .5)) fonts.rem(val.brandSizes(popoverArrow_height)) fonts.rem(calc(val.brandSizes(popoverArrow_width) * .5));
      border-bottom-color: val.brandPalette(popover_bgc);
    }
  }

  // This will remove the popover-header's border just below the arrow
  .popover-header::before {
    position: absolute;
    top: 0;
    left: 50%;
    display: block;
    width: fonts.rem(val.brandSizes(popoverArrow_width));
    margin-left: fonts.rem(calc(val.brandSizes(popoverArrow_width) * -0.5));
    content: "";
    border-bottom: fonts.rem(val.brandSizes(popover_borderWidth)) solid val.brandPalette(popoverHeader_bgc);
  }
}

.bs-popover-left {
  margin-right: fonts.rem(val.brandSizes(popoverArrow_height));
  &.popoverActionMenu {
    margin-right: 0;
  }
  > .arrow {
    right: funcbootstrapv4.subtract(-1 * fonts.rem(val.brandSizes(popoverArrow_height)), fonts.rem(val.brandSizes(popover_borderWidth)));
    width: fonts.rem(val.brandSizes(popoverArrow_height));
    height: fonts.rem(val.brandSizes(popoverArrow_width));
    margin: 0 0; // make sure the arrow does not touch the popover's rounded corners

    &::before {
      right: 0;
      border-width: fonts.rem(calc(val.brandSizes(popoverArrow_width) * .5)) 0 fonts.rem(calc(val.brandSizes(popoverArrow_width) * .5)) fonts.rem(val.brandSizes(popoverArrow_height));
      border-left-color: varbootstrapv4.$popover-arrow-outer-color;
    }

    &::after {
      right: fonts.rem(val.brandSizes(popover_borderWidth));
      border-width: fonts.rem(calc(val.brandSizes(popoverArrow_width) * .5)) 0 fonts.rem(calc(val.brandSizes(popoverArrow_width) * .5)) fonts.rem(val.brandSizes(popoverArrow_height));
      border-left-color: val.brandPalette(popover_bgc);
    }
  }
}

.bs-popover-auto {
  &[x-placement^="top"] {
    @extend .bs-popover-top;
  }
  &[x-placement^="right"] {
    @extend .bs-popover-right;
  }
  &[x-placement^="bottom"] {
    @extend .bs-popover-bottom;
  }
  &[x-placement^="left"] {
    @extend .bs-popover-left;
  }
}


// Offset the popover to account for the popover arrow
.popover-header {
  background-color: val.brandPalette(popoverHeader_bgc);
  color: val.brandPalette(popoverHeader_color);
  border-bottom: 1px solid val.brandPalette(popoverHeader_borderolor);
  border-radius: 0;
  font-size: fonts.rem(val.fontSizes(popoverHeader));
  padding: fonts.rem(val.brandSizes(popover_paddingY)) fonts.rem(val.brandSizes(popover_paddingX));
  margin: 0;
  &:empty {
    display: none;
  }
}

.popover-body {
  background-color: val.brandPalette(popover_bgc);
  color: val.brandPalette(popover_color);
  padding: fonts.rem(val.brandSizes(popover_paddingY)) fonts.rem(val.brandSizes(popover_paddingX));
  &:empty {
    display: none;
  }
  .popoverActionMenu &{
    // padding: 10px;
    padding: 0px;
  }
}

.popoverActionMenu__ul{
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
  // li + li{
  //   margin-top: 10px;
  // }
}
