/* =~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~ */
/*                                                                            */
/* RADIO                                                                      */
/* path: dsf-common-ui/src/scss/modules/_radio.scss                           */
/*                                                                            */
/* =~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~ */
@use './../utilities/functions/func_fonts' as fonts;
@use './../utilities/functions/func_val' as val;

@use "./../utilities/mixins/_gradients" as gradients;
@use "./../utilities/mixins/_transition" as transition;

// Spec and IE10+
@keyframes progress-bar-stripes {
    from {
        background-position: 40px 0;
    }
    to {
        background-position: 0 0;
    }
}

.progress {
    $this: &;
    background-color: val.brandProgress(progress_bgc);
    background-image: none;
    background-repeat: repeat-x;
    border-radius: var(--progress-border-radius, 0);
    display: flex;
    // margin-bottom: val.progressSizes(progress_mb);
    height: var(--progress_height, fonts.rem(val.progressSizes(progress_height)));
    overflow: hidden;
    width: 100%;
    &-bar {
        background-color: val.brandProgress(progressBar_bgc);
        background-image: none;
        background-repeat: repeat-x;
        border-right: 1px solid val.brandProgress(progress_borderColor);
        color: val.brandProgress(progress_color);
        font-size: fonts.rem(12);
        height: 100%;
        position: relative;
        line-height: var(--progress_height, fonts.rem(val.progressSizes(progress_height)));
        text-align: center;
        width: 0%;
        @include transition.transition(width .6s ease);
        &[style*="widht:100%"]{
            border-right: none;
        }
        &-success {
            background-color: val.brandProgress(progressBarSuccess_bgc);
            background-image: none;
        }
        &-primary {
            background-color: val.brandProgress(progressBarPrimary_bgc);
            background-image: none;
        }
        &-info {
            background-color: val.brandProgress(progressBarInfo_bgc);
            background-image: none;
        }
        &-warning {
            background-color: val.brandProgress(progressBarWarning_bgc);
            background-image: none;
        }
        &-danger {
            background-color: val.brandProgress(progressBarDanger_bgc);
            background-image: none;
        }
        &-default {
            background-color: val.brandProgress(progressBarDefault_bgc);
            background-image: none;
            color: val.brandProgress(progressBarDefault_color);
        }
        &-striped {
            background-size: 40px 40px;
            position: relative;
            margin-bottom: 0;
            @include gradients.gradient-striped;
        }
        span {
            bottom: 0;
            left: 0;
            right: 0;
            position: absolute;
            top: 0;
            text-align: center;
        }
        &-animated,
        &.active,
        #{$this}.active &{
            animation: progress-bar-stripes 2s linear infinite;
        }
    }
    &-stacked{
        border-radius: var(--progress-stacked-border-radius, 0);
        display: flex;
        overflow: hidden;
        height: var(--progress_height, fonts.rem(val.progressSizes(progress_height)));
        width: 100%;
    }
}


.progress-striped .progress-bar {
    @include gradients.gradient-striped;
    background-size: 40px 40px;
}


.progress-ring {
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    &-bar{
    --progress-ring_percent: 0;
    --progress-ring_border: 8px;
    --progress-ring_size: 100%;
    --progress-ring_bg: var(--color_white);
    --progress-ring_stroke: var(--color_grey2);
    --progress-ring_fill: var(--color_light-blue);
    
    aspect-ratio: 1/1;
    background: conic-gradient(
        var(--progress-ring_fill) calc(var(--progress-ring_percent) * 1%),
        var(--progress-ring_stroke) 0
    );
    border-radius: 50%;
    height: var(--progress-ring_size);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--progress-ring_size);
    &::before {
        background: var(--progress-ring_bg);
        border-radius: 50%;
        content: "";
        pointer-events: none;
        position: absolute;
        height: calc(var(--progress-ring_size) - var(--progress-ring_border) * 2);
        width: calc(var(--progress-ring_size) - var(--progress-ring_border) * 2);
    }
    }
    
    &-label {
    display: block;
    font-size: 15px;
    position: absolute;
    text-align: center;
    }
}