/* =~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~ */
/*                                                                            */
/* RADIO                                                                      */
/* path: dsf-common-ui/src/scss/modules/_radio.scss                           */
/*                                                                            */
/* =~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~ */

@use './../utilities/functions/func_fonts' as fonts;
@use './../utilities/functions/func_val' as val;
// @use './../utilities/mixins/svg-icon' as *;
// @use './../utilities/variables/var-bootstrap-v3' as varbootstrapv3;
// @use './../utilities/variables/var-sizes' as *;
// @use './../utilities/variables/var-colors' as *;
// @use './../utilities/variables/var-lineHeights' as *;

.radioCheck{
    padding-left: 0px;
    input[type=radio]:checked + label.radio{
        font-weight: 700;
        &:before {
            display: none;
        }
        &:after{
            color: var(--color_green);
            content: attr(data-mainImageText);
        }
        .svg--icon{
            --svg-icon-stroke: var(--color_green);
            --svg-icon-stroke_blue: var(--color_green);
        }
    }
    input[type=radio] {
        clip: rect(0, 0, 0, 0);
        position: absolute;
        margin: 0;
        left: 1px;
        top: 3px;
    }
    label{
        &.radio {
            color: var(--color_white);
            cursor: val.brandCursor(radioItemLabel);
            font-size: fonts.rem(15);
            font-weight: 400;
            height: auto;
            line-height: fonts.rem(18);
            margin-bottom: 0;
            padding: 0;
            position: relative;
            text-transform: val.textTransform(radioCheckLabel);
            &:before {
                display: none;
            }
            &:after{
                background-color: transparent;
                border-radius: fonts.rem(8);
                content: attr(data-plainImageText);
                color: var(--color_white);
                display: inline-block;
                font-size: fonts.rem(15);
                height: auto;
                position: relative;
                line-height: fonts.rem(18);
                margin-top: fonts.rem(-4);
                text-transform: val.textTransform(radioCheckLabel);
            }
            .svg--icon{
                margin-right: fonts.rem(6);
                vertical-align: text-top;
                --svg-icon-stroke: var(--color_white);
                --svg-icon-stroke_blue: var(--color_white);
                height: fonts.rem(16);
                width: fonts.rem(16);
                svg{
                    height: fonts.rem(16);
                    width: fonts.rem(16);
                }
            }
        }
    }
}

.radio-item {
    padding-left: fonts.rem(val.brandSizes(radioItem_size) + val.brandSizes(radioItemBorder_size) + val.brandSizes(radioItem_paddingText));
    position: relative;
    &.checked label.radio,
    label.radio.checked,
    input[type=radio]:checked + label.radio{
        font-weight: normal;
        &:before {
            background-color: val.brandPalette(radioItem-active_bg);
            border-color: val.brandPalette(radioItem-active_border);
        }
        &:after{
            display: block;
        }
    }
    
    input[type=radio] {
        clip: rect(0, 0, 0, 0);
        margin: 0;
        position: absolute;
        &[disabled] + label.radio:before,
        .disabled & + label.radio:before,
        &[disabled] + label.radio:after,
        .disabled & + label.radio:after {
            cursor: val.brandCursor(radioItemDisabled);
            pointer-events: none;
        }

        &[disabled] + label.radio,
        .disabled & + label.radio {
            color: val.brandPalette(radioItemDisabled_color);
            cursor: val.brandCursor(radioItemDisabled);
            pointer-events: none;
        }
    }
    .dublicate & label.radio,
    &.dublicate label.radio{
        color: val.brandPalette(radioItemDisabled_color);
        text-decoration: line-through;
    }
    label{
        &.radio {
            cursor: val.brandCursor(radioItemLabel);
            font-weight: normal;
            // min-height: fonts.rem(val.lineHeight(radioItemLabel));
            line-height: fonts.rem(val.lineHeight(input) + (val.brandSizes(formControl_borderSize) * 2));
            margin-bottom: 0;
            padding-top: 0;
            padding-left: 0;
            position: relative;
            &:before {
                border-radius: 100%;
                background-color: val.brandPalette(radioItem_bg);
                border: fonts.rem(val.brandSizes(radioItemBorder_size)) solid val.brandPalette(radioItem_border);
                content: " ";
                display: block;
                height: fonts.rem(val.brandSizes(radioItem_size));
                left: fonts.rem(-(val.brandSizes(radioItem_size) + val.brandSizes(radioItemBorder_size) + val.brandSizes(radioItem_paddingText)));
                margin-top: fonts.rem(-(val.brandSizes(radioItem_size) * 0.5));
                position: absolute;
                top: 50%;
                width: fonts.rem(val.brandSizes(radioItem_size));
            }
            &:after{
                background-color: val.brandPalette(radioItemDotActive);
                background-repeat: no-repeat;
                background-position: center center;
                background-image: var(--radioItemDotActive_image, none);
                background-size: 74%, auto;
                border-radius: 100%;
                content: " ";
                display: none;
                height: fonts.rem(val.brandSizes(radioItemDot_size));
                left: fonts.rem(-(val.brandSizes(radioItem_paddingText) + val.brandSizes(radioItemBorder_size) + val.brandSizes(radioItemDot_size) + ((val.brandSizes(radioItem_size) - val.brandSizes(radioItemDot_size)) * 0.5)));
                position: absolute;
                top: 50%;
                margin-top: fonts.rem(-(val.brandSizes(radioItemDot_size) * 0.5));
                width: fonts.rem(val.brandSizes(radioItemDot_size));
            }
            span{
                display: inline-block;
                font-weight: 400;
                line-height: fonts.rem(val.brandSizes(radioItem_size));
                vertical-align: middle;
            }
        }
    }
}
