/* =~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~ */
/*                                                                            */
/* RADIO                                                                      */
/* path: dsf-common-ui/src/scss/modules/_radio.scss                           */
/*                                                                            */
/* =~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~ */

@use './../utilities/functions/func_fonts' as fonts;
@use './../utilities/functions/func_val' as val;

.radioCheck{
    padding-left: 0px;
    input[type=radio]:checked + label.radio{
        font-weight: 700;
        &:before {
            display: none;
        }
        &:after{
            color: var(--color_green);
            content: attr(data-mainImageText);
        }
        .svg--icon{
            --svg-icon-stroke: var(--color_green);
            --svg-icon-stroke_blue: var(--color_green);
        }
    }
    input[type=radio] {
        clip: rect(0, 0, 0, 0);
        position: absolute;
        margin: 0;
        left: 1px;
        top: 3px;
    }
    label{
        &.radio {
            color: var(--color_white);
            cursor: val.brandCursor(radioItemLabel);
            font-size: fonts.rem(15);
            font-weight: 400;
            height: auto;
            line-height: fonts.rem(18);
            margin-bottom: 0;
            padding: 0;
            position: relative;
            text-transform: val.textTransform(radioCheckLabel);
            &:before {
                display: none;
            }
            &:after{
                background-color: transparent;
                border-radius: fonts.rem(8);
                content: attr(data-plainImageText);
                color: var(--color_white);
                display: inline-block;
                font-size: fonts.rem(15);
                height: auto;
                position: relative;
                line-height: fonts.rem(18);
                margin-top: fonts.rem(-4);
                text-transform: val.textTransform(radioCheckLabel);
            }
            .svg--icon{
                margin-right: fonts.rem(6);
                vertical-align: text-top;
                --svg-icon-stroke: var(--color_white);
                --svg-icon-stroke_blue: var(--color_white);
                height: fonts.rem(16);
                width: fonts.rem(16);
                svg{
                    height: fonts.rem(16);
                    width: fonts.rem(16);
                }
            }
        }
    }
}

.radio-item {
    // padding-left: fonts.rem(val.radioSizes(radioItem_size) + val.radioSizes(radioItemBorder_size) + val.radioSizes(radioItem_paddingText)); // @warn теперь :before участвует в потоке
    position: relative;
    &.checked label.radio,
    label.radio.checked,
    input[type=radio]:checked + label.radio{
        font-weight: normal;
        &:before {
            // background-color: var(--radioItem-color, #{val.brandRadioItem(radioItem-active_bg)}); // @warn т.к. нет after и теперь не нужна.
            background-color: val.brandRadioItem(radioItemDotActive); //@warn теперь вместо :after
            border-color: var(--radioItem-color, #{val.brandRadioItem(radioItem-active_bg)}); //@warn теперь вместо bg
            border-width: fonts.rem((val.radioSizes(radioItem_size) - (val.radioSizes(radioItemBorder_size) * 2) - val.radioSizes(radioItemDot_size)) * .5); //@warn выолняет роль radioItemDotActive
            outline-color: var(--radioItem-color, #{val.brandRadioItem(radioItem-active_border)}); //@warn теперь вместо border
        }
        // &:after{
            // display: block;  //@warn 
        // }
    }
    
    input[type=radio] {
        clip: rect(0, 0, 0, 0);
        margin: 0;
        position: absolute;
        // &[disabled] + label.radio:after,
        // .disabled & + label.radio:after,
        &[disabled] + label.radio:before,
        .disabled & + label.radio:before {
            cursor: val.brandCursor(radioItemDisabled);
            pointer-events: none;
        }

        &[disabled] + label.radio,
        .disabled & + label.radio {
            color: val.brandRadioItem(radioItemDisabled_color);
            cursor: val.brandCursor(radioItemDisabled);
            pointer-events: none;
        }
    }
    .dublicate & label.radio,
    &.dublicate label.radio{
        color: val.brandRadioItem(radioItemDisabled_color);
        text-decoration: line-through;
    }
    label{
        &.radio {
            align-items: center;
            cursor: val.brandCursor(radioItemLabel);
            display: flex;
            font-weight: normal;
            // min-height: fonts.rem(val.lineHeight(radioItemLabel));
            line-height: fonts.rem(val.formsSizes(formControl_height));
            margin-bottom: 0;
            padding-top: 0;
            padding-left: 0;
            position: relative;
            &:before {
                border-radius: 100%;
                background-color: val.brandRadioItem(radioItem_bg);
                border-color: val.brandRadioItem(radioItem_border);
                border-style: solid;
                border-width: 0; //@warn выолняет роль radioItemDotActive
                content: " ";
                display: block;
                height: fonts.rem(val.radioSizes(radioItem_size) - (val.radioSizes(radioItemBorder_size) * 2)); //@warn т.к outline вне расчетов
                // left: fonts.rem(-(val.radioSizes(radioItem_size) + val.radioSizes(radioItemBorder_size) + val.radioSizes(radioItem_paddingText))); //@warn теперь участвует в потоке, чрезмерно
                margin-right: fonts.rem(val.radioSizes(radioItem_paddingText));
                // margin-top: fonts.rem(-(val.radioSizes(radioItem_size) * 0.5)); //@warn теперь участвует в потоке, чрезмерно
                min-width: fonts.rem(val.radioSizes(radioItem_size) - (val.radioSizes(radioItemBorder_size) * 2)); //@warn т.к у родителя flex
                outline: fonts.rem(val.radioSizes(radioItemBorder_size)) solid val.brandRadioItem(radioItem_border); //@warn вместо border
                position: relative; //@warn теперь участвует в потоке
                // top: 50%; //@warn теперь участвует в потоке, чрезмерно
                width: fonts.rem(val.radioSizes(radioItem_size) - (val.radioSizes(radioItemBorder_size) * 2)); //@warn т.к outline вне расчетов
            }
            // &:after{ // сложность позицонирование с before, когда надо динамически отступ
                // background-color: val.brandRadioItem(radioItemDotActive);
                // background-repeat: no-repeat;
                // background-position: center center;
                // background-image: var(--radioItemDotActive_image, none);
                // background-size: 74%, auto;
                // border-radius: 100%;
                // content: " ";
                // display: none;
                // height: fonts.rem(val.radioSizes(radioItemDot_size));
                // left: fonts.rem(-(val.radioSizes(radioItem_paddingText) + val.radioSizes(radioItemBorder_size) + val.radioSizes(radioItemDot_size) + ((val.radioSizes(radioItem_size) - val.radioSizes(radioItemDot_size)) * 0.5)));
                // position: absolute;
                // top: 50%;
                // margin-top: fonts.rem(-(val.radioSizes(radioItemDot_size) * 0.5));
                // width: fonts.rem(val.radioSizes(radioItemDot_size));
            // }
            span{
                display: inline-block;
                font-weight: 400;
                line-height: fonts.rem(val.radioSizes(radioItem_size));
                vertical-align: middle;
            }
        }
    }
    &__frame{
        border: 2px solid val.brandPalette(border);
        border-radius: val.brandSizes(border-radius-base);
        --radioItem-color: var(--border_color);
        --radioItem-bgc: var(--bg_color);
        input[type=radio]:checked + label.radio{
            background-color: var(--radioItem-bgc);
        }
        label.radio {
            &:before{
                margin-right: fonts.rem(val.radioSizes(radioItemFrame_paddingText));
            }
        }
    }
    .theme-color{
        color: var(--radioItem-color);
    }
}
