/* =~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~ */
/*                                                                            */
/* SELECT (bootstrap-select, comboTree)                                       */
/* path: dsf-common-ui/src/scss/modules/_select.scss                          */
/*                                                                            */
/* =~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~ */
@use './../utilities/functions/func_fonts' as fonts;
@use './../utilities/functions/func_val' as val;
@use './../utilities/variables/var-bootstrap-v3' as varbootstrapv3;
// @use './../utilities/variables/var-colors' as *;
// @use './../utilities/variables/var-sizes' as *;
// @use './../utilities/variables/var-zindex' as *;
// @use './../utilities/variables/var-fonts' as *;
@use './../utilities/variables/var-placeholder' as placeholder;


// $color-red-error: rgb(185, 74, 72) !default;
// $color-green-success: #28a745;
$color-grey-arrow: rgba(204, 204, 204, 0.2) !default;
$width-default: 220px !default; // 3 960px-grid columns
$zindex-select-dropdown: 1060 !default; // must be higher than a modal background (1050)
// $input-color-placeholder: #999 !default;
$input-alt-color-placeholder: rgba(255, 255, 255, 0.5) !default;
$input-padding-y-sm: .25rem !default;
$input-padding-x-sm: .5rem !default;
$input-padding-y-lg: 0.5rem !default;
$input-padding-x-lg: 1rem !default;

@keyframes bs-notify-fadeOut {
  0% {opacity: 0.9;}
  100% {opacity: 0;}
}

@function fade($color, $amnt) {
  @if $amnt > 1 {
    $amnt: $amnt * 0.01; // convert to percentage if int
  }
  @return rgba($color, $amnt);
}

// Rules
select.bs-select-hidden,
.bootstrap-select > select.bs-select-hidden,
select.selectpicker {
  display: none !important;
}

.bootstrap-select {
  width: 220px \0; /*IE9 and below*/
  vertical-align: middle;

  // The selectpicker button
  > .dropdown-toggle {
    position: relative;
    width: 100%;
    // necessary for proper positioning of caret in Bootstrap 4 (pushes caret to the right)
    text-align: right;
    white-space: nowrap;
    // force caret to be vertically centered for Bootstrap 4 multi-line buttons
    display: inline-flex;
    align-items: center;
    justify-content: space-between;

    &:after {
      margin-top: -1px;
    }

    &.bs-placeholder {
      &,
      &:hover,
      &:focus,
      &:active {
        color: varbootstrapv3.$input-color-placeholder;
      }

      &.btn-primary,
      &.btn-secondary,
      &.btn-success,
      &.btn-danger,
      &.btn-dark {
        &,
        &:hover,
        &:focus,
        &:active {
          color: $input-alt-color-placeholder;
        }
      }
    }
    &:focus{
      outline: none !important;
    }
  }

  > select {
    position: absolute !important;
    bottom: 0;
    left: 50%;
    display: block !important;
    width: 0.5px !important;
    height: 100% !important;
    padding: 0 !important;
    opacity: 0 !important;
    border: none;
    z-index: 0 !important;
    min-width: auto;
    &.mobile-device {
      top: 0;
      left: 0;
      display: block !important;
      width: 100% !important;
      z-index: 2 !important;
    }
  }

  // Error display
  .has-error & .dropdown-toggle,
  .error & .dropdown-toggle,
  &.is-invalid .dropdown-toggle,
  .was-validated & select:invalid + .dropdown-toggle {
    border-color: val.brandPalette(hasDanger_borderColor);
  }

  &.is-valid .dropdown-toggle,
  .was-validated & select:valid + .dropdown-toggle {
    border-color: val.brandPalette(hasSuccess_borderColor);
  }

  &.fit-width {
    width: auto !important;
  }

  &:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: $width-default;
  }

  > select.mobile-device:focus + .dropdown-toggle,
  .dropdown-toggle:focus {
    // outline: thin dotted #333333 !important;
    // outline: 5px auto -webkit-focus-ring-color !important;
    // outline-offset: -2px;
    outline: none;
  }

  .form-control {
    background-color: var(--bg_color, transparent);
    &.input-xs{
      height: 22px;
    }
  }
  &.form-control {
    background-color: var(--bg_color, transparent);
    border: none;
    height: auto;
    margin-bottom: 0;
    padding: 0;
    :not(.input-group) > &:not([class*="col-"]) {
      width: 100%;
    }

    &.input-group-btn {
      float: none;
      z-index: auto;
    }
  }
  &.btn-group {
    &.disabled,
    & > .disabled {
        color: #333;
    }
    .dropdown-menu.inner{
        overflow-x: auto;
    }

  }
  .form-inline &,
  .form-inline &.form-control:not([class*="col-"]) {
    width: auto;
  }

  &:not(.input-group-btn),
  &[class*="col-"] {
    float: none;
    // display: inline-block;
    display: inline-flex;
    margin-left: 0;
  }


  .form-inline &,
  .form-horizontal &,
  .form-group & {
    margin-bottom: 0;
  }

  .btn-default,
  .btn {
    background-color: transparent;
    background-image: none;
    border-color: val.brandPalette(formControl-borderColor);
  
    &:active,
    &.active {
      background-color: transparent;
      background-image: none;
    }
  }
  .btn-link{
    border-color: transparent;
  }

  // Set the width of the live search (and any other form control within an inline form)
  // see https://github.com/silviomoreto/bootstrap-select/issues/685
  .form-inline & .form-control {
    width: 100%;
  }

  &.disabled,
  > .disabled {
    cursor: not-allowed;

    &:focus {
      outline: none !important;
    }
  }

  &.bs-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 0 !important;
    padding: 0 !important;

    .dropdown-menu {
      z-index: $zindex-select-dropdown;
    }
  }

  // The selectpicker button
  .dropdown-toggle {
    .filter-option {
      position: static;
      top: 0;
      left: 0;
      float: left;
      height: 100%;
      width: 100%;
      text-align: left;
      overflow: hidden;
      flex: 0 1 auto; // for IE10
      padding-right: fonts.rem(calc(val.brandSizes(formControl_paddingX) + 5));
      @at-root .bs3#{&} {
        // padding-right: inherit;
        padding-right: fonts.rem(calc(val.brandSizes(formControl_paddingX) + 5));
      }

      @at-root .input-group .bs3-has-addon#{&} {
        position: absolute;
        padding-top: inherit;
        padding-bottom: inherit;
        padding-left: inherit;
        float: none;

        .filter-option-inner {
          padding-right: inherit;
        }
      }
    }

    .filter-option-inner-inner {
      overflow: hidden;
    }

    // used to expand the height of the button when inside an input group
    .filter-expand {
      width: 0 !important;
      float: left;
      opacity: 0 !important;
      overflow: hidden;
    }
  }
  .bs-caret{
    position: relative;
    height: #{val.brandSizes(caretSelect_size)}px;
    min-width: #{val.brandSizes(caretSelect_size)}px;
    width: #{val.brandSizes(caretSelect_size)}px;
  }
  .caret {
    @extend %selectCaret;
    @at-root .open#{&},
    .show#{&} { 
      transform: rotate(180deg);
    }
  }

  .input-group &.form-control .dropdown-toggle {
    border-radius: inherit;
  }

  &[class*="col-"] .dropdown-toggle {
    width: 100%;
  }
  .inner{ 
    @extend %scrollVar;
  }
  // The selectpicker dropdown
  .dropdown-menu {
    min-width: 100%;
    z-index: val.zIndex(selectDropdownMenu); // может перекрываться таблицей
    box-sizing: border-box;
    @extend %scrollVar;
    > .inner:focus {
      outline: none !important;
    }

    &.inner {
      position: static;
      float: none;
      border: 0;
      padding: 0;
      margin: 0;
      border-radius: 0;
      box-shadow: none;
    }

    li {
      position: relative;

      &.active small {
        color: $input-alt-color-placeholder !important;
      }

      &.disabled a {
        cursor: not-allowed;
      }

      a {
        cursor: pointer;
        font-size: fonts.rem(val.fontSizes(dropdown));
        user-select: none;

        &.opt {
          position: relative;
          padding-left: 2.25em;
        }

        span.check-mark {
          display: none;
        }
        .text{ 
          line-height: fonts.rem(15);
          padding: 5px 0;
        }
        span.text {
          display: inline-block;
        }
      }

      small {
        padding-left: 0.5em;
      }
    }

    .notify {
      position: absolute;
      bottom: 5px;
      width: 96%;
      margin: 0 2%;
      min-height: 26px;
      padding: 3px 5px;
      background: rgb(245, 245, 245);
      border: 1px solid rgb(227, 227, 227);
      box-shadow: inset 0 1px 1px fade(rgb(0, 0, 0), 5);
      pointer-events: none;
      opacity: 0.9;
      box-sizing: border-box;

      &.fadeOut {
        animation: 300ms linear 750ms forwards bs-notify-fadeOut;
      }
    }
  }

  .no-results {
    padding: 3px;
    background: #f5f5f5;
    margin: 0 5px;
    white-space: nowrap;
  }

  &.fit-width .dropdown-toggle {
    .filter-option {
      position: static;
      display: inline;
      padding: 0 5px 0 0;
    }

    .filter-option-inner,
    .filter-option-inner-inner {
      display: inline;
    }

    // .bs-caret:before {
    //   content: '\00a0';
    // }

    // .caret {
      // position: static;
      // top: auto;
      // margin-top: -1px;
    // }
  }

  &.show-tick .dropdown-menu {
    .selected span.check-mark {
      position: absolute;
      // display: inline-block;
      right: 15px;
      // top: 5px;
      display: flex;
      height: 100%;
      top: auto;
    }

    li a span.text {
      margin-right: 34px;
    }
  }

  // default check mark for use without an icon font
  .bs-ok-default:after {
    content: '';
    display: block;
    width: 0.5em;
    height: 1em;
    border-style: solid;
    border-width: 0 0.26em 0.26em 0;
    transform-style: preserve-3d;
    transform: rotate(45deg);
  }
  &.show-menu-arrow {
    &.open > .dropdown-toggle,
    &.show > .dropdown-toggle {
      z-index: ($zindex-select-dropdown + 1);
    }

    .dropdown-toggle .filter-option {
      &:before {
        content: '';
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-bottom: 7px solid $color-grey-arrow;
        position: absolute;
        bottom: -4px;
        left: 9px;
        display: none;
      }

      &:after {
        content: '';
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-bottom: 6px solid white;
        position: absolute;
        bottom: -4px;
        left: 10px;
        display: none;
      }
    }

    &.dropup .dropdown-toggle .filter-option {
      &:before {
        bottom: auto;
        top: -4px;
        border-top: 7px solid $color-grey-arrow;
        border-bottom: 0;
      }

      &:after {
        bottom: auto;
        top: -4px;
        border-top: 6px solid white;
        border-bottom: 0;
      }
    }

    &.pull-right .dropdown-toggle .filter-option {
      &:before {
        right: 12px;
        left: auto;
      }

      &:after {
        right: 13px;
        left: auto;
      }
    }

    &.open > .dropdown-toggle .filter-option,
    &.show > .dropdown-toggle .filter-option {
      &:before,
      &:after {
        display: block;
      }
    }
  }
  
  .disabled-select & {
    position: relative;
    &::after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      height: 100%;
      bottom: 6px;
      background: #f8f8f8;
      opacity: 0.6;
      z-index: 10;
    }
  }
  
  .bs-placeholder {
    .filter-option-inner-inner {
      .css-formFree & {
        opacity: 0;
      }
    }
  }
  
  .selectPrompt + .bs-placeholder {
    .filter-option-inner-inner {
      .css-formFree & {
        opacity: 1;
      }
    }
  }
  .dropdown-divider {
    border-bottom: 1px solid val.brandPalette(bootstrapSelect_divider_color);
  }
}


.bootstrap-select__whitespace-normal {
  .dropdown__link, 
  .dropdown-menu > li > a, 
  .dropdown-menu > li > span{
    white-space: normal;
  }
}

.bootstrap-select__whitespace-prewrap {
  .dropdown__link, 
  .dropdown-menu > li > a, 
  .dropdown-menu > li > span{
    white-space: pre-wrap;
  }
}
.bs-searchbox,
.bs-actionsbox,
.bs-donebutton {
  padding-top: fonts.rem(val.brandSizes(dropdownLink_paddingX));
  padding-bottom: 4px;
  padding-left: fonts.rem(val.brandSizes(dropdownLink_paddingX));
  padding-right: fonts.rem(val.brandSizes(dropdownLink_paddingX));
}

.bs-actionsbox {
  box-sizing: border-box;
  min-width: 220px;
  width: 100%;

  & .btn-group button {
    width: 50%;
  }
  .btn-group .btn + .btn { // из style.css
      margin-left: 0;
  }
}

.bs-donebutton {
  box-sizing: border-box;
  float: left;
  width: 100%;

  & .btn-group button {
    width: 100%;
  }
}

.bs-searchbox {
  padding-top: fonts.rem(val.brandSizes(dropdownLink_paddingX));
  padding-bottom: fonts.rem(val.brandSizes(dropdownLink_paddingX));
  & + .bs-actionsbox {
    padding-top: 0px;
  }

  & .form-control {
    // margin-bottom: 0;
    // border-radius: 0;
    float: none;
    margin-bottom: 0;
    height: fonts.rem(26); // fix для высоты поиска
    width: 100%;
  }
}


// comboTree
.comboTree{ 
  &Wrapper{
    position: relative;
    text-align: left !important;
  }
  &InputWrapper{
    position: relative;
    .comboTreeExpanded & {
      display: none;
    }
  }
  &DropDownContainer {
    @extend %dropdown-menu;
    min-width: 100%;
    z-index: val.zIndex(selectDropdownMenu);
    ul{
      display: flex;
      flex-direction: column;
      flex-basis: 100%;
      margin: 0;
      padding: 0;
      width: 100%;
      ul{
        padding-left: 19px;
      }
    }
    & > ul {
      max-height: 250px; // нет автоподстраиванния высоты от позиции селекта
      overflow-y: auto;
      padding-left: 0;
      @extend %scrollVar;
      .comboTreeExpanded & {
        max-height: none;
      }
    }
    .comboTreeExpanded & {
      background-color: transparent;
      border: none;
      box-shadow: none;
      display: block;
      max-height: none;
      position: relative;
    }
  }
  &Item{ 
    &Chlid{
      cursor: pointer;
      // font-size: fonts.rem(val.fontSizes(dropdown));
      list-style-type: none;
      position: relative;
      @extend %dropdown__link;
      @extend %dropdown__linkColors;
      @at-root .comboTreeDropDownContainer > #{&}{
        flex-wrap: wrap;
      }
      .comboTreeItemParent &{
        padding-left: #{val.brandSizes(dropdownLink_paddingX) * 2 + val.brandSizes(comboTreeCheckbox_size)}px;
      }
      &:hover,
      &:focus{
        @extend %dropdown__linkHover;
      }
    }
    &Parent{
      @extend %dropdown__link;
      @extend %dropdown__linkColors;
      cursor: pointer;
      display: flex;
      flex-wrap: wrap;
      min-height: auto;
      padding: 0;
      position: relative;
      &Plus{
        #{--svg-icon-fill}: val.brandPalette(bootstrapSelect_caret_color);
        #{--svg-icon-stroke}: val.brandPalette(bootstrapSelect_caret_color);
        #{--svg-icon-fill_blue}: val.brandPalette(bootstrapSelect_caret_color);
        #{--svg-icon-stroke_blue}: val.brandPalette(bootstrapSelect_caret_color);
        height: #{val.brandSizes(comboTreeCheckbox_size)}px;
        // left: #{val.brandSizes(dropdownLink_paddingX)}px;
        left: auto;
        margin-top: #{val.brandSizes(comboTreeCheckbox_size) * 0.5 * -1}px;
        position: absolute;
        order: 3;
        right: calc(#{val.brandSizes(dropdownLink_paddingX)}px + 5px);
        top: fonts.rem(val.brandSizes(dropdownLink_minH) * .5);
        width: #{val.brandSizes(comboTreeCheckbox_size)}px;
        &.collapsed{
          transform: rotate(180deg);
        }
        .svg--icon,
        svg{
          height: #{val.brandSizes(comboTreeCheckbox_size)}px;
          width: #{val.brandSizes(comboTreeCheckbox_size)}px;
          vertical-align: top;
        }
        & + .comboTreeItemTitle{ 
          @extend %dropdown__link;
          line-height: 1.3em;
          padding-right: 0;
          // padding-left: #{val.brandSizes(dropdownLink_paddingX) * 2 + brandSizes(comboTreeCheckbox_size)}px;
          padding-left: #{val.brandSizes(dropdownLink_paddingX)}px;
          // width: auto;
          width: 100%;
          .comboTreeExpanded & {
            white-space: normal;
          }
        }
      }
      .comboTreeItemChlid{
        padding-left: #{val.brandSizes(dropdownLink_paddingX)}px;
      }
      // &GroupTitle{
      //   align-items: center;
      //   display: flex;
      //   padding: 0;
      //   width: 100%;
      //   &:hover,
      //   &:focus{
      //     @extend %dropdown__linkHover;
      //     & + ul{
      //       @extend %dropdown__linkHover;
      //     }
      //   }
      // }
    }
    &Title{
      align-items: center;
      display: inline-flex;
      font-weight: 400;
      line-height: 1.3em;
      min-height: 2.25rem;
      margin-bottom: 0;
      width: 100%;
      .comboTreeExpanded & {
        white-space: normal;
      }
      input[type="checkbox"]{
        // margin: 0 #{val.brandSizes(dropdownLink_paddingX)}px 0 0;
        margin: 0 5px 0 0;
      }
      &Span{
        order: 2;
      }
    }
    &Hover{
      .comboTreeItemParent > &{
        @extend %dropdown__linkHover;
      }
      & + ul{
      .comboTreeItemParent &{
          @extend %dropdown__linkHover;
        }
      }
    }
  }
  &Filter{
    display: block;
    float: none;
    margin: fonts.rem(val.brandSizes(dropdownLink_paddingX));
    width: calc(100% - #{val.brandSizes(dropdownLink_paddingX) * 2}px);
    .comboTreeExpanded & {
      display: none;
    }
  }
  &InputBox {
    align-items: center;
    display: inline-flex;
    text-align: left;
    width: 100%;
    .has-error & {
        border-color: val.brandPalette(hasDanger_borderColor);
    }
  }
  &ArrowBtn {
      -webkit-user-select: none; /* Safari */
      -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* IE10+/Edge */
      user-select: none; /* Standard */
      @extend %selectCaret;
      right: 10px;
      top: 6px;
      &Img{
        display: none;
      }
  }
}