/* =~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~ */
/*                                                                            */
/* SQUARE                                                                     */
/* path: dsf-common-ui/src/scss/modules/_square.scss                          */
/*                                                                            */
/* =~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~ */
@use './../utilities/functions/func_fonts' as fonts;
@use './../utilities/functions/func_val' as val;
@use './../utilities/functions/func_maps' as maps;
@use './../utilities/variables/var-colors' as colors;
// @use './../utilities/variables/var-sizes' as *;

.square {
    align-items: center;
    background-color: val.brandColors(_orange);
    border: 1px solid val.brandColors(_orange);
    // display: block;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: #{val.brandSizes(square_height)}px;
    height: var(--target-maxHeight, auto);
    padding: 7px 0 9px;
    position: relative;
    text-align: center;
    &__h2{
        --target-maxHeight__2: calc(var(--target-maxHeight) * 2);
        height: var(--target-maxHeight__2, auto);
    }
    &:hover { 
    // box-shadow: 0px 6px 36px 0px rgba(0, 0, 0, 0.35);
        box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.25);
    }
    // &__shadowOnHover{
    // }
    &__borderThick {
        border-width: 2px;
    }

    &-title {
        align-items: center;
        display: inline-flex;
        font-size: fonts.rem(13);
        gap: 5px;
        justify-content: center;
        line-height: fonts.rem(16);
        overflow: hidden;
        text-align: center;
        text-overflow: ellipsis;
        .svg--icon__24vb{
            height: 24px;
            width: 24px;
            svg{
                height: 24px;
                width: 24px;
            }
        }
    }

    &-text {
        align-items: center;
        display: inline-flex;
        font-size: fonts.rem(18);
        font-weight: 600;
        gap: fonts.rem(5);
        justify-content: center;
        line-height: fonts.rem(24);
        text-align: center;
        &_ValueSmall{
            font-size: fonts.rem(11);
            font-weight: normal;
            line-height: fonts.rem(14);
        }
        .svg--icon__24vb{
            height: 24px;
            width: 24px;
            svg{
                height: 24px;
                width: 24px;
            }
        }
    }

    &-action{
        bottom: fonts.rem(10);
        position: absolute;
        right: fonts.rem(10);
    }

    @each $name, $value in colors.$brand-hover {
        &#{$name} {
            background-color: var(--custom-square_bgc, maps.map-deep-get(colors.$brand-hover, $name, 'bgColor'));
            border-color: var(--custom-square_border-color, maps.map-deep-get(colors.$brand-hover, $name, 'borderColor'));
            color: var(--custom-square_color, maps.map-deep-get(colors.$brand-hover, $name, 'color'));
            // #{--svg-icon-fill}: maps.map-deep-get(colors.$brand-hover, $name, 'color');
            // #{--svg-icon-stroke}: maps.map-deep-get(colors.$brand-hover, $name, 'color');
            // #{--svg-icon-fill_blue}: maps.map-deep-get(colors.$brand-hover, $name, 'color');
            // #{--svg-icon-stroke_blue}: maps.map-deep-get(colors.$brand-hover, $name, 'color');
            // #{--svg-valute-fill}: maps.map-deep-get(colors.$brand-hover, $name, 'color');
            &.isHover,
            &:hover,
            &.active {
                background-color: var(--custom-square_bgc__hover, maps.map-deep-get(colors.$brand-hover, $name, 'bgColor-hover'));
                border-color: var(--custom-square_border-color__hover, maps.map-deep-get(colors.$brand-hover, $name, 'borderColor-hover'));
                color: var(--custom-square_color__hover, maps.map-deep-get(colors.$brand-hover, $name, 'color-hover'))
                // #{--svg-icon-fill}: maps.map-deep-get(colors.$brand-hover, $name, 'color-hover');
                // #{--svg-icon-stroke}: maps.map-deep-get(colors.$brand-hover, $name, 'color-hover');
                // #{--svg-icon-fill_blue}: maps.map-deep-get(colors.$brand-hover, $name, 'color-hover');
                // #{--svg-icon-stroke_blue}: maps.map-deep-get(colors.$brand-hover, $name, 'color-hover');
                // #{--svg-valute-fill}: maps.map-deep-get(colors.$brand-hover, $name, 'color-hover');
            }
        }
        &#{$name}__onAction {
            &.isHover,
            &.active,
            &.isHover:hover,
            &.active:hover {
                background-color: var(--custom-square_bgc__onAction, maps.map-deep-get(colors.$brand-hover, $name, 'bgColor'));
                border-color: var(--custom-square_border-color__onAction, maps.map-deep-get(colors.$brand-hover, $name, 'borderColor'));
                color: var(--custom-square_color__onAction, maps.map-deep-get(colors.$brand-hover, $name, 'color'));
                // #{--svg-icon-fill}: maps.map-deep-get(colors.$brand-hover, $name, 'color');
                // #{--svg-icon-stroke}: maps.map-deep-get(colors.$brand-hover, $name, 'color');
                // #{--svg-icon-fill_blue}: maps.map-deep-get(colors.$brand-hover, $name, 'color');
                // #{--svg-icon-stroke_blue}: maps.map-deep-get(colors.$brand-hover, $name, 'color');
                // #{--svg-valute-fill}: maps.map-deep-get(colors.$brand-hover, $name, 'color');
            }
        }
    }
}
