/* =~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~ */
/*                                                                            */
/* STAGES                                                                     */
/* path: dsf-common-ui/src/scss/modules/_stages.scss                          */
/*                                                                            */
/* =~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~ */

@use './../utilities/variables/var-sizes' as *;
@use './../utilities/variables/var-colors' as *;

.stages{
  align-items: center;
  border-radius: #{brandSizes(stages_size)}px;
  justify-content: center;
  display: inline-flex;
  height: #{brandSizes(stages_size)}px;
  width: #{brandSizes(stages_size)}px;
  &_listItem {
    margin-bottom: #{brandSizes(stagesLine_size)}px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &_wrapper{ 
    position: relative;
    &:after{ 
      .stages_listItem &{
        content: '';
        border-left: 1px dashed brandPalette(stagesList_borderColor);
        display: block;
        // height: #{brandSizes(stagesLine_size)}px;
        height: 100%;
        top: #{brandSizes(stages_size)}px;
        position: absolute;
        margin-right: -1px;
        right: 50%;
        width: 0;
      }
      .stages_listItem:last-child &{
        display: none;
      }
    }
  }
  .svg--icon{
    height: var(--svgIcon_height, 24px);
    width: var(--svgIcon_height, 24px);
  }
  svg{
    height: 24px;
  }
  &__close{
    background-color: brandPalette(stagesClose_bgc);
    border-color: brandPalette(stagesClose_bgc);
    #{--svg-icon-fill}: brandPalette(stagesClose_svg);
    #{--svg-icon-fill_blue}: brandPalette(stagesClose_svg);
    #{--svg-icon-stroke}: brandPalette(stagesClose_svg);
    #{--svg-icon-stroke_blue}: brandPalette(stagesClose_svg);
  }
  &__open{
    background-color: brandPalette(stagesOpen_bgc);
    border-color: brandPalette(stagesOpen_bgc);
    #{--svg-icon-fill}: brandPalette(stagesOpen_svg);
    #{--svg-icon-fill_blue}: brandPalette(stagesOpen_svg);
    #{--svg-icon-stroke}: brandPalette(stagesOpen_svg);
    #{--svg-icon-stroke_blue}: brandPalette(stagesOpen_svg);
  }
  &__default{
    background-color: brandPalette(stagesDefault_bgc);
    border-color: brandPalette(stagesDefault_bgc);
    #{--svg-icon-fill}: brandPalette(stagesDefault_svg);
    #{--svg-icon-fill_blue}: brandPalette(stagesDefault_svg);
    #{--svg-icon-stroke}: brandPalette(stagesDefault_svg);
    #{--svg-icon-stroke_blue}: brandPalette(stagesDefault_svg);
  }
  &_text{
    align-items: center;
    display: inline-flex;
  }
}