/* =~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~ */
/*                                                                            */
/* STAGES                                                                     */
/* path: dsf-common-ui/src/scss/modules/_stages.scss                          */
/*                                                                            */
/* =~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~ */
@use './../utilities/functions/func_val' as val;
@use './../utilities/variables/var-sizes' as *;
@use './../utilities/variables/var-colors' as *;

.stages{
  align-items: center;
  border-radius: #{val.brandSizes(stages_size)}px;
  justify-content: center;
  display: inline-flex;
  height: #{val.brandSizes(stages_size)}px;
  width: #{val.brandSizes(stages_size)}px;
  &_listItem {
    margin-bottom: #{val.brandSizes(stagesLine_size)}px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &_wrapper{ 
    position: relative;
    &:after{ 
      .stages_listItem &{
        content: '';
        border-left: 1px dashed val.brandPalette(stagesList_borderColor);
        display: block;
        // height: #{val.brandSizes(stagesLine_size)}px;
        height: 100%;
        top: #{val.brandSizes(stages_size)}px;
        position: absolute;
        margin-right: -1px;
        right: 50%;
        width: 0;
      }
      .stages_listItem:last-child &{
        display: none;
      }
    }
  }
  .svg--icon{
    height: var(--svgIcon_height, 24px);
    width: var(--svgIcon_height, 24px);
  }
  svg{
    height: 24px;
  }
  &__close{
    background-color: val.brandPalette(stagesClose_bgc);
    border-color: val.brandPalette(stagesClose_bgc);
    #{--svg-icon-fill}: val.brandPalette(stagesClose_svg);
    #{--svg-icon-fill_blue}: val.brandPalette(stagesClose_svg);
    #{--svg-icon-stroke}: val.brandPalette(stagesClose_svg);
    #{--svg-icon-stroke_blue}: val.brandPalette(stagesClose_svg);
  }
  &__open{
    background-color: val.brandPalette(stagesOpen_bgc);
    border-color: val.brandPalette(stagesOpen_bgc);
    #{--svg-icon-fill}: val.brandPalette(stagesOpen_svg);
    #{--svg-icon-fill_blue}: val.brandPalette(stagesOpen_svg);
    #{--svg-icon-stroke}: val.brandPalette(stagesOpen_svg);
    #{--svg-icon-stroke_blue}: val.brandPalette(stagesOpen_svg);
  }
  &__default{
    background-color: val.brandPalette(stagesDefault_bgc);
    border-color: val.brandPalette(stagesDefault_bgc);
    #{--svg-icon-fill}: val.brandPalette(stagesDefault_svg);
    #{--svg-icon-fill_blue}: val.brandPalette(stagesDefault_svg);
    #{--svg-icon-stroke}: val.brandPalette(stagesDefault_svg);
    #{--svg-icon-stroke_blue}: val.brandPalette(stagesDefault_svg);
  }
  &_text{
    align-items: center;
    display: inline-flex;
  }
}