/* =~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~ */
/*                                                                            */
/* TABS                                                                       */
/* path: dsf-common-ui/src/scss/modules/_tabs.scss                            */
/*                                                                            */
/* =~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~ */
@use './../utilities/functions/func_fonts' as fonts;
@use './../utilities/functions/func_val' as val;
// @use './../utilities/variables/var-colors' as *;
// @use './../utilities/variables/var-lineHeights' as *;
// @use './../utilities/variables/var-fonts' as *;
// @use './../utilities/variables/var-sizes' as *;
@use './buttons' as buttons;

.nav-tabs,
.nav-pills,
.nav-btns {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.nav-tabs-vertical{ 
  @extend .nav-tabs;
  flex-direction: column;
}
.nav-pills,
.nav-btns {
  align-items: center;
}
.nav-btns {
  gap: fonts.rem(5);
}
.nav-tabs>li,
.nav-pills>li,
.nav-btns>li,
.nav-item{
  // padding-right: 5px;
  margin-left: -1px;
  .nav-tabs-vertical &{ 
    padding-right: 0;
    padding-bottom: 5px;
  }
  &:first-child{
    margin-left: 0;
  }
  &:last-child{
    // padding-right: 0;
    .nav-tabs-vertical &{ 
      padding-bottom: 0;
    } 
  }
}

.nav-tabs > li > a,
.nav-link{ 
  align-items: center;
  border-radius: 0;
  background-color: val.brandPalette(navTabs_bgc);
  border-color: val.brandPalette(navTabs_borderColor);
  border-width: 1px;
  border-style: solid;
  color: val.brandPalette(navTabs_color);
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  font-size: fonts.rem(val.fontSizes(navTabs));
  font-weight: 400;
  height: fonts.rem(val.lineHeight(navTabs));
  margin: 0;
  padding: 0px 15px;
  text-decoration: none;
  white-space: nowrap;
  &:hover,
  &:focus,
  &:active {
    background-color: val.brandPalette(navTabs_bgc);
    border-color: val.brandPalette(navTabs_borderColor);
    color: val.brandPalette(navTabs_color);
  }
}

.nav-pills > li > a,
.nav-pills .nav-link {
  border-width: #{val.brandSizes(navPills-borderWidth)}px;
  border-color: val.brandPalette(navPills_border);
  border-style: solid;
  cursor: pointer;
  background-color: val.brandPalette(navPills_bg);
  color: val.brandPalette(navPills_color);
  display: inline-block;
  font-size: fonts.rem(val.fontSizes(navPills));
  font-weight: val.fontWeight(navPills);
  line-height: fonts.rem(val.lineHeight(navPills));
  height: min-content;
  padding: 0 #{val.brandSizes(navPills-paddingX)}px;
  &:hover,
  &:focus,
  &:active {
    background-color: val.brandPalette(navPills_bg);
    border-color: val.brandPalette(navPills_border);
    color: val.brandPalette(navPills_color);
  }
}

.nav-btns > li > a,
.nav-btns .nav-link {
  cursor: pointer;
  @extend .btn-link;
}

.nav-tabs > li.active > a,
.nav-tabs > li > a.active,
.nav-link.active,
.active .nav-link{ 
  background-color: val.brandPalette(navTabs-active_bgc);
  border-top-color: val.brandPalette(navTabs-active_borderColor);
  border-bottom-color: transparent;
  color: val.brandPalette(navTabs-active_color);
  &:hover,
  &:focus,
  &:active { 
    background-color: val.brandPalette(navTabs-active_bgc);
    border-top-color: val.brandPalette(navTabs-active_borderColor);
    border-bottom-color: transparent;
    color: val.brandPalette(navTabs-active_color);
  }
}
 
.nav-pills>li.active>a,
.nav-pills>li>a.active,
.nav-pills .nav-link.active,
.nav-pills .active .nav-link {
  border-color: val.brandPalette(navPills-active_border);
  background-color: val.brandPalette(navPills-active_bg);
  color: val.brandPalette(navPills-active_color);
  &:hover,
  &:focus,
  &:active {
    border-color: val.brandPalette(navPills-active_border);
    background-color: val.brandPalette(navPills-active_bg);
    color: val.brandPalette(navPills-active_color);
  }
}

.nav-btns>li.active>a,
.nav-btns>li>a.active,
.nav-btns .nav-link.active,
.nav-btns .active .nav-link {
  @extend .btn-default__outline;
  @extend .btn__shadow;
  background-color: val.brandColors(_white);
}

.tab-content {
  border-radius: 0;
  border: none;
  margin-bottom: 0px;
  >.tab-pane {
    display: none;
  }
  >.active {
    display: block;
  }
}

.tab-pane{ 
  background-color: val.brandPalette(tabsPane-active_bgc);
  border-radius: 0;
  border: none;
  padding: fonts.rem(10) fonts.rem(10) 0;
  .modal & {
    padding: fonts.rem(10) 0 0;
  }
}