/* =~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~ */
/*                                                                            */
/* TABLES                                                                     */
/* path: dsf-common-ui/src/scss/modules/_tables.scss                          */
/*                                                                            */
/* =~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~ */
@use 'sass:math';
@use './../utilities/functions/func_svg-url' as svgurl;
@use './../utilities/functions/func_fonts' as fonts;
@use './../utilities/functions/func_val' as val;
// @use './../utilities/variables/var-colors' as *;
// @use './../utilities/variables/var-sizes' as *;
// @use './../utilities/variables/var-lineHeights' as *;
// @use './../utilities/variables/var-zindex' as *;
// @use './../utilities/variables/var-fonts' as *;
// @use './../utilities/mixins/table' as table;


.table {
  background-color: transparent;
  border-collapse: separate; // fix border for position:sticky
  max-width: 100%;
  margin-bottom: 0;
  width: 100%;
  
  col[class*="col-"] {
    position: static; // Prevent border hiding in Firefox and IE9-11 (see https://github.com/twbs/bootstrap/issues/11623)
    display: table-column;
    float: none;
  }
}

caption {
  color: val.brandTable(caption_color);
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: left;
}

th,
td {
  background-color: val.brandTable(tbody_bgc);
  color: val.brandTable(tbody-color);
  font-weight: 400;
  font-size: fonts.rem(val.fontSizes(tbody));
  line-height: fonts.rem(val.lineHeight(table));
  height: fonts.rem(val.brandSizes(tableCell_height));
  padding: fonts.rem(val.brandSizes(table_paddingY)) fonts.rem(val.brandSizes(table_paddingX));
  vertical-align: middle;
  &:first-child {
    padding-left: #{val.brandSizes(table_paddingXFirst)}px;
    text-align: left;
    &.text-right{
      text-align: right;
    }
    &.text-center{
      text-align: center;
    }
    .table__firstChildMinWidth &{
      min-width: 160px;
    }
    .table__border &{ 
      border-left-width: var(--width_border-left__modify, var(--width_border-left, 1px));
      border-left-style: var(--style_border_left, var(--style_border, solid));
      border-left-color: var(--border_left_color, var(--border_color, val.brandTable(table_border)));
    }
  }
  &[class*="col-"] {
    position: static; // Prevent border hiding in Firefox and IE9-11 (see https://github.com/twbs/bootstrap/issues/11623)
    display: table-cell;
    float: none;
  }
  .empty {
    text-align: center;
  }
  text-align: left;
  .table__border &{ 
    border-bottom-width: var(--width_border-bottom__modify, var(--width_border-bottom, 1px));
    border-bottom-style: var(--style_border_bottom, var(--style_border, solid));
    border-bottom-color: var(--border_bottom_color, var(--border_color, val.brandTable(table_border)));
    border-right-width: var(--width_border-right__modify, var(--width_border-right, 1px));
    border-right-style: var(--style_border_right, var(--style_border, solid));
    border-right-color: var(--border_right_color, var(--border_color, val.brandTable(table_border)));
  }
  .table__simple &{
    padding: #{math.div(val.brandSizes(base_marginSize), 2)}px;
    height: auto;
  }
  .tr__slave &{
    --tdnesting-bgc: 96%;
    background-color: val.brandTable(tbodySlaveTd_bgc);
    background-color: hsl(0deg 0% var(--tdnesting-bgc));
  }
  .tr__subSlave &{
    background-color: val.brandTable(tbodySubSlaveTd_bgc);
  }
  .desc,
  .asc{
    display: inline-flex;
    position: relative;
    padding-left: #{calc(val.brandSizes(tableSortIcon_size) + 5)}px;
    &:before{
      background-size: contain;
      background-repeat: no-repeat;
      content: '';
      display: block;
      position: absolute;
      left: 0;
      margin-top: #{calc(val.brandSizes(tableSortIcon_size) * .5 * -1)}px;
      top: 50%;
      height: #{val.brandSizes(tableSortIcon_size)}px;
      width: #{val.brandSizes(tableSortIcon_size)}px;
    }
  }
  .desc{
    &:before{
      background-image: svgurl.svg-url('<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8 6L6 4L4 6" stroke="#333" fill="none" stroke-linecap="round" stroke-linejoin="round" /><path d="M6.04 4.5V20.5" stroke="#333" fill="none" /><path d="M11 18H21" stroke="#0094ff" fill="none" /><path d="M11 12H17" stroke="#0094ff" fill="none" /><path d="M11 6H15" stroke="#0094ff" fill="none" /></svg>');
    }
  }
  .asc{
    &:before{
      background-image: svgurl.svg-url('<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.66669 15.4168L5.00002 17.0835L3.33335 15.4168" stroke="#333" fill="none" stroke-linecap="round" stroke-linejoin="round" /><path d="M5.03333 16.6668V3.33346" stroke="#333" fill="none" /><path d="M9.16669 5.00012H12.5" stroke="#0094ff" fill="none" /><path d="M9.16669 10.0001H14.1667" stroke="#0094ff" fill="none" /><path d="M9.16669 15.0001H17.5" stroke="#0094ff" fill="none" /></svg>');
    }
  }
}

thead { 
  th {
    background-color: val.brandTable(thead_bgc);
    color: val.brandTable(thead_color);
    font-size: fonts.rem(val.fontSizes(thead));
    font-weight: 700;
    // height: fonts.rem(val.brandSizes(tableCell_height));
    // position: sticky;
    // vertical-align: middle;
    .table__simple &{
      background-color: val.brandColors(_transparent);
      color: val.brandTable(tbody-color);
      font-size: fonts.rem(val.fontSizes(tbody));
      font-weight: 400;
      height: auto;
    }
    // &:first-child {
    //   // left: 0;
    //   text-align: left;
    //   &.text-center{
    //     text-align: center;
    //   }
    //   &.text-right{
    //     text-align: right;
    //   }
    // }
    
  }
  tr{
    &:first-child{
      th{ 
        .table__border & {
          border-top-width: var(--width_border-top__modify, var(--width_border-top, 1px));
          border-top-style: var(--style_border_top, var(--style_border, solid));
          border-top-color: var(--border_top_color, var(--border_color, val.brandTable(table_border)));
        }
      }
    }
    &:last-child{ 
      th{
        border-bottom-width: var(--width_border-bottom__modify, var(--width_border-bottom, 1px));
        border-bottom-style: var(--style_border_bottom, var(--style_border, solid));
        border-bottom-color: var(--border_top_color, var(--border_color, val.brandTable(thead_border)));
        .table__simple &{
          border-bottom: none;
        }
      }
    }
  }
}


tbody {
  .svg--icon{
      svg{
        fill: val.brandPalette(table-color);
        height: var(--svgIcon_height, 14px);
        width: auto;
      }
  }
}

tfoot { 
  th,
  td{
    background-color: val.brandTable(tfoot_bgc);
    bottom: 0;
    color: val.brandTable(tfoot_color);
    font-size: fonts.rem(val.fontSizes(tfoot));
    font-weight: 700;
    // height: fonts.rem(val.brandSizes(tableCell_height));
    // vertical-align: middle;
    .table__simple &{
      background-color: val.brandColors(_transparent);
      color: val.brandTable(tbody-color);
      font-size: fonts.rem(val.fontSizes(tbody));
      font-weight: 400;
    }
    &:first-child {
      left: 0;
      // text-align: left;
      z-index: 1;
    }
    tr{ 
      &:nth-child(1) {
        td,
        th {
          &:first-child {
            z-index: val.zIndex(tableStickyTheadTrFirstChildThFirstChild);
            &[rowspan="2"] {
              z-index: val.zIndex(tableStickyTheadTrFirstChildThFirstChild);
            }
            &[rowspan="3"] {
              z-index: val.zIndex(tableStickyTheadTrFirstChildThFirstChild);
            }
          }
        }
      }
    }
  }
}

.table-striped, // old name
.table__striped{
  & > tbody >{
    tr:nth-of-type(2n+1) {
      td{ 
        background-color: val.brandTable(tdStrip_bgc);
      }
    }
  }
}

.table__stripedReverse{
  & > tbody >{
    tr:nth-of-type(2n+1) {
      td{ 
        background-color: val.brandTable(tbody_bgc);
      }
    }
    tr:nth-of-type(2n) {
      td{ 
        background-color: val.brandTable(tdStrip_bgc);
      }
    }
  }
}

// @include table-row-variant('clear', val.brandColors(_transparent));
// @include table-row-variant('light-yellow2', val.brandColors(_light-yellow2));
// @include table-row-variant('light-red', val.brandColors(_light-red));
// @include table-row-variant('red', val.brandColors(_red));
// @include table-row-variant('rose', val.brandColors(_rose));

table{
  &[class*='bg-'] { 
    td{ 
      background-color: var(--bg_color);
    }
  }
}

tbody tr {
  &[class*="bg-"] { 
    &,
    &:nth-of-type(2n+1){ 
      td {
        background-color: var(--bg_color);
      }
    }
  }
  &:nth-of-type(2n+1) {
    td[class*="bg-"],
    th[class*="bg-"] {
      background-color: var(--bg_color);
    }
  }
}

.table-hover, // old name
.table__hover {
  tr:hover td{
    background-color: val.brandTable(tdHover_bgc);
  }
}


.table-responsive {
  min-height: .01%; // Workaround for IE9 bug (see https://github.com/twbs/bootstrap/issues/14837)
  overflow-x: auto;
  .mobile-view & {
    width: 100%;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    // Tighten up spacing
    th,
    td {
      white-space: nowrap;
    }
  }
}

.table-sticky-head-left_col, // old name
.wrapper__tableSticky {
  max-height: 50vh;
  margin-bottom: 20px;
  overflow: auto;
  th,
  td {
    &:first-child{ 
      left: 0;
      position: sticky;
      z-index: val.zIndex(tableStickyTbodyTd);
    }
    &.stickyCell{
      left: 0;
      position: sticky;
      z-index: val.zIndex(tableStickyTbodyTd);
    }
    &.notStickyCell{
      left: auto;
      position: relative;
      z-index: 0;
    }
  }
  thead{
    position: sticky;
    top: 0;
    z-index: val.zIndex(tableStickyTheadTrFirstChildThFirstChild);
    th{
      // position: sticky; // edge не отображаются border
      z-index: val.zIndex(tableStickyTheadTh);
      &:first-child {
        left: 0;
      }
      &.tdSticky{
        z-index: 1003;
      }
    }
    tr{ 
      &:nth-child(1) { 
        th {
          top: 0;
          &:first-child {
            z-index: val.zIndex(tableStickyTheadTrFirstChildThFirstChild);
            &[rowspan="2"] {
              z-index: val.zIndex(tableStickyTheadTrFirstChildThFirstChild);
            }
            &[rowspan="3"] {
              z-index: val.zIndex(tableStickyTheadTrFirstChildThFirstChild);
            }
          }
        }
      }
      &:nth-child(2) {
        th {
          top: fonts.rem(val.brandSizes(tableCell_height));
          &:first-child {
            z-index: val.zIndex(tableStickyTheadThFirstChild);
          }
        }
      }
      &:nth-child(3) {
        th {
          top: fonts.rem(calc(val.brandSizes(tableCell_height) * 2));
        }
      }
      &:nth-child(4) {
        th {
          top: fonts.rem(calc(val.brandSizes(tableCell_height) * 3));
        }
      }
      &:nth-child(5) {
        th {
          top: fonts.rem(calc(val.brandSizes(tableCell_height) * 3));
        }
      }
    }
  }
}

.tdSticky{
    min-width: var(--tdWidth, auto);
    max-width: var(--tdWidth, auto);
    left: var(--td-sticky, 0);
    position: sticky;
    z-index: val.zIndex(tableStickyTbodyTd);
    width: var(--tdWidth, auto);
  &:first-child{
      --tdWidth: var(--tdWidth_1);
  }
  &:nth-child(2){
      --tdWidth: var(--tdWidth_2);
      --td-sticky: var(--tdWidth_1);
  }
  &:nth-child(3){
      --tdWidth: var(--tdWidth_3);
      --td-sticky: calc(var(--tdWidth_1) + var(--tdWidth_2));
  }
}

.table__tfootSticky,
.table__tfootSticky__2tr,
.table__tfootSticky__3tr{
  > tfoot{
    bottom: 0;
    position: sticky;
    z-index: val.zIndex(tableStickyTheadTh);
    td,
    th{
      &:first-child {
        z-index: val.zIndex(tableStickyTheadTrFirstChildThFirstChild);
        &[rowspan="2"] {
          z-index: val.zIndex(tableStickyTheadTrFirstChildThFirstChild);
        }
        &[rowspan="3"] {
          z-index: val.zIndex(tableStickyTheadTrFirstChildThFirstChild);
        }
      }
    }
  }
}

.summary{
  font-size: fonts.rem(11);
  text-align: right;
  text-transform: uppercase;
  &:empty{
    display: none;
  }
}

.tableHelpIcon{
  bottom: 50%;
  display: inline-flex;
  height: #{val.brandSizes(tableHelpIcon_size)}px;
  margin-bottom: #{calc(val.brandSizes(tableHelpIcon_size) * .5 * -1)}px;
  width: #{val.brandSizes(tableHelpIcon_size)}px;
  .tableHelpIcon_td &{ 
    position: absolute;
    right: #{val.brandSizes(table_paddingY)}px;
  }
  svg{
    height: #{val.brandSizes(tableHelpIcon_size)}px;
    width: #{val.brandSizes(tableHelpIcon_size)}px;
    #{--svg-icon-fill}: val.brandPalette(tableHelpIcon_bgc);
  }
  .asc &, .desc &{
    // display: inline-flex;
    right: #{calc((val.brandSizes(table_paddingY) + val.brandSizes(tableHelpIcon_size)) * -1)}px;
  }
  &_td {
    padding-right: #{calc(val.brandSizes(tableHelpIcon_size) + val.brandSizes(table_paddingY) * 1.5)}px;
    position: sticky; // улетает иконка в ячейка не шапки
  }
}

.collapseTrIcon{
  $value: 10;
  display: inline-flex;
  height: #{val.brandSizes(collapseTrIcon_size)}px;
  position: relative;
  // top: 2px;
  width: #{val.brandSizes(collapseTrIcon_size)}px;
  svg{
    height: #{val.brandSizes(collapseTrIcon_size)}px;
    width: #{val.brandSizes(collapseTrIcon_size)}px;
  }
  &_link{
    background-color: transparent;
    border: none;
    display: inline-flex;
    margin-right: #{$value}px;
  }
  &_wrapper{
    align-items: center;
    display: flex;
  }
  &[title="Expand"] {
    #{--svg-icon-stroke_blue}: val.brandColors(_light-blue);
    #{--svg-icon-stroke}: val.brandColors(_light-blue);
  }

  &[title="Collapse"] {
    #{--svg-icon-stroke_blue}: val.brandColors(_transparent);
    #{--svg-icon-stroke}: val.brandColors(_light-blue);
  }
  .tr__master & {
    margin-left: #{$value}px;
  }
}

.collapseTdIcon{
  display: inline-flex;
  height: #{val.brandSizes(collapseTdIcon_size)}px;
  width: #{val.brandSizes(collapseTdIcon_size)}px;
  svg{
    height: #{val.brandSizes(collapseTdIcon_size)}px;
    width: #{val.brandSizes(collapseTdIcon_size)}px;
  }
  &_link{
    background-color: transparent;
    border: none;
    bottom: 50%;
    display: block;
    height: #{val.brandSizes(collapseTdIcon_size)}px;
    margin-bottom: #{val.brandSizes(collapseTdIcon_size) * 0.5 * -1}px;
    position: absolute;
    // top: 50%;
    // margin-top: #{calc(val.brandSizes(collapseTdIcon_size) * .5 * -1)}px;
    right: #{val.brandSizes(table_paddingX)}px;
    width: #{val.brandSizes(collapseTdIcon_size)}px;
  }
  &_td{
    padding-right: #{calc(val.brandSizes(collapseTdIcon_size) + val.brandSizes(table_paddingY) * 1.5)}px;
    position: sticky;
    &.tableHelpIcon_td{ 
      padding-right: #{calc(val.brandSizes(collapseTdIcon_size) + val.brandSizes(tableHelpIcon_size) + val.brandSizes(table_paddingX) * 1.5)}px;
    }
  }
}