/* =~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~ */
/*                                                                            */
/* TABS                                                                       */
/* path: dsf-common-ui/src/scss/modules/_tabs.scss                            */
/*                                                                            */
/* =~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~ */
@use './../utilities/functions/func_fonts' as fonts;
@use './../utilities/functions/func_val' as val;
@use './../utilities/mixins/btn' as btnmixin;
@use './buttons' as buttons;
.nav-tabs,
.nav-pills,
.nav-btns,
.nav-cards {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.nav-pills,
.nav-btns {
  align-items: center;
}
.nav-btns {
  gap: fonts.rem(5);
}
.nav-cards {
  gap: fonts.rem(2);
  border-bottom-color: val.brandNav(navCards_borderColor);
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.nav-info{
  display: flex;
  gap: 2px;
  position: absolute;
  right: 0;
  top: fonts.rem(-11);
}
.nav-summary{
  align-items: center;
  border-radius: fonts.rem(22);
  display: inline-flex;
  color: val.brandColors(_white);
  font-size: fonts.rem(13);
  justify-content: center;
  font-weight: 700;
  line-height: fonts.rem(22);
  height: fonts.rem(22);
  width: fonts.rem(22);
}

.nav-tabs > li,
.nav-pills > li,
.nav-tabs .nav-item,
.nav-pills .nav-item {
  margin-left: -1px;
  &:first-child{
    margin-left: 0;
  }
}

.nav-cards > li,
.nav-cards .nav-item{
  margin-bottom: -1px;
}

.nav-tabs > li > a,
.nav-tabs .nav-link{ 
  align-items: center;
  border-radius: 0;
  background-color: val.brandNav(navTabs_bgc);
  border-color: val.brandNav(navTabs_borderColor);
  border-style: solid;
  border-width: 1px;
  color: val.brandNav(navTabs_color);
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  font-size: fonts.rem(val.fontSizes(navTabs));
  font-weight: 400;
  height: fonts.rem(val.lineHeight(navTabs));
  margin: 0;
  padding: 0px 15px;
  position: relative;
  text-decoration: none;
  white-space: nowrap;
  &:hover,
  &:focus,
  &:active {
    background-color: val.brandNav(navTabs_bgc);
    border-color: val.brandNav(navTabs_borderColor);
    color: val.brandNav(navTabs_color);
  }
}

.nav-pills > li > a,
.nav-pills .nav-link {
  background-color: val.brandNav(navPills_bg);
  border-color: val.brandNav(navPills_border);
  border-style: solid;
  border-width: #{val.brandSizes(navPills-borderWidth)}px;
  border-radius: 0;
  cursor: pointer;
  color: val.brandNav(navPills_color);
  display: inline-block;
  font-size: fonts.rem(val.fontSizes(navPills));
  font-weight: val.fontWeight(navPills);
  line-height: fonts.rem(val.lineHeight(navPills));
  height: min-content;
  margin: 0;
  padding: 0 fonts.rem(val.brandSizes(navPills-paddingX));
  position: relative;
  text-decoration: none;
  white-space: nowrap;
  &:hover,
  &:focus,
  &:active {
    background-color: val.brandNav(navPills_bg);
    border-color: val.brandNav(navPills_border);
    color: val.brandNav(navPills_color);
  }
}

.nav-btns > li > a,
.nav-btns .nav-link {
  @include btnmixin.btn;
  background-color: transparent;
  background-image: none;
  border-radius: 0;
  box-shadow: none;
  color: val.brandPalette(link_color);
  cursor: pointer;
  font-weight: val.fontWeight(btn);
  position: relative;
  &:hover,
  &:focus-visible,
  &.active,
  &.active:focus,
  &:active:focus,
  &:active {
    background-color: transparent;
    color: val.brandPalette(link_color);
    .svg--icon {
      svg {
        #{--svg-icon-fill}: val.brandPalette(linkHover_color);
        #{--svg-icon-stroke}: val.brandPalette(linkHover_color);
        #{--svg-icon-fill_blue}: val.brandPalette(linkHover_color);
        #{--svg-icon-stroke_blue}: val.brandPalette(linkHover_color);
        fill: val.brandPalette(linkHover_color);
        #{--limited-stroke-off}: val.brandColors(_transparent);
      }
    }
  }
}
.nav-btns > li.active > a,
.nav-btns > li > a.active,
.nav-btns .nav-link.active,
.nav-btns .active .nav-link {
  @include btnmixin.btn__shadow;
  background-color: val.brandColors(_white);
  background-image: none;
  border-color: val.brandBtn(default_border__outline);
  color: val.brandBtn(default_color__outline);
  transition: background-color 0.3s ease-in-out;
  &:hover,
  &:focus-visible,
  &:active,
  &:active:focus,
  &.active,
  &.active:focus,
  &.focus {
    background-color: val.brandBtn(default_border__outline);
    background-image: none;
    background-position: inherit;
    border-color: val.brandBtn(default_border__outline);
    color: val.brandBtn(default_color__outline__hover);
    .svg--icon svg{
      #{--infotech_svg-colorStroke}: val.brandBtn(default_color__outline__hover);
      #{--infotech_svg-stroke}: val.brandBtn(default_color__outline__hover);
      #{--infotech_svg-fill}: val.brandBtn(default_color__outline__hover);
      #{--infotech_svg-colorFill}: val.brandBtn(default_color__outline__hover);
      #{--svg-icon-fill}: val.brandBtn(default_color__outline__hover);
      #{--svg-icon-stroke}: val.brandBtn(default_color__outline__hover);
      #{--svg-icon-fill_blue}: val.brandBtn(default_color__outline__hover);
      #{--svg-icon-stroke_blue}: val.brandBtn(default_color__outline__hover);
      fill: val.brandBtn(default_color__outline__hover);
      #{--limited-stroke-off}: val.brandColors(_transparent);
    }
  }
  .svg--icon svg{
    #{--infotech_svg-colorStroke}: val.brandBtn(default_color__outline);
    #{--infotech_svg-stroke}: val.brandBtn(default_color__outline);
    #{--infotech_svg-fill}: val.brandBtn(default_color__outline);
    #{--infotech_svg-colorFill}: val.brandBtn(default_color__outline);
    #{--svg-icon-fill_blue}: val.brandBtn(default_color__outline);
    #{--svg-icon-stroke_blue}: val.brandBtn(default_color__outline);
    #{--svg-icon-fill}: val.brandBtn(default_color__outline);
    #{--svg-icon-stroke}: val.brandBtn(default_color__outline);
    fill: val.brandBtn(default_color__outline);
    #{--limited-stroke-off}: val.brandColors(_transparent);
  }
}

.nav-tabs > li.active > a,
.nav-tabs > li > a.active,
.nav-tabs .nav-link.active,
.nav-tabs .active .nav-link{ 
  background-color: val.brandNav(navTabs-active_bgc);
  border-top-color: val.brandNav(navTabs-active_borderColor);
  border-bottom-color: transparent;
  color: val.brandNav(navTabs-active_color);
  &:hover,
  &:focus,
  &:active { 
    background-color: val.brandNav(navTabs-active_bgc);
    border-top-color: val.brandNav(navTabs-active_borderColor);
    border-bottom-color: transparent;
    color: val.brandNav(navTabs-active_color);
  }
}
 
.nav-pills > li.active > a,
.nav-pills > li > a.active,
.nav-pills .nav-link.active,
.nav-pills .active .nav-link {
  background-color: val.brandNav(navPills-active_bg);
  border-color: val.brandNav(navPills-active_border);
  color: val.brandNav(navPills-active_color);
  &:hover,
  &:focus,
  &:active {
    background-color: val.brandNav(navPills-active_bg);
    border-color: val.brandNav(navPills-active_border);
    color: val.brandNav(navPills-active_color);
  }
}

.nav-cards > li > a,
.nav-cards .nav-link {
  align-items: center;
  background-color: val.brandNav(navCards_bgc);
  border-bottom-color: val.brandNav(navCards_borderColor);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  color: val.brandNav(navCards_color);
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
  font-size: fonts.rem(val.fontSizes(navCards));
  font-weight: val.fontWeight(navCards);
  gap: fonts.rem(8);
  line-height: fonts.rem(val.lineHeight(navCards));
  padding: fonts.rem(val.tabsSizes(navCards_paddingY)) fonts.rem(val.tabsSizes(navCards_paddingX));
  position: relative;
  .svg--icon{ 
    #{--svg-icon-fill}: val.brandNav(navCards_svg);
    #{--svg-icon-fill_blue}: val.brandNav(navCards_svg);
    #{--svg-icon-stroke_blue}: val.brandNav(navCards_svg);
    #{--svg-icon-stroke}: val.brandNav(navCards_svg);
    #{--limited-stroke-off}: val.brandColors(_transparent);
    + span{
      line-height: fonts.rem(val.lineHeight(navCards) - 4); // компенсация паддинга когда с иконкой
    }
  }
}
.nav-cards__forms > li > a,
.nav-cards__forms .nav-link {
  flex-direction: column;
  height: fonts.rem(val.formsSizes(formElem_height));
  padding:0 fonts.rem(val.tabsSizes(navCardsForms_padding));
  .svg--icon {
    align-items: center;
    background-color: val.brandBtnIcon(btnIconSvg_bgc);
    display: inline-flex;
    justify-content: center;
    height: fonts.rem(val.btnSizes(btnIcon_height));
    max-width: fonts.rem(val.btnSizes(btnIcon_height));
    width: fonts.rem(val.btnSizes(btnIcon_height));
    // vertical-align: middle;
    #{--svg-icon-fill}: val.brandBtnDownload(btnDownloadSvg_color);
    #{--svg-icon-fill_blue}: val.brandBtnDownload(btnDownloadSvg_color);
    #{--svg-icon-stroke_blue}: val.brandBtnDownload(btnDownloadSvg_color);
    #{--svg-icon-stroke}: val.brandBtnDownload(btnDownloadSvg_color);
    #{--limited-stroke-off}: val.brandColors(_transparent);
    #{--btn_svg__hover}: val.brandBtnDownload(btnDownloadSvg_color);
    #{--svgIcon_height}: fonts.rem(val.btnSizes(btnIconSvg_height));
    &__24vb{
      #{--svgIcon_height}: fonts.rem(val.btnSizes(btnIcon_height));
      #{--svgIcon_width}: fonts.rem(val.btnSizes(btnIcon_height));
    }
  }
  &:hover,
  &:focus-visible,
  &.active,
  &.active:focus{
    .svg--icon {
      background-color: val.brandBtnIcon(btnIconSvgHover_bgc);
    }
  }
  &:hover,
  &:focus-visible,
  &:active:focus,
  &:active
  &:hover,
  &:focus {
      background-color: transparent;
      background-image: none;
      box-shadow: none;
      outline: 0;
  }
}

.nav-cards > li.active > a,
.nav-cards > li > a.active,
.nav-cards .nav-link.active,
.nav-cards .active .nav-link {
  background-color: val.brandNav(navCards-active_bgc);
  border-bottom-color: val.brandNav(navCards-active_borderColor);
  border-bottom-width: 2px;
  color: val.brandNav(navCards-active_color);
  .svg--icon{ 
    #{--svg-icon-fill}: val.brandNav(navCards-active_svg);
    #{--svg-icon-fill_blue}: val.brandNav(navCards-active_svg);
    #{--svg-icon-stroke_blue}: val.brandNav(navCards-active_svg);
    #{--svg-icon-stroke}: val.brandNav(navCards-active_svg);
    #{--limited-stroke-off}: val.brandColors(_transparent);
  }
}
.nav-cards {
  .svg--icon,
  .svg--icon__24{
    --svgIcon_height: #{fonts.rem(18)};
    --svgIcon_width: auto;
    --svgIcon_height__24vb: #{fonts.rem(24)};
    --svgIcon_width__24vb: #{fonts.rem(24)};
  }
}

.nav__vertical{
  flex-direction: column;
  & > li,
  .nav-item {
    padding-right: 0;
    padding-bottom: 5px;
    margin-left: 0;
    &:last-child{
      padding-bottom: 0;
    } 
  }
  &.nav-pills,
  &.nav-btns {
    align-items: start;
  }
  &.nav-cards{
    border-bottom: none;
    & > li,
    .nav-item{
      margin-bottom: 0;
    }
  }
}

.nav__justify{
  width: 100%;
  & > li,
  .nav-item{
    flex: 1 0 0;
  }
  & > li > a,
  .nav-link {
    display: inline-flex;
    justify-content: center;
    width: 100%;
  }
  &.nav-cards{
    border-bottom: none;
    & > li,
    .nav-item{
      margin-bottom: 0;
    }
  }
}

.tab-content {
  border-radius: 0;
  border: none;
  margin-bottom: 0;
  >.tab-pane {
    display: none;
  }
  >.active {
    display: block;
  }
}

.tab-pane{ 
  background-color: val.brandPalette(tabsPane-active_bgc);
  border-radius: 0;
  border: none;
  padding: fonts.rem(val.tabsSizes(tabPane_padding)) fonts.rem(val.tabsSizes(tabPane_padding)) 0;
  .modal & {
    padding-left: 0;
    padding-right: 0;
  }
}