/* =~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~ */
/*                                                                            */
/* TABS                                                                       */
/* path: dsf-common-ui/src/scss/modules/_tabs.scss                            */
/*                                                                            */
/* =~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~ */
@use './../utilities/functions/func_fonts' as fonts;
@use './../utilities/functions/func_val' as val;
@use './buttons' as buttons;

.nav-tabs,
.nav-pills,
.nav-btns,
.nav-cards {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.nav-pills,
.nav-btns {
  align-items: center;
}
.nav-btns {
  gap: fonts.rem(5);
}
.nav-cards {
  gap: fonts.rem(2);
}
.nav-info{
  display: flex;
  gap: 2px;
  position: absolute;
  right: 0;
  top: fonts.rem(-11);
}
.nav-summary{
  align-items: center;
  border-radius: fonts.rem(22);
  display: inline-flex;
  color: val.brandColors(_white);
  font-size: fonts.rem(13);
  justify-content: center;
  font-weight: 700;
  line-height: fonts.rem(22);
  height: fonts.rem(22);
  width: fonts.rem(22);
}

.nav-tabs > li,
.nav-pills > li,
.nav-tabs .nav-item,
.nav-pills .nav-item {
  margin-left: -1px;
  &:first-child{
    margin-left: 0;
  }
}

.nav-tabs > li > a,
.nav-tabs .nav-link{ 
  align-items: center;
  border-radius: 0;
  background-color: val.brandPalette(navTabs_bgc);
  border-color: val.brandPalette(navTabs_borderColor);
  border-style: solid;
  border-width: 1px;
  color: val.brandPalette(navTabs_color);
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  font-size: fonts.rem(val.fontSizes(navTabs));
  font-weight: 400;
  height: fonts.rem(val.lineHeight(navTabs));
  margin: 0;
  padding: 0px 15px;
  position: relative;
  text-decoration: none;
  white-space: nowrap;
  &:hover,
  &:focus,
  &:active {
    background-color: val.brandPalette(navTabs_bgc);
    border-color: val.brandPalette(navTabs_borderColor);
    color: val.brandPalette(navTabs_color);
  }
}

.nav-pills > li > a,
.nav-pills .nav-link {
  background-color: val.brandPalette(navPills_bg);
  border-color: val.brandPalette(navPills_border);
  border-style: solid;
  border-width: #{val.brandSizes(navPills-borderWidth)}px;
  border-radius: 0;
  cursor: pointer;
  color: val.brandPalette(navPills_color);
  display: inline-block;
  font-size: fonts.rem(val.fontSizes(navPills));
  font-weight: val.fontWeight(navPills);
  line-height: fonts.rem(val.lineHeight(navPills));
  height: min-content;
  margin: 0;
  padding: 0 fonts.rem(val.brandSizes(navPills-paddingX));
  position: relative;
  text-decoration: none;
  white-space: nowrap;
  &:hover,
  &:focus,
  &:active {
    background-color: val.brandPalette(navPills_bg);
    border-color: val.brandPalette(navPills_border);
    color: val.brandPalette(navPills_color);
  }
}

.nav-btns > li > a,
.nav-btns .nav-link {
  cursor: pointer;
  position: relative;
  @extend .btn-link;
}

.nav-tabs > li.active > a,
.nav-tabs > li > a.active,
.nav-tabs .nav-link.active,
.nav-tabs .active .nav-link{ 
  background-color: val.brandPalette(navTabs-active_bgc);
  border-top-color: val.brandPalette(navTabs-active_borderColor);
  border-bottom-color: transparent;
  color: val.brandPalette(navTabs-active_color);
  &:hover,
  &:focus,
  &:active { 
    background-color: val.brandPalette(navTabs-active_bgc);
    border-top-color: val.brandPalette(navTabs-active_borderColor);
    border-bottom-color: transparent;
    color: val.brandPalette(navTabs-active_color);
  }
}
 
.nav-pills > li.active > a,
.nav-pills > li > a.active,
.nav-pills .nav-link.active,
.nav-pills .active .nav-link {
  background-color: val.brandPalette(navPills-active_bg);
  border-color: val.brandPalette(navPills-active_border);
  color: val.brandPalette(navPills-active_color);
  &:hover,
  &:focus,
  &:active {
    background-color: val.brandPalette(navPills-active_bg);
    border-color: val.brandPalette(navPills-active_border);
    color: val.brandPalette(navPills-active_color);
  }
}

.nav-btns > li.active > a,
.nav-btns > li > a.active,
.nav-btns .nav-link.active,
.nav-btns .active .nav-link {
  @extend .btn-default__outline;
  @extend .btn__shadow;
  background-color: val.brandColors(_white);
}

.nav-cards > li > a,
.nav-cards .nav-link {
  align-items: center;
  background-color: val.brandPalette(navCards_bgc);
  border-bottom-color: val.brandPalette(navCards_borderColor);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  color: val.brandPalette(navCards_color);
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
  font-size: fonts.rem(val.fontSizes(navCards));
  font-weight: val.fontWeight(navCards);
  gap: fonts.rem(8);
  padding: fonts.rem(val.tabsSizes(navCards_padding));
  position: relative;
  .svg--icon{ 
    #{--svg-icon-fill}: val.brandPalette(navCards_svg);
    #{--svg-icon-fill_blue}: val.brandPalette(navCards_svg);
    #{--svg-icon-stroke_blue}: val.brandPalette(navCards_svg);
    #{--svg-icon-stroke}: val.brandPalette(navCards_svg);
    #{--limited-stroke-off}: val.brandColors(_transparent);
  }
}
.nav-cards > li.active > a,
.nav-cards > li > a.active,
.nav-cards .nav-link.active,
.nav-cards .active .nav-link {
  background-color: val.brandPalette(navCards-active_bgc);
  border-bottom-color: val.brandPalette(navCards-active_borderColor);
  border-bottom-width: 2px;
  color: val.brandPalette(navCards-active_color);
  .svg--icon{ 
    #{--svg-icon-fill}: val.brandPalette(navCards-active_svg);
    #{--svg-icon-fill_blue}: val.brandPalette(navCards-active_svg);
    #{--svg-icon-stroke_blue}: val.brandPalette(navCards-active_svg);
    #{--svg-icon-stroke}: val.brandPalette(navCards-active_svg);
    #{--limited-stroke-off}: val.brandColors(_transparent);
  }
}
.nav-cards {
  .svg--icon{
    svg{
      height: 18px;
      width: auto;
    }
  }
  .svg--icon__24{
    &, svg{
      height: 24px;
      width: 24px;
    }
  }
}

.nav__vertical{
  flex-direction: column;
  & > li,
  .nav-item {
    padding-right: 0;
    padding-bottom: 5px;
    margin-left: 0;
    &:last-child{
      padding-bottom: 0;
    } 
  }
  &.nav-pills,
  &.nav-btns {
    align-items: start;
  }
}

.nav__justify{
  width: 100%;
  & > li,
  .nav-item{
    flex: 1 0 0;
  }
  & > li > a,
  .nav-link {
    display: inline-flex;
    justify-content: center;
    width: 100%;
  }
}

.tab-content {
  border-radius: 0;
  border: none;
  margin-bottom: 0;
  >.tab-pane {
    display: none;
  }
  >.active {
    display: block;
  }
}

.tab-pane{ 
  background-color: val.brandPalette(tabsPane-active_bgc);
  border-radius: 0;
  border: none;
  padding: fonts.rem(val.tabsSizes(tabPane_padding)) fonts.rem(val.tabsSizes(tabPane_padding)) 0;
  .modal & {
    padding: fonts.rem(val.tabsSizes(tabPane_padding)) 0 0;
  }
}