/* =~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~ */
/*                                                                            */
/* TABLES                                                                     */
/* path: dsf-common-ui/src/scss/modules/_tables.scss                          */
/*                                                                            */
/* =~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~ */

//
// Tables
// --------------------------------------------------

.table {
  background-color: transparent;
  border-collapse: separate; // fix border for position:sticky
  max-width: 100%;
  margin-bottom: 0;
  width: 100%;
  
  col[class*="col-"] {
    position: static; // Prevent border hiding in Firefox and IE9-11 (see https://github.com/twbs/bootstrap/issues/11623)
    display: table-column;
    float: none;
  }
}

caption {
  color: _brand-table(caption_color);
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: left;
}

th,
td {
  line-height: rem(_lineHeight(table));
  padding: rem(_brand-sizes(table_paddingY)) rem(_brand-sizes(table_paddingX));
  &[class*="col-"] {
    position: static; // Prevent border hiding in Firefox and IE9-11 (see https://github.com/twbs/bootstrap/issues/11623)
    display: table-cell;
    float: none;
  }
  .empty {
    text-align: center;
  }
  text-align: left;
  .table__border &{ 
    border-bottom-width: var(--width_border-bottom__modify, var(--width_border-bottom, 1px));
    border-bottom-style: var(--style_border_bottom, var(--style_border, solid));
    border-bottom-color: var(--border_bottom_color, var(--border_color, _brand-table(table_border)));
    border-right-width: var(--width_border-right__modify, var(--width_border-right, 1px));
    border-right-style: var(--style_border_right, var(--style_border, solid));
    border-right-color: var(--border_right_color, var(--border_color, _brand-table(table_border)));
  }
  .tr__slave &{
    --tdnesting-bgc: 96%;
    background-color: _brand-table(tbodySlaveTd_bgc);
    background-color: hsl(0deg 0% var(--tdnesting-bgc));
  }
  .tr__subSlave &{
    background-color: _brand-table(tbodySubSlaveTd_bgc);
  }
  &:first-child{
    padding-left: #{_brand-sizes(table_paddingXFirst)}px;
    // .tr__master &{
    //   padding-left: 0;
    // }
    .table__border &{ 
      border-left-width: var(--width_border-left__modify, var(--width_border-left, 1px));
      border-left-style: var(--style_border_left, var(--style_border, solid));
      border-left-color: var(--border_left_color, var(--border_color, _brand-table(table_border)));
    }
  }
}

thead { 
  th {
    background-color: _brand-table(thead_bgc);
    color: _brand-table(thead_color);
    font-size: rem(_fontSizes(thead));
    font-weight: 700;
    height: rem(_brand-sizes(tableCell_height));
    // position: sticky;
    vertical-align: middle;
    &:first-child {
      // left: 0;
      text-align: left;
      &.text-center{
        text-align: center;
      }
      &.text-right{
        text-align: right;
      }
    }
    .desc,
    .asc{
      display: inline-flex;
      position: relative;
      padding-left: #{calc(_brand-sizes(tableSortIcon_size) + 5)}px;
      &:before{
        background-size: contain;
        background-repeat: no-repeat;
        content: '';
        display: block;
        position: absolute;
        left: 0;
        margin-top: #{calc(_brand-sizes(tableSortIcon_size) * .5 * -1)}px;
        top: 50%;
        height: #{_brand-sizes(tableSortIcon_size)}px;
        width: #{_brand-sizes(tableSortIcon_size)}px;
      }
    }
    .desc{
      &:before{
        background-image: svg-url('<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8 6L6 4L4 6" stroke="#333" fill="none" stroke-linecap="round" stroke-linejoin="round" /><path d="M6.04 4.5V20.5" stroke="#333" fill="none" /><path d="M11 18H21" stroke="#0094ff" fill="none" /><path d="M11 12H17" stroke="#0094ff" fill="none" /><path d="M11 6H15" stroke="#0094ff" fill="none" /></svg>');
      }
    }
    .asc{
      &:before{
        background-image: svg-url('<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.66669 15.4168L5.00002 17.0835L3.33335 15.4168" stroke="#333" fill="none" stroke-linecap="round" stroke-linejoin="round" /><path d="M5.03333 16.6668V3.33346" stroke="#333" fill="none" /><path d="M9.16669 5.00012H12.5" stroke="#0094ff" fill="none" /><path d="M9.16669 10.0001H14.1667" stroke="#0094ff" fill="none" /><path d="M9.16669 15.0001H17.5" stroke="#0094ff" fill="none" /></svg>');
      }
    }
  }
  tr{
    &:first-child{
      th{ 
        .table__border & {
          border-top-width: var(--width_border-top__modify, var(--width_border-top, 1px));
          border-top-style: var(--style_border_top, var(--style_border, solid));
          border-top-color: var(--border_top_color, var(--border_color, _brand-table(table_border)));
        }
      }
    }
    &:last-child{ 
      th{
        border-bottom-width: var(--width_border-bottom__modify, var(--width_border-bottom, 1px));
        border-bottom-style: var(--style_border_bottom, var(--style_border, solid));
        border-bottom-color: var(--border_top_color, var(--border_color, _brand-table(thead_border)));
      }
    }
  }
}
tbody td, 
tbody th { 
  background-color: _brand-table(tbody_bgc);
  color: _brand-table(tbody-color);
  font-size: rem(_fontSizes(tbody));
  font-weight: 400;
  height: rem(_brand-sizes(tableCell_height));
  vertical-align: middle;
  &:first-child {
    text-align: left;
    &.text-right{
      text-align: right;
    }
    &.text-center{
      text-align: center;
    }
    .table__firstChildMinWidth &{
      min-width: 160px;
    }
  }
}

tbody {
  .svg--icon{
      svg{
        fill: _brand-palette(table-color);
        height: rem(14);
        width: auto;
      }
  }
}
tfoot { 
  th,
  td{
    background-color: _brand-table(tfoot_bgc);
    bottom: 0;
    color: _brand-table(tfoot_color);
    font-size: rem(_fontSizes(tfoot));
    font-weight: 700;
    height: rem(_brand-sizes(tableCell_height));
    vertical-align: middle;
    &:first-child {
      left: 0;
      text-align: left;
      z-index: 1;
    }
    tr{ 
      &:nth-child(1) {
        td,
        th {
          &:first-child {
            z-index: _zindex(tableStickyTheadTrFirstChildThFirstChild);
            &[rowspan="2"] {
              z-index: _zindex(tableStickyTheadTrFirstChildThFirstChild);
            }
            &[rowspan="3"] {
              z-index: _zindex(tableStickyTheadTrFirstChildThFirstChild);
            }
          }
        }
      }
    }
  }
}

.table-striped, // old name
.table__striped{
  & > tbody >{
    tr:nth-of-type(2n+1) {
      td{ 
        background-color: _brand-table(tdStrip_bgc);
      }
    }
  }
}

.table__stripedReverse{
  & > tbody >{
    tr:nth-of-type(2n+1) {
      td{ 
        background-color: _brand-table(tbody_bgc);
      }
    }
    tr:nth-of-type(2n) {
      td{ 
        background-color: _brand-table(tdStrip_bgc);
      }
    }
  }
}

@include table-row-variant('clear', _brand-colors(_transparent));
@include table-row-variant('light-yellow2', _brand-colors(_light-yellow2));
@include table-row-variant('light-red', _brand-colors(_light-red));
@include table-row-variant('red', _brand-colors(_red));
@include table-row-variant('rose', _brand-colors(_rose));

tbody tr {
  &[class^="bg-"] { 
    &,
    &:nth-of-type(2n+1){ 
      td {
        background-color: var(--bg_color);
      }
    }
  }
  &:nth-of-type(2n+1) {
    td[class^="bg-"],
    th[class^="bg-"] {
      background-color: var(--bg_color);
    }
  }
}

.table-hover, // old name
.table__hover {
  tr:hover td{
    background-color: _brand-table(tdHover_bgc);
  }
}


.table-responsive {
  min-height: .01%; // Workaround for IE9 bug (see https://github.com/twbs/bootstrap/issues/14837)
  overflow-x: auto;
  .mobile-view & {
    width: 100%;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    // Tighten up spacing
    th,
    td {
      white-space: nowrap;
    }
  }
}

.table-sticky-head-left_col, // old name
.wrapper__tableSticky {
  max-height: 50vh;
  margin-bottom: 20px;
  overflow: auto;
  th,
  td {
    &:first-child{ 
      left: 0;
      position: sticky;
      z-index: _zindex(tableStickyTbodyTd);
    }
    &.stickyCell{
      left: 0;
      position: sticky;
      z-index: _zindex(tableStickyTbodyTd);
    }
  }
  thead{
    th{
      position: sticky;
      z-index: _zindex(tableStickyTheadTh);
      &:first-child {
        left: 0;
      }
    }
    tr{ 
      &:nth-child(1) { 
        th {
          top: 0;
          &:first-child {
            z-index: _zindex(tableStickyTheadTrFirstChildThFirstChild);
            &[rowspan="2"] {
              z-index: _zindex(tableStickyTheadTrFirstChildThFirstChild);
            }
            &[rowspan="3"] {
              z-index: _zindex(tableStickyTheadTrFirstChildThFirstChild);
            }
          }
        }
      }
      &:nth-child(2) {
        th {
          top: rem(_brand-sizes(tableCell_height));
          &:first-child {
            z-index: _zindex(tableStickyTheadThFirstChild);
          }
        }
      }
      &:nth-child(3) {
        th {
          top: rem(calc(_brand-sizes(tableCell_height) * 2));
        }
      }
    }
  }
}

.table__tfootSticky,
.table__tfootSticky__2tr{
  > tfoot{ 
    td,
    th{
      position: sticky;
      z-index: _zindex(tableStickyTheadTh);
      &:first-child {
        z-index: _zindex(tableStickyTheadTrFirstChildThFirstChild);
        &[rowspan="2"] {
          z-index: _zindex(tableStickyTheadTrFirstChildThFirstChild);
        }
        &[rowspan="3"] {
          z-index: _zindex(tableStickyTheadTrFirstChildThFirstChild);
        }
      }
    }
  }
  &__2tr{
    tfoot{
      tr{
        &:nth-child(1){
          th, td{
            bottom: rem(_brand-sizes(tableCell_height));
          }
        }
        &:nth-child(2){
          th, td{
            bottom: 0;
          }
        }
      }
    }
  }
}

.summary{
  font-size: rem(11);
  text-align: right;
  text-transform: uppercase;
  &:empty{
    display: none;
  }
}

.tableHelpIcon{
  bottom: 50%;
  display: inline-flex;
  height: #{_brand-sizes(tableHelpIcon_size)}px;
  margin-bottom: #{calc(_brand-sizes(tableHelpIcon_size) * .5 * -1)}px;
  width: #{_brand-sizes(tableHelpIcon_size)}px;
  .tableHelpIcon_td &{ 
    position: absolute;
    right: #{_brand-sizes(table_paddingY)}px;
  }
  svg{
    height: #{_brand-sizes(tableHelpIcon_size)}px;
    width: #{_brand-sizes(tableHelpIcon_size)}px;
    #{--svg-icon-fill}: _brand-palette(tableHelpIcon_bgc);
  }
  .asc &, .desc &{
    // display: inline-flex;
    right: #{calc((_brand-sizes(table_paddingY) + _brand-sizes(tableHelpIcon_size)) * -1)}px;
  }
  &_td {
    padding-right: #{calc(_brand-sizes(tableHelpIcon_size) + _brand-sizes(table_paddingY) * 1.5)}px;
    position: sticky; // улетает иконка в ячейка не шапки
  }
}

.collapseTrIcon{
  $value: 10;
  display: inline-flex;
  height: #{_brand-sizes(collapseTrIcon_size)}px;
  position: relative;
  // top: 2px;
  width: #{_brand-sizes(collapseTrIcon_size)}px;
  svg{
    height: #{_brand-sizes(collapseTrIcon_size)}px;
    width: #{_brand-sizes(collapseTrIcon_size)}px;
  }
  &_link{
    background-color: transparent;
    border: none;
    display: inline-flex;
    margin-right: #{$value}px;
  }
  &_wrapper{
    align-items: center;
    display: flex;
  }
  &[title="Expand"] {
    #{--svg-icon-stroke_blue}: _brand-colors(_light-blue);
    #{--svg-icon-stroke}: _brand-colors(_light-blue);
  }

  &[title="Collapse"] {
    #{--svg-icon-stroke_blue}: _brand-colors(_transparent);
    #{--svg-icon-stroke}: _brand-colors(_light-blue);
  }
  .tr__master & {
    margin-left: #{$value}px;
  }
}

.collapseTdIcon{
  display: inline-flex;
  height: #{_brand-sizes(collapseTdIcon_size)}px;
  width: #{_brand-sizes(collapseTdIcon_size)}px;
  svg{
    height: #{_brand-sizes(collapseTdIcon_size)}px;
    width: #{_brand-sizes(collapseTdIcon_size)}px;
  }
  &_link{
    background-color: transparent;
    border: none;
    bottom: 50%;
    display: block;
    height: #{_brand-sizes(collapseTdIcon_size)}px;
    margin-bottom: #{_brand-sizes(collapseTdIcon_size) * 0.5 * -1}px;
    position: absolute;
    // top: 50%;
    // margin-top: #{calc(_brand-sizes(collapseTdIcon_size) * .5 * -1)}px;
    right: #{_brand-sizes(table_paddingX)}px;
    width: #{_brand-sizes(collapseTdIcon_size)}px;
  }
  &_td{
    padding-right: #{calc(_brand-sizes(collapseTdIcon_size) + _brand-sizes(table_paddingY) * 1.5)}px;
    position: sticky;
    &.tableHelpIcon_td{ 
      padding-right: #{calc(_brand-sizes(collapseTdIcon_size) + _brand-sizes(tableHelpIcon_size) + _brand-sizes(table_paddingX) * 1.5)}px;
    }
  }
}