/* =~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~ */
/*                                                                            */
/* TABLES                                                                     */
/* path: dsf-common-ui/src/scss/modules/_tables.scss                          */
/*                                                                            */
/* =~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~ */

.summary{
  &:empty{
    display: none;
  }
}

.table__helpIcon{
  height: 12px;
  svg{
    height: 12px;
    #{--svg-icon-fill}: _brand-palette(tableHelpIcon_bgc);
    #{--svg-icon-stroke}: _brand-palette(tableHelpIcon_bgc);
  }
}
