/* =~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~ */
/*                                                                            */
/* TOOLTIP                                                                    */
/* path: dsf-common-ui/src/scss/modules/_tooltip.scss                         */
/*                                                                            */
/* =~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~ */
@use './../utilities/functions/func_fonts' as *;
@use './../utilities/functions/func_val' as val;
@use './../utilities/variables/var-colors' as *;
@use './../utilities/variables/var-sizes' as *;
@use './../utilities/variables/var-fonts' as *;
@use './../utilities/variables/var-lineHeights' as *;
@use './../utilities/variables/var-zindex' as *;

.tooltip {
  display: block;
  font-size: rem(val.fontSizes(tooltip));
  margin: 0;
  letter-spacing: normal;
  line-break: auto;
  line-height: rem(val.lineHeight(tooltip));
  position: absolute;
  font-style: normal;
  font-weight: 400;
  opacity: 0;
  text-align: left;
  // text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  // word-break: normal;
  word-spacing: normal;
  word-wrap: break-word;
  white-space: normal;
  z-index: val.zIndex(tooltip);
  // Our parent element can be arbitrary since tooltips are by default inserted as a sibling of their target element.
  // So reset our font and text properties to avoid inheriting weird values.
  &.fade{
    display: none;
    z-index: 0;
    &.show {
      display: block;
      z-index: val.zIndex(tooltip);
    }
  }
  &.in,
  &.show {
    // display: block;
    opacity: 1;
    z-index: val.zIndex(tooltip);
  }
  .arrow {
    border-style: solid;
    border-color: transparent;
    display: block;
    position: absolute;
    height: 0;
    width: 0;

    &::before {
      position: absolute;
      content: "";
      border-color: transparent;
      border-style: solid;
    }
  }
}

.bs-tooltip-top {
  padding: rem(val.brandSizes(tooltipArrow_height)) 0;
  .arrow {
    bottom: 0;
    &::before {
      border-width: rem(val.brandSizes(tooltipArrow_height)) rem(calc(val.brandSizes(tooltipArrow_width) * .5)) 0;
      border-top-color: val.brandPalette(tooltip_bgc);
      left: rem(calc(val.brandSizes(tooltipArrow_width) * -0.5));
      top: rem(calc(val.brandSizes(tooltipArrow_width) * -0.5));
    }
  }
}

.bs-tooltip-right {
  padding: 0 rem(val.brandSizes(tooltipArrow_height));
  .arrow {
    left: 0;
    width: rem(val.brandSizes(tooltipArrow_height));
    height: rem(val.brandSizes(tooltipArrow_width));

    &::before {
      border-width: rem(calc(val.brandSizes(tooltipArrow_width) * .5)) rem(val.brandSizes(tooltipArrow_height)) rem(calc(val.brandSizes(tooltipArrow_width) * .5)) 0;
      border-right-color: val.brandPalette(tooltip_bgc);
      right: rem(calc(val.brandSizes(tooltipArrow_width) * -0.5));
      top: rem(calc(val.brandSizes(tooltipArrow_width) * -0.5));
    }
  }
}

.bs-tooltip-bottom {
  padding: rem(val.brandSizes(tooltipArrow_height)) 0;

  .arrow {
    top: 0;

    &::before {
      bottom: rem(calc(val.brandSizes(tooltipArrow_width) * -0.5));
      border-width: 0 rem(calc(val.brandSizes(tooltipArrow_width) * .5)) rem(val.brandSizes(tooltipArrow_height));
      border-bottom-color: val.brandPalette(tooltip_bgc);
      left: rem(calc(val.brandSizes(tooltipArrow_width) * -0.5));
    }
  }
}

.bs-tooltip-left {
  padding: 0 rem(val.brandSizes(tooltipArrow_height));

  .arrow {
    right: 0;
    width: rem(val.brandSizes(tooltipArrow_height));
    height: rem(val.brandSizes(tooltipArrow_width));

    &::before {
      // left: 0;
      border-width: rem(calc(val.brandSizes(tooltipArrow_width) * .5)) 0 rem(calc(val.brandSizes(tooltipArrow_width) * .5)) rem(val.brandSizes(tooltipArrow_height));
      border-left-color: val.brandPalette(tooltip_bgc);
      left: rem(calc(val.brandSizes(tooltipArrow_width) * -0.5));
      top: rem(calc(val.brandSizes(tooltipArrow_width) * -0.5));
    }
  }
}

.bs-tooltip-auto {
  &[x-placement^="top"] {
    @extend .bs-tooltip-top;
  }
  &[x-placement^="right"] {
    @extend .bs-tooltip-right;
  }
  &[x-placement^="bottom"] {
    @extend .bs-tooltip-bottom;
  }
  &[x-placement^="left"] {
    @extend .bs-tooltip-left;
  }
}

// Wrapper for the tooltip content
.tooltip-inner {
  background-color: val.brandPalette(tooltip_bgc);
  color: val.brandPalette(tooltip_color);
  max-width: rem(val.brandSizes(tooltip_maxWidth));
  padding: rem(val.brandSizes(tooltip_paddingY)) rem(val.brandSizes(tooltip_paddingX));
  text-align: center;
  .tooltip__wide & {
      max-width: rem(val.brandSizes(tooltipWide_maxWidth));
  }
  .tooltip__nonmax & {
      max-width: none;
  }
  .tooltip__textLeft &{
    text-align: left;
  }
}
