/* =~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~ */
/*                                                                            */
/* joinBlock                                                                  */
/* path: dsf-common-ui/src/scss/modules/_unityBlock.scss                      */
/*                                                                            */
/* =~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~ */
@use 'sass:color';

@use './../utilities/functions/func_fonts' as fonts;
@use './../utilities/functions/func_val' as val;

.unityBlock{
  background-color: val.brandColors(_white);
  box-shadow: 0px 1px 0px color.scale(rgba(val.brandColors(_black), 1), $alpha: -80%, $space: rgb);
  padding: fonts.rem(10);
  z-index: val.zIndex(unityBlock);
  &__nobg{
    background-color: transparent;
  }
  &__noshadow{
    box-shadow: none;
  }
  &_header{
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: fonts.rem(10);
    &Item{
      align-items: center;
      justify-content: flex-start;
      display: flex;
      &:last-child{
        justify-content: flex-end;
      }
    }
    &Title{
      color: val.brandPalette(joinBlockTitle_color);
      white-space: nowrap;
    }
    &SvgTitle{
      height: fonts.rem(24);
      width: fonts.rem(24);
      margin-right: fonts.rem(5);
      svg{
        height: fonts.rem(24);
        width: fonts.rem(24);
      }
    }
  }
  // &_body{}
}