/* =~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~ */
/*                                                                            */
/* joinBlock                                                                  */
/* path: dsf-common-ui/src/scss/modules/_unityBlock.scss                      */
/*                                                                            */
/* =~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~ */

.unityBlock{
  background-color: _brand-colors(_white);
  box-shadow: 0px 1px 0px transparentize(_brand-colors(_black), 0.8);
  padding: 10px;
  &__nobg{
    background-color: transparent;
  }
  &__noshadow{
    box-shadow: none;
  }
  &_header{
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    &Item{
      align-items: center;
      justify-content: flex-start;
      display: flex;
      &:last-child{
        justify-content: flex-end;
      }
    }
    &Title{
      color: _brand-palette(joinBlockTitle_color);
      white-space: nowrap;
    }
    &SvgTitle{
      height: 24px;
      width: 24px;
      margin-right: 5px;
      svg{
        height: 24px;
        width: 24px;
      }
    }
  }
  // &_body{}
}