/* =~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~ */
/*                                                                            */
/* joinBlock                                                                  */
/* path: dsf-common-ui/src/scss/modules/_unityBlock.scss                      */
/*                                                                            */
/* =~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~ */
@use 'sass:color';

@use './../utilities/functions/func_fonts' as fonts;
@use './../utilities/functions/func_val' as val;
@use './../utilities/variables/var-baseValue' as baseValue;

.unityBlock{
  background-color: val.brandUnityBlock(unityBlock_bgc);
  border-radius: #{val.brandSizes(unityBlock_bRadius)}px;
  box-shadow: 0px 1px 0px color.scale(rgba(val.brandColors(_black), 1), $alpha: -80%, $space: rgb);
  padding: fonts.rem(val.brandSizes(unityBlock_padding));
  z-index: val.zIndex(unityBlock);

  &__nobg{
    background-color: transparent;
  }
  &__noshadow{
    box-shadow: none;
  }
  &__shadowBig{
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.10);
  }
  &__border{
    border-width: 1px;
    border-style: solid;
    border-color: val.brandUnityBlock(unityBlock_border);
  }
  &__hover{
    &:focus,
    &:hover{
      background-color: val.brandUnityBlock(unityBlockHover_bgc);
      border-color: val.brandUnityBlock(unityBlockHover_border);
      --tableTd-bgc: #{val.brandUnityBlock(unityBlockHover_bgc)};
    }
  }
  &.active{
    background-color: val.brandUnityBlock(unityBlockHover_bgc);
    border-color: val.brandUnityBlock(unityBlockHover_border);
    --tableTd-bgc: #{val.brandUnityBlock(unityBlockHover_bgc)};
  }
  &_header{
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: fonts.rem(val.brandSizes(unityBlockHeader_mb));
    &Item{
      align-items: center;
      justify-content: flex-start;
      display: flex;
      &:last-child{
        justify-content: flex-end;
      }
    }
    &Title{
      color: val.brandUnityBlock(unityBlockTitle_color);
      font-size: fonts.rem(val.fontSizes(unityBlockTitle));
      font-weight: val.fontWeight(unityBlockTitle);
      line-height: fonts.rem(val.lineHeight(unityBlockTitle));
      text-transform: val.textTransform(unityBlockTitle);
      white-space: nowrap;
    }
    &SvgTitle{
      // height: fonts.rem(24);
      // width: fonts.rem(24);
      margin-right: fonts.rem(baseValue.$base-padding);
      --svgIcon_height__24vb: #{fonts.rem(24)};
      --svgIcon_width__24vb: #{fonts.rem(24)};
    }
  }
  // &_body{}
}