@use 'sass:map';
@use 'sass:math';
@use '../mixins_bootstrap-v3/clearfix' as clearfix;
@use '../mixins_bootstrap-v4/grid' as grid;
@use '../mixins_bootstrap-v4/breakpoints' as breakpoints;
@use '../variables/var-bootstrap-v3' as varbootstrapv3;
@use '../variables/var-bootstrapBool' as bootstrapbool;

// Framework grid generation

@mixin makeGutters($gutters: varbootstrapv3.$grid-gutter-widths) {
  @if varbootstrapv3.$grid-gutter-width-base-equal {
    $gutter: varbootstrapv3.$grid-gutter-width-base;
    padding-right: ($gutter * .5);
    padding-left:  ($gutter * .5);
  } @else {
    @each $breakpoint in map.keys($gutters) {
      @include breakpoints.media-breakpoint-up($breakpoint) {
        $gutter: map.get($gutters, $breakpoint);
        padding-right: ($gutter * .5);
        padding-left:  ($gutter * .5);
      }
    }
  }
}

@mixin makeCol($size, $columns: varbootstrapv3.$grid-columns) {
  @if varbootstrapv3.$enable-grid-flex {
    flex: 0 0 math.percentage(calc($size / $columns));
    max-width: math.percentage(calc($size / $columns));
  } @else {
    float: left;
    width: math.percentage(calc($size / $columns));
  }
}

@mixin makeCol5($size, $columns: varbootstrapv3.$grid-columns) {
  @if varbootstrapv3.$enable-grid-flex {
    flex: 0 0 math.percentage(calc($size / $columns + 1 / $columns * .5));
    max-width: math.percentage(calc($size / $columns + 1 / $columns * .5));
  } @else {
    float: left;
    width: math.percentage(calc($size / $columns + 1 / $columns * .5));
  }
}

@mixin make-col-offset($size, $columns: varbootstrapv3.$grid-columns) {
  @if bootstrapbool.$enable-col-offset-classes {
    margin-left: math.percentage(calc($size / $columns));
  }
}
@mixin make-col-offset5($size, $columns: varbootstrapv3.$grid-columns) {
  @if bootstrapbool.$enable-col-offset-classes {
    margin-left: math.percentage(calc($size / $columns + 1 / $columns * .5));
  }
}

@mixin makeGridColumns($columns: varbootstrapv3.$grid-columns, $gutters: varbootstrapv3.$grid-gutter-widths, $breakpoints: varbootstrapv3.$grid-breakpoints) {
  %gridColumn {
    position: relative;
    min-height: 1px;
    @if varbootstrapv3.$enable-grid-flex {
      width: 100%;
    }
    @include makeGutters($gutters);
  }

  $breakpoint-counter: 0;
  @each $breakpoint in map.keys($breakpoints) {

    $breakpoint-counter: ($breakpoint-counter + 1);

    // Allow columns to stretch full width below their breakpoints
    @if $breakpoint == '' {
      .col {
        @extend %gridColumn;
      }
      .col-0-5 {
        @extend %gridColumn;
      }
    }
    @else{ 
      .col-#{$breakpoint} {
        @extend %gridColumn;
      }
      .col-#{$breakpoint}-0-5 {
        @extend %gridColumn;
      }
    }

    @for $i from 1 through $columns {
      @if $i == $columns {
        @if $breakpoint == '' {
        .col-#{$i}{
            @extend %gridColumn;
          }
        }
        @else{
          .col-#{$breakpoint}-#{$i}{
            @extend %gridColumn;
          }
        }
      }
      @else {
        @if $breakpoint == '' {
          .col-#{$i},
          .col-#{$i}-5 {
            @extend %gridColumn;
          }
        }
        @else{
          .col-#{$breakpoint}-#{$i},
          .col-#{$breakpoint}-#{$i}-5 {
            @extend %gridColumn;
          }
        }
      }
    }

    @include breakpoints.media-breakpoint-up($breakpoint, $breakpoints) {
      @if varbootstrapv3.$enable-grid-flex {
        @if $breakpoint == '' {
          .col {
            flex-basis: 0;
            flex-grow: 1;
            max-width: 100%;
          }
        }
        @else{ 
          .col-#{$breakpoint} {
            flex-basis: 0;
            flex-grow: 1;
            max-width: 100%;
          }
        }
      }
      @if $breakpoint == '' {
        .col-0-5 {
          @include makeCol5(0);
        }
      }
      @else{ 
        .col-#{$breakpoint}-0-5 {
          @include makeCol5(0);
        }
      }

      @for $i from 1 through $columns {
        @if $i == $columns {
          @if $breakpoint == '' {
            .col-#{$i} {
              @include makeCol($i, $columns);
            }
          } 
          @else{ 
            .col-#{$breakpoint}-#{$i} {
              @include makeCol($i, $columns);
            }
          }
        }
        @else{
          @if $breakpoint == '' {
            .col-#{$i} {
              @include makeCol($i, $columns);
            }
            .col-#{$i}-5 {
              @include makeCol5($i, $columns);
            }

          }
          @else{
            .col-#{$breakpoint}-#{$i} {
              @include makeCol($i, $columns);
            }
            .col-#{$breakpoint}-#{$i}-5 {
              @include makeCol5($i, $columns);
            }
          }
        }
      }

      // `$columns - 1` because offsetting by the width of an entire row isn't possible

      @for $i from 0 through ($columns - 1) {
        @if $breakpoint-counter != 1 or $i != 0 { // Avoid emitting useless .offset-xs-0
          @if $i == $columns {
            @if $breakpoint == '' {
              .offset-#{$i} {
                @include make-col-offset($i, $columns)
              }
            }
            @else{ 
              .offset-#{$breakpoint}-#{$i} {
                @include make-col-offset($i, $columns)
              }
            }
          }
          @else{
            @if $breakpoint == '' {
              .offset-#{$i} {
                @include make-col-offset($i, $columns)
              }
              .offset-#{$i}-5 {
                @include make-col-offset5($i, $columns)
              }
            }
            @else{ 
              .offset-#{$breakpoint}-#{$i} {
                @include make-col-offset($i, $columns)
              }
              .offset-#{$breakpoint}-#{$i}-5 {
                @include make-col-offset5($i, $columns)
              }
            }
          }
        }
      }
    }
  }
}

@mixin makeContainer($gutter: varbootstrapv3.$grid-gutter-width-base) {
  margin-left: auto;
  margin-right: auto;
  @if varbootstrapv3.$grid-gutter-width-base-equal {
    padding-right: ((map.get(varbootstrapv3.$grid-gutter-widths, 'xs')) * .5);
    padding-left: ((map.get(varbootstrapv3.$grid-gutter-widths, 'xs')) * .5);
  }
  @else{
    padding-right: (varbootstrapv3.$grid-gutter-width * .5);
    padding-left: (varbootstrapv3.$grid-gutter-width * .5);
  }

  @if not varbootstrapv3.$enable-grid-flex {
    @include clearfix.clearfix();
  }
}

@function breakpointInfix($name, $breakpoints: varbootstrapv3.$grid-breakpoints) {
  @if breakpoints.breakpoint-min($name, $breakpoints) == null {
    @return "";
  }
  
  @return "#{$name}";
}

@mixin makeContainerGrid($max-widths: varbootstrapv3.$container-max-widths, $gutter: varbootstrapv3.$grid-gutter-widths, $breakpoints: varbootstrapv3.$grid-breakpoints){
  @each $breakpoint in map.keys($breakpoints) {
    $infix: breakpointInfix($breakpoint, $breakpoints);
    $gutters: map.get($gutter, $infix);
    $widths: map.get($max-widths, $infix);
    @if not varbootstrapv3.$grid-gutter-width-base-equal{
      @include breakpoints.media-breakpoint-up($breakpoint, $breakpoints) {
        @if ($gutters == null){
          padding-right: $gutters;
          padding-left: $gutters;
        }
        @else{
          padding-right: $gutters * .5;
          padding-left: $gutters * .5;
        }
        max-width: $widths;
      }
    }
    @else{
      @include breakpoints.media-breakpoint-up($breakpoint, $breakpoints) {
        max-width: $widths;
      }
    }
  }
}

@mixin makeRow($gutters: varbootstrapv3.$gridGutterWidth) {
  @if varbootstrapv3.$enable-grid-flex {
    display: flex;
    flex-wrap: wrap;
  } @else {
    @include clearfix.clearfix();
  }
  @if not varbootstrapv3.$grid-gutter-width-base-equal { // @todo доработать при необходимости разных значений
    @each $breakpoint in map.keys($gutters) {
      @include breakpoints.media-breakpoint-up($breakpoint) {
        $gutter: map.get($gutters, $breakpoint);
        margin-right: ($gutter * -.5);
        margin-left:  ($gutter * -.5);
      }
    }
  }
  @else{
    margin-right: ($gutters * -.5);
    margin-left:  ($gutters * -.5);
  }
}
