//* =~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~ *//
//* MIXINS GRID                                                              *//
//* path: utilities/mixins/_grid.scss                                        *//
//* старая версия формирования сетки                                         *//
//* =~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~ *//
@use 'sass:math';
@use './../variables/var-bootstrap-v3' as varbootstrapv3;

// ------------------------------------------------------------------- Mixins //
@mixin make-grid-columns($i: 1, $j: #{0}-5, $list: ".col-xs-#{$j}, .col-sm-#{$j}, .col-md-#{$j}, .col-lg-#{$j}") {
  @for $i from (0 + 1) through varbootstrapv3.$grid-columns {
    @if $i == varbootstrapv3.$grid-columns{
      $list: "#{$list}, .col-xs-#{$i}, .col-sm-#{$i}, .col-md-#{$i}, .col-lg-#{$i}";
    }
    @else{
      $list: "#{$list}, .col-xs-#{$i}, .col-sm-#{$i}, .col-md-#{$i}, .col-lg-#{$i}, .col-xs-#{$i}#{-5}, .col-sm-#{$i}#{-5}, .col-md-#{$i}#{-5}, .col-lg-#{$i}#{-5}";
    }
  }
  #{$list} {
    position: relative;
    // Prevent columns from collapsing when empty
    min-height: 1px;
    // Inner gutter via padding
    padding-right: math.floor(calc(varbootstrapv3.$grid-gutter-width / 2));
    padding-left: math.ceil(calc(varbootstrapv3.$grid-gutter-width / 2));
  }
}

// ------------------------------------------------------------------- Mixins //
@mixin float-grid-columns($class, $i: 1, $j: #{0}-5, $list: ".col-#{$class}-#{$j}") {
  @for $i from (0 + 1) through varbootstrapv3.$grid-columns {
    @if $i == varbootstrapv3.$grid-columns{
      $list: "#{$list}, .col-#{$class}-#{$i}";
    }
    @else{
      $list: "#{$list}, .col-#{$class}-#{$i}, .col-#{$class}-#{$i}#{-5}";
    }
  }
  #{$list} {
    float: left;
  }
}

// ------------------------------------------------------------------- Mixins //
@mixin calc-grid-column($index, $class, $type) {
  @if ($type == width) and ($index >= 0) {
    @if $index == varbootstrapv3.$grid-columns{
      .col-#{$class}-#{$index} {
        width: math.percentage(calc($index / varbootstrapv3.$grid-columns));
      }
    }
    @else if $index == 0{
      .col-#{$class}-#{$index}-#{5} {
        width: math.percentage(calc($index / varbootstrapv3.$grid-columns + ( ( ($index + 1) / varbootstrapv3.$grid-columns - $index / varbootstrapv3.$grid-columns) / 2) ) );
      }
    }
    @else{
      .col-#{$class}-#{$index} {
        width: math.percentage(calc($index / varbootstrapv3.$grid-columns));
      }
      .col-#{$class}-#{$index}-#{5} {
        width: math.percentage(calc($index / varbootstrapv3.$grid-columns + ( ( ($index + 1) / varbootstrapv3.$grid-columns - $index / varbootstrapv3.$grid-columns) / 2) ) );
      }
    }
  }
  @if ($type == push) and ($index > 0) {
    .col-#{$class}-push-#{$index} {
      left: math.percentage(calc($index / varbootstrapv3.$grid-columns));
    }
  }
  @if ($type == push) and ($index == 0) {
    .col-#{$class}-push-0 {
      left: auto;
    }
  }
  @if ($type == pull) and ($index > 0) {
    .col-#{$class}-pull-#{$index} {
      right: math.percentage(calc($index / varbootstrapv3.$grid-columns));
    }
  }
  @if ($type == pull) and ($index == 0) {
    .col-#{$class}-pull-0 {
      right: auto;
    }
  }
  @if ($type == offset) {
    .col-#{$class}-offset-#{$index} {
      margin-left: math.percentage(calc($index / varbootstrapv3.$grid-columns));
    }
  }
}

// ------------------------------------------------------------------- Mixins //
@mixin loop-grid-columns($columns, $class, $type) {
  @for $i from 0 through $columns {
    @include calc-grid-column($i, $class, $type);
  }
}

// ------------------------------------------------------------------- Mixins //
// Create grid for specific class
@mixin make-grid($class) {
  @include float-grid-columns($class);
  @include loop-grid-columns(varbootstrapv3.$grid-columns, $class, width);
  @include loop-grid-columns(varbootstrapv3.$grid-columns, $class, pull);
  @include loop-grid-columns(varbootstrapv3.$grid-columns, $class, push);
  @include loop-grid-columns(varbootstrapv3.$grid-columns, $class, offset);
}
