// ------------------------------------------------------------------- Mixins //
// Миксин для задания размеров svg иконок
// Prefixes usage
// Syntax:
// @include svg-icon(HHpx); или @include svg-icon(HHpx, WWpx);
// Результат:
//     {height: HHpx;  width: auto;} или  {height: HHpx;  width: WW;}

@mixin svg-icon($height, $width:auto){
  height: $height;
  width: $width;
  svg{
    height: $height;
    width: $width;
  }
}

// ------------------------------------------------------------------- Mixins //
@mixin svg-icon-variant($parent, $color) {
  #{$parent},
  #{$parent}.svg--icon {
    svg {
      #{--svg-icon-fill}: $color;
      #{--svg-icon-stroke}: $color;
    }
  }
}
