// ------------------------------------------------------------------- Mixins //
// Transitions
@use 'sass:list';
@use './../variables/var-bootstrapBool' as bootstrapbool;

@mixin transition($transition...) {
  @if bootstrapbool.$enable-transitions {
    @if list.length($transition) == 0 {
      // -webkit-transition: $transition-base;
      //  -o-transition: $transition-base;
          transition: $transition-base;
    } @else {
      // -webkit-transition: $transition;
      //  -o-transition: $transition;
          transition: $transition;
    }
  }
}
