/* =~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~ */
/*                                                                            */
/* SINGLE                                                                     */
/* path: dsf-common-ui/src/scss/content/_authorization.scss                   */
/*                                                                            */
/* =~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~ */
@use './../utilities/functions/func_val' as val;
// @use './../utilities/variables/var-colors' as *;

.authorization{
  background-color: val.brandColors(_white);
  box-shadow: 0px 50px 40px rgba(0, 0, 0, 0.3);
  flex-basis: 320px;
  max-width: 320px;
  margin: 100px auto 0;
  padding: 30px;
  &__heading{
    .logo{
      height: 34px;
      justify-content: center;
    }
  }
  .guest-view &{
    margin-top: 0;
  }
}
