/* =~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~ */
/*                                                                            */
/* ERROR PAGE                                                                 */
/* path: dsf-common-ui/src/scss/content/_errorPage.scss                        */
/*                                                                            */
/* =~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~ */

.errorPage {
  position: relative;
  width: 100%;
  
  &_title {
    font-size: 160px;
    font-weight: 700;
    z-index: 1;
  }

  &_item {
    z-index: 1;
  }
}