/* =~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~ */
/*                                                                            */
/* SINGLE                                                                     */
/* path: dsf-common-ui/src/scss/content/_single.scss                          */
/*                                                                            */
/* =~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~ */
.mainContainer{
  min-height: calc(100vh - 164px);
  .guest-view & {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: calc(100vh - 121px);
  }
  .mobile-view &{
    min-height: calc(100vh - 200px);
  }
}
