/* =~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~ */
/*                                                                            */
/* BASE                                                                       */
/* path: dsf-common-ui/src/scss/base/_base.scss                               */
/*                                                                            */
/* =~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~ */

@use 'sass:math';
@use './../utilities/functions/func_fonts' as fonts;
@use './../utilities/functions/func_val' as val;
@use './../utilities/variables/var-colors' as colors;
@use './../utilities/mixins/typography' as typography;
// @use './../utilities/variables/var-fonts' as *;
// @use './../utilities/variables/var-lineHeights' as *;
// @use './../utilities/variables/var-sizes' as *;
// @use './../utilities/variables/var-dataImages' as *;

:root{
  @each $name, $value in colors.$brand-colors {
    --color#{$name}: #{$value};
  }
  --checkboxItemActive_image: url("#{val.brandDataImage(checkIcon)}");
}
// * {
//   scrollbar-width: thin;
// }

// ::-webkit-scrollbar {
//   width: 6px;
//   height: 6px;
//   background-color: #777777;
// }

// ::-webkit-scrollbar-button {
//   width: 6px;
//   height: 6px;
// }

// ::-webkit-scrollbar-track {
//   background-color: #F5F5F5;
// }

// ::-webkit-scrollbar-thumb {
//   background-color: #777777;
// }

html{
  font-size: 12pt;
  font-family: sans-serif;
  // scrollbar-width: thin;
}
body {
  background-color: val.brandPalette(body_bgc);
  color: val.brandPalette(body_color);
  font-family: fonts.font-family();
  // height: 100vh;  // спорное правило
  min-height: 100vh;  // спорное правило
  text-rendering: optimizeLegibility;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: 'liga', 'kern';
  @include typography.responsive-font-size('body');
  @include typography.responsive-line-height('body');
  @include typography.responsive-letter-spacing('body');
  &.guest-view,
  &.reset-view{
    background-image: linear-gradient(90deg, #002D4E 0%, #005492 100%);
  }
  &.error-view{
    background: linear-gradient(90deg, #002743 0%, #003101 100%);
  }
}

a {
  color: val.brandPalette(link_color);
  #{--svg-valute-fill}: val.brandPalette(link_color);
  text-decoration: none;
  &:hover,
  &:focus-visible {
    color: val.brandPalette(linkHover_color);
    #{--svg-valute-fill}: val.brandPalette(linkHover_color);
    outline: none;
    text-decoration: none;
  }
  &.dashed {
    border-bottom: val.brandPalette(link_color) 1px dashed;
    text-decoration: none;
    &.empty {
      border-bottom-color: val.brandPalette(linkEmpty_color);
      color: val.brandPalette(linkEmpty_color);
    }
    &.incomplete {
      border-bottom-color: val.brandPalette(linkIncomplete_color);
      color: val.brandPalette(linkIncomplete_color);
    }
  }
}

hr {
  border: 0;
  border-top: 1px solid val.brandPalette(hr_border);
  margin-top: 10px;
  margin-bottom: 10px;

}

code {
  background-color: val.brandPalette(code_bgc);
  border-radius: val.brandSizes(border-radius-base);
  color: val.brandPalette(code_color);
  font-size: 90%;
  padding: 2px 4px;
  pre &{
    background-color: transparent;
    border-radius: 0;
    color: inherit;
    font-size: inherit;
    padding: 0;
    white-space: pre-wrap;
  }
}

pre {
  background-color: val.brandPalette(pre_bgc);
  border: 1px solid val.brandPalette(pre_color);
  border-radius: val.brandSizes(border-radius-base);
  color: val.brandPalette(pre_color);
  display: block;
  font-size: fonts.rem(calc(val.fontSizes(body) - 1));
  margin: 0 0 10px;
  line-height: fonts.rem(val.lineHeight(body));
  padding: 2px 4px;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre-wrap;
}

p {
  margin: 0 0 fonts.rem(10);
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 10px;
  ul,
  ol {
    margin-bottom: 0;
  }
}

mark,
.mark {
  padding: .2em;
  background-color: val.brandPalette(mark_bgc);
}

dl {
  margin-top: 0;
  margin-bottom: fonts.rem(val.brandSizes(base_marginSize));
}
dt,
dd {
  line-height: fonts.rem(val.lineHeight(body));
}
dt {
  font-weight: 700;
}
dd {
  margin-left: 0;
}

blockquote {
  padding: fonts.rem(math.div(val.brandSizes(base_marginSize), 2)) fonts.rem(val.brandSizes(base_marginSize));
  margin: 0 0 fonts.rem(val.brandSizes(base_marginSize));
  font-size: fonts.rem(val.fontSizes(blockquote));
  border-left: 5px solid val.brandPalette(blockquote_borderColor);

  p,
  ul,
  ol {
    &:last-child {
      margin-bottom: 0;
    }
  }

  // Note: Deprecated small and .small as of v3.1.0
  // Context: https://github.com/twbs/bootstrap/issues/11660
  footer,
  small,
  .small {
    display: block;
    font-size: 80%; // back to default font-size
    line-height: fonts.rem(val.lineHeight(body));
    color: val.brandPalette(blockquote_color);

    &:before {
      content: "\2014 \00A0"; // em dash, nbsp
    }
  }
}
