@use 'sass:list';
@use 'sass:map';
@use 'sass:meta';
@use 'sass:string';
// @use './../utilities/functions/func_val' as val;
@use './../utilities/variables/var-fonts' as fonts;
@use './../utilities/variables/var-paths' as path;

@each $fontFamily, $fontStyle in fonts.$fontsList {
  $fontStyles: map.keys(map.get(fonts.$fontsList, $fontFamily));
  $fontStylesLength: list.length($fontStyles);
  @for $j from 1 through $fontStylesLength {
    $fontStyleName: list.nth($fontStyles, $j);
    $fontWeights: map.keys(map.get(fonts.$fontsList, $fontFamily, $fontStyleName));
    $fontNames: map.values(map.get(fonts.$fontsList, $fontFamily, $fontStyleName));
    $length: list.length($fontWeights);
    @for $i from 1 through $length {
        $weight: list.nth($fontWeights, $i);
        $name: list.nth($fontNames, $i);
        @font-face {
          font-family: $fontFamily;
          font-style: string.unquote($fontStyleName);
          font-weight: $weight;
          src: local('#{$name}'), local('#{$fontFamily}-#{$weight}'),
          url('#{path.$path-fonts}#{$name}.woff2') format('woff2'),
          url('#{path.$path-fonts}#{$name}.woff') format('woff'),
          url('#{path.$path-fonts}#{$name}.ttf') format('truetype');
        }
    }
  }
}

@font-face {
  font-family: 'Glyphicons Regular';
  src: url('#{path.$path-fonts}glyphicons-regular.woff2') format('woff2'),
       url('#{path.$path-fonts}glyphicons-regular.woff') format('woff'),
       url('#{path.$path-fonts}glyphicons-regular.ttf') format('truetype');
}
