/* =~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~ */
/*                                                                            */
/* TYPOGRAPHY                                                                 */
/* path: dsf-common-ui/src/scss/base/_typography.scss                         */
/*                                                                            */
/* =~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~ */
@use 'sass:math';
@use './../utilities/functions/func_fonts' as fonts;
@use './../utilities/functions/func_val' as val;
// @use './../utilities/variables/var-colors' as *;
// @use './../utilities/variables/var-fonts' as *;
// @use './../utilities/variables/var-lineHeights' as lih;
// @use './../utilities/variables/var-sizes' as *;
@use '../utilities/variables/_var-bootstrap-v3.scss' as varbootstrapv3;
@use './../utilities/mixins_bootstrap-v3/clearfix' as clearfix;
@use './../utilities/mixins_bootstrap-v3/text-overflow' as textoverflow;
@use './../utilities/variables/var-paths' as paths;

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: fonts.font-family();
  font-weight: val.fontWeight(headings);
  line-height: val.lineHeight(headings);
  color: val.brandPalette(haeding_color);

  small,
  .small {
    font-weight: 400;
    line-height: 1;
    // color: $headings-small-color;
  }
}

h1, .h1,
h2, .h2,
h3, .h3 {
  // margin-top: $line-height-computed;
  margin-bottom: fonts.rem(val.brandSizes(base_marginSize));
  small,
  .small {
    font-size: 65%;
  }
}
h4, .h4,
h5, .h5,
h6, .h6 {
  // margin-top: math.div($line-height-computed, 2);
  margin-bottom: 0;

  small,
  .small {
    font-size: 75%;
  }
}

h1, .h1 { 
  font-size: fonts.rem(val.fontSizes(headingH1));
}
h2, .h2 {
  font-size: fonts.rem(val.fontSizes(headingH2));
  font-weight: val.fontWeight(headingH2);
  line-height: fonts.rem(val.lineHeight(headingH2));
}
h3, .h3 {
  font-size: fonts.rem(val.fontSizes(headingH3));
  font-weight: val.fontWeight(headingH3);
  line-height: fonts.rem(val.lineHeight(headingH3));
}
h4, .h4 {
  font-size: fonts.rem(val.fontSizes(headingH4));
  font-weight: val.fontWeight(headingH4);
  line-height: fonts.rem(val.lineHeight(headingH4));
  text-transform: uppercase;
}
h5, .h5 { font-size: fonts.rem(val.fontSizes(headingH5)); }
h6, .h6 { font-size: fonts.rem(val.fontSizes(headingH6)); }

.dl-horizontal {
  dd {
    @include clearfix.clearfix; // Clear the floated `dt` if an empty `dd` is present
  }
  @media (min-width: varbootstrapv3.gridBreakpoints(sm)) {
    dt {
      float: left;
      width: fonts.rem(val.brandSizes(dlHorizontalOffset) - 20);
      clear: left;
      text-align: right;
      @include textoverflow.text-overflow;
    }
    dd {
      margin-left: fonts.rem(val.brandSizes(dlHorizontalOffset));
    }
  }
}

.headline{
    align-items: center;
    background-color: var(--color_light-blue2);
    border-left: 5px solid var(--color_vibrant-blue);
    display: flex;
    justify-content: space-between;
    // line-height: 44px;
    margin-bottom: 10px;
    min-height: 36px;
    padding-left: 10px;
    padding-right: 10px;
    &_title{
        color: var(--color_blue);
        font-size: fonts.rem(12);
        font-weight: 700;
        line-height: 14px;
        // line-height: 36px;
        margin: 0;
    }
    &_optional{
        color: var(--color_vibrant-blue);
        font-size: fonts.rem(14);
        font-weight: 700;
    }
}

.phoneField{
  &__orange{ 
    background-color: val.brandColors(_light-orange);
    display: inline-flex;
    font-size: 13px;
    line-height: 16px;
    padding: 5px 7px;
  }
  &__blue{
    align-items: center;
    background-color: val.brandColors(_light-blue2);
    display: flex;
    font-size: 14px;
    justify-content: space-between;
    line-height: 18px;
    min-height: 36px;
    padding: 7px 10px;
    width: 100%;
  }
}

.commentField{
  border-radius:0 10px 10px 10px;
  background-color: val.brandColors(_light-blue2);
  display: inline-flex;
  font-size: 12px;
  line-height: 14px;
  padding: 10px;
}

.colorField{
  align-items: center;
  display: inline-flex;
  &__form-control{
    height: fonts.rem(calc(val.lineHeight(input) + 2));
  }
  &_formControl{
    border: none;
    border-radius: 24px;
    cursor: pointer;
    display: inline-flex;
    height: 24px;
    padding: 0;
    overflow: hidden;
    width: 24px;
    -webkit-appearance: none;
    &::-webkit-color-swatch-wrapper {
      padding: 0; 
    }
    &::-webkit-color-swatch {
        border: none;
        border-radius: 50%;
    }
    &::-moz-color-swatch {
        border: none;
        border-radius: 50%;
    }
  }
  &:after{ 
    color: val.brandPalette(formControl-color);
    content: attr(data-colorField); 
    display: block;
    padding-left: 5px;
    font-size: fonts.rem(val.fontSizes(formElem));
  }
}

.block {
  &BusinessCard{
      &Left{
          flex-grow:0;
          padding-left: 10px;
          padding-right: 20px;
          flex-basis: 145px;
          .mobile-view & {
              padding-left: 0;
              padding-right: 0;
          }
          .blockBusinessCardLeft__none &{
              display: none;
          }
          &_image{
              background-repeat: no-repeat;
              background-size: 115px;
              height: 115px;
              max-height: 115px;
              overflow: hidden;
              position: relative;
              width: 115px;
              &__personal{ 
                  background-image: url(paths.$path-images + 'placeholder_photo.svg');
              }
              &__contact{ 
                  background-image: url(paths.$path-images + 'placeholder_contact.svg');
                  background-size: 104px;
                  max-height: 104px;
                  height: 104px;
                  width: 104px;
              }
              &__auto{
                  background-image: url(paths.$path-images + 'placeholder_auto.svg');
              }
              &__corporate{ 
                  background-image: url(paths.$path-images + 'placeholder_corporate.svg');
              }
              &__none{
                background-image: none;
              }
              img{ 
                  max-width: 100%;
                  &[src=""]{
                    display: none;  
                  }
              }
          }
      }
      &Right{
          flex-grow:1;
          padding-right: 10px;
          padding-left: 10px;
          width: 100%;
          .mobile-view & {
              padding-left: 0;
              padding-right: 0;
          }
          .blockBusinessCardLeft__none &{
              padding-left: 0;
              padding-right: 0;
          }
      }
  }
}