.comments{
    margin-right: -15px;
    margin-left: -15px;
    padding: 1px 15px 0;
    height: 399px;
    background-color: #f8f8ff;
    .css-comments{
        .css-comments-item {
            border: 1px solid #d1d1d1;
            margin-top: 10px;
            max-height: 282px;
            overflow-y: auto;
        }
        .css-comment-text {
            width: 82%;
            display: inline-block;
            vertical-align: top;
            height: 68px;
        }
        .btn {
            display: inline-block;
            vertical-align: top;
            float: right;
            margin-top: 18px;
        }

        .css-item {
            background-color: #F2F2F2;
            padding: 10px;
            &:nth-child(odd) {
                background-color: #fff;
            }
            &:before,
            &:after {
                display: table;
                content: ' ';
            }
            &:after {
                clear: both;
            }
            .pull-left {
                width: 95px;
            }
            .css-user {
                color: #B0B0B0;
                word-wrap: break-word;
            }
            .css-text {
                padding-left: 100px;
                width: 100%;
                /*float: left;*/
                word-wrap: break-word;
            }
        }
    }
}
