.commonVehicleViewTitle {
  align-items: center;
  padding-right: 15px !important;
  justify-content: flex-start !important;
}

.commonVehicleViewTitle__id {
  margin-right: 10px;
  color: #777777;
}

.commonVehicleViewTitle__vehicle {
  margin-right: 10px;
}

.commonVehicleViewTitle__back {
  margin-left: auto;
  line-height: unset;
  text-shadow: none;
}

.commonVehicleView__block:not(:last-child) {
  margin-bottom: 15px;
}

.commonVehicle__tabTitle {
  margin-top: -5px;
}

.commonVehicleCard {
  display: flex;
  margin-bottom: 15px;
}

@media (max-width: 1000px) {
  .commonVehicleCard {
    flex-direction: column;
  }
}

.commonVehicleCard__image {
  width: 115px;
  height: 115px;
  border-radius: 50%;
  border: 1px solid #cccccc;
  margin-right: 30px;
  flex-shrink: 0;
  background: url(/images/auto.svg) no-repeat center center;
  position: relative;
  overflow: hidden;
}

.commonVehicleCard__image img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
