.item-dashboard-search {
  .section-filters-body-row {
    &:not(:first-child) {
      border: none;
    }

    &:not(:last-child) {
      position: relative;

      &:after {
        content: "";
        display: block;
        position: absolute;
        top: 100%;
        left: 10px;
        right: 10px;
        height: 1px;
        background: #777;
      }
    }
  }

  .section-filters-body-col {
    h4 {
      margin-top: 11px;
      margin-bottom: 20px;
    }

    @media (min-width: 992px) {
      &:not(:last-child) {
        padding-right: 10px;
      }

      &:not(:first-child) {
        padding-left: 10px;
      }
    }

    & + .section-filters-body-col {
      border: none;
      @media (min-width: 992px) {
        &:before {
          content: "";
          display: block;
          position: absolute;
          top: 10px;
          bottom: 10px;
          right: 100%;
          width: 1px;
          background: #777;
        }
      }
    }
  }

  .col-sm-2-5 {
    width: 20%;
  }

  input.form-control, textarea.form-control {
    border: 1px solid #BABABA;
    color: #333;
    padding: 5px 7px;
    font-size: 13px;

    &:focus {
      border: 1px solid #333;
    }
  }

  .caret {
    color: #333;
    right: 7px !important;
  }

  .btn-success {
    .caret {
      color: #fff;
    }
  }

  .form-select {
    background: transparent;

    .btn-default {
      background: transparent;
      border: 1px solid #BABABA;
      font-size: 13px;
      height: 28px;

      &:hover {
        background: transparent;
      }
    }

    &.open {
      .dropdown-toggle {
        border: 1px solid #333;

        &:hover {
          border: 1px solid #333 !important;
        }
      }
    }

    .dropdown-toggle {
      color: #333;
      padding: 0;
    }

    .bs-placeholder {
      color: #BABABA;
    }

    .filter-option {
      padding: 0px 20px 0px 7px;
    }
  }

  .form-select-placeholder {
    .bs-placeholder {
      .filter-option-inner-inner {
        opacity: 0;
      }
    }
  }

  .bootstrap-select > .dropdown-toggle.bs-placeholder:focus, .bootstrap-select > .dropdown-toggle.bs-placeholder:active {
    border: 1px solid #333;
  }

  .bootstrap-select > .dropdown-toggle.bs-placeholder, .bootstrap-select > .dropdown-toggle.bs-placeholder:hover, .bootstrap-select > .dropdown-toggle.bs-placeholder:focus, .bootstrap-select > .dropdown-toggle.bs-placeholder:active {
    color: #BABABA;
  }

  .btn-default:active:hover, .btn-default:active:focus, .btn-default:active.focus, .btn-default.active:hover, .btn-default.active:focus, .btn-default.active.focus, .open > .btn-default.dropdown-toggle:hover, .open > .btn-default.dropdown-toggle:focus, .open > .btn-default.dropdown-toggle.focus {
    border: 1px solid #BABABA;
  }

  .form-group {
    position: relative;
    margin-bottom: 10px;

    .control-label {
      position: absolute;
      background: #fff;
      padding: 0 4px;
      top: 8px;
      left: 3px;
      font-size: 13px;
      transition: .3s;
    }

    &.changeInput {
      .control-label {
        top: -8px;
        z-index: 10;
        font-size: 11px;
      }
    }

    &.field-js-vin, &.field-js-client-search {
      .control-label {
        top: -8px;
        z-index: 10;
        font-size: 11px;
      }
    }
  }
}

.dashboard-report {
  margin-top: 30px;
  clear: both;
  overflow: hidden;

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-title {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 700;
  }

  &-content {
    margin-top: 20px;
  }
}

.report-summary {
  & > .row {
    margin-right: -0.625rem;
    margin-left: -0.625rem;
  }

  &-col {
    position: relative;
    padding: 10px;

    &:not(:first-child) {
      padding-left: 15px;
    }

    &:not(:last-child) {
      padding-right: 15px;

      &:after {
        content: "";
        display: block;
        width: 1px;
        background: #BABABA;
        position: absolute;
        left: 100%;
        top: 21px;
        bottom: 21px;
        margin-right: -5px;
      }
    }
  }

  &-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
  }

  &-content {
    margin-top: 13px;
  }

  &-item {
    margin-bottom: 10px;

    .item-title {
      font-size: 12px;
      line-height: 14px;
      color: #777777;
    }

    .item-value {
      font-weight: 700;
      font-size: 16px;
      line-height: 18px;
      color: #333333;
      display: flex;
      justify-content: space-between;

      &.text-success {
        color: #69C26A;
      }

      &.text-danger {
        color: #D9534F;
      }

      &-item {
        .glyphicon {
          margin-left: 10px;
        }
      }
    }
  }

  .item-charts-icon {
    right: 15px;
  }
}

.tab-content.tab-content-dashboard {
  padding: 0;
  background: transparent;

  & > .active {
    background: transparent;
    padding-top: 0;
  }

  .item-charts-chart {
    height: auto;
    padding: 0 10px;
  }
}

.dealer-dashboard-placings {
  &-item {
    &.green {
      @include gradient-horizontal(#71A34F, #99F354);
    }

    &.blue {
      @include gradient-horizontal(#4C75B7, #84B4F9);
    }

    .crm-label {
      font-size: rem(12);
      font-weight: 700;
      padding: rem(10) rem(10) 0;
    }
  }

  .highcharts-container {
    overflow: visible !important; // fix для смещения тултипа...
    z-index: 1 !important; // ... иначе обрезается
    svg.highcharts-root {
      overflow: visible !important; // fix для смещения тултипа...
    }
  }
}

.item-charts {

  &-row {
    display: flex;
    flex-wrap: wrap;

    @media (max-width: 992px) {
      display: block;
    }
  }

  &-wrap {
    position: relative;
    padding: 10px 0;
    background: #fff;
  }

  &-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    height: auto;

    svg {
      height: auto;
    }
  }

  &-col {
    margin-bottom: 10px;

    @media (max-width: 768px) {
      width: 100%;
    }
  }

  &-chart {
    margin-top: 20px !important;
    height: 212px;

    .highcharts-title {
      display: none;
    }

    .item-charts_main & {
      .highcharts-legend {
        & > div {
          & > div {
            display: flex;
            align-items: center;

            .highcharts-legend-item {
              display: flex;
              align-items: center;
              margin: 0 10px;
              position: static !important;

              &:before {
                content: "";
                display: block;
                width: 16px;
                height: 2px;
                background: #000;
                margin-right: 4px;
              }

              span {
                position: static !important;
              }

              &.highcharts-color-0 {
                margin-left: -10px;

                &:before {
                  background: #1E6393;
                }
              }

              &.highcharts-color-1 {
                &:before {
                  background: #fb4e4e;
                }
              }

              &.highcharts-color-2 {
                &:before {
                  background: #68C26A;
                }
              }
            }
          }
        }
      }

      &_legend {
        g.highcharts-legend {
          display: none;
        }
      }
    }
  }

  &-table {
    padding: 0 10px;

    .table {
      thead {
        tr {
          th:first-child {
            padding-left: 0;
          }
        }
      }
    }
  }

  .header-chart {
    padding: 0 10px;

    &-title {
      font-weight: 700;
      font-size: 16px;
      line-height: 18px;
      color: #333333;
    }

    &-text {
      font-size: 12px;
      line-height: 14px;
      color: #BABABA;
      margin-top: 5px;
    }
  }

  .highcharts-axis-labels, .highcharts-axis-labels text, .highcharts-subtitle tspan {
    font-family: 'Roboto' !important;
    font-size: 11px !important;
    line-height: 14px !important;
    fill: #333333 !important;
  }

  .highcharts-label tspan {
    font-family: 'Roboto' !important;
  }

  .indicator-chart {
    height: 10px;
  }
}


.item-charts-funnel {
  .item-charts-wrap {
    height: 100%;
  }

  .funnel-chart {
    position: relative;
    padding: 10px;
    margin-top: 21px;

    &-item {
      display: flex;
      margin-bottom: 13px;

      #marketing & {
        margin-bottom: 10px !important;
      }

      &:nth-child(1) {
        margin-bottom: 28px;
      }

      &:nth-child(2) {
        margin-bottom: 21px;

        .funnel-chart-significance {
          .significance-list {
            width: 292px;
          }
        }
      }

      &:nth-child(3) {
        .funnel-chart-significance {
          .significance-list {
            width: 270px;
          }
        }
      }

      &:nth-child(4) {
        .funnel-chart-significance {
          .significance-list {
            width: 248px;
          }
        }
      }

      &:nth-child(5) {
        .funnel-chart-significance {
          .significance-list {
            width: 230px;
          }
        }
      }

      &:nth-child(6) {
        .funnel-chart-significance {
          .significance-list {
            width: 210px;
          }
        }
      }

      &:nth-child(7) {
        .funnel-chart-significance {
          .significance-list {
            width: 190px;
          }
        }
      }

      &.refusals {
        position: absolute;
        right: 34px;
        bottom: 50px;

        .funnel-chart-title {
          width: auto;

          .text {
            margin-top: 5px;
          }
        }
      }
    }

    &-title {
      display: flex;
      align-items: center;
      width: 170px;
      font-size: 11px;
      line-height: 14px;
      color: #333333;

      @media (max-width: 1280px) {
        width: 90px;
      }

      @media (max-width: 992px) {
        width: 170px;
      }

      @media (max-width: 768px) {
        width: 90px;
      }

      .title {
        font-weight: 700;
      }

      .icon {
        margin-left: 5px;

        svg {
          display: block;
          width: 10px;
          height: 11px;
        }
      }
    }

    &-significance {
      display: flex;
      justify-content: center;
      height: 30px;
      max-width: 314px;
      width: 100%;

      .significance-list {
        position: relative;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;

        &:before, &:after {
          content: "";
          position: absolute;
          top: 0;
          width: 0;
          height: 0;
          border-left: 7px solid transparent;
          border-right: 7px solid transparent;
          border-bottom: 30px solid #fff;
          z-index: 5;
        }

        &:before {
          right: 100%;
          margin-right: -7px;
        }

        &:after {
          left: 100%;
          margin-left: -7px;
        }
      }

      .tooltip-inner {
        background: rgba(247, 247, 247, .85);
        text-align: left;
        box-shadow: 2px 2px 3px #bababa;
        border-radius: 3px;
      }

      .significance {

        &-item {
          position: relative;
        }

        &-text {
          font-size: 9px;
          line-height: 10px;
          position: absolute;
          bottom: 100%;
          margin-bottom: 3px;
        }

        &-col {
          font-size: 11px;
          height: 100%;
          line-height: 30px;
          text-align: center;
          background: #dddddd;
          width: 100%;

          &.visit {
            background: #d59a00;
          }

          &.call {
            background: #fff741;
          }

          &.internet {
            background: #ffbd41;
          }

          &.cold-call {
            background: #fffba0;
          }

          span {
            position: relative;
            z-index: 10;
          }
        }
      }

      &.traffic {
        position: relative;

        .tooltip-inner {
          border: 1px solid #fff741;
        }

        .traffic-col {
          font-weight: 700;
          font-size: 11px;
          line-height: 14px;
          position: absolute;
          top: 100%;
          left: 0;
          right: 0;
          margin-top: 4px;
          text-align: center;
        }
      }

      &.test-drive {
        .tooltip-inner {
          border: 1px solid #d9534f;
        }

        .significance-col {
          background: #d9534f;
        }
      }

      &.contract {
        .tooltip-inner {
          border: 1px solid #0094ff;
        }

        .significance-col {
          background: #0094ff;
        }
      }

      &.sale {
        .tooltip-inner {
          border: 1px solid #69c26a;
        }

        .significance-col {
          background: #69c26a;
        }
      }
    }
  }
}

section.item-dashboard-table {
  padding: 0;
  padding-top: 21px;

  .distributor-dashboard-table {

    .table {
      border-bottom: none;
    }

    .table-item-title {
      display: flex;
      align-items: center;
      font-weight: 700;
      font-size: 18px;
      line-height: 24px;
      color: #333;
      white-space: nowrap;

      img {
        width: 85px;
        margin-right: 5px;
      }
    }

    .table.table-nd > thead > tr.thead-title > th {
      font-size: 12px;
      line-height: 14px;
    }

    .table.table-nd > thead > tr.thead-title + tr > th {
      font-size: 12px;
      line-height: 14px;
      color: #777777;
      padding-top: 10px;
    }

    .table > tbody > tr > td, .table > tfoot > tr > td {
      font-size: 16px;
      line-height: 18px;
      white-space: nowrap;

      &:first-child {
        padding-right: 30px;
      }

      .td-second-cell {
        font-size: 12px;
        line-height: 14px;
      }
    }

    .table > tfoot > tr > td {
      background: #E4EEF7;
      vertical-align: middle;
      padding: 24px 8px;

      .tfoot-title {
        display: flex;
        justify-content: center;
        font-weight: 700;
        font-size: 18px;
      }
    }
  }
}

.dashboard-model {
  padding-top: 10px !important;

  &-list {
    display: flex;
    margin-top: 10px;
  }

  &-item {
    width: 566px;
    flex: none;
    position: relative;

    &:not(:last-child) {
      margin-right: 40px;

      &:after {
        content: "";
        width: 1px;
        background: #BABABA;
        position: absolute;
        top: 0;
        bottom: 10px;
        left: 100%;
        margin-left: 20px;
      }
    }
  }

  &-car {
    height: 84px;
    padding: 10px;
    background: #FFFFFF;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 10px;

    img {
      width: 114px;
    }
  }

  .item-charts-wrap {
    padding: 10px {
      bottom: 15px;
    }
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;

    .header-chart {
      &-title {
        font-weight: 700;
        font-size: 16px;
        line-height: 18px;
      }
    }

    table {
      margin-top: 26px;
      width: 100%;

      thead {
        tr {
          th {
            font-size: 12px;
            line-height: 14px;
            font-weight: normal;
            color: #777777;

            & > div {
              padding-bottom: 10px;
              border-bottom: 1px solid #BABABA;
            }

            &:nth-child(2) {
              & > div {
                padding: 0px 20px {
                  bottom: 10px;
                }
              }
            }

            &:nth-child(3) {
              & > div {
                padding-left: 20px;
              }

            }
          }
        }
      }

      tbody {
        padding: 5px 0;
        font-size: 16px;
        line-height: 18px;
        color: #333333;

        tr {
          td {
            padding: 5px 0;
            vertical-align: bottom;
            width: 33%;
            white-space: nowrap;

            .text {
              font-size: 12px;
              line-height: 14px;
              color: #777777;
              margin: 0;
            }

            .data {
              display: flex;
              justify-content: space-between;

              .glyphicon {
                margin-left: 10px;
              }
            }

            &:nth-child(2) {
              padding: 5px 20px;
              border-left: 1px solid #BABABA;
            }

            &:nth-child(3) {
              padding-left: 20px;
              border-left: 1px solid #BABABA;
            }
          }

          &:first-child {
            td {
              border-top: 10px solid #fff;
            }
          }
        }
      }
    }
  }
}

.dashboard-marketing {
  background: #FFFFFF;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
  padding: 10px {
    top: 13px;
  }
  margin-bottom: 10px;

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: #333333;
    margin: 0;
  }

  &-content {
    margin-top: 15px;
    display: flex;

    @media (max-width: 992px) {
      display: block;
    }
  }

  &-col {
    &:first-child {
      max-width: 568px;
      width: 100%;

      @media (max-width: 992px) {
        max-width: none;
      }

      .dashboard-marketing-list {
        justify-content: space-between;
      }

      .dashboard-marketing-item {
        width: 244px;
        margin-bottom: 20px;
      }
    }

    &:last-child {
      width: calc(100% - 586px);
      padding-left: 30px;
      border-left: 1px solid #CCCCCC;

      @media (max-width: 992px) {
        padding-left: 0;
        border-left: none;
        width: 100%;
      }

      h5 {
        font-weight: 700;
        font-size: 12px;
        line-height: 14px;
        text-transform: uppercase;
        color: #333333;
        margin: 0;
      }

      .dashboard-marketing-list {
        margin-top: 10px;
      }

      .dashboard-marketing-item {
        width: 170px;
        margin-bottom: 20px;

        &:not(:last-child) {
          margin-right: 50px;
        }
      }
    }
  }

  &-list {
    display: flex;
    flex-wrap: wrap;
  }

  &-item {
    font-size: 16px;
    line-height: 18px;
    color: #333333;

    .title {
      font-size: 12px;
      line-height: 14px;
      color: #777777;
    }

    p {
      font-size: 12px;
      line-height: 14px;
      color: #777777;
      opacity: 0.7;
      margin: 0;
    }
  }
}

#placing-chart {
  height: 301px;
}
