.section-filters {
    &-noBtn {
        margin-top: 0;

        &:before, &:after {
            display: none;
        }
    }
}

.badge-block {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    padding-bottom: 30px;

    .badge {
        background: #1E6393;
        border-radius: 2px;
        padding: 1px 4px;
        font-size: 11px;
        line-height: 14px;
        margin-right: 10px;
    }
}

.dropdown-m {
    .dropdown-menu {
        padding: 10px;
        border: none;
        border-radius: 0;
        box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
        min-width: auto;

        & > li {
            &:not(:first-child) {
                margin-top: 10px;
            }
            & > a {
                height: 28px;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                background: linear-gradient(180deg, #F9F9F9 0%, #CACACA 100%);
                border: 1px solid #BABABA;
                box-sizing: border-box;
                box-shadow: inset 0px 2px 0px rgba(255, 255, 255, 0.15);
                padding: 4px 10px;
                border-radius: 1px;
                font-size: 12px;
                color: #333;
                text-shadow: 0px 1px 0px #FFFFFF;
                transition: .3s;

                &:hover, &:active {
                    background: linear-gradient(180deg, #CACACA 0%, #F9F9F9 100%);
                }
            }
        }
    }
}

.btn-add ~ .dropdown-menu {
    padding: 10px;
    border: none;
    border-radius: 0;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
    min-width: auto;

    & > li {
        &:not(:first-child) {
            margin-top: 10px;
        }
        & > a {
            height: 28px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            background: linear-gradient(180deg, #F9F9F9 0%, #CACACA 100%);
            border: 1px solid #BABABA;
            box-sizing: border-box;
            box-shadow: inset 0px 2px 0px rgba(255, 255, 255, 0.15);
            padding: 4px 10px;
            border-radius: 1px;
            font-size: 12px;
            color: #333;
            text-shadow: 0px 1px 0px #FFFFFF;
            transition: .3s;

            &:hover, &:active {
                background: linear-gradient(180deg, #CACACA 0%, #F9F9F9 100%);
            }
        }
    }
}

.table-request {
    .dropdown-m {
        .dropdown-toggle {
            .svg--icon {
                padding: 0 6px;
                display: block;
            }
        }
    }

    input[type="radio"], input[type="checkbox"] {
        margin: 3px 0 0;
    }

    & > thead > tr > th {
        border-bottom: 1px solid #CCCCCC;
        padding-top: 0;
        line-height: 0.95rem;

        a {
            color: #1E6393;
        }

        .desc, .asc {
            color: #333;

            &:after {
                content: "";
                width: 9px;
                height: 11px;
                background: url("/icons/svg/desc.svg");
            }
        }

        .asc {
            &:after {
                background: url("/icons/svg/asc.svg");
            }
        }
    }

    & > tbody > tr > td {
        padding: 15px 10px;
        font-size: 13px;
        line-height: 15px;
        vertical-align: middle;

        & > a {
            text-decoration-line: underline;
            text-decoration-style: dotted;
            color: #1E6393;
        }
    }
}

#accessories-tab,
#spares-tab {
    .table-request {
        & > thead > tr > th {
            min-width: 68px;

            &.th-dotted {
                width: 34px;
                min-width: auto;
            }

            &:nth-child(2), &:nth-child(3) {
                width: 180px;
            }

            &:nth-child(4) {
                width: 194px;
            }

            &:nth-child(5) {
                width: 184px;
            }

            &:nth-child(6) {
                width: 242px;
            }
        }
    }
}

.item-request {
    position: relative;

    #inner {
        position: static;
    }

    .summary {
        position: absolute;
        right: 0.7rem;
        top: 20px;
        margin:0;
    }

    .tab-content.tab-content-noborder {
        border-top: 1px solid #BABABA;
        padding: {
            left: 0;
            right: 0;
            top: 4px;
        }
    }
}

.modal-spare {
    .table-responsive {
        max-height: 400px;
        margin-top: 20px;
    }
}

.item-spares {
    position: relative;

    .btn-maximize {
        position: absolute;
        top: 10px;
        right: 10px;
    }

    .title-spares {
        display: flex;
        align-items: center;
        font-weight: bold;
        font-size: 12px;
        line-height: 14px;
        text-transform: uppercase;
        color: #333;
    }

    .row-spares-search {
        margin-top: 12px;
        margin-bottom: 10px;
    }

    .form-search {
        max-width: 278px;
    }
}

.spares-table {
    margin-top: 14px;

    .table-request {
        & > thead > tr > th {
            min-width: 68px;

            &.th-dotted {
                width: 34px;
                min-width: auto;
            }
        }
    }
}

.request-page {
    color: #333;

    .title-block {
        @media (max-width: 992px) {
            flex-wrap: wrap;

            .page-title {
                width: 100%;
            }
    
            .title-block-btn {
                margin-top: 15px;
                margin-left: -10px;
            }
        }
    }

    
    .table-responsive {
        min-height: 230px;
        @media (max-width: 767px) {
            border: none;
        }
    }
    

    .summary {
        margin: 0 {
            bottom: 26px;
        }
    }

    .item-noSummary {
        .summary {
            display: none;
        }
    }
    
    .item-summaryPosition {
        position: relative;
    
        .summary {
            margin: 0;
            margin-top: -15px;
        }
    }
    
    .item-summaryMaximize {
        .summary {
            position: absolute;
            top: 12px;
            right: 40px;
            margin: 0;
        }
    }

    .table-request > thead > tr > th {
        white-space: nowrap;
    }

    .label {
        border-radius: 2px;
        padding: 0 4px;
        text-transform: uppercase;
        color: #fff;

        &-success {
            background: #69C26A;
        }

        &-for-order {
            background: #ffbd41;
        }

        &-warehouse-sm {
            background: #fffba0;
            color: #333;
        }

        &-sent {
            background: #fff6df;
            color: #333;
        }

        &-path-air {
            background: #e4eef7;
            color: #333;
        }

        &-path-sea {
            background: #b6d1e8;
            color: #333;
        }

        &-canceled {
            background: #d9534f;
        }

        &-info {
            background: #0094ff;
        }

        &-default {
            background: #bababa;
        }

        &-shipped {
            background: #d49a00;
        }

        &-path {
            background: #fff741;
            color: #333;
        }


        &-damage-code-cause {
            background: #DAF0DA;
            color: #333;
        }

        &-damage-code-content {
            background: #FFBD41;
            color: #fff;
        }

        &-damage-code-damage {
            background: #333333;
            color: #fff;
        }

        &-damage-code-malfunction {
            background: #D9534F;
            color: #fff;
        }

        &-damage-code-part {
            background: #69C26A;
            color: #fff;
        }

        &-damage-code-repairs {
            background: #1E6393;
            color: #fff;
        }


        &-warranty-claim-draft {
            background: #DAF0DA;
            color: #333;
        }

        &-warranty-claim-new {
            background: #69C26A;
            color: #fff;
        }

        &-warranty-claim-incomplete-data {
            background: #FFBD41;
            color: #fff;
        }

        &-warranty-claim-fixed {
            background: #467B46;
            color: #fff;
        }

        &-warranty-claim-rejected {
            background: #D9534F;
            color: #fff;
        }

        &-warranty-claim-guarantee {
            background: #4A8DC6;
            color: #fff;
        }

        &-warranty-claim-completed {
            background: #69C26A;
            color: #fff;
        }

        &-warranty-claim-accepted-sml {
            background: #0094FF;
            color: #fff;
        }

        &-warranty-claim-accepted-sbr {
            background: #1E6393;
            color: #fff;
        }

        &-warranty-claim-processed-sbr {
            background: #911E93;
            color: #fff;
        }

        &-warranty-claim-paid {
            background: #777777;
            color: #fff;
        }

        &-insurance-claim-closed {
            background: #d9534f;
        }

        &-insurance-claim-rejected {
            background: #bababa;
        }

        &-insurance-claim-accepted {
            background: #69C26A;
        }

        &-insurance-claim-recognized {
            background: #0094FF;
        }
    }

    .table > tbody > tr > td {
        .svg--icon svg {
            height: auto;
        }
    }

    .svg--icon {
        height: auto;
        flex: none;
    }

    .svg--add {
        margin-right: 10px;
        svg {
            height: 13px;
            width: 12px !important;
        }
    }

    .svg--pencil {
        margin-right: 10px;
        svg {
            height: 15px;
            width: 15px !important;
        }
    }

    .svg--backArrow {
        margin-right: 5px;
        svg {
            height: 11px;
            width: 16px !important;
        }
    }

    .svg--lock {
        margin-right: 10px;
        svg {
            height: 14px;
            width: 11px !important;
        }
    }

    .svg--lockOpen {
        margin-right: 10px;
        svg {
            height: 14px;
            width: 10px !important;
        }
    }

    .svg--print {
        margin-right: 10px;
        svg {
            height: 14px;
            width: 13px !important;
        }
    }

    .svg--table {
        margin-right: 10px;
        svg {
            height: 14px;
            width: 13px !important;
        }
    }

    .svg--availability {
        margin-right: 10px;
        svg {
            height: 13px;
            width: 12px !important;
        }
    }

    .svg--eye {
        margin-right: 10px;
        svg {
            height: 10px;
            width: 14px !important;
        }
    }

    .svg--adjust {
        margin-right: 5px;
        svg {
            height: 12px;
            width: 13px !important;
            position: relative;
            top: -1px;
        }
    }

    .svg--tag, .svg--spares {
        margin-right: 5px;
        svg {
            height: 12px;
            width: 12px !important;
        }
    }

    // .svg--tag {
    //     position: relative;
    //     top: 2px;
    // }

    .svg--receipt {
        margin-right: 7px;
        svg {
            height: 13px;
            width: 9px !important;
            position: relative;
            top: -1px;
        }
    }

    .svg--copy {
        margin-right: 10px;
        svg {
            height: 16px;
            width: 14px !important;
            position: relative;
            top: -1px;
        }
    }

    .svg--del {
        margin-right: 10px;
        svg {
            height: 15px;
            width: 12px !important;
        }
    }

    .svg--score {
        margin-right: 10px;
        svg {
            height: 14px;
            width: 11px !important;
        }
    }

    .svg--score-check {
        margin-right: 10px;
        svg {
            height: 14px;
            width: 12px !important;
        }
    }

    .svg--triangle-alert {
        margin-right: 5px;
        svg {
            height: 12px;
            width: 12px !important;
            position: relative;
            top: -1px;
        }
    }

    .svg--triangle-empty-alert {
        margin-right: 5px;
        svg {
            height: 13px;
            width: 14px !important;
            position: relative;
            top: -1px;
        }
    }

    .svg--settings {
        margin-right: 5px;
        svg {
            height: 12px;
            width: 12px !important;
            position: relative;
            top: -1px;
        }
    }

    .svg--import {
        margin-right: 10px;
        svg {
            height: 14px;
            width: 12px !important;
        }
    }

    .svg--export {
        margin-right: 10px;
        svg {
            height: 15px;
            width: 17px !important;
        }
    }

    .svg--clock {
        margin-right: 10px;
        svg {
            height: 14px;
            width: 14px !important;
        }
    }

    .svg--wrench {
        margin-right: 5px;
        svg {
            height: 12px;
            width: 12px !important;
            position: relative;
            top: -1px;
        }
    }

    .svg--file {
        margin-right: 5px;
        svg {
            height: 12px;
            width: 10px !important;
            position: relative;
            top: -1px;
        }
    }

    .svg--calendar {
        margin-right: 5px;
        svg {
            height: 12px;
            width: 12px !important;
        }
    }

    .svg--chat {
        margin-right: 5px;
        svg {
            height: 12px;
            width: 12px !important;
            position: relative;
            top: -1px;
        }
    }

    .svg--car {
        margin-right: 5px;
        svg {
            height: 12px;
            width: 12px !important;
            position: relative;
            top: -1px;
        }
    }

    .svg--sendComment {
        svg {
            height: 21px;
            width: 21px !important;
        }
    }

    .maximized {
        body & {
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            border: none;
            border-radius: 0;
            min-height: 100vh;
            z-index: 99;
        }
    }

    &.maximized {
        body & {
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            border: none;
            border-radius: 0;
            min-height: 100vh;
            z-index: 99;
            background: #fff;
            overflow: hidden;
        }

        .page-title {
            padding-left: 25px;
        }
    }

    .btn {
        height: 28px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .btn-sm .svg--icon, .btn-group-sm > .btn .svg--icon {
        top: 0;
    }

    .btn-maximize {
        background: none;
        border: none;
        padding: 0;
        cursor: pointer;

        .svg--icon svg {
            fill: #1E6393;
        }
    }

    .btn-default {
        background: linear-gradient(180deg, #F9F9F9 0%, #CACACA 100%);
        border: 1px solid #BABABA;
        box-shadow: inset 0px 2px 0px rgba(255, 255, 255, 0.15);
        border-radius: 1px;
        font-size: 12px;
        color: #333;
        text-shadow: 0px 1px 0px #FFFFFF;
        transition: .3s;

        &:hover, &:active {
            background: linear-gradient(180deg, #CACACA 0%, #F9F9F9 100%);
        }
    }

    .btn-dotted {
        width: 34px;
    }

    .svg--icon.svg--dotted {
        top: 0;

        svg {
            height: 15px;
            width: 3px;
            display: block;
            .fill {
                fill: #333;
                transition: .3s;
            }
        }

        &:hover {
            svg {
                .fill {
                    fill: #1E6393;
                }
            }
        }
    }

    button[data-toggle="dropdown"] + .dropdown-menu > li > a {
        font-size: 12px;
        padding: 4px 10px;
    }

    .section-filters {
        h4 {
            color: #333;
            margin-top: 10px;

            & + .row-flex {
                margin-top: 5px;
            }
        }

        .form-group {
            margin-top: 15px;
        }
    }

    .section-filters-btn {
        display: flex;
    }
    .form-search {
        position: relative;
        max-width: 330px;
        width: 100%;
        margin-right: 10px;
        z-index: 10;

        &-static {
            display: flex;
            max-width: none;

            .form-group {
                width: 330px;
            }
        }
    }

    .btn + .form-search, .btn-group + .form-search {
        margin-left: 8px;
    }

    .btn-search {
        position: absolute;
        top: 8px;
        right: 10px;
        background: transparent;
        border: none;
        padding: 0;

        &-static {
            margin-left: 20px;
        }

        .svg--icon {
            display: block;

            svg {
                height: 13px;

                .fill {
                    fill: #BABABA;
                    transition: .3s;
                }
            }
        }

        &:hover {
            .svg--icon {
                svg {
                    .fill {
                        fill: #000;
                    }
                }
            }
        }
    }

    input.form-control {
        border: 1px solid #BABABA;
        color: #333;
        padding: 5px 7px;
        font-size: 13px;

        &:focus {
            border: 1px solid #333;
        }
    }

    .caret {
        color: #333;
        right: 7px !important;
    }

    .btn-success {
        .caret {
            color: #fff;
        }
    }

    .form-select {
        background: transparent;
        .btn-default {
            background: transparent;
            border: 1px solid #BABABA;
            font-size: 13px;
            height: 28px;

            &:hover {
                background: transparent;
            }
        }

        &.open {
            .dropdown-toggle {
                border: 1px solid #333;

                &:hover {
                    border: 1px solid #333 !important;
                }
            }
        }

        .dropdown-toggle {
            color:#333;
            padding: 0;
        }

        .bs-placeholder {
            color: #BABABA;
        }

        .filter-option {
            padding: 0px 20px 0px 7px;
        }
    }

    .form-select-placeholder {
        .bs-placeholder {
            .filter-option-inner-inner {
                opacity: 0;
            }

            & + .dropdown-menu {
                .dropdown-menu.inner {

                    li:first-child {
                        display: none;
                    }
                }
            }
        }
    }

    .bootstrap-select > .dropdown-toggle.bs-placeholder:focus, .bootstrap-select > .dropdown-toggle.bs-placeholder:active {
        border: 1px solid #333;
    }
    .bootstrap-select > .dropdown-toggle.bs-placeholder, .bootstrap-select > .dropdown-toggle.bs-placeholder:hover, .bootstrap-select > .dropdown-toggle.bs-placeholder:focus, .bootstrap-select > .dropdown-toggle.bs-placeholder:active {
        color: #BABABA;
    }
    .btn-default:active:hover, .btn-default:active:focus, .btn-default:active.focus, .btn-default.active:hover, .btn-default.active:focus, .btn-default.active.focus, .open > .btn-default.dropdown-toggle:hover, .open > .btn-default.dropdown-toggle:focus, .open > .btn-default.dropdown-toggle.focus {
        border: 1px solid #BABABA;
    }

    .form-group[class*="field"] {
        position: relative;
        .control-label {
            position: absolute;
            background: #fff;
            padding: 0 4px;
            top: 9px;
            left: 3px;
            transition: .3s;
        }

        &.changeInput  {
            .control-label {
                top: -8px;
                z-index: 10;
            }
        }
    }

    .nav-tabs.nav-tabs-noborder > li > a {
        font-size: 13px;
        line-height: 14px;
        padding: 5px 15px 6px 15px;
        color: #BABABA;
        border: 1px solid #BABABA;
    }
    .nav-tabs.nav-tabs-noborder > li.active > a, .nav-tabs.nav-tabs-noborder > li.active:hover > a, .nav-tabs.nav-tabs-noborder > li.active:focus > a, .nav-tabs.nav-tabs-noborder > li.active > a:hover, .nav-tabs.nav-tabs-noborder > li.active:hover > a:hover, .nav-tabs.nav-tabs-noborder > li.active:focus > a:hover, .nav-tabs.nav-tabs-noborder > li.active > a:focus, .nav-tabs.nav-tabs-noborder > li.active:hover > a:focus, .nav-tabs.nav-tabs-noborder > li.active:focus > a:focus {
        color: #333;
        border-bottom: 1px solid #fff;
        border-top: 1px solid #62c462;
    }

    .form-group-input {
        position: relative;

        .control-label {
            position: absolute;
            background: #fff;
            padding: 0 4px;
            bottom: 100%;
            left: 3px;
            margin-bottom: -3px;
            z-index: 10;
        }

        .control-block {
            height: 28px;
            font-size: 13px;
            line-height: 15px;
            padding: 7px 7px 6px 7px;

            a {
                position: relative;
                color: #1E6393;

                &:after {
                    content:"";
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: -4px;
                    border-bottom: 1px dotted#1E6393;
                }
            }
        }
    }

    .row-supply {
        & > .col-md-2 {
            width: auto;
            min-width: 100px;

            &:first-child {
                width: 170px;
            }
        }
    }

    .row-comment {
        margin-top: 15px;
    }

    .table {
        tbody {
            tr:last-child {
                .dropdown-m {
                    .dropdown-menu {
                        top: auto;
                        bottom: 100%;
                        margin-top: 0;
                        margin-bottom: 2px;
                    }
                }
            }
            tr:first-child {
                .dropdown-m {
                    .dropdown-menu {
                        top: 100%;
                        bottom: auto;
                        margin-top: 2px;
                        margin-bottom: 0;
                    }
                }
            }
        }
    }


    .item-topscrl {
        position: relative;

        .table-responsive {
            margin-top: 49px;
        }

        .summary {

            & + .table-responsive {
                margin-top: 36px;
            } 
        }

        #topscrl {
            position: absolute;
            left: 10px;
            right: 10px;
            top: 35px;
            width: auto;
        }
    }


    .row-warranty {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 10px;

        @media (max-width: 992px) {
            display: block;
        }

        .item-spares {
            height: 100%;
        }
    }

    .input-group-comments {
        position: relative;
        margin-top: 10px;

        input.form-control {
            height: auto;
            padding: 11px 10px;
            border-radius: 4px;
            font-size: 12px;
            line-height: 14px;

            &::-webkit-input-placeholder {font-size:12px; color: #333333; opacity: 1; font-family: 'Roboto';}
            &::-moz-placeholder          {font-size:12px; color: #333333; opacity: 1; font-family: 'Roboto';}
            &:-moz-placeholder           {font-size:12px; color: #333333; opacity: 1; font-family: 'Roboto';}
            &:-ms-input-placeholder      {font-size:12px; color: #333333; opacity: 1; font-family: 'Roboto';}
        }

        .btnsend {
            position: absolute;
            right: 10px;
            top: 8px;
            z-index: 10;
            padding: 0;
            border: none;
            width: auto;
            height: auto;
            background: none;
        }
    }

    .comment-block {
        .worksheet-task--comments-field {
            background: none;
            margin-bottom: 15px;
            padding-left: 34px;
        }

        .comments-info {
            font-size: 11px;
            line-height: 14px;
            color: #333333;

            &-user {
                margin-right: 10px;
            }

            &-crm-user {
                font-weight: 700;
                font-size: 10px;
                line-height: 12px;
                color: #fff;
                background: #333333;
                border-radius: 2px;
                padding: 2px 4px;
                margin-right: 10px;
            }

            &-date {
                color: #BABABA;
            }
        }

        .comments-comment {
            &:not(:first-child) {
                margin-top: 20px;
            }
            &-body {
                position: relative;
                margin-top: 5px;
            }

            &-item {
                display: inline-block;
                font-size: 12px;
                line-height: 14px;
                color: #333333;
                padding: 10px;
                background: #E4EEF7;
                border-radius: 0px 10px 10px 10px;
            }

            &:last-child {
                .dropdown {
        
                    .dropdown-menu {
                        top: auto;
                        bottom: 100%;
                    }
                }
            }
    
            &:first-child {
                .dropdown {
        
                    .dropdown-menu {
                        top: 100%;
                        bottom: auto;
                    }
                }
            }
        }

        .dropdown-toggle {
            padding: 0 6px;
        }

        .dropdown {
            position: absolute;
            left: -35px;
            top: -1px;

            .dropdown-menu {
                left: 10px;
            }
        }
    }
}


.modal-erp {
    .modal-content {
        border-radius: 0px;
    }

    .modal-header {
        padding-top: 14px;
        padding-bottom: 12px;
    }

    .modal-body {
        padding-top: 35px;
        padding-bottom: 18px;
    }

    .modal-title {
        line-height: 21px;
    }

    .modal-header .close {
        margin-top: 0px;
    }

    &-question {
        color: #333 !important;
        margin-left: 10px;
        position: relative;
        top: 2px;
    }

    &-arrowRight {
        position: relative;
        top: 5px;

        svg {
            height: auto;
        }
    }

    .table-request > tbody > tr > td {
        line-height: 14px;
    }
}