.knowledge-base{
  &--action{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    .svg--glyphicons-basic-reload,
    .svg--fast-link{
      svg{
        height: 16px;
        width: 16px;
      }
    }
  }
  &-table{
    > tbody > tr {
      &:hover{
        > td,
        > th{
          background-color: _brand-colors(_light-grey2);;
        }
        .knowledge-base-table--action-div{
          .crm-btn-row-icon{
            display: block;
            opacity: 1;
            cursor: pointer;
            pointer-events: unset;
          }
        }
      }
    }
    &--preview{
      display: block;
      margin: 0 auto;
      max-width: none;
      width: auto;
      max-height: 100%;
      min-width: 100%;
      object-fit: cover;
      &-div{
        align-items: center;
        display: -webkit-inline-flex;
        display: -moz-inline-flex;
        display: -ms-inline-flex;
        display: -o-inline-flex;
        display: inline-flex;
        justify-content: center;
        height: 18px;
        margin-right: 8px;
        vertical-align: middle;
        overflow: hidden;
        width: 26px;
      }
    }
    &--name{
      width: 100%;
      .iconfile{
        margin-right: 8px;
        vertical-align: middle;
      }
      a{
        color: _brand-colors(_dark-grey);
      }
      .svg--folder{
        display: inline-block;
        height: 19px;
        margin-right: 8px;
        position: relative;
        top: 3px;
        width: 27px;
        svg{
          height: 19px;
          width: 27px;
        }
        + a{
          font-weight: 600;
        }
      }
    }
    &--size{
      max-width:100px;
      min-width:100px;
      width: 100px;
    }
    &--edited{
      max-width:145px;
      min-width:145px;
      width: 145px;
    }
    &--description{
      max-width:250px;
      min-width:250px;
      width: 250px;
      &-inner{
        max-width:250px;
        width: 250px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
    &--action{
      max-width:145px;
      min-width:145px;
      text-align: right;
      width: 145px;
      white-space: nowrap;
      .crm-btn-row-icon{
        cursor: $cursor-disabled;
        pointer-events: none;
        opacity: 0;
        + .crm-btn-row-icon{
          margin-left: 10px;
        }
        &.active{
          cursor: pointer;
          pointer-events: unset;
          pointer-events: none !important; // убрать когда сделают удалеение из избранного
          opacity: 1;
          .svg--favorite {
            svg{
              .fill{
                fill: _brand-colors(_orange);
              }
            }
          }
        }
      }
      &-div{
        align-items: flex-start;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
      }
    }
  }
}