.manual-report--statistic {
    &-row {
        .manual-report--statistic-item {
            text-align: center;
            min-height: 28px;
        }

        .col-pad10:first-child {
            .manual-report--statistic-item {
                clear: both;
                text-align: left;
            }
        }
    }

    &-head {
        height: 66px;
        padding-top: 28px;

        & + .manual-report--statistic-item {
            margin-right: -4px;
            margin-bottom: 16px;
        }
    }

    &-item {
        font-size: rem(12);
        margin-bottom: rem(10);
        @include clearfix;
        &.color-red,
        &.color-green,
        &.color-dark-green {
            font-size: rem(11);
            font-weight: 600;
            padding-left: rem(10);

            .svg--icon {
                float: none;
                display: block;

                &.svg--lightbulb-on {
                    @include svg-icon(rem(28));
                }
            }
        }
        &.color-red{
            color: _brand-colors(_red);
            a{
                color: _brand-colors(_red);
            }
            svg{
                fill: _brand-colors(_red);
            }
        }
        &.color-dark-green {
            color: _brand-colors(_dark-green);
            a {
                color: _brand-colors(_dark-green);
            }
            svg{
                fill: _brand-colors(_dark-green);
            }
        }
        &.color-green {
            color: $crm-dsf-green;
            a {
                color: $crm-dsf-green;
            }

            .svg--icon {
                fill: $crm-dsf-green;

                svg {
                    fill: $crm-dsf-green;
                }
            }
        }
        &-flex{
            display: flex;
        }
        &--icon{
            display: block;
            margin-right: 10px;
            height: 20px;
            width: 20px;
            svg{
                height: 20px;
                width: 20px;
            }
        }
        .svg--icon {
            float: left;
            margin-right: rem(12);
            margin-bottom: rem(10);

            // height: auto;
            &.svg--glyphicons-handshake {
                svg {
                    width: rem(20);
                }
            }

            width: rem(16);

            svg {
                fill: #BABABA;
                // height: auto;
                width: rem(16);
            }
        }

        &--value {
            font-size: rem(14);
            line-height: rem(14);
            font-weight: 600;
            margin-top: rem(6);
        }
    }
}
