.item-questionary {
    input[type="radio"], input[type="checkbox"] {
        height: auto;
        margin-top: 8px;
    }

    .questionary-question-client-refresh {
        padding: 0;
        border: none;
        height: auto;
        background: none;
        color: #418EFF;
        line-height: normal;
        margin-top: 7px;
    }

    .questionary-question-client-refresh, .questionary-car-remove {
        .glyphicon {
            margin-right: 0;
        }
    }
}