.sevice-data {

  // .row-fluid .fulxs {
  //   padding: 0 8px;
  // }

  // .row-fluid .fulxs label.control-label {
  //   min-height: 28px;
  //   font-weight: normal;
  // }

  // .tab-content hr{
  //   clear: both;
  //   width:100%;
  //   height:1px;
  //   border:0;
  //   background:transparent;
  //   visibility: hidden;
  // }
  // .tab-content > .active{
  //   background:transparent;
  //   padding: 0;
  // }


  // .tab-content{
  //   background:transparent;
  //   padding:0;
  // }

  // .tab-content .data-block {
  //   background: #fff;
  //   margin:0 1% 1% 0;
  //   width: 49%;
  // }

  // .tab-content .data-block-box {
  //   background: #fff;
  // }

  // .tab-content .tab-pane {
  //   display: none;
  // }
  // .tab-content .active {
  //   display: block;
  // }

  .data-block-box h4{
    border-bottom:2px solid #52a447;
    padding: 3px 0px 9px;
  }

  .col-f{
    // padding-right:0;
    // padding-left:0;

    .form-group:first-child{
      padding-top:15px;
      padding-bottom:15px;
    }
  }

  .col-errors{
    padding:0px;
    .data-block-box{
      padding:10px 10px 0;
    }
  }

  // @media (min-width: 768px) {

  //   .col-l{
  //     padding-left:0;
  //     padding-right:7px;
  //   }

  //   .col-r{
  //     padding-right:0;
  //     padding-left:7px;
  //   }

  //   .col-f{
  //     padding-right:0;
  //     padding-left:0;
  //   }
  // }

  // hr.cb{
  //   clear: both;
  //   margin:0px;
  // }

  .select-filter{
    padding:7px 0px;
  }

  .data-repeat{
    font-size:11px;
    padding-top: 7px;
    display: block;
    color:#333333;
    opacity:0.5;
  }
  label.label-big{ // для service/report/data
    display: block;
    min-height: 14px;
    display: flex;
    font-weight: 400;
    align-items: flex-end;
    letter-spacing: -0.4px;
  }
  .comment-box{
    margin-left: -10px;
    margin-right: -10px;
  }
}