.warehouse-form {


    .warehouse-item {
        &-title {
            display: flex;
            align-items: center;
            font-weight: 700;
            font-size: 16px;
            line-height: 18px;
            margin: 0;

            .svg--icon, svg {
                height: auto;
            }

            .svg--icon {
                margin-right: 10px;
            }
        }
    }

    .warehouse-row {
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;

        @media (max-width: 992px) {
            display: block;
        }
    }

    .js-add-phone {
        display: inline-flex;
        align-items: center;
        padding: 4px 10px;
        text-shadow: 0px 1px 0px #FFFFFF;

        .svg--icon, svg {
            height: auto;
        }

        .svg--icon {
            margin-right: 10px;
            margin-top: 2px;
        }
    }

    .radio, .checkbox {
        margin: 0;
    }

    .js-remove-phone {
        margin-left: -10px;
        margin-top: -1px;
        padding: 4px 12px;
    }

    .warehouse-photo-list {
        margin-top: 40px;
        & > div {
            position: relative;
            margin-top: 44px;

            @media (max-width: 420px) {
                width: 100%;
            }

            &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4) {
                margin-top: 0;

                @media (max-width: 992px) {
                    &:nth-child(3), &:nth-child(4) {
                        margin-top: 44px;
                    }
                }
            }

            &:after {
                content:"";
                position: absolute;
                left: 5px;
                right: 5px;
                top: 0;
                bottom: 0;
                background: rgba(51, 51, 51, 0);
                transition: .3s;
            }

            label {
                position: absolute;
                left: 5px;
                bottom: 100%;
                margin-bottom: 10px;
                font-weight: 700;
                font-size: 12px;
                line-height: 14px;
                text-transform: uppercase;
                color: #333333;
            }

            img {
                border: 1px solid #CCCCCC;
                height: 180px;
                width: 100%;
            }

            input {
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                opacity: 0;
                width: 100%;
                height: 100%;
                z-index: 100;
                cursor: pointer;
            }

            .btn-photo {
                position: absolute;
                left: 50%;
                top: 50%;
                width: 130px;
                height: 28px;
                display: flex;
                align-items: center;
                text-shadow: 0px 1px 0px #FFFFFF;
                font-size: 12px;
                color: #333333;
                z-index: 0;
                transform: translate(-50%, -50%);
                z-index: -1;

                .svg--icon, svg {
                    height: auto;
                    flex: none;
                }
        
                .svg--icon {
                    margin-right: 10px;
                }
            }

            &:hover {
                .btn-photo {
                    z-index: 1;
                }

                &:after {
                    background: rgba(51, 51, 51, 0.6);
                }
            }
        }
    }

    .js-submit {
        display: inline-flex;
        align-items: center;
        margin-right: 10px;

        .svg--icon, svg {
            height: auto;
        }

        .svg--icon {
            flex: none;
            margin-right: 10px;
        }
    }

    .js-client-info {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .field-js-client-search {
        input {
            background: transparent;
        }
    }

    input.form-control, textarea.form-control {
        border: 1px solid #BABABA;
        color: #333;
        padding: 5px 7px;
        font-size: 13px;
    
        &:focus {
            border: 1px solid #333;
        }
    }
    
    .caret {
        color: #333;
        right: 7px !important;
    }
    
    .btn-success {
        .caret {
            color: #fff;
        }
    }
    
    .form-select {
        background: transparent;
        .btn-default {
            background: transparent;
            border: 1px solid #BABABA;
            font-size: 13px;
            height: 28px;
    
            &:hover {
                background: transparent;
            }
        }
    
        &.open {
            .dropdown-toggle {
                border: 1px solid #333;
    
                &:hover {
                    border: 1px solid #333 !important;
                }
            }
        }
    
        .dropdown-toggle {
            color:#333;
            padding: 0;
        }
    
        .bs-placeholder {
            color: #BABABA;
        }
    
        .filter-option {
            padding: 0px 20px 0px 7px;
        }
    }
    
    .form-select-placeholder {
        .bs-placeholder {
            .filter-option-inner-inner {
                opacity: 0;
            }
        }
    }
    
    .bootstrap-select > .dropdown-toggle.bs-placeholder:focus, .bootstrap-select > .dropdown-toggle.bs-placeholder:active {
        border: 1px solid #333;
    }
    .bootstrap-select > .dropdown-toggle.bs-placeholder, .bootstrap-select > .dropdown-toggle.bs-placeholder:hover, .bootstrap-select > .dropdown-toggle.bs-placeholder:focus, .bootstrap-select > .dropdown-toggle.bs-placeholder:active {
        color: #BABABA;
    }
    .btn-default:active:hover, .btn-default:active:focus, .btn-default:active.focus, .btn-default.active:hover, .btn-default.active:focus, .btn-default.active.focus, .open > .btn-default.dropdown-toggle:hover, .open > .btn-default.dropdown-toggle:focus, .open > .btn-default.dropdown-toggle.focus {
        border: 1px solid #BABABA;
    }
    
    .form-group {
        position: relative;
        .control-label {
            position: absolute;
            background: #fff;
            padding: 0 4px;
            top: 8px;
            left: 3px;
            font-size: 13px;
            transition: .3s;
        }
    
        &.changeInput  {
            .control-label {
                top: -8px;
                z-index: 10;
                font-size: 11px;
            }
        }

        &.field-js-vin, &.field-js-client-search {
            .control-label {
                top: -8px;
                z-index: 10;
                font-size: 11px;
            }
        }
    }
}

