section.item-yandexCourier {
    background: none;
    padding: 0;
    border-bottom: 0;

    .row-flex {
        align-items: flex-start;
    }

    & > .js-maximize-module {
        position: absolute;
        right: 0;
        top: 0;
        border: none;
        background: none;
        padding: 0;
    }

    .tab-content.tab-content-noborder {
        padding: 0;

        & > .active {
            padding-top: 0;
        }
    }

    .section-filters-calendar {
        margin: 0;
        background: none;

        &:before, &:after {
            display: none;
        }

        .section-filters-body {

            .section-filters-body-row {
                &:first-child {
                    border-top: 0;
                    padding-top: 10px;
                }
            }
        }
    }

    .js-clientSearch-hint {
        position: absolute;
    }

    #js-client-block {
        width: 100%;
    }

    .item-header h4 {
        font-size: 12px !important;
        font-weight: 700 !important;
        text-transform: uppercase !important;
        margin-right: 5px !important;
    }

    .suggestions-wrapper {
        position: absolute;
        left: 5px;
        right: 5px;
        top: 100%;
        background: #fff;
        z-index: 10;
        margin-top: -12px;
    }

    #calendar {
        margin-top: 40px;
    }

    .summary {
        margin: -5px 5px 0;
    }
}

.col-calculation {
        
    &-section {
        border: 1px solid #ccc;
        padding: 10px;
        margin-top: 22px;
        margin-bottom: 20px;
    }

    &-item {
        display: flex;
        font-size: 20px;
        line-height: 24px;
        

        &:not(:first-child) {
            margin-top: 15px;
        }

        .col-sm-6 {
            &:last-child {
                text-align: right;
            }
        }
    }
}

.archive-auto {
    
    &-list {
        margin: 20px 0;
    }

    &-item {
        &:not(:first-child) {
            margin-top: 10px;
        }
    }
}

.maximizable-module.maximized {
    .item-yandexCourier {
        .item-tab {
            .nav-tabs {
                li {
                    &:not(:first-child) {
                        display: none;
                    }
                }
            }
        }
    }
}

.bulk-create-remove {
    .btn-sm .svg--icon svg {
        height: auto;
    }
}

.sms-link {
    position: absolute;
    right: 15px;
    top: 80px;
    z-index: 10;
}

.sms-block {
    max-height: 262px;
    overflow: auto;
    margin-bottom: 0;

    .summary {
        display: none;
    }
}