// ----------------------------------------------------------------- FUNCTION //
// ПРЕВРАЩЕНИЕ В ЧИСЛА
@use 'sass:map';
@use 'sass:string';
@use 'sass:meta';
@use 'sass:list';

@function to-numbers($value) {
  @if meta.type-of($value) == 'number' {
    @return $value;
  } @else if meta.type-of($value) != 'string' {
    $_: log('Value for `to-number` should be a number or a string.');
  }
  $result: 0;
  $digits: 0;
  $minus: string.slice($value, 1, 1) == '-';
  $start-index: 1;
  
  @if $minus {
    $start-index: 2;
  }
  
  $numbers: ('0': 0, '1': 1, '2': 2, '3': 3, '4': 4, '5': 5, '6': 6, '7': 7, '8': 8, '9': 9);
  @for $i from $start-index through string.length($value) {
    $character: string.slice($value, $i, $i);
    
    $is-digit: map.has-key($numbers, $character);
    $is-dot: $character == '.';
    @if not ($is-digit or $is-dot) {
      $final-result: $result;
      @if $minus {
        $final-result: -$result;
      }
      @return to-length($final-result, string.slice($value, $i));
    }


    @if $character == '.' {
      $digits: 1;
    } @else if $digits == 0 {
      $result: $result * 10 + map.get($numbers, $character);
    } @else {
      $digits: $digits * 10;
      $result: $result + map.get($numbers, $character) / $digits;
    }
  }
  @if $minus {
    @return -$result;
  } @else {
    @return $result;
  }
}
