// ----------------------------------------------------------------- FUNCTION //
// HELPER FOR MAP GOOGLEFONTS
// how use: @include import-google-font-family($open-sans);
// $font-family: google-font-family($open-sans);
//
// DEPENDENCIES: @str-replace from helpers-functions.scss

@use "sass:map";
@use "sass:math";
@use "sass:list";
@use "sass:string";
@use './func_helpers-functions' as helpers;
@use './../variables/var-sizes' as sizes;
@use './../variables/var-fonts' as fonts;

@function font-subset(){
  $subset-cyrillic: '';
  $subset-cyrillic-ext: '';
  $subset-latin-ext: '';
  @if $google-subset-cyrillic {
    $subset-cyrillic: '&subset=cyrillic';
  }
  @if $google-subset-cyrillic-ext {
    @if $google-subset-cyrillic {
      $subset-cyrillic-ext: ',cyrillic-ext';
    }
    @else{
      $subset-cyrillic-ext: '&subset=cyrillic-ext';
    }
  }
  @if $google-subset-latin-ext {
    @if $google-subset-cyrillic {
      $subset-latin-ext: ',latin-ext';
    }
    @else{
      @if $google-subset-cyrillic-ext {
        $subset-latin-ext: ',latin-ext';
      }
      @else{
        $subset-latin-ext: '&subset=latin-ext';
      }
    }
  }
  @return string.unquote($subset-cyrillic + $subset-cyrillic-ext + $subset-latin-ext);
}

@function function-import-google-font-family($import-ff) {
  $google-url: 'https://fonts.googleapis.com/css?family=';
  $google-font-subset: font-subset();
  @return string.unquote(string.unquote($google-url) + helpers.str-replace(map.get($import-ff, ff1), ' ', '+') + ':' + map.get($import-ff, ffstyle) + '' + string.unquote($google-font-subset));
}

@function google-font-family($google-ff){
  @return string.unquote('"' + map.get($google-ff, ff1) + '"' + ',' + map.get($google-ff, ff2));
}

// ----------------------------------------------------------------- FUNCTION //
// ИСПОЛЬЗОВАНИЕ EM/REM ВМЕСТО PX
// how use: font-size: rem(14)

@function rem( $pixels, $context: 16 ) {
  @return (math.div($pixels, $context) * 1rem);
}

@function em($pixels, $context: $browser-context) {
  @if (math.is-unitless($pixels)) {
    $pixels: $pixels * 1px;
  }
  @if (math.is-unitless($context)) {
    $context: $context * 1px;
  }
  @return math.div($pixels, $context) * 1em;
}

// ----------------------------------------------------------------- FUNCTION //
// ИСПОЛЬЗОВАНИЕ ИМЯ ШРИФТА ИЗ ПЕРЕМЕННОЙ $fontsList
// HOW USE: font-family(); или для конкретного шрифта из переменной, font-family("Monserrat");

@function font-family($font-name: null) {
  @if $font-name != null and $font-name != "" {
    @if map.has-key(fonts.$fontsList, $font-name) {
      @return get-font-stack($font-name);
    }
    @warn "Шрифт '#{$font-name}' не найден. Используется основной.";
  }
  
  @return get-default-font-family();
}

@function get-default-font-family() {
  $keys: map.keys(fonts.$fontsList);
  
  @if list.length($keys) == 0 {
    @return Roboto, Arial, 'Helvetica Neue', sans-serif;
  }
  
  @if map.has-key(fonts.$fontsList, "Roboto") {
    @return get-font-stack("Roboto");
  }
  
  @return get-font-stack(list.nth($keys, 1));
}

@function get-font-stack($name) {
  @if $name == "Roboto" {
    @return Roboto, Arial, 'Helvetica Neue', sans-serif;
  }
  @return $name, Roboto, Arial, 'Helvetica Neue', sans-serif;
}
