// ----------------------------------------------------------------- FUNCTION //
// ФУНКЦИЯ ЗАМЕНЫ СИМВОЛОВ
// Replace `$search` with `$replace` in `$string`
// @author Hugo Giraudel
// @param {String} $string - Initial string
// @param {String} $search - Substring to replace
// @param {String} $replace ('') - New value
// @return {String} - Updated string
@use 'sass:list';
@use 'sass:string';

@function str-replace($string, $search, $replace: '') {

  $index: string.index($string, $search);

  @if $index{

    $searchString: $string;
    $newString: "";
    $end: "";

    @while $index {
      $start: string.slice($searchString, 1, $index - 1);
      $end: string.slice($searchString, $index + string.length($search));
      $searchString: $end;
      $index: string.index($searchString, $search);
      $newString: $newString + $start + $replace;
    }
    @return $newString + $end;
  }
  @return $string;
}

// ----------------------------------------------------------------- FUNCTION //
// HELPER FUNCTION FOR [@mixin aspect-ratio]
// Return null rather than throwing an error if index is outside list range.

@function nth-or-null($list, $index) {
  @if list.length($list) >= $index and $index > 0 {
    @return list.nth($list, $index);
  }
  
  @return null;
}

// Функции для работы с ключами (без изменений)
@function strip-postfix($key) {
  $index: string.index($key, "__");
  @if $index {
    @return string.slice($key, 1, $index - 1);
  }
  @return $key;
}

@function strip-heading($key) {
  $index: string.index($key, "heading");
  @if $index == 1 {
    $key: string.slice($key, string.length("heading") + 1);
  }
  @return $key;
}