// ---------------------------- //
// Other ---------------------- //
// ---------------------------- //

// псевдоскрол
#inner {
    overflow-x: auto;
    position: relative;
    width: 100%;
}

#topscrl {
    display: none;
    overflow-x: auto; // иначе всегда виден скрол
    width: 100%;
}

#topfake {
    height: 1px;
}

.table-scroll {
    position: relative;
    margin: auto;
    overflow: hidden;
}
.table-scroll table {
    width: 100%;
    margin: auto;
    border-spacing: 0;
    border-collapse:separate;
}
.table-scroll th, .table-scroll td {
    padding: 5px 10px;
    vertical-align: top;
    background: #fff;
}
#table-scroll .clone {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}
#table-scroll .clone th, #table-scroll .clone td {
    visibility: hidden
}
#table-scroll .clone td, #table-scroll .clone th {
    border-color: transparent
}
#table-scroll .clone tbody th {
    visibility: visible;
}
#table-scroll .clone thead, #table-scroll .clone tfoot{
    background: transparent;
}
// псевдоскрол конец

.sub {
    vertical-align: super;
    font-size: .7em;
}
.sub2 {
    font-size: 0.7em;
    margin-left: -13px;
    vertical-align: sub;
}

.table-inner {
    overflow-x: auto;

    .summary {
        position: absolute;
        right: 15px;
        top: 15px;
    }

    .table {
        padding-top: 30px;
    }
}