/* =~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~ */
/*                                                                            */
/* FOOTER                                                                     */
/* path: dsf-common-ui/src/scss/layout/_footer.scss                           */
/*                                                                            */
/* =~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~ */
@use './../utilities/functions/func_fonts' as *;
@use './../utilities/functions/func_val' as val;
@use './../utilities/variables/var-paths' as *;
@use './../utilities/variables/var-sizes' as *;
@use './../utilities/variables/var-colors' as *;

.footer{
  align-items: center;
  margin: #{val.brandSizes(footer_marginTop)}px auto 0;
  display: flex;
  justify-content: space-between;
  height: #{val.brandSizes(footer_height)}px;
  padding: 0 15px 0;
  border-radius: 0;
  .reset-view &,
  .guest-view &{
    margin-top: 0;
    padding-bottom: 15px;
  }
  .error-view &{
    color: val.brandColors(_white);
    margin-top: 0;
    position: relative;
    z-index: 1;
    a{
      color: val.brandColors(_vibrant-blue);
    }
  }
  .mobile-view &{
      align-items: stretch;
      flex-direction: column;
      padding: 0;
      height: #{val.brandSizes(footer__mobile_height)}px;
  }
  &__left,
  &__right{
    .reset-view &,
    .guest-view &{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .mobile-view &{
      align-items: center;
      display: flex;
      flex-direction: column;
      height: auto;
    }
  }
  &__right{
    display: flex;
    flex-direction: row;
    gap:10px;
    .reset-view &,
    .guest-view &{
      align-items: end;
      justify-content: center;
      gap:0px;
      // flex-direction: column;
    }
    .mobile-view &{
      align-items: center;
      margin-top: 10px;
      margin-bottom: 20px;
    }
  }
  &__item{
    align-items: center;
    display: flex;
    font-size: 11px;
    margin: 0;
    .reset-view &,
    .guest-view &{
      color: val.brandColors(_white);
      font-size: 12px;
    }
    .mobile-view & {
      line-height: 20px;
    }
    a{ 
      .reset-view.mobile-view &,
      .guest-view.mobile-view &{
        color: val.brandColors(_vibrant-blue);
      }
    }
    &_right{
      .reset-view &,
      .guest-view &{
        line-height: 18px;
      }
    }
  }
}
.footer___logo {
  background-color: transparent;
  background-image: url($path-images + "logo-infotech__dark__ru.svg");
  background-repeat: no-repeat;
  background-size: 120px 22px;
  display: inline-block;
  height: 22px;
  margin: -1px 0 0 3px;
  vertical-align: middle;
  width: 120px;
  .lang__ru &{
    background-image: url($path-images + "logo-infotech__dark__ru.svg");
  }
  .lang__en &{
    background-image: url($path-images + "logo-infotech__dark__en.svg");
    // width: 187px;
  }
  .reset-view &,
  .guest-view &{
    background-position-y: center;
    margin: 0;
  }
  .reset-view.lang__en &,
  .guest-view.lang__en &{
    background-image: url($path-images + "logo-infotech__white__en.svg");
  }
  .reset-view.lang__ru &,
  .guest-view.lang__ru &{
    background-image: url($path-images + "logo-infotech__white__ru.svg");
  }
  .mobile-view &{
    background-image: url($path-images + "logo-infotech__mobile.svg");
    background-size: contain;
    height: 16px;
    margin: 0;
    width: 71px;
  }
}
