/* =~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~ */
/*                                                                            */
/* GRID                                                                       */
/* path: dsf-common-ui/src/scss/layout/_grid.scss                             */
/*                                                                            */
/* =~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~ */

.container{
  @include makeContainer();

  @include makeContainerGrid();
  .mobile-view &{
      max-width: none;
  }
}

.container-fluid {
  @include makeContainer();
}

.row {
  @include makeRow;
}

.row-no-gutters {
  margin-right: 0;
  margin-left: 0;

  [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

@include makeGridColumns;
