/* =~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~ */
/*                                                                            */
/* GRID                                                                       */
/* path: dsf-common-ui/src/scss/layout/_grid.scss                             */
/*                                                                            */
/* =~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~ */
// @use './../utilities/variables/var-bootstrap-v3' as *;
@use './../utilities/mixins/breakpoints' as breakpoints;

.container{
  @include breakpoints.makeContainer();

  @include breakpoints.makeContainerGrid();
  .mobile-view &{
      max-width: none;
  }
}

.container-fluid {
  @include breakpoints.makeContainer();
  .error-view &{
      padding-left: 0;
      padding-right: 0;
  }
}

.row {
  @include breakpoints.makeRow;
}

.row-no-gutters {
  margin-right: 0;
  margin-left: 0;

  [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

@include breakpoints.makeGridColumns;
