/* =~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~ */
/*                                                                            */
/* MENU                                                                       */
/* path: dsf-common-ui/src/scss/layout/_menu.scss                             */
/*                                                                            */
/* =~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~ */
.headerMenu{
  align-items: center;
  display: flex;
  justify-content: flex-start;
  list-style: none;
  height: 100%;
  padding: 0 5px;
  margin: 0;
  .mobile-view &{
    align-items: flex-start;
    flex-direction: column;
  }
  &__item{
    display: block;
    position: relative;
    height: 100%;
    .mobile-view &{
      height: auto;
      width: 100%;
    }
  }
  &__link{
    align-items: center;
    color: _brand-palette(menuLink_color);
    display: inline-flex;
    font-size: rem(13);
    font-weight: 700;
    height: 100%;
    padding: 0 10px;
    .mobile-view &{
      justify-content: space-between;
      height: auto;
      padding: 10px;
      width: 100%;
    }
    .caret{
      .mobile-view &{
        transform: rotate(-90deg);
      }
    }
    .open > &{
      .caret{
        .mobile-view &{
          transform: rotate(0deg);
        }
      }
    }
    svg{
      fill: _brand-palette(link_color);
    }
    &:hover,
    &:focus{
      color: _brand-palette(menuLink_color);
    }
    .active &{
      background-color: _brand-palette(menuLinkActive_bgc);
      color: _brand-palette(menuLinkActive_color);
    }
  }
  &_linkIcon{
    margin-left: 5px;
    .mobile-view &{
      margin-left: 0;
    }
    &.active{
      .headerMenu__link{
        background-color: transparent;
        svg{ 
          #{--svg-icon-fill}: _brand-palette(menuLinkActive_svg); 
          #{--svg-icon-fill_blue}: _brand-palette(menuLinkActive_svg); 
          #{--svg-icon-stroke}: _brand-palette(menuLinkActive_svg); 
          #{--svg-icon-stroke_blue}: _brand-palette(menuLinkActive_svg);
        }
      }
    }
    .headerMenu__link{
      padding: 0 5px;
      svg{ 
        #{--svg-icon-fill}: _brand-palette(menuLink_svg); 
        #{--svg-icon-fill_blue}: _brand-palette(menuLink_svg); 
        #{--svg-icon-stroke}: _brand-palette(menuLink_svg); 
        #{--svg-icon-stroke_blue}: _brand-palette(menuLink_svg);
      }
      .mobile-view &{
        justify-content: flex-start;
        padding: 10px;
      }
    }
    svg{
      #{--svg-icon-fill}: _brand-palette(menuDropdownSvg_color);
      #{--svg-icon-stroke}: _brand-palette(menuDropdownSvg_color);
      height: 16px;
    }
    &__text{
      display: none;
      .mobile-view &{
        display: inline-block;
        margin-left: 10px;
      }
    }
    &__wrappper{
      margin-left: auto;
      width: 0;
      .headerMenu__link{
        padding: 0;
        width: 0;
      }
      .mobile-view &{
        display: none;
      }
    }
  }
  &__header{
    background-color: _brand-palette(menuDropdownHeader_color);
    color: _brand-palette(menuDropdown_bgc);
    font-size: rem(12);
    padding: 6px 0px 6px 10px;
    position: relative;
  }
  .dropdown-menu{
    .mobile-view &{
      border: none;
      box-shadow: none;
      padding: 0;
      position: relative;
      top: 0;
      width: 100%;
    }
  }
  .dropdown-submenu{
    .dropdown-menu{
      overflow: auto;
      max-height: calc(80vh - 120px);
      @extend %scrollVar;
      .mobile-view &{
        max-height:none;
        padding-left: 10px;
      }
    }
  }
  // .multicolumn {
  //   list-style-type: none;
  //   padding: 0;
  //   &__container {
  //     background-color: _brand-palette(menuDropdown_bgc);
  //     border: 1px solid _brand-palette(menuDropdown_borderColor);
  //     padding-top: 5px;
  //     z-index: _zindex(dropdown-menu);
  //     &_1{
  //       min-width: 200px;
  //       margin-left: -40px;
  //     }
  //     &_2{
  //       min-width: 400px;
  //       margin-left: -140px;
  //     }
  //     &_3{
  //       min-width: 600px;
  //       margin-left: -240px;
  //     }
  //     @media (min-width: 768px) and (max-width: 991px) {
  //       z-index: _zindex(menuNavMulticolumnMenu);
  //     }
  //   }
  //   &__row {
  //     display: flex;
  //     margin: 0;
  //     @media (max-width: 991px) {
  //       flex-direction: column;
  //     }
  //   }
  //   &__col {
  //     display: flex;
  //     flex-direction: column;
  //     list-style-type: none;
  //     margin: 0;
  //     padding: 0;
  //     @media (min-width: 992px) {
  //       min-width: 200px;
  //       border-right: 1px solid _brand-palette(menuDropdown_borderColor);
  //     }
  //     &:last-child {
  //       border-right: none;
  //       min-width: 199px;
  //     }
  //   }
  // }
}

// .headerSubMenu{
//   &__link {
//     color: _brand-palette(menuDropdown_color);
//     display: block;
//     font-size: rem(13);
//     line-height: rem(13);
//     padding: 5px 20px;
//     text-decoration: none;
//     .headerSubMenu__item.active &,
//     &.active,
//     &:hover,
//     &:focus{
//       background-color: _brand-palette(menuDropdownActive_bgc);
//       color: _brand-palette(menuDropdownActive_color);
//       outline: none;
//       text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
//       text-decoration: none;
//     }
//   }
// }
