/* =~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~ */
/*                                                                            */
/* MENU                                                                       */
/* path: layout/_menu.scss                                                    */
/*                                                                            */
/* =~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~ */
.headerMenu{
  align-items: center;
  display: flex;
  justify-content: flex-start;
  list-style: none;
  height: 100%;
  padding: 0 5px;
  margin: 0;
  .mobile-view &{
    display: none;
  }
  &__item{
    display: block;
    position: relative;
    &.active > a {
        color: _brand-palette(menuActive_color);
    }
    &.customization {
        @media (min-width: 992px) and (max-width: 1450px) {
            .multicolumn__container {
                right: 0;
                left: auto;
            }
        }
    }
    .multicolumn__col >  li,
    .dropdown-menu > li {
        text-decoration: none;
        &.active > a {
            // color: #fff;
            color: _brand-palette(menuDropdownActive_color);
            // background-color: #357ebd;
            background-color: _brand-palette(menuDropdownActive_bgc);
            background-image: none;
            text-decoration: none;
            text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
            outline: 0;
            // background-image: linear-gradient(to bottom, #428bca 0%, #357ebd 100%);
            // background-repeat: repeat-x;
        }
        > a {
            display: block;
            padding: 5px 15px;
            font-weight: normal;
            font-size: rem(13);
            line-height: rem(13);
            color: #333;
            // white-space: nowrap; issue # 2411
            &:hover {
                color: #262626;
                background-color: _brand-palette(menuDropdownActive_bgc);
                background-image: none;
                color: _brand-palette(menuDropdownActive_color);
                // text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
                text-decoration: none;
                // background-color: #e8e8e8;
                // background-image: linear-gradient(to bottom, #f5f5f5 0%, #e8e8e8 100%);
                // background-repeat: repeat-x;
            }
        }
    }
  }
  &__link{
    font-size: rem(13);
    font-weight: 700;
    padding: 0 10px;
    svg{
      fill: _brand-palette(link_color);
    }
    &.active {
      color: _brand-palette(menuActive_color);
    }
  }
  &__header{
    background-color: _brand-palette(menuDropdownHeader_color);
    color: _brand-palette(menuDropdown_bgc);
    font-size: rem(12);
    padding: 6px 0px 6px 10px;
    position: relative;
  }

  .multicolumn {
    list-style-type: none;
    padding: 0;
    &__container {
      background-color: _brand-palette(menuDropdown_bgc);
      border: 1px solid _brand-palette(menuDropdown_borderColor);
      padding-top: 5px;
      z-index: _zindex(dropdown-menu);
      &_1{
        min-width: 200px;
        margin-left: -40px;
      }
      &_2{
        min-width: 400px;
        margin-left: -140px;
      }
      &_3{
        min-width: 600px;
        margin-left: -240px;
      }
      @media (min-width: 768px) and (max-width: 991px) {
        z-index: _zindex(menuNavMulticolumnMenu);
        // &.dropdown-menu{
        //     border: none;
        //     border-top: 1px solid #BABABA;
        //     position: relative !important;
        //     width: 100%;
        // }
      }
    }
    &__row {
      display: flex;
      margin: 0;
      @media (max-width: 991px) {
        flex-direction: column;
      }
    }
    &__col {
      display: flex;
      flex-direction: column;
      list-style-type: none;
      margin: 0;
      padding: 0;
      @media (min-width: 992px) {
        min-width: 200px;
        border-right: 1px solid _brand-palette(menuDropdown_borderColor);
      }
      &:last-child {
        border-right: none;
        min-width: 199px;
      }
    }
  }
}

.headerSubMenu{
  &__item{
  }
  &__link {
    color: _brand-palette(menuDropdown_color);
    display: block;
    font-size: rem(13);
    line-height: rem(13);
    padding: 5px 20px;
    text-decoration: none;
    .headerSubMenu__item.active &,
    &.active,
    &:hover,
    &:focus{
      background-color: _brand-palette(menuDropdownActive_bgc);
      color: _brand-palette(menuDropdownActive_color);
      outline: none;
      text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
      text-decoration: none;
    }
  }
}
