/* =~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~ */
/*                                                                            */
/* PAGE HEADER                                                                */
/* path: dsf-common-ui/src/scss/layout/_pageHeader.scss                       */
/*                                                                            */
/* =~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~ */
@use './../utilities/functions/func_fonts' as fonts;
@use './../utilities/functions/func_val' as val;
// @use './../utilities/variables/var-colors' as *;
// @use './../utilities/variables/var-zindex' as *;

.pageHeader{
  align-items: center;
  display: flex;
  margin-bottom: 10px;
  .mobile-view &{
    flex-wrap: wrap;
  }
  .page-title{
    margin-bottom: 0;
  }
  &__title{
    color: val.brandPalette(pageHeader_color);
    display: flex;
    justify-content: space-between;
    font-size: fonts.rem(18);
    font-weight: 400;
    line-height: fonts.rem(21);
    margin: 0;
    .mobile-view &{
      font-size: fonts.rem(14);
      line-height: fonts.rem(16);
    }
    .label{
      align-self: center;
    }
  }
  &__left{
    align-items: center;
    display: flex;
    justify-content: flex-start;
  }
  &__right{
    margin-left: auto;
  }
  &_sticky{
    // background-color: val.brandPalette(body_bgc);
    position: sticky;
    top: 0;
    z-index: val.zIndex(pageHeader);
  }
}
