$path-fonts:                        $asset-base-path + "/dsf-common-ui/dist/";
$path-images:                       $asset-base-path + "/dsf-common-ui/images/";
$path-svgs:                         $asset-base-path + "/dsf-common-ui/svg/";