@function _brand-sizes($keys...) {
  @return val($brand-sizes, $keys...);
}
$brand-sizes: (
  borderRadiusFormElem:            1,
  border-radius-base:              4,
  border-radius-large:             6,
  btn_paddingX:                    10,
  btn_borderWidth:                 1,
  btn_borderRadius:                1,
  btnXs-paddingX:                  5,
  btnXs-paddingY:                  0,
  btnLg-paddingX:                  15,
  btnLg-paddingY:                  0,
  btnIcon_height:                  16,
  caret_size:                      6,
  checkboxItem_size:               12,
  checkboxItemBig_size:            24,
  collapseTrIcon_size:             14,
  collapseTdIcon_size:             14,
  controlLabel_mb:                 3,
  dropdownLink_minH:               36,
  dropdownLink_paddingX:           10,
  formControl_paddingX:            10,
  formGroup_mb:                    15,
  formGroup__formFree_mb:          25,
  modalSidebar_padding:            16,
  navPills-paddingX:               9,
  navPills-borderWidth:            1,
  paginationItem_borderRadius:     1,
  paginationItem_height:           20,
  paginationItem_width:            20,
  paginationItem_paddingX:         5,
  paginationItem_margin:           10,
  popoverArrow_width:              6,
  popoverArrow_height:             6,
  popover_borderWidth:             1,
  popover_paddingX:                12,
  popover_paddingY:                8,
  popover_maxWidth:                276,
  popoverWide_maxWidth:            400,
  table_paddingXFirst:             10,
  table_paddingX:                  6,
  table_paddingY:                  5,
  tableCell_height:                40,
  tableHelpIcon_size:              8,
  tableSortIcon_size:              20,
  toast_paddingX:                  8,
  toast_paddingY:                  4,
  toast_maxWidth:                  350,
  tooltipArrow_height:             6,
  tooltipArrow_width:              6,
  tooltip_paddingX:                8,
  tooltip_paddingY:                4,
  tooltip_maxWidth:                200,
  tooltipWide_maxWidth:            400,
  stages_size:                     34,
  stagesLine_size:                 20,
);

$marginSizes: 0, 5, 8, 10, 15, 20, 25, 30, 40, 50;
$paddingSizes: 0, 5, 10, 12, 15, 16, 20;