/* =~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~= */
/* MENU                                                             */
/* path: layout/_menu.scss                                         */
/*                                                                */
/* =~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~= */
.headerMenu{
  align-items: center;
  display: flex;
  justify-content: flex-start;
  list-style: none;
  height: 100%;
  padding: 0 5px;
  margin: 0;
  &__item{
    display: block;
    position: relative;
    &.customization {
        @media (min-width: 992px) and (max-width: 1450px) {
            .multicolumn-menu {
                right: 0;
                left: auto;
            }
        }
    }
  }
  &__link{
    font-size: rem(13);
    font-weight: 700;
    padding: 0 10px;
    svg{
      fill: _brand-palette(link_color);
    }
  }
}
.multicolumn {
    list-style-type: none;
    padding: 0;
    @media (min-width: 992px) {
        min-width: 200px;
        border-right: 1px solid #ccc;
    }
    .dropdown-header{
        color: #BABABA;
        padding: 4px 15px !important;
    }
    & > li {
        text-decoration: none;
        &.active > a {
            color: #fff;
            text-decoration: none;
            outline: 0;
            text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
            background-color: #357ebd;
            background-image: linear-gradient(to bottom, #428bca 0%, #357ebd 100%);
            background-repeat: repeat-x;
        }
        > a {
            display: block;
            // padding: 3px 20px;
            padding: 4px 15px;
            clear: both;
            font-weight: normal;
            // line-height: 1.42857143;
            line-height: rem(14);
            color: #333;
            // white-space: nowrap; issue # 2411
            &:hover {
                color: #262626;
                text-decoration: none;
                background-color: #e8e8e8;
                background-image: linear-gradient(to bottom, #f5f5f5 0%, #e8e8e8 100%);
                background-repeat: repeat-x;
            }
        }
    }
    &-menu {
        @media (min-width: 768px) and (max-width: 991px) {
            &.dropdown-menu{
                border: none;
                border-top: 1px solid #BABABA;
                position: relative !important;
                width: 100%;
            }

            z-index: _zindex(menuNavMulticolumnMenu);
            &-cols{
                &1{
                    min-width: 200px;
                    margin-left: -40px;
                }
                &2{
                    min-width: 400px;
                    margin-left: -140px;
                }
                &3{
                    min-width: 600px;
                    margin-left: -240px;
                }
            }
        }
    }
    &-row {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        margin: 0;
        @media (max-width: 991px) {
            flex-direction: column;
        }
    }
    &-col {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        padding: 0;
        &:last-child .multicolumn {
            border-right: none;
            min-width: 199px;
        }
    }
}
