$zindex: (
  custom-file--label:                                                      1,
  custom-file--btn:                                                        3,
  sectionItem_ItemHeader:                                                  10,
  carouselIndicatorsImage:                                                 15,
  carouselIndicatorsButton:                                                16,
  maximizableModuleMaximized:                                              99,
  dropdownBackdrop:                                                        990,
  crmUsermenuCollapse:                                                     1000,
  tableStickyTbodyTd:                                                      1000,
  tableStickyTheadTh:                                                      1001,
  tableStickyTheadThFirstChild:                                            1002,
  tableStickyTheadTrFirstChildThFirstChild:                                1003,
  pageHeader:                                                              1004,
  dropdown-menu:                                                           1004, // dropdown-menu: table thead th перекрывало
  header:                                                                  1005,
  selectDropdownMenu:                                                      1006,
  menuNavMulticolumnMenu:                                                  1010,
  navbarNavDropdownMenu:                                                   1010,
  noteDropdown:                                                            1020,
  zindex-navbar-fixed:                                                     1030,
  modalBackground:                                                         1040,
  menuNav:                                                                 1041,
  modal:                                                                   1050,
  noteModal:                                                              1070,
  notePopover:                                                             1080,
  noteTooltip:                                                             1090,
  crmUsermenuCollapse_mobileView:                                          1100,
  tooltip:                                                                 1600,
  popover:                                                                 2000,
  // tooltip: fix for tooltip in modal, because .modal-dialog z-index 1050
  // zindex-tooltip:                                                          1070,
)!default;
