@function _brand-sizes($keys...) {
  @return val($brand-sizes, $keys...);
}
$brand-sizes: (
  borderRadiusFormElem:            1,
  border-radius-base:              4,
  border-radius-large:             6,
  btn_paddingX:                    10,
  btn_borderWidth:                 1,
  btn_borderRadius:                1,
  btnXs-paddingX:                  5,
  btnXs-paddingY:                  0,
  btnLg-paddingX:                  15,
  btnLg-paddingY:                  0,
  btnIcon_height:                  16,
  controlLabel_mb:                 3,
  dropdownLink_minH:               36,
  formControl_paddingX:            10,
  formGroup_mb:                    15,
  popoverArrow_width:              6,
  popoverArrow_height:             6,
  popover_borderWidth:             1,
  popover_paddingX:                12,
  popover_paddingY:                8,
  popover_maxWidth:                276,
  table_paddingX:                  6,
  table_paddingY:                  5,
  tableCell_height:                40,
  toast_paddingX:                  8,
  toast_paddingY:                  4,
  toast_maxWidth:                  350,
  tooltipArrow_height:             6,
  tooltipArrow_width:              6,
  tooltip_paddingX:                8,
  tooltip_paddingY:                4,
  tooltip_maxWidth:                200,
);
