@use './../functions/func_maps' as *;

@function _brand-sizes($keys...) {
  @return val($brand-sizes, $keys...);
}
@function brandSizes($keys...) {
  @return val($brand-sizes, $keys...);
}
$brand-sizes: (
  base_marginSize:                 10,
  borderRadiusFormElem:            1,
  border-radius-base:              4,
  border-radius-large:             6,
  btn_paddingX:                    10,
  btn_borderWidth:                 1,
  btn_borderRadius:                1,
  btnXs-paddingX:                  5,
  btnXs-paddingY:                  0,
  btnLg-paddingX:                  15,
  btnLg-paddingY:                  0,
  btnIcon_height:                  20,
  btnIconSvg_height:               14,
  btnDownloadSvg_height:           20,
  caret_size:                      6,
  caretDropdown_size:              4,
  caretSelect_size:                16,
  carousel-thumbs_size:            64,
  carousel-thumbsBig_size:         108,
  carousel-thumbs_gap:             7,
  carousel-control_size:           26,
  checkboxItem_size:               12,
  checkboxItemBig_size:            24,
  collapseTrIcon_size:             14,
  collapseTdIcon_size:             14,
  comboTreeCheckbox_size:          16,
  controlLabel_mb:                 3,
  controlLabel_mr:                 5,
  dropdownLink_minH:               36,
  dlHorizontalOffset:              180,
  disabel_opacity:                 0.5,
  dropdownLink_paddingX:           10,
  footer_height:                   52,
  footer_marginTop:                10,
  footer__mobile_height:           124,
  formControl_borderSize:          1,
  formControl_paddingX:            10,
  formControlStatic_paddingY:      7,
  formGroup_mb:                    14, // для совместимости, если рядом элемент с FormsFree
  formGroup__formFree_mb:          25,
  header_marginBottom:             10,
  headerTop_height:                44,
  headerBottom_height:             34,
  iconLabel:                       16,
  iconLabelActive:                 12,
  inputGroupAddon_paddingX:        12,
  inputGroupAddon_paddingY:        6,
  modalSidebar_padding:            16,
  modal_paddingX:                  15,
  modal_paddingY:                  10,
  navPills-paddingX:               9,
  navPills-borderWidth:            1,
  output_paddingY:                 7,
  paginationItem_borderRadius:     1,
  paginationItem_height:           20,
  paginationItem_width:            20,
  paginationItem_paddingX:         5,
  paginationItem_margin:           10,
  popoverArrow_width:              6,
  popoverArrow_height:             6,
  popover_borderWidth:             1,
  popover_paddingX:                12,
  popover_paddingY:                8,
  popover_maxWidth:                276,
  popoverWide_maxWidth:            400,
  radioItem_size:                  14,
  radioItem_paddingText:           5,
  radioItemBorder_size:            1,
  radioItemDot_size:               6,
  square_height:                   64,
  table_paddingXFirst:             10,
  table_paddingX:                  6,
  table_paddingY:                  5,
  tableCell_height:                40,
  tableHelpIcon_size:              8,
  tableSortIcon_size:              20,
  toast_paddingX:                  8,
  toast_paddingY:                  4,
  toast_maxWidth:                  350,
  toggleCheckToggle_height:        14,
  toggleCheckToggle_width:         16,
  toggleCheck_height:              20,
  toggleCheck_width:               40,
  tooltipArrow_height:             6,
  tooltipArrow_width:              6,
  tooltip_paddingX:                8,
  tooltip_paddingY:                4,
  tooltip_maxWidth:                200,
  tooltipWide_maxWidth:            400,
  stages_size:                     34,
  stagesLine_size:                 20,
);

$marginSizes: 0, 5, 8, 10, 15, 20, 25, 30, 40, 50;
$paddingSizes: 0, 5, 8, 10, 12, 15, 16, 20, 25, 30, 40, 50;
$gapSizes: 0, 5, 10, 15, 20, 30, 40, 50;
$svgSizes: 8, 9, 10, 11, 12, 14, 16, 18, 20, 21, 22, 24;

// возможные значения: bottom: (0, 50px, auto, 'auto'). Числовое значение будет процентами (%)
$posSizes:(
  left: (0, 50, 100, 5px, 10px, 20px, auto),
  right: (0, 50, 100, 5px, 10px, 20px, auto),
  top: (0, 50, 100, 5px, 10px, 20px, auto),
  bottom: (0, 50, 100, 5px, 10px, 20px, auto)
);

$browser-context: 16;