$brand-colors: () !default;
$brand-namecolors: () !default;
$brand-palette: () !default;
$brand-hover: () !default;
$brand-btn: () !default;
$brand-label: () !default;
$brand-alert: () !default;
$brand-table: () !default;
$brand-state: () !default;
$brand-panel: () !default;