$base-gutter:                      10!default;
$base-padding:                     10!default;
$base-radius:                      1!default;
$base-radius__small:               1!default;
$base-radius__medium:              1!default;
$base-radius__big:                 1!default;
$base-body:                        12!default;
$base-headingH1:                   24!default;
$base-headingH2:                   18!default;
$base-headingH3:                   16!default;
$base-headingH4:                   12!default;
$base-headingH5:                   14!default;
$base-headingH6:                   12!default;

$base-transition_form: border-color ease-in-out .15s, box-shadow ease-in-out .15s!default;

$browser-context: 16;