@use './../functions/func_maps' as *;

@function lineHeight($keys...) {
  @return val($lineHeight, $keys...);
}

@function _lineHeight($keys...) {
  @return val($lineHeight, $keys...);
}

$lineHeight: (
  body: 14,
  btn: 26,
  btnXs: 18,
  btnLg: 30,
  checkbox: 24,
  dropdownLink: 24,
  headings: 1.1,
  headingH1: 1,
  headingH2: 21,
  headingH3: 18,
  headingH4: 14,
  headingH5: 1.1,
  input: 26,
  output: 1.4,
  radioItemLabel: 28,
  navPills: 28,
  navTabs: 28,
  table: 14,
  tooltip: 18,
  popover: 18,
);