// @function _fontsList($keys...) {
//   @return val($fontsList, $keys...);
// }

$fontsList: (
  "Roboto": (
    "normal": (
      400:                                  Roboto-Regular,
      700:                                  Roboto-Bold,
    ),
    "italic": (
      400:                                  Roboto-Italic,
      700:                                  Roboto-BoldItalic,
    )
  )
)!default;

$fontSizes: (
  body:                                                                      12,
  btn:                                                                       12,
  btnXs:                                                                     10,
  btnLg:                                                                     14,
  blockquote:                                                                18,
  controlLabel:                                                              11,
  controlLabel__formFree:                                                    12,
  controlLabel_active__formFree:                                             11,
  checkbox:                                                                  12,
  inputGroupElem:                                                            12,
  dropdown:                                                                  12,
  dropdownHeader:                                                            11,
  formElem:                                                                  12,
  headingH1:                                                                 36,
  headingH2:                                                                 18,
  headingH3:                                                                 16,
  headingH4:                                                                 12,
  headingH5:                                                                 14,
  headingH6:                                                                 12,
  navPills:                                                                  12,
  navTabs:                                                                   13,
  output:                                                                    14,
  pagination:                                                                12,
  popoverHeader:                                                             14,
  popover:                                                                   12,
  toast:                                                                     12,
  thead:                                                                     11,
  tbody:                                                                     13,
  tfoot:                                                                     13,
  tooltip:                                                                   12,
)!default;

$fontWeight: (
  btn:                                                                      400,
  controlLabel:                                                             400,
  formElem:                                                                 400,
  headings:                                                                 400,
  headingH2:                                                                400,
  headingH3:                                                                700,
  headingH4:                                                                700,
  inputGroupElem:                                                           400,
  navPills:                                                                 400,
)!default;

$textTransform: (
  headings:                                                                 none,
  headingH4:                                                                uppercase,
  headerTitle:                                                              uppercase,
  label:                                                                    uppercase,
  labelChip:                                                                none,
  popover:                                                                  none,
  radioCheckLabel:                                                          uppercase,
  tableSummary:                                                             uppercase,
  tooltip:                                                                  none,
)!default;

$fontSizeList: 8, 10, 11, 12, 13, 14, 16, 18, 20, 24, 48;

$lineHeightSizeList: 10, 12, 14, 16, 18, 20, 24, 48;