@use './_var-baseValue' as baseValue;

$fontsList: (
  "Roboto": (
    "normal": (
      400:                                  Roboto-Regular,
      700:                                  Roboto-Bold,
    ),
    "italic": (
      400:                                  Roboto-Italic,
      700:                                  Roboto-BoldItalic,
    )
  )
)!default;

$fontSizesBase: (
  body:                                                                      baseValue.$base-body,
  headingH1:                                                                 baseValue.$base-headingH1,
  headingH2:                                                                 baseValue.$base-headingH2,
  headingH3:                                                                 baseValue.$base-headingH3,
  headingH4:                                                                 baseValue.$base-headingH4,
  headingH5:                                                                 baseValue.$base-headingH5,
  headingH6:                                                                 baseValue.$base-headingH6,
)!default;

$fontSizes: (
  btn:                                                                       baseValue.$base-body,
  btnXs:                                                                     10,
  btnLg:                                                                     14,
  blockquote:                                                                18,
  controlLabel:                                                              11,
  controlLabel__formFree:                                                    baseValue.$base-body,
  controlLabel_active__formFree:                                             11,
  checkbox:                                                                  baseValue.$base-body,
  inputGroupElem:                                                            baseValue.$base-body,
  dropdown:                                                                  baseValue.$base-body,
  dropdownHeader:                                                            11,
  formElem:                                                                  baseValue.$base-body,
  navCards:                                                                  13,
  navPills:                                                                  baseValue.$base-body,
  navTabs:                                                                   13,
  output:                                                                    14,
  pageHeaderTilte:                                                           18,
  pagination:                                                                baseValue.$base-body,
  popoverHeader:                                                             14,
  popover:                                                                   baseValue.$base-body,
  toast:                                                                     baseValue.$base-body,
  thead:                                                                     11,
  tbody:                                                                     baseValue.$base-body,
  tfoot:                                                                     baseValue.$base-body,
  tooltip:                                                                   baseValue.$base-body,
  unityBlockTitle:                                                           baseValue.$base-headingH2,
)!default;

$fontWeight: (
  btn:                                                                      400,
  controlLabel:                                                             400,
  formElem:                                                                 400,
  headings:                                                                 700,
  headingH2:                                                                700,
  headingH3:                                                                700,
  headingH4:                                                                700,
  gridHeader:                                                               700,
  gridRowGrandMaster:                                                       700,
  inputGroupElem:                                                           400,
  navCards:                                                                 700,
  navPills:                                                                 400,
  pageHeaderTilte:                                                          400,
)!default;

$textTransform: (
  headings:                                                                 none,
  headingH1:                                                                none,
  headingH2:                                                                none,
  headingH3:                                                                none,
  headingH4:                                                                uppercase,
  headerTitle:                                                              uppercase,
  label:                                                                    uppercase,
  labelChip:                                                                none,
  popover:                                                                  none,
  radioCheckLabel:                                                          uppercase,
  tableSummary:                                                             uppercase,
  tooltip:                                                                  none,
)!default;

$letterSpacing: (
  body:                                                                     0,
  headingH1:                                                                0,
  headingH2:                                                                0,
  headingH3:                                                                0,
  headingH4:                                                                0,
  headingH5:                                                                0,
  headingH6:                                                                0,
) !default;

$fontSizeList: 8, 10, 11, 12, 13, 14, 15, 16, 18, 20, 24, 48;

$lineHeightSizeList: 10, 11, 12, 14, 15, 16, 18, 20, 21, 22, 24, 28, 30, 32, 48;