// @function _fontsList($keys...) {
//   @return val($fontsList, $keys...);
// }
$fontsList: (
  "Roboto": (
    "normal": (
      400:                                  roboto-v18-cyrillic_latin-regular,
      600:                                  roboto-v18-cyrillic_latin-700,
    ),
    "italic": (
      400:                                  roboto-v18-cyrillic_latin-italic,
      600:                                  roboto-v18-cyrillic_latin-700italic,
    )
  )
);

@function _fontSizes($keys...) {
  @return val($fontSizes, $keys...);
}
$fontSizes: (
  body:                                                                      12,
  btn:                                                                       12,
  btnXs:                                                                     10,
  btnLg:                                                                     14,
  formElem:                                                                  12,
  popoverHeader:                                                             14,
  toast:                                                                     12,
  popover:                                                                   12,
  tooltip:                                                                   12,
);

@function _fontWeight($keys...) {
  @return val($fontWeight, $keys...);
}
$fontWeight: (
  btn:                                                                      400,
);
