@use './_var-baseValue' as baseValue;

$brand-sizes: (
  base_marginSize:                 baseValue.$base-gutter,
  base_paddingSize:                baseValue.$base-padding,
  border-radius-base:              baseValue.$base-radius,
  border-radius-large:             6,
  caret_size:                      6,
  caretDropdown_size:              4,
  caretSelect_size:                16,
  
  chartBlock_padding:              baseValue.$base-gutter,

  disabel_opacity:                 0.5,
  dlHorizontalOffset:              180,
  dropdownLink_minH:               36,
  dropdownLink_paddingX:           baseValue.$base-padding,
  navPills-paddingX:               9,
  navPills-borderWidth:            1,
  output_paddingY:                 7,
  square_height:                   64,
  unityBlock_bRadius:              baseValue.$base-radius,
  unityBlock_padding:              baseValue.$base-gutter,
  unityBlockHeader_mb:             baseValue.$base-gutter,
)!default;

$alert-sizes: (
  alert_radius:                    baseValue.$base-radius,
  alert_padding:                   baseValue.$base-padding,
  alert_padding-sm:                baseValue.$base-padding,
  alert_margin:                    baseValue.$base-gutter,
  alertClose_size:                 14,
)!default;

$btn-sizes: (
  btn_paddingX:                    baseValue.$base-padding,
  btn_borderWidth:                 1,
  btn_borderRadius:                baseValue.$base-radius,
  btnXs-paddingX:                  5,
  btnXs-paddingY:                  0,
  btnLg-paddingX:                  15,
  btnLg-paddingY:                  0,
  btnIcon_height:                  20,
  btnIconSvg_height:               14,
  btnDownloadSvg_height:           20,
)!default;

$carousel-sizes:(
  carousel-thumbs_size:            64,
  carousel-thumbsBig_size:         108,
  carousel-thumbs_gap:             7,
  carousel-control_size:           26,
)!default;

$checkbox-sizes:(
  comboTreeCheckbox_size:          16,
  checkboxItem_size:               12,
  checkboxItemBig_size:            24,
)!default;

$forms-sizes:(
  borderRadiusFormElem:            baseValue.$base-radius,
  controlLabel_mb:                 3,
  controlLabel_mr:                 5,
  formControl_borderSize:          1,
  formControl_paddingX:            baseValue.$base-padding,
  formControlStatic_paddingY:      7,
  formGroup_mb:                    14, // для совместимости, если рядом элемент с FormsFree
  formGroup__formFree_mb:          25,
  iconLabel:                       16,
  iconLabelActive:                 12,
  inputGroupAddon_paddingX:        12,
  inputGroupAddon_paddingY:        6,
)!default;

$layout-sizes:(
  footer_height:                   52,
  footer_marginTop:                baseValue.$base-padding,
  footer__mobile_height:           124,
  header_marginBottom:             baseValue.$base-padding,
  headerTop_height:                44,
  headerBottom_height:             34,
)!default;

$modal-sizes: (
  modalSidebar_padding:            16,
  modalSidebar_close_size:         15,
  modal-theme2_padding:            24,
  modal-theme2_paddingX:           24,
  modal-theme2_paddingY:           16,
  modal-header-close_size:         16,
  modal_paddingX:                  15,
  modal_paddingXR:                 30,
  modal_paddingY:                  baseValue.$base-padding,
)!default;

$popover-sizes: (
  popoverArrow_width:              6,
  popoverArrow_height:             6,
  popover_borderWidth:             1,
  popover_paddingX:                12,
  popover_paddingY:                8,
  popover_maxWidth:                276,
  popoverWide_maxWidth:            400,
)!default;

$radio-sizes:(
  radioItem_size:                  14,
  radioItem_paddingText:           5,
  radioItemBorder_size:            1,
  radioItemDot_size:               6,
)!default;

$stages-sizes:(
  stages_size:                     34,
  stagesLine_size:                 20,
)!default;

$table-sizes:(
  collapseTrIcon_size:             16,
  collapseTdIcon_size:             14,
  collapseTrIcon_margin:           baseValue.$base-padding,
  table_paddingXFirst:             baseValue.$base-padding,
  table_paddingX:                  6,
  table_paddingY:                  5,
  tableList_paddingX:              5,
  tableList_paddingY:              4,
  table_lineHeigth:                14,
  tableCell_height:                38,
  tableCellMin_height:             16,
  tableCellMaster_height:          26,
  tableHelpIcon_size:              8,
  tableSortIcon_size:              20,
)!default;

$tabs-sizes:(
  navCardsForms_padding:           16,
  navCards_paddingX:               24,
  navCards_paddingY:               14,
  tabPane_padding:                 baseValue.$base-gutter,
)!default;

$toggleCheck-sizes:(
  toggleCheckToggle_borderRadius:  20,
  toggleCheckToggle_height:        14,
  toggleCheckToggle_width:         14,
  toggleCheck_borderRadius:        21,
  toggleCheck_height:              18,
  toggleCheck_width:               36,
)!default;


$pagination-sizes: (
  paginationItem_borderRadius:     1,
  paginationItem_height:           20,
  paginationItem_width:            20,
  paginationItem_paddingX:         5,
  paginationItem_margin:           baseValue.$base-padding,
)!default;

$progress-sizes: (
  progress_mb:                     baseValue.$base-padding,
  progress_height:                 14,
)!default;

$toast-sizes: (
  toast_paddingX:                  8,
  toast_paddingY:                  4,
  toast_maxWidth:                  350,
)!default;

$tooltip-sizes: (
  tooltipArrow_height:             6,
  tooltipArrow_width:              6,
  tooltip_paddingX:                8,
  tooltip_paddingY:                4,
  tooltip_maxWidth:                200,
  tooltipWide_maxWidth:            400,
)!default;


$marginSizes: 0, 5, 6, 7, 8, 10, 15, 20, 25, 30, 40, 50;
$paddingSizes: 0, 5, 6, 7, 8, 10, 12, 15, 16, 20, 25, 30, 40, 50;
$gapSizes: 0, 5, 10, 15, 20, 30, 40, 50;
$svgSizes: 8, 9, 10, 11, 12, 14, 16, 18, 20, 21, 22, 24, 32;

// возможные значения: bottom: (0, 50px, auto, 'auto'). Числовое значение будет процентами (%)
$posSizes:(
  left: (0, 50, 100, 5px, 10px, 20px, auto),
  right: (0, 50, 100, 5px, 10px, 20px, auto),
  top: (0, 50, 100, 5px, 10px, 20px, auto),
  bottom: (0, 50, 100, 5px, 10px, 20px, auto)
);