@function _brand-colors($keys...) {
  @return val($brand-colors, $keys...);
}
$brand-colors: (
  _white:                                                               #ffffff,
  _black:                                                               #000000,
  _blue:                                                                #1E6393,
  _light-blue:                                                          #4A8DC6,
  _light-blue2:                                                         #E4EEF7,
  _light-blue3:                                                         #B6D1E8,
  _vibrant-blue:                                                        #0094FF,
  _green:                                                               #69C26A,
  _light-green:                                                         #DAF0DA,
  _light-green2:                                                        #B4E1B5,
  _dark-green:                                                          #467B46,
  _orange:                                                              #FFBD41,
  _light-orange:                                                        #FFDF9A,
  _dark-orange:                                                         #D59A00,
  _grey:                                                                #BABABA,
  _grey2:                                                               #dddddd,
  _grey3:                                                               #cccccc,
  _grey4:                                                               #777777,
  _light-grey:                                                          #f9f9f9,
  _light-grey2:                                                         #F5F5F5,
  _light-grey3:                                                         #EEEEEE,
  _dark-grey:                                                           #333333,
  _yellow:                                                              #FFDA7D,
  _yellow2:                                                             #FFF741,
  _light-yellow:                                                        #FFF6DF,
  _light-yellow2:                                                       #FFFBA0,
  _red:                                                                 #D9534F,
  _rose:                                                                #FF9996,
  _light-red:                                                           #FCEEEE,
  _dark-red:                                                            #762624,
  _transparent:                                            unquote('#00000000'),
  // _transparent: в следующих версияъ SASS без unquote
  _dark-cyan:                                                           #008B8B,
  _light-cyan:                                                          #d2efee,
  _color-eeecd:                                                         #eeecd8,
);

@function _brand-hover($keys...) {
  @return val($brand-hover, $keys...);
}
$brand-hover: (
  _outline_dark-green:(
    borderColor:                        _brand-colors(_dark-green),
    borderColor-hover:                  _brand-colors(_dark-green),
    bgColor:                            _brand-colors(_transparent),
    bgColor-hover:                      _brand-colors(_dark-green),
    color:                              _brand-colors(_dark-grey),
    color-hover:                        _brand-colors(_dark-grey),
  ),
  _outline_dark-orange:(
    borderColor:                        _brand-colors(_dark-orange),
    borderColor-hover:                  _brand-colors(_dark-orange),
    bgColor:                            _brand-colors(_transparent),
    bgColor-hover:                      _brand-colors(_dark-orange),
    color:                              _brand-colors(_dark-grey),
    color-hover:                        _brand-colors(_dark-grey),
  ),
  _outline_grey4:(
    borderColor:                        _brand-colors(_grey4),
    borderColor-hover:                  _brand-colors(_grey4),
    bgColor:                            _brand-colors(_transparent),
    bgColor-hover:                      _brand-colors(_grey4),
    color:                              _brand-colors(_dark-grey),
    color-hover:                        _brand-colors(_dark-grey),
  ),
  _light-grey2:(
    borderColor:                        _brand-colors(_grey4),
    borderColor-hover:                  _brand-colors(_grey4),
    bgColor:                            _brand-colors(_light-grey2),
    bgColor-hover:                      _brand-colors(_grey4),
    color:                              _brand-colors(_grey4),
    color-hover:                        _brand-colors(_white),
  ),
  _outline_light-blue:(
    borderColor:                        _brand-colors(_light-blue),
    borderColor-hover:                  _brand-colors(_light-blue),
    bgColor:                            _brand-colors(_transparent),
    bgColor-hover:                      _brand-colors(_light-blue),
    color:                              _brand-colors(_dark-grey),
    color-hover:                        _brand-colors(_dark-grey),
  ),
  _light-blue:(
    borderColor:                        _brand-colors(_light-blue),
    borderColor-hover:                  _brand-colors(_blue),
    bgColor:                            _brand-colors(_light-blue),
    bgColor-hover:                      _brand-colors(_blue),
    color:                              _brand-colors(_white),
    color-hover:                        _brand-colors(_white),
  ),
  _light-blue2:(
    borderColor:                        _brand-colors(_light-blue),
    borderColor-hover:                  _brand-colors(_light-blue),
    bgColor:                            _brand-colors(_light-blue2),
    bgColor-hover:                      _brand-colors(_light-blue),
    color:                              _brand-colors(_light-blue),
    color-hover:                        _brand-colors(_white),
  ),
  _outline_red:(
    borderColor:                        _brand-colors(_red),
    borderColor-hover:                  _brand-colors(_red),
    bgColor:                            _brand-colors(_transparent),
    bgColor-hover:                      _brand-colors(_red),
    color:                              _brand-colors(_dark-grey),
    color-hover:                        _brand-colors(_dark-grey),
  ),
  _light-red:(
    borderColor:                        _brand-colors(_red),
    borderColor-hover:                  _brand-colors(_red),
    bgColor:                            _brand-colors(_light-red),
    bgColor-hover:                      _brand-colors(_red),
    color:                              _brand-colors(_red),
    color-hover:                        _brand-colors(_white),
  ),
  _outline_green:(
    borderColor:                        _brand-colors(_green),
    borderColor-hover:                  _brand-colors(_green),
    bgColor:                            _brand-colors(_transparent),
    bgColor-hover:                      _brand-colors(_green),
    color:                              _brand-colors(_dark-grey),
    color-hover:                        _brand-colors(_dark-grey),
  ),
  _light-green:(
    borderColor:                        _brand-colors(_dark-green),
    borderColor-hover:                  _brand-colors(_dark-green),
    bgColor:                            _brand-colors(_light-green),
    bgColor-hover:                      _brand-colors(_dark-green),
    color:                              _brand-colors(_dark-green),
    color-hover:                        _brand-colors(_white),
  ),
  _light-yellow:(
    borderColor:                        _brand-colors(_dark-orange),
    borderColor-hover:                  _brand-colors(_dark-orange),
    bgColor:                            _brand-colors(_light-yellow),
    bgColor-hover:                      _brand-colors(_dark-orange),
    color:                              _brand-colors(_dark-orange),
    color-hover:                        _brand-colors(_white),
  ),

  _light-seaGreen:(
    borderColor:                        _brand-colors(_dark-cyan),
    borderColor-hover:                  _brand-colors(_dark-cyan),
    bgColor:                            _brand-colors(_light-cyan),
    bgColor-hover:                      _brand-colors(_dark-cyan),
    color:                              _brand-colors(_dark-cyan),
    color-hover:                        _brand-colors(_white),
  ),
);

@function _colorTools($keys...) {
  @return val($colorTools, $keys...);
}
$colorTools: (
  default_bg:                             map-get($brand-colors, _grey4),
  default_border:                         map-get($brand-colors, _grey4),
  default_color:                          map-get($brand-colors, _grey4),
  default_svg:                            map-get($brand-colors, _grey4),
  primary_bg:                             map-get($brand-colors, _blue),
  primary_border:                         map-get($brand-colors, _blue),
  primary_color:                          map-get($brand-colors, _blue),
  primary_svg:                            map-get($brand-colors, _blue),
  danger_bg:                              map-get($brand-colors, _red),
  danger_border:                          map-get($brand-colors, _red),
  danger_color:                           map-get($brand-colors, _red),
  danger_svg:                             map-get($brand-colors, _red),
  warning_bg:                             map-get($brand-colors, _dark-orange),
  warning_border:                         map-get($brand-colors, _dark-orange),
  warning_color:                          map-get($brand-colors, _dark-orange),
  warning_svg:                            map-get($brand-colors, _dark-orange),
  success_bg:                             map-get($brand-colors, _green),
  success_border:                         map-get($brand-colors, _green),
  success_color:                          map-get($brand-colors, _green),
  success_svg:                            map-get($brand-colors, _green),
  info_bg:                                map-get($brand-colors, _light-blue2),
  info_border:                            map-get($brand-colors, _light-blue2),
  info_color:                             map-get($brand-colors, _light-blue2),
  info_svg:                               map-get($brand-colors, _light-blue2),
  muted_bg:                               map-get($brand-colors, _grey),
  muted_border:                           map-get($brand-colors, _grey),
  muted_color:                            map-get($brand-colors, _grey),
  muted_svg:                              map-get($brand-colors, _grey),
  orange_bg:                              map-get($brand-colors, _orange),
  orange_border:                          map-get($brand-colors, _orange),
  orange_color:                           map-get($brand-colors, _orange),
  orange_svg:                             map-get($brand-colors, _orange),
  grey_bg:                                map-get($brand-colors, _grey3),
  grey_border:                            map-get($brand-colors, _grey3),
  grey_color:                             map-get($brand-colors, _grey3),
  grey_svg:                               map-get($brand-colors, _grey3),
  grey2_bg:                               map-get($brand-colors, _grey2),
  grey2_border:                           map-get($brand-colors, _grey2),
  grey2_color:                            map-get($brand-colors, _grey2),
  grey2_svg:                              map-get($brand-colors, _grey2),
  grey4_bg:                               map-get($brand-colors, _grey4),
  grey4_border:                           map-get($brand-colors, _grey4),
  grey4_color:                            map-get($brand-colors, _grey4),
  grey4_svg:                              map-get($brand-colors, _grey4),
  light-grey_bg:                          map-get($brand-colors, _light-grey),
  light-grey_border:                      map-get($brand-colors, _light-grey),
  light-grey_color:                       map-get($brand-colors, _light-grey),
  light-grey_svg:                         map-get($brand-colors, _light-grey),
  light-grey2_bg:                         map-get($brand-colors, _light-grey2),
  light-grey2_border:                     map-get($brand-colors, _light-grey2),
  light-grey2_color:                      map-get($brand-colors, _light-grey2),
  light-grey2_svg:                        map-get($brand-colors, _light-grey2),
  dark-red_bg:                            map-get($brand-colors, _dark-red),
  dark-red_border:                        map-get($brand-colors, _dark-red),
  dark-red_color:                         map-get($brand-colors, _dark-red),
  dark-red_svg:                           map-get($brand-colors, _dark-red),
  clear_bg:                               map-get($brand-colors, _transparent),
  clear_border:                           map-get($brand-colors, _transparent),
  clear_color:                            map-get($brand-colors, _transparent),
  clear_svg:                              map-get($brand-colors, _transparent),
  white_bg:                               map-get($brand-colors, _white),
  white_border:                           map-get($brand-colors, _white),
  white_color:                            map-get($brand-colors, _white),
  white_svg:                              map-get($brand-colors, _white),
  light-blue_bg:                          map-get($brand-colors, _light-blue),
  light-blue_border:                      map-get($brand-colors, _light-blue),
  light-blue_color:                       map-get($brand-colors, _light-blue),
  light-blue_svg:                         map-get($brand-colors, _light-blue),
  light-blue3_bg:                         map-get($brand-colors, _light-blue3),
  light-blue3_border:                     map-get($brand-colors, _light-blue3),
  light-blue3_color:                      map-get($brand-colors, _light-blue3),
  light-blue3_svg:                        map-get($brand-colors, _light-blue3),
  rose_bg:                                map-get($brand-colors, _rose),
  rose_border:                            map-get($brand-colors, _rose),
  rose_color:                             map-get($brand-colors, _rose),
  rose_svg:                               map-get($brand-colors, _rose),
  vibrant-blue_bg:                        map-get($brand-colors, _vibrant-blue),
  vibrant-blue_border:                    map-get($brand-colors, _vibrant-blue),
  vibrant-blue_color:                     map-get($brand-colors, _vibrant-blue),
  vibrant-blue_svg:                       map-get($brand-colors, _vibrant-blue),
  light-yellow_bg:                        map-get($brand-colors, _light-yellow),
  light-yellow_border:                    map-get($brand-colors, _light-yellow),
  light-yellow_color:                     map-get($brand-colors, _light-yellow),
  light-yellow_svg:                       map-get($brand-colors, _light-yellow),
);

@function _brand-btn($keys...) {
  @return val($brand-btn, $keys...);
}
$brand-btn: (
  default_bg:                             map-get($brand-colors, _white),
  default-end_bg:                         map-get($brand-colors, _grey2),
  default_bg__hover:                      map-get($brand-colors, _grey2),
  default-end_bg__hover:                  map-get($brand-colors, _white),
  default_border:                         map-get($brand-colors, _grey2),
  default_border__hover:                  map-get($brand-colors, _grey2),
  default_color:                          map-get($brand-colors, _dark-grey),
  default_color__hover:                   map-get($brand-colors, _dark-grey),
  default_svg:                            map-get($brand-colors, _blue),
  default_svg__hover:                     map-get($brand-colors, _blue),
  default_svg_blue:                       map-get($brand-colors, _blue),
  default_svg_blue__hover:                map-get($brand-colors, _blue),
  default_textShadow:                     map-get($brand-colors, _white),
  default_outline:                        map-get($brand-colors, _dark-grey),
  default_outline__hover:                 map-get($brand-colors, _dark-grey),
  
  primary_bg:                             map-get($brand-colors, _light-blue),
  primary-end_bg:                         map-get($brand-colors, _blue),
  primary_bg__hover:                      map-get($brand-colors, _blue),
  primary-end_bg__hover:                  map-get($brand-colors, _light-blue),
  primary_border:                         map-get($brand-colors, _blue),
  primary_border__hover:                  map-get($brand-colors, _blue),
  primary_color:                          map-get($brand-colors, _white),
  primary_color__hover:                   map-get($brand-colors, _white),
  primary_svg:                            map-get($brand-colors, _white),
  primary_svg__hover:                     map-get($brand-colors, _white),
  primary_svg_blue:                       map-get($brand-colors, _white),
  primary_svg_blue__hover:                map-get($brand-colors, _white),
  primary_textShadow:                     map-get($brand-colors, _black),
  primary_outline:                        map-get($brand-colors, _light-blue),
  primary_outline__hover:                 map-get($brand-colors, _blue),

  danger_bg:                              map-get($brand-colors, _red),
  danger-end_bg:                          map-get($brand-colors, _dark-red),
  danger_bg__hover:                       map-get($brand-colors, _dark-red),
  danger-end_bg__hover:                   map-get($brand-colors, _red),
  danger_border:                          map-get($brand-colors, _dark-red),
  danger_border__hover:                   map-get($brand-colors, _dark-red),
  danger_color:                           map-get($brand-colors, _white),
  danger_color__hover:                    map-get($brand-colors, _white),
  danger_svg:                             map-get($brand-colors, _white),
  danger_svg__hover:                      map-get($brand-colors, _white),
  danger_svg_blue:                        map-get($brand-colors, _white),
  danger_svg_blue__hover:                 map-get($brand-colors, _white),
  danger_textShadow:                      map-get($brand-colors, _black),
  danger_outline:                         map-get($brand-colors, _red),
  danger_outline__hover:                  map-get($brand-colors, _dark-red),
  
  warning_bg:                             map-get($brand-colors, _orange),
  warning-end_bg:                         map-get($brand-colors, _dark-orange),
  warning_bg__hover:                      map-get($brand-colors, _dark-orange),
  warning-end_bg__hover:                  map-get($brand-colors, _orange),
  warning_border:                         map-get($brand-colors, _dark-orange),
  warning_border__hover:                  map-get($brand-colors, _dark-orange),
  warning_color:                          map-get($brand-colors, _dark-grey),
  warning_color__hover:                   map-get($brand-colors, _dark-grey),
  warning_svg:                            map-get($brand-colors, _white),
  warning_svg__hover:                     map-get($brand-colors, _white),
  warning_svg_blue:                       map-get($brand-colors, _white),
  warning_svg_blue__hover:                map-get($brand-colors, _white),
  warning_textShadow:                     map-get($brand-colors, _black),
  warning_outline:                        map-get($brand-colors, _orange),
  warning_outline__hover:                 map-get($brand-colors, _dark-orange),
  
  success_bg:                             map-get($brand-colors, _green),
  success-end_bg:                         map-get($brand-colors, _dark-green),
  success_bg__hover:                      map-get($brand-colors, _dark-green),
  success-end_bg__hover:                  map-get($brand-colors, _green),
  success_border:                         map-get($brand-colors, _dark-green),
  success_border__hover:                  map-get($brand-colors, _dark-green),
  success_color:                          map-get($brand-colors, _white),
  success_color__hover:                   map-get($brand-colors, _white),
  success_svg:                            map-get($brand-colors, _white),
  success_svg__hover:                     map-get($brand-colors, _white),
  success_svg_blue:                       map-get($brand-colors, _white),
  success_svg_blue__hover:                map-get($brand-colors, _white),
  success_textShadow:                     map-get($brand-colors, _black),
  success_outline:                        map-get($brand-colors, _green),
  success_outline__hover:                 map-get($brand-colors, _dark-green),
  
  info_bg:                                map-get($brand-colors, _light-blue2),
  info-end_bg:                            map-get($brand-colors, _light-blue2),
  info_bg__hover:                         map-get($brand-colors, _light-blue3),
  info-end_bg__hover:                     map-get($brand-colors, _light-blue3),
  info_border:                            map-get($brand-colors, _light-blue),
  info_border__hover:                     map-get($brand-colors, _light-blue),
  info_color:                             map-get($brand-colors, _light-blue),
  info_color__hover:                      map-get($brand-colors, _light-blue),
  info_svg:                               map-get($brand-colors, _light-blue),
  info_svg__hover:                        map-get($brand-colors, _light-blue),
  info_svg_blue:                          map-get($brand-colors, _light-blue),
  info_svg_blue__hover:                   map-get($brand-colors, _light-blue),
  info_textShadow:                        map-get($brand-colors, _black),
  info_outline:                           map-get($brand-colors, _light-blue2),
  info_outline__hover:                    map-get($brand-colors, _light-blue3),
  
  grey_bg:                                map-get($brand-colors, _grey),
  grey-end_bg:                            map-get($brand-colors, _grey4),
  grey_bg__hover:                         map-get($brand-colors, _grey4),
  grey-end_bg__hover:                     map-get($brand-colors, _grey),
  grey_border:                            map-get($brand-colors, _light-grey2),
  grey_border__hover:                     map-get($brand-colors, _light-grey2),
  grey_color:                             map-get($brand-colors, _white),
  grey_color__hover:                      map-get($brand-colors, _white),
  grey_svg:                               map-get($brand-colors, _white),
  grey_svg__hover:                        map-get($brand-colors, _white),
  grey_svg_blue:                          map-get($brand-colors, _blue),
  grey_svg_blue__hover:                   map-get($brand-colors, _blue),
  grey_textShadow:                        map-get($brand-colors, _black),
  grey_outline:                           map-get($brand-colors, _grey),
  grey_outline__hover:                    map-get($brand-colors, _grey4),
  
  lightGrey_bg:                           map-get($brand-colors, _light-grey2),
  lightGrey-end_bg:                       map-get($brand-colors, _light-grey2),
  lightGrey_bg__hover:                    map-get($brand-colors, _grey2),
  lightGrey-end_bg__hover:                map-get($brand-colors, _grey2),
  lightGrey_border:                       map-get($brand-colors, _grey),
  lightGrey_border__hover:                map-get($brand-colors, _dark-grey),
  lightGrey_color:                        map-get($brand-colors, _grey),
  lightGrey_color__hover:                 map-get($brand-colors, _dark-grey),
  lightGrey_svg:                          map-get($brand-colors, _grey),
  lightGrey_svg__hover:                   map-get($brand-colors, _dark-grey),
  lightGrey_svg_blue:                     map-get($brand-colors, _blue),
  lightGrey_svg_blue__hover:              map-get($brand-colors, _blue),
  lightGrey_textShadow:                   map-get($brand-colors, _black),
  lightGrey_outline:                      map-get($brand-colors, _light-grey2),
  lightGrey_outline__hover:               map-get($brand-colors, _dark-grey),
);

@function _brand-label($keys...) {
  @return val($brand-label, $keys...);
}
$brand-label: (
  default_bg:                             map-get($brand-colors, _white),
  default_color:                          map-get($brand-colors, _dark-grey),
  default_svg:                            map-get($brand-colors, _blue),
  primary_bg:                             map-get($brand-colors, _light-blue),
  primary_color:                          map-get($brand-colors, _white),
  primary_svg:                            map-get($brand-colors, _white),
  danger_bg:                              map-get($brand-colors, _red),
  danger_color:                           map-get($brand-colors, _white),
  danger_svg:                             map-get($brand-colors, _white),
  success_bg:                             map-get($brand-colors, _green),
  success_color:                          map-get($brand-colors, _white),
  success_svg:                            map-get($brand-colors, _white),
  warning_bg:                             map-get($brand-colors, _orange),
  warning_color:                          map-get($brand-colors, _dark-grey),
  warning_svg:                            map-get($brand-colors, _dark-grey),
  info_bg:                                map-get($brand-colors, _light-blue3),
  info_color:                             map-get($brand-colors, _dark-grey),
  info_svg:                               map-get($brand-colors, _dark-grey),
  yellow_bg:                              map-get($brand-colors, _yellow2),
  yellow_color:                           map-get($brand-colors, _dark-grey),
  yellow_svg:                             map-get($brand-colors, _dark-grey),
  black_bg:                               map-get($brand-colors, _black),
  black_color:                            map-get($brand-colors, _white),
  black_svg:                              map-get($brand-colors, _white),
  dark-grey_bg:                           map-get($brand-colors, _dark-grey),
  dark-grey_color:                        map-get($brand-colors, _white),
  dark-grey_svg:                          map-get($brand-colors, _white),

);

@function _brand-alert($keys...) {
  @return val($brand-alert, $keys...);
}
$brand-alert:(
  default_bg:                             map-get($brand-colors, _grey2),
  default_border:                         map-get($brand-colors, _dark-grey),
  default_close:                          map-get($brand-colors, _dark-grey),
  default_color:                          map-get($brand-colors, _dark-grey),
  default_title:                          map-get($brand-colors, _dark-grey),
  primary_bg:                             map-get($brand-colors, _light-blue),
  primary_border:                         map-get($brand-colors, _blue),
  primary_close:                          map-get($brand-colors, _white),
  primary_color:                          map-get($brand-colors, _white),
  primary_title:                          map-get($brand-colors, _white),
  success_bg:                             map-get($brand-colors, _light-green2),
  success_border:                         map-get($brand-colors, _dark-green),
  success_close:                          map-get($brand-colors, _dark-green),
  success_color:                          map-get($brand-colors, _dark-grey),
  success_title:                          map-get($brand-colors, _dark-grey),
  danger_bg:                              map-get($brand-colors, _red),
  danger_border:                          map-get($brand-colors, _dark-red),
  danger_close:                           map-get($brand-colors, _dark-red),
  danger_color:                           map-get($brand-colors, _white),
  danger_title:                           map-get($brand-colors, _white),
  warning_bg:                             map-get($brand-colors, _light-orange),
  warning_border:                         map-get($brand-colors, _red),
  warning_close:                          map-get($brand-colors, _dark-orange),
  warning_color:                          map-get($brand-colors, _dark-grey),
  warning_title:                          map-get($brand-colors, _red),
  info_bg:                                map-get($brand-colors, _light-blue2),
  info_border:                            map-get($brand-colors, _light-blue),
  info_close:                             map-get($brand-colors, _light-blue),
  info_color:                             map-get($brand-colors, _dark-grey),
  info_title:                             map-get($brand-colors, _dark-grey),
);

@function _brand-table($keys...) {
  @return val($brand-table, $keys...);
}
$brand-table: ( 
  caption_color:                          map-get($brand-colors, _dark-grey),
  table_border:                           map-get($brand-colors, _grey2),
  tbodyFirstTd_bgc:                       map-get($brand-colors, _white),
  tbodySlaveTd_bgc:                       map-get($brand-colors, _light-grey2),
  tbodySubSlaveTd_bgc:                    map-get($brand-colors, _light-grey3),
  tbody_bgc:                              map-get($brand-colors, _white),
  tbody_color:                            map-get($brand-colors, _dark-grey),
  thead_border:                           map-get($brand-colors, _grey2),
  thead_bgc:                              map-get($brand-colors, _white),
  thead_color:                            map-get($brand-colors, _dark-grey),
  tfoot_bgc:                              map-get($brand-colors, _light-grey3),
  tfoot_color:                            map-get($brand-colors, _dark-grey),
  tdStrip_bgc:                            map-get($brand-colors, _light-grey),
  tdHover_bgc:                            map-get($brand-colors, _light-grey2),
);

@function _brand-palette($keys...) {
  @return val($brand-palette, $keys...);
}
$brand-palette: (
  body_bgc:                               map-get($brand-colors, _light-grey3),
  body_color:                             map-get($brand-colors, _dark-grey),

  border:                                 map-get($brand-colors, _grey),
  bootstrapSelect_caret_color:            map-get($brand-colors, _dark-grey),

  btnIconSvg_color:                       map-get($brand-colors, _light-blue),

  code_bgc:                               map-get($brand-colors, _light-grey2),
  code_color:                             map-get($brand-colors, _dark-grey),
  pre_bgc:                                map-get($brand-colors, _light-grey2),
  pre_color:                              map-get($brand-colors, _dark-grey),
  mark_bgc:                               map-get($brand-colors, _orange),
  headerTop_bgc:                          map-get($brand-colors, _white),
  headerLang_border:                      map-get($brand-colors, _grey2),
  headerBottom_bgc:                       map-get($brand-colors, _light-grey),
  haeding_color:                          map-get($brand-colors, _dark-grey),
  footer_bgc:                             map-get($brand-colors, _white),

  chartBlock_border:                      map-get($brand-colors, _grey2),

  checkboxItem_color:                     map-get($brand-colors, _dark-grey),
  checkboxItemDisabled_color:             map-get($brand-colors, _grey3),
  checkboxItem_bgc:                       map-get($brand-colors, _white),
  checkboxItemActive_bgc:                 map-get($brand-colors, _light-blue),
  checkboxItemHover_bgc:                  map-get($brand-colors, _light-blue),
  checkboxItem_border:                    map-get($brand-colors, _grey),
  checkboxItemActive_border:              map-get($brand-colors, _blue),
  checkboxItemHover_border:               map-get($brand-colors, _blue),

  // checkboxItemBig--color:                 map-get($brand-colors, _dark-grey),
  // checkboxItemBig--bgColor:               map-get($brand-colors, _transparent),
  // checkboxItemBig--bgColor_active:        map-get($brand-colors, _transparent),
  // checkboxItemBig--bgColor_hover:         map-get($brand-colors, _transparent),
  // checkboxItemBig--borderColor:           map-get($brand-colors, _grey),
  // checkboxItemBig--borderColor_active:    map-get($brand-colors, _grey),
  // checkboxItemBig--borderColor_hover:     map-get($brand-colors, _grey),
  
  commentBlockInfo_color:                 map-get($brand-colors, _dark-grey),
  commentBlockComments_color:             map-get($brand-colors, _dark-grey),
  
  controlLabel_color:                     map-get($brand-colors, _grey4),
  controlLabelActive_color:               map-get($brand-colors, _grey4),
  controlLabelActive_bgc:                 map-get($brand-colors, _white),
  controlLabelError_color:                map-get($brand-colors, _red),

  dropdown_bgc:                           map-get($brand-colors, _white),
  dropdown_color:                         map-get($brand-colors, _dark-grey),
  dropdownHeader_color:                   map-get($brand-colors, _light-grey),
  dropdownActive_color:                   map-get($brand-colors, _dark-grey),
  dropdownActive_bgc:                     map-get($brand-colors, _light-blue2),

  joinBlockTitle_color:                   map-get($brand-colors, _dark-grey),

  inputGroupEl-bgc:                       map-get($brand-colors, _white),
  inputGroupEl-borderColor:               map-get($brand-colors, _grey),
  inputGroupEl-color:                     map-get($brand-colors, _dark-grey),

  formControl-borderColor:                map-get($brand-colors, _grey),
  formControl-bgc:                        map-get($brand-colors, _white),
  formControl-color:                      map-get($brand-colors, _dark-grey),
  formControl-placeholder:                map-get($brand-colors, _dark-grey),

  hasSuccess_bgc:                         map-get($brand-colors, _green),
  hasSuccess_color:                       map-get($brand-colors, _green),
  hasSuccess_borderColor:                 map-get($brand-colors, _green),
  hasWarning_bgc:                         map-get($brand-colors, _orange),
  hasWarning_color:                       map-get($brand-colors, _orange),
  hasWarning_borderColor:                 map-get($brand-colors, _orange),
  hasDanger_bgc:                          map-get($brand-colors, _red),
  hasDanger_color:                        map-get($brand-colors, _red),
  hasDanger_borderColor:                  map-get($brand-colors, _red),

  lighten:                                lighten(map-get($brand-colors, _red), 10%),

  hr_border:                              map-get($brand-colors, _dark-grey),

  link_color:                             map-get($brand-colors, _blue),
  linkEmpty_color:                        map-get($brand-colors, _dark-grey),
  linkIncomplete_color:                   map-get($brand-colors, _dark-grey),
  linkHover_color:                        map-get($brand-colors, _blue),
  linkDisabled_color:                     map-get($brand-colors, _grey4),
  
  menuLink_color:                         map-get($brand-colors, _light-blue),
  menuLinkActive_bgc:                     map-get($brand-colors, _light-blue),
  menuLinkActive_color:                   map-get($brand-colors, _white),
  menuDropdown_bgc:                       map-get($brand-colors, _white),
  menuDropdownSvg_color:                  map-get($brand-colors, _light-blue),
  menuDropdown_borderColor:               map-get($brand-colors, _grey4),
  menuDropdown_color:                     map-get($brand-colors, _dark-grey),
  menuDropdownActive_color:               map-get($brand-colors, _dark-grey),
  menuDropdownActive_bgc:                 map-get($brand-colors, _light-blue2),
  menuDropdownHeader_color:               map-get($brand-colors, _grey),
  
  navPills_border:                        map-get($brand-colors, _light-blue),
  navPills-active_border:                 map-get($brand-colors, _light-blue),
  navPills_bg:                            map-get($brand-colors, _light-blue2),
  navPills-active_bg:                     map-get($brand-colors, _light-blue),
  navPills_color:                         map-get($brand-colors, _light-blue),
  navPills-active_color:                  map-get($brand-colors, _white),
  
  navTabs_borderColor:                    map-get($brand-colors, _grey),
  navTabs_bgc:                            map-get($brand-colors, _light-grey),
  navTabs_color:                          map-get($brand-colors, _grey),
  navTabs-active_borderColor:             map-get($brand-colors, _green),
  navTabs-active_bgc:                     map-get($brand-colors, _white),
  navTabs-active_color:                   map-get($brand-colors, _grey),

  pageHeader_color:                       map-get($brand-colors, _dark-grey),
  
  pagination_bgc:                         map-get($brand-colors, _transparent),
  pagination-active_bgc:                  map-get($brand-colors, _light-blue3),
  pagination-disable_bgc:                 map-get($brand-colors, _transparent),
  pagination_color:                       map-get($brand-colors, _light-blue),
  pagination-disable_color:               map-get($brand-colors, _light-blue3),
  pagination-svg_color:                   map-get($brand-colors, _light-blue),
  pagination-active_color:                map-get($brand-colors, _light-blue),
  pagination-svg-disable_color:           map-get($brand-colors, _light-blue3),

  popover_bgc:                            map-get($brand-colors, _white),
  popover_borderColor:                    map-get($brand-colors, _white),
  popover_color:                          map-get($brand-colors, _dark-grey),
  popoverHeader_bgc:                      map-get($brand-colors, _light-grey3),
  popoverHeader_color:                    map-get($brand-colors, _dark-grey),

  radioItem_color:                        map-get($brand-colors, _dark-grey),
  radioItem_bg:                           map-get($brand-colors, _white),
  radioItem_border:                       map-get($brand-colors, _grey3),
  radioItem-active_bg:                    map-get($brand-colors, _white),
  radioItem-active_border:                map-get($brand-colors, _blue),

  stagesList_borderColor:                 map-get($brand-colors, _grey4),
  stagesClose_bgc:                        map-get($brand-colors, _light-green),
  stagesClose_svg:                        map-get($brand-colors, _dark-green),
  stagesDefault_bgc:                      map-get($brand-colors, _light-grey2),
  stagesDefault_svg:                      map-get($brand-colors, _grey4),
  stagesOpen_bgc:                         map-get($brand-colors, _light-blue2),
  stagesOpen_svg:                         map-get($brand-colors, _light-blue),

  table-color:                            map-get($brand-colors, _dark-grey),
  tableHelpIcon_bgc:                      map-get($brand-colors, _dark-grey),
  table-table-striped-bg-odd:             map-get($brand-colors, _white),
  table-table-striped-bg-even:            map-get($brand-colors, _light-grey),

  tabsPane-active_bgc:                    map-get($brand-colors, _white),

  toastBody_bgc:                          map-get($brand-colors, _white),
  toastBody_borderColor:                  map-get($brand-colors, _white),
  toastBody_color:                        map-get($brand-colors, _dark-grey),
  toastHeader_bgc:                        map-get($brand-colors, _light-orange),
  toastHeader_borderColor:                map-get($brand-colors, _white),
  toastHeader_color:                      map-get($brand-colors, _dark-grey),

  tooltip_bgc:                            map-get($brand-colors, _black),
  tooltip_color:                          map-get($brand-colors, _white),
);

$state-primary-bg:                        map-get($brand-colors, _blue);
$state-primary-text:                      map-get($brand-colors, _blue);
$state-primary-svg:                       map-get($brand-colors, _blue);

$state-success-bg:                        map-get($brand-colors, _green);
$state-success-text:                      map-get($brand-colors, _green);
$state-success-svg:                       map-get($brand-colors, _green);

$state-info-bg:                           map-get($brand-colors, _light-blue);
$state-info-text:                         map-get($brand-colors, _light-blue);
$state-info-svg:                          map-get($brand-colors, _light-blue);

$state-warning-bg:                        map-get($brand-colors, _orange);
$state-warning-text:                      map-get($brand-colors, _orange);
$state-warning-svg:                       map-get($brand-colors, _orange);

$state-danger-bg:                         map-get($brand-colors, _red);
$state-danger-text:                       map-get($brand-colors, _red);
$state-danger-svg:                        map-get($brand-colors, _red);

$state-dark-bg:                           map-get($brand-colors, _dark-grey);
$state-dark-text:                         map-get($brand-colors, _dark-grey);
$state-dark-svg:                          map-get($brand-colors, _dark-grey);

$state-light-bg:                          map-get($brand-colors, _white);

$state-muted-bg:                          map-get($brand-colors, _grey);
$state-muted-text:                        map-get($brand-colors, _grey);
$state-muted-svg:                         map-get($brand-colors, _grey);
