@function _brand-colors($keys...) {
  @return val($brand-colors, $keys...);
}
$brand-colors: (
  _blue:                                                                #1E6393,
  _black:                                                               #000000,
  _dark-green:                                                          #467B46,
  _dark-grey:                                                           #333333,
  _dark-orange:                                                         #D59A00,
  _dark-red:                                                            #762624,
  _green:                                                               #69C26A,
  _grey:                                                                #BABABA,
  _grey2:                                                               #dddddd,
  _grey3:                                                               #cccccc,
  _grey4:                                                               #777777,
  _light-blue:                                                          #4A8DC6,
  _light-blue2:                                                         #E4EEF7,
  _light-blue3:                                                         #B6D1E8,
  _light-grey:                                                          #f9f9f9,
  _light-grey2:                                                         #F5F5F5,
  _light-grey3:                                                         #EEEEEE,
  _light-green:                                                         #DAF0DA,
  _light-green2:                                                        #B4E1B5,
  _light-yellow:                                                        #FFF6DF,
  _light-yellow2:                                                       #FFFBA0,
  _light-red:                                                           #FCEEEE,
  _orange:                                                              #FFBD41,
  _orange-light:                                                        #FFDF9A,
  _red:                                                                 #D9534F,
  _transparent:                                            unquote('#00000000'),
  // _transparent: в следующих версияъ SASS без unquote
  _yellow:                                                              #FFDA7D,
  _yellow2:                                                             #FFF741,
  _white:                                                               #ffffff,
  _dark-cyan:                                                           #008B8B,
  _color-eeecd:                                                         #eeecd8,
  _light-cyan:                                          rgba(32, 178, 170, 0.2),
);

@function _brand-hover($keys...) {
  @return val($brand-hover, $keys...);
}
$brand-hover: (
  _outline_dark-green:(
    borderColor:                        _brand-colors(_dark-green),
    borderColor-hover:                  _brand-colors(_dark-green),
    bgColor:                            _brand-colors(_transparent),
    bgColor-hover:                      _brand-colors(_dark-green),
    color:                              _brand-colors(_dark-grey),
    color-hover:                        _brand-colors(_dark-grey),
  ),
  _outline_dark-orange:(
    borderColor:                        _brand-colors(_dark-orange),
    borderColor-hover:                  _brand-colors(_dark-orange),
    bgColor:                            _brand-colors(_transparent),
    bgColor-hover:                      _brand-colors(_dark-orange),
    color:                              _brand-colors(_dark-grey),
    color-hover:                        _brand-colors(_dark-grey),
  ),
  _outline_grey4:(
    borderColor:                        _brand-colors(_grey4),
    borderColor-hover:                  _brand-colors(_grey4),
    bgColor:                            _brand-colors(_transparent),
    bgColor-hover:                      _brand-colors(_grey4),
    color:                              _brand-colors(_dark-grey),
    color-hover:                        _brand-colors(_dark-grey),
  ),
  _light-grey2:(
    borderColor:                        _brand-colors(_grey4),
    borderColor-hover:                  _brand-colors(_grey4),
    bgColor:                            _brand-colors(_light-grey2),
    bgColor-hover:                      _brand-colors(_grey4),
    color:                              _brand-colors(_grey4),
    color-hover:                        _brand-colors(_white),
  ),
  _outline_light-blue:(
    borderColor:                        _brand-colors(_light-blue),
    borderColor-hover:                  _brand-colors(_light-blue),
    bgColor:                            _brand-colors(_transparent),
    bgColor-hover:                      _brand-colors(_light-blue),
    color:                              _brand-colors(_dark-grey),
    color-hover:                        _brand-colors(_dark-grey),
  ),
  _light-blue:(
    borderColor:                        _brand-colors(_light-blue),
    borderColor-hover:                  _brand-colors(_blue),
    bgColor:                            _brand-colors(_light-blue),
    bgColor-hover:                      _brand-colors(_blue),
    color:                              _brand-colors(_white),
    color-hover:                        _brand-colors(_white),
  ),
  _light-blue2:(
    borderColor:                        _brand-colors(_light-blue),
    borderColor-hover:                  _brand-colors(_light-blue),
    bgColor:                            _brand-colors(_light-blue2),
    bgColor-hover:                      _brand-colors(_light-blue),
    color:                              _brand-colors(_light-blue),
    color-hover:                        _brand-colors(_white),
  ),
  _outline_red:(
    borderColor:                        _brand-colors(_red),
    borderColor-hover:                  _brand-colors(_red),
    bgColor:                            _brand-colors(_transparent),
    bgColor-hover:                      _brand-colors(_red),
    color:                              _brand-colors(_dark-grey),
    color-hover:                        _brand-colors(_dark-grey),
  ),
  _light-red:(
    borderColor:                        _brand-colors(_red),
    borderColor-hover:                  _brand-colors(_red),
    bgColor:                            _brand-colors(_light-red),
    bgColor-hover:                      _brand-colors(_red),
    color:                              _brand-colors(_red),
    color-hover:                        _brand-colors(_white),
  ),
  _outline_green:(
    borderColor:                        _brand-colors(_green),
    borderColor-hover:                  _brand-colors(_green),
    bgColor:                            _brand-colors(_transparent),
    bgColor-hover:                      _brand-colors(_green),
    color:                              _brand-colors(_dark-grey),
    color-hover:                        _brand-colors(_dark-grey),
  ),
  _light-green:(
    borderColor:                        _brand-colors(_dark-green),
    borderColor-hover:                  _brand-colors(_dark-green),
    bgColor:                            _brand-colors(_light-green),
    bgColor-hover:                      _brand-colors(_dark-green),
    color:                              _brand-colors(_dark-green),
    color-hover:                        _brand-colors(_white),
  ),
  _light-yellow:(
    borderColor:                        _brand-colors(_dark-orange),
    borderColor-hover:                  _brand-colors(_dark-orange),
    bgColor:                            _brand-colors(_light-yellow),
    bgColor-hover:                      _brand-colors(_dark-orange),
    color:                              _brand-colors(_dark-orange),
    color-hover:                        _brand-colors(_white),
  ),

  _light-seaGreen:(
    borderColor:                        _brand-colors(_dark-cyan),
    borderColor-hover:                  _brand-colors(_dark-cyan),
    bgColor:                            _brand-colors(_light-cyan),
    bgColor-hover:                      _brand-colors(_dark-cyan),
    color:                              _brand-colors(_dark-cyan),
    color-hover:                        _brand-colors(_white),
  ),
);

// @function _theme-btn($keys...) {
//   @return val($theme-btn, $keys...);
// }
// $theme-btn:(
//   blue-link:(
//     background:                           _theme-colors(transparent),
//     borderTop-color:                      _theme-colors(transparent),
//     borderRight-color:                    _theme-colors(transparent),
//     borderLeft-color:                     _theme-colors(transparent),
//     borderBottom-color:                   _theme-colors(transparent),
//     color:                                _theme-colors(grey),
//     svg:                                  _theme-colors(grey),
//     hover-background:                     _theme-colors(transparent),
//     hover-borderTop-color:                _theme-colors(transparent),
//     hover-borderRight-color:              _theme-colors(transparent),
//     hover-borderLeft-color:               _theme-colors(transparent),
//     hover-borderBottom-color:             _theme-colors(transparent),
//     hover-color:                          _theme-colors(light-blue),
//     hover-svg:                            _theme-colors(light-blue),
//     active-background:                    _theme-colors(transparent),
//     active-borderTop-color:               _theme-colors(transparent),
//     active-borderRight-color:             _theme-colors(transparent),
//     active-borderLeft-color:              _theme-colors(transparent),
//     active-borderBottom-color:            _theme-colors(transparent),
//     active-color:                         _theme-colors(grey),
//     active-svg:                           _theme-colors(grey),
//   ),
// );

@function _brand-btn($keys...) {
  @return val($brand-btn, $keys...);
}
$brand-btn:(
  default_bg:                             map-get($brand-colors, _white),
  default-end_bg:                         map-get($brand-colors, _grey2),
  default_color:                          map-get($brand-colors, _dark-grey),
  default_svg:                            map-get($brand-colors, _blue),
  default_textShadow:                     map-get($brand-colors, _white),
  primary_bg:                             map-get($brand-colors, _light-blue),
  primary-end_bg:                         map-get($brand-colors, _blue),
  primary_color:                          map-get($brand-colors, _white),
  primary_svg:                            map-get($brand-colors, _white),
  primary_textShadow:                     map-get($brand-colors, _black),
  danger_bg:                              map-get($brand-colors, _red),
  danger-end_bg:                          map-get($brand-colors, _dark-red),
  danger_color:                           map-get($brand-colors, _white),
  danger_svg:                             map-get($brand-colors, _white),
  danger_textShadow:                      map-get($brand-colors, _black),
  warning_bg:                             map-get($brand-colors, _orange),
  warning-end_bg:                         map-get($brand-colors, _dark-orange),
  warning_color:                          map-get($brand-colors, _white),
  warning_svg:                            map-get($brand-colors, _white),
  warning_textShadow:                     map-get($brand-colors, _black),
  success_bg:                             map-get($brand-colors, _green),
  success-end_bg:                         map-get($brand-colors, _dark-green),
  success_color:                          map-get($brand-colors, _white),
  success_svg:                            map-get($brand-colors, _white),
  success_textShadow:                     map-get($brand-colors, _black),
  info_bg:                                map-get($brand-colors, _light-blue2),
  info-end_bg:                            map-get($brand-colors, _light-blue3),
  info_color:                             map-get($brand-colors, _grey4),
  info_svg:                               map-get($brand-colors, _grey4),
  info_textShadow:                        map-get($brand-colors, _black),
);

@function _brand-label($keys...) {
  @return val($brand-label, $keys...);
}
$brand-label: (
  default_bg:                             map-get($brand-colors, _white),
  default_color:                          map-get($brand-colors, _dark-grey),
  default_svg:                            map-get($brand-colors, _blue),
  primary_bg:                             map-get($brand-colors, _light-blue),
  primary_color:                          map-get($brand-colors, _white),
  primary_svg:                            map-get($brand-colors, _white),
  danger_bg:                              map-get($brand-colors, _red),
  danger_color:                           map-get($brand-colors, _white),
  danger_svg:                             map-get($brand-colors, _white),
  success_bg:                             map-get($brand-colors, _green),
  success_color:                          map-get($brand-colors, _white),
  success_svg:                            map-get($brand-colors, _white),
  warning_bg:                             map-get($brand-colors, _orange),
  warning_color:                          map-get($brand-colors, _dark-grey),
  warning_svg:                            map-get($brand-colors, _dark-grey),
  info_bg:                                map-get($brand-colors, _light-blue3),
  info_color:                             map-get($brand-colors, _dark-grey),
  info_svg:                               map-get($brand-colors, _dark-grey),
  yellow_bg:                              map-get($brand-colors, _yellow2),
  yellow_color:                           map-get($brand-colors, _dark-grey),
  yellow_svg:                             map-get($brand-colors, _dark-grey),
);

@function _brand-palette($keys...) {
  @return val($brand-palette, $keys...);
}
$brand-palette: (
  body_bgc:                               map-get($brand-colors, _light-grey3),
  body_color:                             map-get($brand-colors, _dark-grey),

  border:                                 map-get($brand-colors, _dark-grey),

  btnIconSvg_color:                       map-get($brand-colors, _blue),

  code_bgc:                               map-get($brand-colors, _light-grey2),
  code_color:                             map-get($brand-colors, _dark-grey),
  pre_bgc:                                map-get($brand-colors, _light-grey2),
  pre_color:                              map-get($brand-colors, _dark-grey),
  headerTop_bgc:                          map-get($brand-colors, _white),
  headerLang_border:                      map-get($brand-colors, _grey2),
  headerBottom_bgc:                       map-get($brand-colors, _light-grey),
  footer_bgc:                             map-get($brand-colors, _white),

  dropdown_bgc:                           map-get($brand-colors, _white),
  dropdown_color:                         map-get($brand-colors, _dark-grey),
  dropdownHeader_color:                   map-get($brand-colors, _light-grey),
  dropdownActive_color:                   map-get($brand-colors, _dark-grey),
  dropdownActive_bgc:                     map-get($brand-colors, _light-blue2),
  menuActive_color:                       map-get($brand-colors, _white),
  menuActive_bgc:                         map-get($brand-colors, _light-blue),
  menuDropdown_bgc:                       map-get($brand-colors, _white),
  menuDropdown_borderColor:               map-get($brand-colors, _grey4),
  menuDropdown_color:                     map-get($brand-colors, _dark-grey),
  menuDropdownActive_color:               map-get($brand-colors, _dark-grey),
  menuDropdownActive_bgc:                 map-get($brand-colors, _light-blue2),
  menuDropdownHeader_color:               map-get($brand-colors, _grey),

  client-check-card_border:               map-get($brand-colors, _grey2),
  client-check-card_color:                map-get($brand-colors, _dark-grey),
  client-check-card-total_border:         map-get($brand-colors, _green),
  client-check-card_bg:                   map-get($brand-colors, _light-grey),
  client-check-card-active_bg:            map-get($brand-colors, _white),
  client-check-card-total_color:          map-get($brand-colors, _green),
  client-check-item_bg:                   map-get($brand-colors, _white),
  client-check-item_color:                map-get($brand-colors, _dark-grey),
  client-check-item-data_border:          map-get($brand-colors, _grey3),
  client-check-item-name_color:           map-get($brand-colors, _red),
  client-check-diff_bg:                   map-get($brand-colors, _red),

  controlLabelActive_color:               map-get($brand-colors, _dark-grey),
  controlLabel_color:                     map-get($brand-colors, _grey),

  formControl-borderColor:                map-get($brand-colors, _grey),
  formControl-bgc:                        map-get($brand-colors, _white),
  formControl-color:                      map-get($brand-colors, _dark-grey),
  formControl-placeholder:                map-get($brand-colors, _dark-grey),

  lighten:                                lighten(map-get($brand-colors, _red), 10%),

  hr_border:                              map-get($brand-colors, _dark-grey),

  link_color:                             map-get($brand-colors, _blue),
  linkEmpty_color:                        map-get($brand-colors, _dark-grey),
  linkIncomplete_color:                   map-get($brand-colors, _dark-grey),
  linkHover_color:                        map-get($brand-colors, _blue),
  linkDisabled_color:                     map-get($brand-colors, _grey4),

  pageHeader_color:                       map-get($brand-colors, _dark-grey),

  radioItem_color:                        map-get($brand-colors, _dark-grey),
  radioItem_bg:                           map-get($brand-colors, _white),
  radioItem_border:                       map-get($brand-colors, _grey3),
  radioItem-active_bg:                    map-get($brand-colors, _white),
  radioItem-active_border:                map-get($brand-colors, _blue),

  table-color:                            map-get($brand-colors, _dark-grey),
  table-table-striped-bg-odd:             map-get($brand-colors, _white),
  table-table-striped-bg-even:            map-get($brand-colors, _light-grey),

  toastBody_bgc:                          map-get($brand-colors, _white),
  toastBody_borderColor:                  map-get($brand-colors, _white),
  toastBody_color:                        map-get($brand-colors, _dark-grey),
  toastHeader_bgc:                        map-get($brand-colors, _orange-light),
  toastHeader_borderColor:                map-get($brand-colors, _white),
  toastHeader_color:                      map-get($brand-colors, _dark-grey),

  tooltip_bgc:                            map-get($brand-colors, _black),
  tooltip_color:                          map-get($brand-colors, _white),

  popover_bgc:                            map-get($brand-colors, _white),
  popover_borderColor:                    map-get($brand-colors, _white),
  popover_color:                          map-get($brand-colors, _dark-grey),
  popoverHeader_bgc:                      map-get($brand-colors, _light-grey3),
  popoverHeader_color:                    map-get($brand-colors, _dark-grey),
);

$state-primary-bg:                        map-get($brand-colors, _blue);
$state-primary-text:                      map-get($brand-colors, _blue);
$state-primary-svg:                       map-get($brand-colors, _blue);

$state-success-bg:                        map-get($brand-colors, _green);
$state-success-text:                      map-get($brand-colors, _green);
$state-success-svg:                       map-get($brand-colors, _green);

$state-info-bg:                           map-get($brand-colors, _light-blue);
$state-info-text:                         map-get($brand-colors, _light-blue);
$state-info-svg:                          map-get($brand-colors, _light-blue);

$state-warning-bg:                        map-get($brand-colors, _orange);
$state-warning-text:                      map-get($brand-colors, _orange);
$state-warning-svg:                       map-get($brand-colors, _orange);

$state-danger-bg:                         map-get($brand-colors, _red);
$state-danger-text:                       map-get($brand-colors, _red);
$state-danger-svg:                        map-get($brand-colors, _red);

$state-dark-bg:                           map-get($brand-colors, _dark-grey);
$state-dark-text:                         map-get($brand-colors, _dark-grey);
$state-dark-svg:                          map-get($brand-colors, _dark-grey);

$state-light-bg:                          map-get($brand-colors, _white);

$state-muted-bg:                          map-get($brand-colors, _grey);
$state-muted-text:                        map-get($brand-colors, _grey);
$state-muted-svg:                         map-get($brand-colors, _grey);
