$asset-base-path:                   "";

$path-img:                          $asset-base-path + "/img/";
$path-fonts:                        $asset-base-path + "";
$path-svgs:                         $asset-base-path + "/svg/";
$path-icon-svg:                     $asset-base-path + "/icons/svg/";
$path-dsfui:                        "/dist/";
