@use 'sass:color';
@use "sass:list";
@use "sass:map";
@use "sass:string";
@use './../functions/func_maps' as *;

@function brandColors($keys...) {
  @return val($brand-colors, $keys...);
}
@function _brand-colors($keys...) {
  @return val($brand-colors, $keys...);
}
$brand-colors: (
  _white:                                                               #ffffff,
  _black:                                                               #000000,
  _blue:                                                                #1E6393,
  _light-blue:                                                          #4A8DC6,
  _light-blue2:                                                         #E4EEF7,
  _light-blue3:                                                         #B6D1E8,
  _vibrant-blue:                                                        #0094FF,
  _green:                                                               #69C26A,
  _light-green:                                                         #DAF0DA,
  _light-green2:                                                        #B4E1B5,
  _dark-green:                                                          #467B46,
  _orange:                                                              #FFBD41,
  _light-orange:                                                        #FFDF9A,
  _dark-orange:                                                         #DE8500,
  _grey:                                                                #BABABA,
  _grey2:                                                               #dddddd,
  _grey3:                                                               #cccccc,
  _grey4:                                                               #777777,
  _light-grey:                                                          #f9f9f9,
  _light-grey2:                                                         #F5F5F5,
  _light-grey3:                                                         #EEEEEE,
  _light-grey4:                                                         #e5e5e5,
  _dark-grey:                                                           #333333,
  _yellow:                                                              #FFF741,
  _yellow2:                                                             #FFDA7D,
  _light-yellow:                                                        #FFFBA0,
  _light-yellow2:                                                       #FFF6DF,
  _rose:                                                                #FF9996,
  _red:                                                                 #D9534F,
  _light-red:                                                           #FCEEEE,
  _dark-red:                                                            #762624,
  _dark-cyan:                                                           #008B8B,
  _light-cyan:                                                          #d2efee,
  _color-eeecd:                                                         #eeecd8,
  _transparent:                                                         string.unquote('#00000000'),
);

@function brandHover($keys...) {
  @return val($brand-hover, $keys...);
}
@function _brand-hover($keys...) {
  @return val($brand-hover, $keys...);
}
$brand-hover: (
  '_outline_dark-green': (
    'borderColor':                        map.get($brand-colors, _dark-green),
    'borderColor-hover':                  map.get($brand-colors, _dark-green),
    'bgColor':                            map.get($brand-colors, _transparent),
    'bgColor-hover':                      map.get($brand-colors, _white),
    'color':                              map.get($brand-colors, _dark-grey),
    'color-hover':                        map.get($brand-colors, _dark-grey),
  ),
  '_outline_green': (
    'borderColor':                        map.get($brand-colors, _green),
    'borderColor-hover':                  map.get($brand-colors, _green),
    'bgColor':                            map.get($brand-colors, _transparent),
    'bgColor-hover':                      map.get($brand-colors, _white),
    'color':                              map.get($brand-colors, _dark-grey),
    'color-hover':                        map.get($brand-colors, _dark-grey),
  ),
  '_outline_orange': (
    'borderColor':                        map.get($brand-colors, _orange),
    'borderColor-hover':                  map.get($brand-colors, _orange),
    'bgColor':                            map.get($brand-colors, _transparent),
    'bgColor-hover':                      map.get($brand-colors, _white),
    'color':                              map.get($brand-colors, _dark-grey),
    'color-hover':                        map.get($brand-colors, _dark-grey),
  ),
  '_outline_dark-orange': (
    'borderColor':                        map.get($brand-colors, _dark-orange),
    'borderColor-hover':                  map.get($brand-colors, _dark-orange),
    'bgColor':                            map.get($brand-colors, _transparent),
    'bgColor-hover':                      map.get($brand-colors, _white),
    'color':                              map.get($brand-colors, _dark-grey),
    'color-hover':                        map.get($brand-colors, _dark-grey),
  ),
  '_outline_grey': (
    'borderColor':                        map.get($brand-colors, _grey),
    'borderColor-hover':                  map.get($brand-colors, _grey),
    'bgColor':                            map.get($brand-colors, _transparent),
    'bgColor-hover':                      map.get($brand-colors, _white),
    'color':                              map.get($brand-colors, _dark-grey),
    'color-hover':                        map.get($brand-colors, _dark-grey),
  ),
  '_outline_grey4': (
    'borderColor':                        map.get($brand-colors, _grey4),
    'borderColor-hover':                  map.get($brand-colors, _grey4),
    'bgColor':                            map.get($brand-colors, _transparent),
    'bgColor-hover':                      map.get($brand-colors, _white),
    'color':                              map.get($brand-colors, _dark-grey),
    'color-hover':                        map.get($brand-colors, _dark-grey),
  ),
  '_outline_light-blue': (
    'borderColor':                        map.get($brand-colors, _light-blue),
    'borderColor-hover':                  map.get($brand-colors, _light-blue),
    'bgColor':                            map.get($brand-colors, _transparent),
    'bgColor-hover':                      map.get($brand-colors, _white),
    'color':                              map.get($brand-colors, _dark-grey),
    'color-hover':                        map.get($brand-colors, _dark-grey),
  ),
  '_outline_red': (
    'borderColor':                        map.get($brand-colors, _red),
    'borderColor-hover':                  map.get($brand-colors, _red),
    'bgColor':                            map.get($brand-colors, _transparent),
    'bgColor-hover':                      map.get($brand-colors, _white),
    'color':                              map.get($brand-colors, _dark-grey),
    'color-hover':                        map.get($brand-colors, _dark-grey),
  ),
  '_light-grey2': (
    'borderColor':                        map.get($brand-colors, _grey),
    'borderColor-hover':                  map.get($brand-colors, _grey),
    'bgColor':                            map.get($brand-colors, _light-grey2),
    'bgColor-hover':                      map.get($brand-colors, _white),
    'color':                              map.get($brand-colors, _dark-grey),
    'color-hover':                        map.get($brand-colors, _dark-grey),
  ),
  '_grey2': (
    'borderColor':                        map.get($brand-colors, _grey4),
    'borderColor-hover':                  map.get($brand-colors, _grey4),
    'bgColor':                            map.get($brand-colors, _grey2),
    'bgColor-hover':                      map.get($brand-colors, _white),
    'color':                              map.get($brand-colors, _dark-grey),
    'color-hover':                        map.get($brand-colors, _dark-grey),
  ),
  '_light-blue': (
    'borderColor':                        map.get($brand-colors, _blue),
    'borderColor-hover':                  map.get($brand-colors, _blue),
    'bgColor':                            map.get($brand-colors, _light-blue),
    'bgColor-hover':                      map.get($brand-colors, _white),
    'color':                              map.get($brand-colors, _dark-grey),
    'color-hover':                        map.get($brand-colors, _dark-grey),
  ),
  '_light-blue2': (
    'borderColor':                        map.get($brand-colors, _light-blue),
    'borderColor-hover':                  map.get($brand-colors, _light-blue),
    'bgColor':                            map.get($brand-colors, _light-blue2),
    'bgColor-hover':                      map.get($brand-colors, _white),
    'color':                              map.get($brand-colors, _dark-grey),
    'color-hover':                        map.get($brand-colors, _dark-grey),
  ),
  '_light-blue3': (
    'borderColor':                        map.get($brand-colors, _light-blue),
    'borderColor-hover':                  map.get($brand-colors, _light-blue),
    'bgColor':                            map.get($brand-colors, _light-blue3),
    'bgColor-hover':                      map.get($brand-colors, _white),
    'color':                              map.get($brand-colors, _dark-grey),
    'color-hover':                        map.get($brand-colors, _dark-grey),
  ),
  '_light-red': (
    'borderColor':                        map.get($brand-colors, _red),
    'borderColor-hover':                  map.get($brand-colors, _red),
    'bgColor':                            map.get($brand-colors, _light-red),
    'bgColor-hover':                      map.get($brand-colors, _white),
    'color':                              map.get($brand-colors, _dark-grey),
    'color-hover':                        map.get($brand-colors, _dark-grey),
  ),
  '_rose': (
    'borderColor':                        map.get($brand-colors, _red),
    'borderColor-hover':                  map.get($brand-colors, _red),
    'bgColor':                            map.get($brand-colors, _rose),
    'bgColor-hover':                      map.get($brand-colors, _white),
    'color':                              map.get($brand-colors, _dark-grey),
    'color-hover':                        map.get($brand-colors, _dark-grey),
  ),
  '_light-green': (
    'borderColor':                        map.get($brand-colors, _green),
    'borderColor-hover':                  map.get($brand-colors, _green),
    'bgColor':                            map.get($brand-colors, _light-green),
    'bgColor-hover':                      map.get($brand-colors, _white),
    'color':                              map.get($brand-colors, _dark-grey),
    'color-hover':                        map.get($brand-colors, _dark-grey),
  ),
  '_light-green2': (
    'borderColor':                        map.get($brand-colors, _dark-green),
    'borderColor-hover':                  map.get($brand-colors, _dark-green),
    'bgColor':                            map.get($brand-colors, _light-green2),
    'bgColor-hover':                      map.get($brand-colors, _white),
    'color':                              map.get($brand-colors, _dark-grey),
    'color-hover':                        map.get($brand-colors, _dark-grey),
  ),
  '_light-yellow': (
    'borderColor':                        map.get($brand-colors, _dark-orange),
    'borderColor-hover':                  map.get($brand-colors, _dark-orange),
    'bgColor':                            map.get($brand-colors, _light-yellow),
    'bgColor-hover':                      map.get($brand-colors, _white),
    'color':                              map.get($brand-colors, _dark-grey),
    'color-hover':                        map.get($brand-colors, _dark-grey),
  ),
  '_light-yellow2': (
    'borderColor':                        map.get($brand-colors, _orange),
    'borderColor-hover':                  map.get($brand-colors, _orange),
    'bgColor':                            map.get($brand-colors, _light-yellow2),
    'bgColor-hover':                      map.get($brand-colors, _white),
    'color':                              map.get($brand-colors, _dark-grey),
    'color-hover':                        map.get($brand-colors, _dark-grey),
  ),
  '_light-seaGreen': (
    'borderColor':                        map.get($brand-colors, _dark-cyan),
    'borderColor-hover':                  map.get($brand-colors, _dark-cyan),
    'bgColor':                            map.get($brand-colors, _light-cyan),
    'bgColor-hover':                      map.get($brand-colors, _white),
    'color':                              map.get($brand-colors, _dark-grey),
    'color-hover':                        map.get($brand-colors, _dark-grey),
  ),
);

@function brandNameColors($keys...) {
  @return val($brand-namecolors, $keys...);
}
@function _brand-namecolors($keys...) {
  @return val($brand-namecolors, $keys...);
}
$brand-namecolors: (
  'default':                             map.get($brand-colors, _grey4),
  'primary':                             map.get($brand-colors, _blue),
  'danger':                              map.get($brand-colors, _red),
  'warning':                             map.get($brand-colors, _dark-orange),
  'success':                             map.get($brand-colors, _green),
  'info':                                map.get($brand-colors, _light-blue2),
  'muted':                               map.get($brand-colors, _grey),
  'orange':                              map.get($brand-colors, _orange),
  'dark-grey':                           map.get($brand-colors, _dark-grey),
  'grey':                                map.get($brand-colors, _grey),
  'grey2':                               map.get($brand-colors, _grey2),
  'grey3':                               map.get($brand-colors, _grey3),
  'grey4':                               map.get($brand-colors, _grey4),
  'light-grey':                          map.get($brand-colors, _light-grey),
  'light-grey2':                         map.get($brand-colors, _light-grey2),
  'light-grey4':                         map.get($brand-colors, _light-grey4),
  'light-red':                           map.get($brand-colors, _light-red),
  'dark-red':                            map.get($brand-colors, _dark-red),
  'rose':                                map.get($brand-colors, _rose),
  'clear':                               map.get($brand-colors, _transparent),
  'white':                               map.get($brand-colors, _white),
  'light-blue':                          map.get($brand-colors, _light-blue),
  'light-blue3':                         map.get($brand-colors, _light-blue3),
  'vibrant-blue':                        map.get($brand-colors, _vibrant-blue),
  'light-yellow':                        map.get($brand-colors, _light-yellow),
  'light-yellow2':                       map.get($brand-colors, _light-yellow2),
  'yellow2':                             map.get($brand-colors, _yellow2),
  'light-green':                         map.get($brand-colors, _light-green),
  'dark-green':                          map.get($brand-colors, _dark-green),
  'black':                               map.get($brand-colors, _black),
);


@function brandBtn($keys...) {
  @return val($brand-btn, $keys...);
}
@function _brand-btn($keys...) {
  @return val($brand-btn, $keys...);
}
$brand-btn: (
  default_bg:                             map.get($brand-colors, _light-grey2),
  default-end_bg:                         map.get($brand-colors, _light-grey2),
  default_bg__hover:                      map.get($brand-colors, _grey),
  default-end_bg__hover:                  map.get($brand-colors, _grey),
  default_border:                         map.get($brand-colors, _grey),
  default_border__hover:                  map.get($brand-colors, _grey),
  default_color:                          map.get($brand-colors, _dark-grey),
  default_color__hover:                   map.get($brand-colors, _dark-grey),
  default_svg:                            map.get($brand-colors, _dark-grey),
  default_svg__hover:                     map.get($brand-colors, _dark-grey),
  default_svg_blue:                       map.get($brand-colors, _dark-grey),
  default_svg_blue__hover:                map.get($brand-colors, _dark-grey),
  default_textShadow:                     map.get($brand-colors, _white),
  default_color__outline:                 map.get($brand-colors, _dark-grey),
  default_color__outline__hover:          map.get($brand-colors, _dark-grey),
  default_border__outline:                map.get($brand-colors, _grey3),
  
  primary_bg:                             map.get($brand-colors, _light-blue),
  primary-end_bg:                         map.get($brand-colors, _light-blue),
  primary_bg__hover:                      map.get($brand-colors, _blue),
  primary-end_bg__hover:                  map.get($brand-colors, _blue),
  primary_border:                         map.get($brand-colors, _blue),
  primary_border__hover:                  map.get($brand-colors, _blue),
  primary_color:                          map.get($brand-colors, _white),
  primary_color__hover:                   map.get($brand-colors, _white),
  primary_svg:                            map.get($brand-colors, _white),
  primary_svg__hover:                     map.get($brand-colors, _white),
  primary_svg_blue:                       map.get($brand-colors, _white),
  primary_svg_blue__hover:                map.get($brand-colors, _white),
  primary_textShadow:                     map.get($brand-colors, _black),
  primary_color__outline:                 map.get($brand-colors, _light-blue),
  primary_color__outline__hover:          map.get($brand-colors, _white),
  primary_border__outline:                map.get($brand-colors, _light-blue),

  danger_bg:                              map.get($brand-colors, _red),
  danger-end_bg:                          map.get($brand-colors, _red),
  danger_bg__hover:                       map.get($brand-colors, _dark-red),
  danger-end_bg__hover:                   map.get($brand-colors, _dark-red),
  danger_border:                          map.get($brand-colors, _dark-red),
  danger_border__hover:                   map.get($brand-colors, _dark-red),
  danger_color:                           map.get($brand-colors, _white),
  danger_color__hover:                    map.get($brand-colors, _white),
  danger_svg:                             map.get($brand-colors, _white),
  danger_svg__hover:                      map.get($brand-colors, _white),
  danger_svg_blue:                        map.get($brand-colors, _white),
  danger_svg_blue__hover:                 map.get($brand-colors, _white),
  danger_textShadow:                      map.get($brand-colors, _black),
  danger_color__outline:                  map.get($brand-colors, _red),
  danger_color__outline__hover:           map.get($brand-colors, _white),
  danger_border__outline:                 map.get($brand-colors, _red),
  
  warning_bg:                             map.get($brand-colors, _orange),
  warning-end_bg:                         map.get($brand-colors, _orange),
  warning_bg__hover:                      map.get($brand-colors, _dark-orange),
  warning-end_bg__hover:                  map.get($brand-colors, _dark-orange),
  warning_border:                         map.get($brand-colors, _dark-orange),
  warning_border__hover:                  map.get($brand-colors, _dark-orange),
  warning_color:                          map.get($brand-colors, _white),
  warning_color__hover:                   map.get($brand-colors, _white),
  warning_svg:                            map.get($brand-colors, _white),
  warning_svg__hover:                     map.get($brand-colors, _white),
  warning_svg_blue:                       map.get($brand-colors, _white),
  warning_svg_blue__hover:                map.get($brand-colors, _white),
  warning_textShadow:                     map.get($brand-colors, _black),
  warning_color__outline:                 map.get($brand-colors, _dark-orange),
  warning_color__outline__hover:          map.get($brand-colors, _white),
  warning_border__outline:                map.get($brand-colors, _dark-orange),
  
  success_bg:                             map.get($brand-colors, _green),
  success-end_bg:                         map.get($brand-colors, _green),
  success_bg__hover:                      map.get($brand-colors, _dark-green),
  success-end_bg__hover:                  map.get($brand-colors, _dark-green),
  success_border:                         map.get($brand-colors, _dark-green),
  success_border__hover:                  map.get($brand-colors, _dark-green),
  success_color:                          map.get($brand-colors, _white),
  success_color__hover:                   map.get($brand-colors, _white),
  success_svg:                            map.get($brand-colors, _white),
  success_svg__hover:                     map.get($brand-colors, _white),
  success_svg_blue:                       map.get($brand-colors, _white),
  success_svg_blue__hover:                map.get($brand-colors, _white),
  success_textShadow:                     map.get($brand-colors, _black),
  success_color__outline:                 map.get($brand-colors, _dark-green),
  success_color__outline__hover:          map.get($brand-colors, _white),
  success_border__outline:                map.get($brand-colors, _dark-green),
  
);

@function brandLabel($keys...) {
  @return val($brand-label, $keys...);
}
@function _brand-label($keys...) {
  @return val($brand-label, $keys...);
}
$brand-label: (
  'default': (
    'bg':                                 map.get($brand-colors, _light-grey2),
    'color':                              map.get($brand-colors, _dark-grey),
    'svg':                                map.get($brand-colors, _blue),
  ),
  'primary':(
    'bg':                                 map.get($brand-colors, _light-blue),
    'color':                              map.get($brand-colors, _white),
    'svg':                                map.get($brand-colors, _white),
  ),
  'danger':(
    'bg':                                 map.get($brand-colors, _red),
    'color':                              map.get($brand-colors, _white),
    'svg':                                map.get($brand-colors, _white),
  ),
  'success':(
    'bg':                                 map.get($brand-colors, _green),
    'color':                              map.get($brand-colors, _white),
    'svg':                                map.get($brand-colors, _white),
  ),
  'warning':(
    'bg':                                 map.get($brand-colors, _orange),
    'color':                              map.get($brand-colors, _dark-grey),
    'svg':                                map.get($brand-colors, _dark-grey),
  ),
  'info':(
    'bg':                                 map.get($brand-colors, _light-blue2),
    'color':                              map.get($brand-colors, _light-blue),
    'svg':                                map.get($brand-colors, _light-blue),
  ),
  'yellow':(
    'bg':                                 map.get($brand-colors, _yellow2),
    'color':                              map.get($brand-colors, _dark-grey),
    'svg':                                map.get($brand-colors, _dark-grey),
  ),
  'black':(
    'bg':                                 map.get($brand-colors, _black),
    'color':                              map.get($brand-colors, _white),
    'svg':                                map.get($brand-colors, _white),
  ),
  'dark-grey':(
    'bg':                                 map.get($brand-colors, _dark-grey),
    'color':                              map.get($brand-colors, _white),
    'svg':                                map.get($brand-colors, _white),
  ),
  'grey2':(
    'bg':                                 map.get($brand-colors, _grey2),
    'color':                              map.get($brand-colors, _dark-grey),
    'svg':                                map.get($brand-colors, _dark-grey),
  ),
  'vibrant-blue':(
    'bg':                                 map.get($brand-colors, _vibrant-blue),
    'color':                              map.get($brand-colors, _white),
    'svg':                                map.get($brand-colors, _white),
  ),
  'light-yellow2':(
    'bg':                                 map.get($brand-colors, _light-yellow2),
    'color':                              map.get($brand-colors, _dark-orange),
    'svg':                                map.get($brand-colors, _dark-orange),
  ),
  'dark-green':(
    'bg':                                 map.get($brand-colors, _dark-green),
    'color':                              map.get($brand-colors, _white),
    'svg':                                map.get($brand-colors, _white),
  ),
  'light-green':(
    'bg':                                 map.get($brand-colors, _light-green),
    'color':                              map.get($brand-colors, _dark-green),
    'svg':                                map.get($brand-colors, _dark-green),
  ),
  'light-green2':(
    'bg':                                 map.get($brand-colors, _light-green2),
    'color':                              map.get($brand-colors, _dark-green),
    'svg':                                map.get($brand-colors, _dark-green),
  ),
  'light-red':(
    'bg':                                 map.get($brand-colors, _light-red),
    'color':                              map.get($brand-colors, _red),
    'svg':                                map.get($brand-colors, _red),
  ),
  'rose':(
    'bg':                                 map.get($brand-colors, _rose),
    'color':                              map.get($brand-colors, _white),
    'svg':                                map.get($brand-colors, _white),
  ),
  'grey4':(
    'bg':                                 map.get($brand-colors, _grey4),
    'color':                              map.get($brand-colors, _white),
    'svg':                                map.get($brand-colors, _white),
  ),
);

@function brandAlert($keys...) {
  @return val($brand-alert, $keys...);
}
@function _brand-alert($keys...) {
  @return val($brand-alert, $keys...);
}
$brand-alert:(
  default_bg:                             map.get($brand-colors, _light-grey2),
  default_border:                         map.get($brand-colors, _grey3),
  default_close:                          map.get($brand-colors, _dark-grey),
  default_color:                          map.get($brand-colors, _dark-grey),
  default_title:                          map.get($brand-colors, _dark-grey),
  primary_bg:                             map.get($brand-colors, _light-blue),
  primary_border:                         map.get($brand-colors, _blue),
  primary_close:                          map.get($brand-colors, _white),
  primary_color:                          map.get($brand-colors, _white),
  primary_title:                          map.get($brand-colors, _white),
  success_bg:                             map.get($brand-colors, _light-green2),
  success_border:                         map.get($brand-colors, _dark-green),
  success_close:                          map.get($brand-colors, _dark-green),
  success_color:                          map.get($brand-colors, _dark-grey),
  success_title:                          map.get($brand-colors, _dark-green),
  danger_bg:                              map.get($brand-colors, _light-red),
  danger_border:                          map.get($brand-colors, _red),
  danger_close:                           map.get($brand-colors, _red),
  danger_color:                           map.get($brand-colors, _dark-grey),
  danger_title:                           map.get($brand-colors, _red),
  warning_bg:                             map.get($brand-colors, _light-orange),
  warning_border:                         map.get($brand-colors, _red),
  warning_close:                          map.get($brand-colors, _dark-orange),
  warning_color:                          map.get($brand-colors, _dark-grey),
  warning_title:                          map.get($brand-colors, _red),
  info_bg:                                map.get($brand-colors, _light-blue2),
  info_border:                            map.get($brand-colors, _light-blue),
  info_close:                             map.get($brand-colors, _light-blue),
  info_color:                             map.get($brand-colors, _dark-grey),
  info_title:                             map.get($brand-colors, _light-blue),
);

@function brandTable($keys...) {
  @return val($brand-table, $keys...);
}
@function _brand-table($keys...) {
  @return val($brand-table, $keys...);
}
$brand-table: ( 
  caption_color:                          map.get($brand-colors, _dark-grey),
  table_border:                           map.get($brand-colors, _grey2),
  tbodyFirstTd_bgc:                       map.get($brand-colors, _white),
  tbodySlaveTd_bgc:                       map.get($brand-colors, _light-grey2),
  tbodySubSlaveTd_bgc:                    map.get($brand-colors, _light-grey3),
  tbody_bgc:                              map.get($brand-colors, _white),
  tbody_color:                            map.get($brand-colors, _dark-grey),
  thead_border:                           map.get($brand-colors, _grey2),
  thead_bgc:                              map.get($brand-colors, _light-grey2),
  thead_color:                            map.get($brand-colors, _dark-grey),
  tfoot_bgc:                              map.get($brand-colors, _light-grey4),
  tfoot_color:                            map.get($brand-colors, _dark-grey),
  tdStrip_bgc:                            map.get($brand-colors, _light-grey),
  tdHover_bgc:                            map.get($brand-colors, _light-grey2),
);

@function brandPalette($keys...) {
  @return val($brand-palette, $keys...);
}
@function _brand-palette($keys...) {
  @return val($brand-palette, $keys...);
}
$brand-palette: (
  body_bgc:                               map.get($brand-colors, _light-grey3),
  body_color:                             map.get($brand-colors, _dark-grey),
  blockquote_borderColor:                 map.get($brand-colors, _light-grey3),
  blockquote_color:                       map.get($brand-colors, _grey4),
  border:                                 map.get($brand-colors, _grey),
  bootstrapSelect_caret_color:            map.get($brand-colors, _dark-grey),
  bootstrapSelect_divider_color:          map.get($brand-colors, _grey2),

  btnIconSvg_bgc:                         map.get($brand-colors, _light-grey),
  btnIconSvgHover_bgc:                    map.get($brand-colors, _light-blue2),
  btnIconSvgDanger_color:                 map.get($brand-colors, _red),
  btnIconSvgDangerHover_bgc:              map.get($brand-colors, _light-red),
  btnIconSvg_color:                       map.get($brand-colors, _light-blue),
  btnDownloadSvg_color:                   map.get($brand-colors, _light-blue),
  btnDownload_borderColor:                map.get($brand-colors, _light-blue),
  btnDownload_color:                      map.get($brand-colors, _light-blue),
  btnDownload_bgc:                        map.get($brand-colors, _light-blue2),
  btnDownloadHover_bgc:                   map.get($brand-colors, _light-blue3),

  code_bgc:                               map.get($brand-colors, _light-grey2),
  code_color:                             map.get($brand-colors, _dark-grey),
  pre_bgc:                                map.get($brand-colors, _light-grey2),
  pre_color:                              map.get($brand-colors, _dark-grey),
  mark_bgc:                               map.get($brand-colors, _orange),
  headerTop_bgc:                          map.get($brand-colors, _white),
  headerLang_border:                      map.get($brand-colors, _grey2),
  headerBottom_bgc:                       map.get($brand-colors, _light-grey),
  haeding_color:                          map.get($brand-colors, _dark-grey),
  footer_bgc:                             map.get($brand-colors, _white),

  chartBlock_border:                      map.get($brand-colors, _grey2),

  checkboxItem_color:                     map.get($brand-colors, _dark-grey),
  checkboxItemDisabled_color:             map.get($brand-colors, _grey3),
  checkboxItem_bgc:                       map.get($brand-colors, _white),
  checkboxItemActive_bgc:                 map.get($brand-colors, _light-blue),
  checkboxItemHover_bgc:                  map.get($brand-colors, _light-blue),
  checkboxItem_border:                    map.get($brand-colors, _grey),
  checkboxItemActive_border:              map.get($brand-colors, _blue),
  checkboxItemHover_border:               map.get($brand-colors, _blue),

  // checkboxItemBig--color:                 map.get($brand-colors, _dark-grey),
  // checkboxItemBig--bgColor:               map.get($brand-colors, _transparent),
  // checkboxItemBig--bgColor_active:        map.get($brand-colors, _transparent),
  // checkboxItemBig--bgColor_hover:         map.get($brand-colors, _transparent),
  // checkboxItemBig--borderColor:           map.get($brand-colors, _grey),
  // checkboxItemBig--borderColor_active:    map.get($brand-colors, _grey),
  // checkboxItemBig--borderColor_hover:     map.get($brand-colors, _grey),
  
  commentBlockInfo_color:                 map.get($brand-colors, _dark-grey),
  commentBlockComments_color:             map.get($brand-colors, _dark-grey),
  
  collapseHeader_bgc:                     map.get($brand-colors, _light-grey2),
  collapseHeader_border:                  map.get($brand-colors, _grey),
  collapseHeader_color:                   map.get($brand-colors, _dark-grey),
  collapseHeaderActive_bgc:               map.get($brand-colors, _grey2),
  collapseHeaderActive_border:            map.get($brand-colors, _grey),
  collapseHeaderActive_color:             map.get($brand-colors, _dark-grey),
  
  controlLabel_color:                     map.get($brand-colors, _grey4),
  controlLabelActive_color:               map.get($brand-colors, _grey4),
  controlLabelActive_bgc:                 map.get($brand-colors, _white),
  controlLabelError_color:                map.get($brand-colors, _red),

  dropdown_bgc:                           map.get($brand-colors, _white),
  dropdown_color:                         map.get($brand-colors, _dark-grey),
  dropdownHeader_color:                   map.get($brand-colors, _light-grey),
  dropdownActive_color:                   map.get($brand-colors, _dark-grey),
  dropdownActive_bgc:                     map.get($brand-colors, _light-blue2),
  dropdownLinkDisabled_color:             map.get($brand-colors, _grey4),

  joinBlockTitle_color:                   map.get($brand-colors, _dark-grey),

  inputGroupEl-bgc:                       map.get($brand-colors, _white),
  inputGroupEl-borderColor:               map.get($brand-colors, _grey),
  inputGroupEl-color:                     map.get($brand-colors, _dark-grey),

  formControl-borderColor:                map.get($brand-colors, _grey),
  formControl-bgc:                        map.get($brand-colors, _white),
  formControlDisabled-bgc:                map.get($brand-colors, _light-grey2),
  formControlDisabled-color:              map.get($brand-colors, _grey),
  formControl-color:                      map.get($brand-colors, _dark-grey),
  formControl-placeholder:                map.get($brand-colors, _dark-grey),

  hasSuccess_bgc:                         map.get($brand-colors, _green),
  hasSuccess_color:                       map.get($brand-colors, _green),
  hasSuccess_borderColor:                 map.get($brand-colors, _green),
  hasWarning_bgc:                         map.get($brand-colors, _orange),
  hasWarning_color:                       map.get($brand-colors, _orange),
  hasWarning_borderColor:                 map.get($brand-colors, _orange),
  hasDanger_bgc:                          map.get($brand-colors, _red),
  hasDanger_color:                        map.get($brand-colors, _red),
  hasDanger_borderColor:                  map.get($brand-colors, _red),

  lighten:                                color.scale(map.get($brand-colors, _red), $lightness: 10%),
  hr_border:                              map.get($brand-colors, _dark-grey),

  link_color:                             map.get($brand-colors, _light-blue),
  linkEmpty_color:                        map.get($brand-colors, _dark-grey),
  linkIncomplete_color:                   map.get($brand-colors, _dark-grey),
  linkHover_color:                        map.get($brand-colors, _blue),
  linkDisabled_color:                     map.get($brand-colors, _grey4),
  
  menuLink_color:                         map.get($brand-colors, _light-blue),
  menuLink_svg:                           map.get($brand-colors, _light-blue),
  menuLinkActive_bgc:                     map.get($brand-colors, _light-blue),
  menuLinkActive_svg:                     map.get($brand-colors, _blue),
  menuLinkActive_color:                   map.get($brand-colors, _white),
  menuDropdown_bgc:                       map.get($brand-colors, _white),
  menuDropdownSvg_color:                  map.get($brand-colors, _light-blue),
  menuDropdown_borderColor:               map.get($brand-colors, _grey4),
  menuDropdown_color:                     map.get($brand-colors, _dark-grey),
  menuDropdownActive_color:               map.get($brand-colors, _dark-grey),
  menuDropdownActive_bgc:                 map.get($brand-colors, _light-blue2),
  menuDropdownHeader_color:               map.get($brand-colors, _grey),
  
  modal_bgc:                              map.get($brand-colors, _white),
  modal_borderColor:                      color.scale(rgba(map.get($brand-colors, _black), 1), $alpha: -80%, $space: rgb),
  modalBackdrop_bgc:                      map.get($brand-colors, _black),
  modalFooter_bgc:                        color.scale(rgba(map.get($brand-colors, _black), 1), $alpha: -97%, $space: rgb),
  modalFooter_borderColor:                map.get($brand-colors, _grey2),
  modalHeader_borderColor:                map.get($brand-colors, _grey2),
  modalHeader_bgc:                        color.scale(rgba(map.get($brand-colors, _black), 1), $alpha: -97%, $space: rgb),
  
  navPills_border:                        map.get($brand-colors, _light-blue),
  navPills-active_border:                 map.get($brand-colors, _light-blue),
  navPills_bg:                            map.get($brand-colors, _white),
  navPills-active_bg:                     map.get($brand-colors, _light-blue),
  navPills_color:                         map.get($brand-colors, _light-blue),
  navPills-active_color:                  map.get($brand-colors, _white),
  
  navTabs_borderColor:                    map.get($brand-colors, _grey),
  navTabs_bgc:                            map.get($brand-colors, _grey2),
  navTabs_color:                          map.get($brand-colors, _grey4),
  navTabs-active_borderColor:             map.get($brand-colors, _green),
  navTabs-active_bgc:                     map.get($brand-colors, _white),
  navTabs-active_color:                   map.get($brand-colors, _dark-grey),

  pageHeader_color:                       map.get($brand-colors, _dark-grey),
  
  output_color:                           map.get($brand-colors, _grey4),
  
  pagination_bgc:                         map.get($brand-colors, _transparent),
  pagination-active_bgc:                  map.get($brand-colors, _light-blue3),
  pagination-disable_bgc:                 map.get($brand-colors, _transparent),
  pagination_color:                       map.get($brand-colors, _light-blue),
  pagination-disable_color:               map.get($brand-colors, _light-blue3),
  pagination-svg_color:                   map.get($brand-colors, _light-blue),
  pagination-active_color:                map.get($brand-colors, _light-blue),
  pagination-svg-disable_color:           map.get($brand-colors, _light-blue3),

  popover_bgc:                            map.get($brand-colors, _white),
  popover_borderColor:                    map.get($brand-colors, _white),
  popover_color:                          map.get($brand-colors, _dark-grey),
  popoverHeader_bgc:                      map.get($brand-colors, _light-grey3),
  popoverHeader_borderolor:               map.get($brand-colors, _light-grey4),
  popoverHeader_color:                    map.get($brand-colors, _dark-grey),

  radioItem_color:                        map.get($brand-colors, _dark-grey),
  radioItemDisabled_color:                map.get($brand-colors, _grey3),
  radioItem_bg:                           map.get($brand-colors, _white),
  radioItem_border:                       map.get($brand-colors, _grey3),
  radioItem-active_bg:                    map.get($brand-colors, _light-blue),
  radioItem-active_border:                map.get($brand-colors, _blue),
  radioItemDotActive:                     map.get($brand-colors, _white),

  stagesList_borderColor:                 map.get($brand-colors, _grey4),
  stagesClose_bgc:                        map.get($brand-colors, _light-green),
  stagesClose_svg:                        map.get($brand-colors, _dark-green),
  stagesDefault_bgc:                      map.get($brand-colors, _light-grey2),
  stagesDefault_svg:                      map.get($brand-colors, _grey4),
  stagesOpen_bgc:                         map.get($brand-colors, _light-blue2),
  stagesOpen_svg:                         map.get($brand-colors, _light-blue),

  table-color:                            map.get($brand-colors, _dark-grey),
  tableHelpIcon_bgc:                      map.get($brand-colors, _dark-grey),
  table-table-striped-bg-odd:             map.get($brand-colors, _white),
  table-table-striped-bg-even:            map.get($brand-colors, _light-grey),

  tabsPane-active_bgc:                    map.get($brand-colors, _white),

  toastBody_bgc:                          map.get($brand-colors, _white),
  toastBody_borderColor:                  map.get($brand-colors, _white),
  toastBody_color:                        map.get($brand-colors, _dark-grey),
  toastHeader_bgc:                        map.get($brand-colors, _light-orange),
  toastHeader_borderColor:                map.get($brand-colors, _white),
  toastHeader_color:                      map.get($brand-colors, _dark-grey),

  tooltip_bgc:                            map.get($brand-colors, _black),
  tooltip_color:                          map.get($brand-colors, _white),
);

$state-primary-bg:                        map.get($brand-colors, _blue) !default;
$state-primary-text:                      map.get($brand-colors, _white) !default;
$state-primary-svg:                       map.get($brand-colors, _blue) !default;
$state-primary-border:                    color.adjust(rgba($state-primary-bg, 1), $lightness: -5%) !default;

$state-success-bg:                        map.get($brand-colors, _green) !default;
$state-success-text:                      map.get($brand-colors, _white) !default;
$state-success-svg:                       map.get($brand-colors, _green) !default;
$state-success-border:                    color.adjust(rgba($state-success-bg, 1), $lightness: -5%) !default;

$state-info-bg:                           map.get($brand-colors, _light-blue) !default;
$state-info-text:                         map.get($brand-colors, _white) !default;
$state-info-svg:                          map.get($brand-colors, _light-blue) !default;
$state-info-border:                       color.adjust(rgba($state-info-bg, 1), $lightness: -5%) !default;

$state-warning-bg:                        map.get($brand-colors, _orange) !default;
$state-warning-text:                      map.get($brand-colors, _white) !default;
$state-warning-svg:                       map.get($brand-colors, _orange) !default;
$state-warning-border:                    color.adjust(rgba($state-warning-bg, 1), $lightness: -5%) !default;

$state-danger-bg:                         map.get($brand-colors, _red) !default;
$state-danger-text:                       map.get($brand-colors, _white) !default;
$state-danger-svg:                        map.get($brand-colors, _red) !default;
$state-danger-border:                     color.adjust(rgba($state-danger-bg, 1), $lightness: -5%) !default;

$state-dark-bg:                           map.get($brand-colors, _dark-grey) !default;
$state-dark-text:                         map.get($brand-colors, _white) !default;
$state-dark-svg:                          map.get($brand-colors, _dark-grey) !default;
$state-dark-border:                       color.adjust(rgba($state-dark-bg, 1), $lightness: -5%) !default;

$state-light-bg:                          map.get($brand-colors, _white) !default;

$state-muted-bg:                          map.get($brand-colors, _grey) !default;
$state-muted-text:                        map.get($brand-colors, _white) !default;
$state-muted-svg:                         map.get($brand-colors, _grey) !default;
$state-muted-border:                      color.adjust(rgba($state-muted-bg, 1), $lightness: -5%) !default;

// $alert-success-bg:                        map.get($brand-colors, _green) !default;
// $alert-success-text:                      map.get($brand-colors, _green) !default;
// $alert-success-border:                    color.adjust(rgba($alert-success-bg, 1), $lightness: -5%) !default;

// $alert-info-bg:                           map.get($brand-colors, _light-blue) !default;
// $alert-info-text:                         map.get($brand-colors, _light-blue) !default;
// $alert-info-border:                       color.adjust(rgba($alert-info-bg, 1), $lightness: -5%) !default;

// $alert-warning-bg:                        map.get($brand-colors, _orange) !default;
// $alert-warning-text:                      map.get($brand-colors, _orange) !default;
// $alert-warning-border:                    color.adjust(rgba($alert-warning-bg, 1), $lightness: -5%) !default;

// $alert-danger-bg:                         map.get($brand-colors, _red) !default;
// $alert-danger-text:                       map.get($brand-colors, _red) !default;
// $alert-danger-border:                     color.adjust(rgba($alert-danger-bg, 1), $lightness: -5%) !default;


$panel-default-text:                      map.get($brand-colors, _dark-grey) !default;
$panel-default-heading-bg:                map.get($brand-colors, _light-grey2) !default;
$panel-default-border:                    color.adjust(rgba($panel-default-heading-bg, 1), $lightness: -5%) !default;

$panel-primary-text:                      map.get($brand-colors, _white) !default;
$panel-primary-heading-bg:                map.get($brand-colors, _blue) !default;
$panel-primary-border:                    color.adjust(rgba($panel-primary-heading-bg, 1), $lightness: -5%) !default;

$panel-success-text:                      map.get($brand-colors, _white) !default;
$panel-success-heading-bg:                map.get($brand-colors, _green) !default;
$panel-success-border:                    color.adjust(rgba($panel-success-heading-bg, 1), $lightness: -5%) !default;

$panel-info-text:                         map.get($brand-colors, _white) !default;
$panel-info-heading-bg:                   map.get($brand-colors, _light-blue) !default;
$panel-info-border:                       color.adjust(rgba($panel-info-heading-bg, 1), $lightness: -5%) !default;

$panel-warning-text:                      map.get($brand-colors, _white) !default;
$panel-warning-heading-bg:                map.get($brand-colors, _orange) !default;
$panel-warning-border:                    color.adjust(rgba($panel-warning-heading-bg, 1), $lightness: -5%) !default;

$panel-danger-text:                       map.get($brand-colors, _white) !default;
$panel-danger-heading-bg:                 map.get($brand-colors, _red) !default;
$panel-danger-border:                     color.adjust(rgba($panel-warning-heading-bg, 1), $lightness: -5%) !default;