// ---------------------------- //
// Base ----------------------- //
// ---------------------------- //
 // @charset "utf8";
// @import url(https://fonts.googleapis.com/css?family=Ubuntu:400,700,500&subset=latin,cyrillic);

// @import url(https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic);


* {
  @include box-sizing(border-box);
  &:before,
  &:after {
    @include box-sizing(border-box);
  }
}
html{
  font-size: 12pt;
  font-family: sans-serif;
}
body {
  background-color: #a7a7ab;
  font-family: Roboto, Arial, Helvetica Neue, sans-serif;
  font-size: rem(12);
  line-height: rem(14);
  height: 100vh;
  text-rendering: optimizeLegibility;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: 'liga', 'kern';
  
  @media (min-width: 992px) {
    padding-top: 10px;
  }
}
a {
  // text-decoration: underline;
  color: #006699;
  text-decoration: none;
  &:hover, &:focus {
    text-decoration: none;
  }
  &.dashed {
      text-decoration: none;
      border-bottom: #069 1px dashed;
  }
  &.dashed.empty {
    color: #333;
    border-bottom-color: #333;
  }

  &.dashed.incomplete {
      color: #a1a1a1;
      border-bottom-color: #333;
  }
}

// Figures
//
// We reset this here because previously Normalize had no `figure` margins. This
// ensures we don't break anyone's use of the element.

figure {
  margin: 0;
}


// Images

img {
  vertical-align: middle;
}

// Responsive images (ensure images don't scale beyond their parents)
.img-responsive {
  @include img-responsive;
}

// Rounded corners
.img-rounded {
  border-radius: $border-radius-large;
}

// Image thumbnails
//
// Heads up! This is mixin-ed into thumbnails.less for `.thumbnail`.
.img-thumbnail {
  padding: $thumbnail-padding;
  line-height: $line-height-base;
  background-color: $thumbnail-bg;
  border: 1px solid $thumbnail-border;
  border-radius: $thumbnail-border-radius;
  @include transition(all .2s ease-in-out);

  // Keep them at most 100% wide
  @include img-responsive(inline-block);
}

// Perfect circle
.img-circle {
  border-radius: 50%; // set radius in percents
}


// Horizontal rules

hr {
  margin-top: $line-height-computed;
  margin-bottom: $line-height-computed;
  border: 0;
  border-top: 1px solid $hr-border;
}


// Only display content to screen readers
//
// See: https://a11yproject.com/posts/how-to-hide-content

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

// Use in conjunction with .sr-only to only display content when it's focused.
// Useful for "Skip to main content" links; see https://www.w3.org/TR/2013/NOTE-WCAG20-TECHS-20130905/G1
// Credit: HTML5 Boilerplate

.sr-only-focusable {
  &:active,
  &:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto;
  }
}


// iOS "clickable elements" fix for role="button"
//
// Fixes "clickability" issue (and more generally, the firing of events such as focus as well)
// for traditionally non-focusable elements with role="button"
// see https://developer.mozilla.org/en-US/docs/Web/Events/click#Safari_Mobile

[role="button"] {
  cursor: pointer;
}

@import "~bootstrap-sass/assets/stylesheets/bootstrap/code";