/* =~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~ */
/*                                                                            */
/* BASE                                                                       */
/* path: base/_base.scss                                                      */
/*                                                                            */
/* =~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~ */

@use "sass:math";
:root{
  @each $name, $value in $brand-colors {
    --color#{$name}: #{$value};
  }
}

html{
  font-size: 12pt;
  font-family: sans-serif;
}
body {
  background-color: _brand-palette(body_bgc);
  font-family: Roboto, Arial, 'Helvetica Neue', sans-serif;
  font-size: rem(_fontSizes(body));
  line-height: rem(_lineHeight(body));
  height: 100vh;
  text-rendering: optimizeLegibility;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: 'liga', 'kern';
}

a {
  color: _brand-palette(link_color);
  text-decoration: none;
  &:hover,
  &:focus {
    color: _brand-palette(linkHover_color);
    outline: none;
    text-decoration: none;
  }
  &.dashed {
    border-bottom: _brand-palette(link_color) 1px dashed;
    text-decoration: none;
    &.empty {
      border-bottom-color: _brand-palette(linkEmpty_color);
      color: _brand-palette(linkEmpty_color);
    }
    &.incomplete {
      border-bottom-color: _brand-palette(linkIncomplete_color);
      color: _brand-palette(linkIncomplete_color);
    }
  }
}


hr {
  border: 0;
  border-top: 1px solid _brand-palette(hr_border);
  margin-top: 10px;
  margin-bottom: 10px;

}

code {
  background-color: _brand-palette(code_bgc);
  border-radius: _brand-sizes(border-radius-base);
  color: _brand-palette(code_color);
  font-size: 90%;
  padding: 2px 4px;
  pre &{
    background-color: transparent;
    border-radius: 0;
    color: inherit;
    font-size: inherit;
    padding: 0;
    white-space: pre-wrap;
  }
}

pre {
  background-color: _brand-palette(pre_bgc);
  border: 1px solid _brand-palette(pre_color);
  border-radius: _brand-sizes(border-radius-base);
  color: _brand-palette(pre_color);
  display: block;
  font-size: rem(calc(_fontSizes(body) - 1));
  margin: 0 0 10px;
  line-height: rem(_lineHeight(body));
  padding: 2px 4px;
  word-break: break-all;
  word-wrap: break-word;
}
