@import "~bootstrap-sass/assets/stylesheets/bootstrap/breadcrumbs";

.breadcrumb{
  background-color: transparent;
  list-style-type: none;
  margin: 0 0 20px;
  padding: 0;
  li{
    a{
      color: _brand-colors(blue);
      font-weight: normal;
      font-size: 11px;
      line-height: 14px;
    }
    &.active{
      a{
        color: _brand-colors(dark-grey);
      }
    }
    + li{
      &::before{
        background-size: 3px 6px;
        background-repeat: no-repeat;
        background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDQgNyI+PHBhdGggZD0iTS41LjVsMywzLTMsMyIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjYmFiYWJhIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz48L3N2Zz4=');
        content: '';
        display: inline-block;
        height: 6px;
        padding: 0;
        margin: 0 10px;
        width: 3px;
      }
    }
  }
}