/* =~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~= */
/* BUTTONS                                                          */
/* path: modules/_buttons.scss                                     */
/*                                                                */
/* =~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~= */
[data-toggle="buttons"] {
  > .btn,
  > .btn-group > .btn {
    input[type="radio"],
    input[type="checkbox"] {
      position: absolute;
      clip: rect(0,0,0,0);
      pointer-events: none;
    }
  }
}

button[data-toggle="dropdown"] {
  & + .dropdown-menu > li > a {
      font-size: rem(_fontSizes(btn));
      padding: 3px 15px;
      .glyphicon{
        top: 1px;
      }
  }
}

.btn {
  background-image: none;
  border-style: solid;
  border-color: transparent;
  border-width: #{_brand-sizes(btn_borderWidth)}px;
  border-radius: #{_brand-sizes(btn_borderRadius)}px;
  cursor: pointer;
  display: inline-block;
  font-weight: _fontWeight(btn);
  margin-bottom: 0; // For input.btn
  text-align: center;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  // @include button-size($padding-base-vertical, $padding-base-horizontal, $font-size-base, $line-height-base, $btn-border-radius-base);
  @include user-select(none);

  &:hover,
  &:focus,
  &.focus {
    outline: none;
    text-decoration: none;
  }

  &:active,
  &.active {
    // background-image: none;
    outline: 0;
    &:focus{
      outline: none;
    }
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    cursor: none;
    cursor: not-allowed;
    @include opacity(.65);
    @include box-shadow(none);
  }

  @each $btn in default, primary, success, danger, warning, info {
    &-#{$btn}{
      background-color: _brand-btn(#{$btn}_bg);
      background-image: -webkit-linear-gradient(_brand-btn(#{$btn}_bg) 0%, _brand-btn(#{$btn}-end_bg) 100%);
      background-image: -o-linear-gradient(_brand-btn(#{$btn}_bg) 0%, _brand-btn(#{$btn}-end_bg) 100%);
      background-image: linear-gradient(_brand-btn(#{$btn}_bg) 0%, _brand-btn(#{$btn}-end_bg) 100%);
      border-color: _brand-btn(#{$btn}-end_bg);
      color: _brand-btn(#{$btn}_color);
      // text-shadow: 0px 0.5px 0px transparentize(map-get($brand-palette, btn-textShadow-#{$btn}), 0.6);
      &:hover,
      &:focus,
      &:active,
      &.active,
      &.focus {
        background-image: -webkit-linear-gradient(_brand-btn(#{$btn}-end_bg) 0%, _brand-btn(#{$btn}_bg) 100%);
        background-image: -o-linear-gradient(_brand-btn(#{$btn}-end_bg) 0%, _brand-btn(#{$btn}_bg) 100%);
        background-image: linear-gradient(_brand-btn(#{$btn}-end_bg) 0%, _brand-btn(#{$btn}_bg) 100%);
        background-position: inherit;
        color: _brand-btn(#{$btn}_color);
      }
      .svg--icon{
        svg{
          fill: _brand-btn(#{$btn}_svg);
        }
      }
    }
  }

  .badge {
    font-size: 11px;
    line-height: 13px;
    padding: 0px 5px;

  }
}


.btn-default {
  .badge {
    background-color: rgba(50, 50, 50, 0.4);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
    color: #FFF;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  }
}

a.btn {
  &.disabled,
  fieldset[disabled] & {
    pointer-events: none; // Future-proof disabling of clicks on `<a>` elements
  }
}

// Button Sizes
// --------------------------------------------------

.btn-xs {
  border-radius: 1px;
  font-size: rem(_fontSizes(btnXs));
  line-height: rem(_lineHeight(btnXs));
  padding: #{_brand-sizes(btnXs-paddingX)}px #{_brand-sizes(btnXs-paddingY)}px;
}

.btn,
.btn-sm,
.btn-lg{
  font-size: rem(_fontSizes(btn));
  line-height: rem(_lineHeight(btn));
  padding: 0 #{_brand-sizes(btn_paddingX)}px;
}

.btn-group{
  display: inline-flex;
}
.btn-group > .btn,
.btn-group-lg > .btn,
.btn-group-sm > .btn {
  border-radius: #{_brand-sizes(btn_borderRadius)}px;
  line-height: rem(_lineHeight(btn));
}

// Alternate buttons
// --------------------------------------------------

.btn-link {
  border-radius: 0;
  box-shadow: none;
  color: _brand-palette(link_color);
  font-weight: _fontWeight(btn);
  cursor: pointer;
  &,
  &:hover,
  &:focus,
  &[disabled],
  fieldset[disabled] &,
  &.active,
  &:active {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
    outline: none;
  }
  &:hover,
  &:focus {
    color: _brand-palette(linkHover_color);
    text-decoration: none;
  }
  &[disabled],
  fieldset[disabled] & {
    &:hover,
    &:focus {
      color: _brand-palette(linkDisabled_color);
      text-decoration: none;
    }
  }
}



// Block button
// --------------------------------------------------

.btn-block {
  display: block;
  width: 100%;
}

// Vertically space out multiple block buttons
.btn-block + .btn-block {
  margin-top: 5px;
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.btn-block {
    width: 100%;
  }
}
