/* ============================= */
/*  Container Header             */
/* ============================= */

.container-header{
  background-color: #fff;
  border-bottom: 1px solid #b4b4b4;
  // border-radius: 12px 12px 0 0;
  padding: 0 12px 0px 12px;
  margin-bottom: 10px;
  h2{
    font-size: rem(18);
    font-weight: bold;
    line-height: rem(18);
    margin: 0;
    // margin-top: -6px; fix для padding-top 'container'
    padding: 12px 0 12px 0px;
    .css-label{
      font-size: rem(12); // 12px
    }
    .btn-sm{
      margin-top: -2px;
    }
    .label{
      font-size: 12px;
      padding: 4px 5px;
      top: -2px;
      .glyphicon{
        // margin:4px 4px 0 4px;
        margin:1px 4px 0 4px; // уезжала иконка вниз
      }
    }
  }
  .container-header-button{
    margin-top: 8px;
  }
  .v2-nav-tabs{
    margin-top: 7px;
     + h2{
      padding-bottom: 0;
      padding-top: 8px;
    }
    .css-add{
        display: inline-block;
        position: relative;
        margin: 0px 0px 0 10px;
        top: 2px;
    }
  }
  h5 .btn-xs.btn-flat{
      margin-top: -3px;
  }
  .do-open-spoiler {
      float: right;
      margin: 13px 0 0 10px;
    &:focus {
        outline: 0;
    }
    .glyphicon{
        font-size: rem(16);
    }
  }
  .css-label{
    display: inline-block;
    font-size: rem(13);
    padding: 3px 9px;
    position: relative;
    top: -2px;
  }
  .v2-tab-content{
    margin: 0px -12px 0;
  }
}
