.glyphicon {
  // display: inline-block;
  align-items: center;
  display: inline-flex;
  font-family: 'Glyphicons Regular';
  font-style: normal;
  font-weight: normal;
  line-height: rem(12);
  position: relative;
  top: 1px;
  // vertical-align:top; // уезжает
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.glyphicon-glass { &:before{ content:"\E001"; } }
.glyphicon-leaf { &:before{ content:"\E002"; } }
.glyphicon-dog { &:before{ content:"\E003"; } }
.glyphicon-user { &:before{ content:"\E004"; } }
.glyphicon-settings { &:before{ content:"\E005"; } }
.glyphicon-car { &:before{ content:"\E006"; } }
.glyphicon-user-plus { &:before{ content:"\E007"; } }
.glyphicon-user-minus { &:before{ content:"\E008"; } }
.glyphicon-film { &:before{ content:"\E009"; } }
.glyphicon-magic-wand { &:before{ content:"\E010"; } }
.glyphicon-envelope { &:before{ content:"\E011"; } }
.glyphicon-camera { &:before{ content:"\E012"; } }
.glyphicon-heart { &:before{ content:"\E013"; } }
.glyphicon-beach-umbrella { &:before{ content:"\E014"; } }
.glyphicon-train { &:before{ content:"\E015"; } }
.glyphicon-print { &:before{ content:"\E016"; } }
.glyphicon-bin { &:before{ content:"\E017"; } }
.glyphicon-music { &:before{ content:"\E018"; } }
.glyphicon-music-alt { &:before{ content:"\E019"; } }
.glyphicon-heart-empty { &:before{ content:"\E020"; } }
.glyphicon-home { &:before{ content:"\E021"; } }
.glyphicon-snowflake { &:before{ content:"\E022"; } }
.glyphicon-fire { &:before{ content:"\E023"; } }
.glyphicon-magnet { &:before{ content:"\E024"; } }
.glyphicon-user-parents { &:before{ content:"\E025"; } }
.glyphicon-binoculars { &:before{ content:"\E026"; } }
.glyphicon-road { &:before{ content:"\E027"; } }
.glyphicon-search { &:before{ content:"\E028"; } }
.glyphicon-cars { &:before{ content:"\E029"; } }
.glyphicon-clipboard { &:before{ content:"\E030"; } }
.glyphicon-pencil { &:before{ content:"\E031"; } }
.glyphicon-bus { &:before{ content:"\E032"; } }
.glyphicon-access-point { &:before{ content:"\E033"; } }
.glyphicon-luggage { &:before{ content:"\E034"; } }
.glyphicon-user-incognito { &:before{ content:"\E035"; } }
.glyphicon-user-female { &:before{ content:"\E036"; } }
.glyphicon-file { &:before{ content:"\E037"; } }
.glyphicon-picture { &:before{ content:"\E038"; } }
.glyphicon-airplane { &:before{ content:"\E039"; } }
.glyphicon-notes { &:before{ content:"\E040"; } }
.glyphicon-stats { &:before{ content:"\E041"; } }
.glyphicon-stats-bars { &:before{ content:"\E042"; } }
.glyphicon-stats-circle { &:before{ content:"\E043"; } }
.glyphicon-user-group { &:before{ content:"\E044"; } }
.glyphicon-key { &:before{ content:"\E045"; } }
.glyphicon-calendar { &:before{ content:"\E046"; } }
.glyphicon-router { &:before{ content:"\E047"; } }
.glyphicon-video-camera { &:before{ content:"\E048"; } }
.glyphicon-star { &:before{ content:"\E049"; } }
.glyphicon-star-empty { &:before{ content:"\E050"; } }
.glyphicon-pulse { &:before{ content:"\E051"; } }
.glyphicon-eye { &:before{ content:"\E052"; } }
.glyphicon-eye-off { &:before{ content:"\E053"; } }
.glyphicon-alarm { &:before{ content:"\E054"; } }
.glyphicon-clock { &:before{ content:"\E055"; } }
.glyphicon-stopwatch { &:before{ content:"\E056"; } }
.glyphicon-scissors-horizontal { &:before{ content:"\E057"; } }
.glyphicon-history { &:before{ content:"\E058"; } }
.glyphicon-truck { &:before{ content:"\E059"; } }
.glyphicon-timer { &:before{ content:"\E060"; } }
.glyphicon-compass { &:before{ content:"\E061"; } }
.glyphicon-presentation { &:before{ content:"\E062"; } }
.glyphicon-paperclip { &:before{ content:"\E063"; } }
.glyphicon-power { &:before{ content:"\E064"; } }
.glyphicon-lightbulb { &:before{ content:"\E065"; } }
.glyphicon-tag { &:before{ content:"\E066"; } }
.glyphicon-tags { &:before{ content:"\E067"; } }
.glyphicon-education { &:before{ content:"\E068"; } }
.glyphicon-ruler { &:before{ content:"\E069"; } }
.glyphicon-gift { &:before{ content:"\E070"; } }
.glyphicon-umbrella { &:before{ content:"\E071"; } }
.glyphicon-book { &:before{ content:"\E072"; } }
.glyphicon-bookmark { &:before{ content:"\E073"; } }
.glyphicon-wifi { &:before{ content:"\E074"; } }
.glyphicon-cup { &:before{ content:"\E075"; } }
.glyphicon-stroller { &:before{ content:"\E076"; } }
.glyphicon-headphones { &:before{ content:"\E077"; } }
.glyphicon-headset { &:before{ content:"\E078"; } }
.glyphicon-triangle-empty-alert { &:before{ content:"\E079"; } }
.glyphicon-bars { &:before{ content:"\E080"; } }
.glyphicon-retweet { &:before{ content:"\E081"; } }
.glyphicon-refresh { &:before{ content:"\E082"; } }
.glyphicon-roundabout { &:before{ content:"\E083"; } }
.glyphicon-random { &:before{ content:"\E084"; } }
.glyphicon-heating { &:before{ content:"\E085"; } }
.glyphicon-reload { &:before{ content:"\E086"; } }
.glyphicon-tv { &:before{ content:"\E087"; } }
.glyphicon-book-log { &:before{ content:"\E088"; } }
.glyphicon-book-address { &:before{ content:"\E089"; } }
.glyphicon-building { &:before{ content:"\E090"; } }
.glyphicon-eyedropper { &:before{ content:"\E091"; } }
.glyphicon-contrast { &:before{ content:"\E092"; } }
.glyphicon-drop { &:before{ content:"\E093"; } }
.glyphicon-crop { &:before{ content:"\E094"; } }
.glyphicon-vector-path { &:before{ content:"\E095"; } }
.glyphicon-vector-path-circle { &:before{ content:"\E096"; } }
.glyphicon-vector-path-pentagon { &:before{ content:"\E097"; } }
.glyphicon-vector-path-line { &:before{ content:"\E098"; } }
.glyphicon-vector-path-curve { &:before{ content:"\E099"; } }
.glyphicon-vector-path-edit { &:before{ content:"\E100"; } }
.glyphicon-text { &:before{ content:"\E101"; } }
.glyphicon-italic { &:before{ content:"\E102"; } }
.glyphicon-bold { &:before{ content:"\E103"; } }
.glyphicon-underline { &:before{ content:"\E104"; } }
.glyphicon-strikethrough { &:before{ content:"\E105"; } }
.glyphicon-text-height { &:before{ content:"\E106"; } }
.glyphicon-text-width { &:before{ content:"\E107"; } }
.glyphicon-text-resize { &:before{ content:"\E108"; } }
.glyphicon-indent-left { &:before{ content:"\E109"; } }
.glyphicon-indent-right { &:before{ content:"\E110"; } }
.glyphicon-paragraph-left { &:before{ content:"\E111"; } }
.glyphicon-paragraph-center { &:before{ content:"\E112"; } }
.glyphicon-paragraph-right { &:before{ content:"\E113"; } }
.glyphicon-paragraph-justify { &:before{ content:"\E114"; } }
.glyphicon-list { &:before{ content:"\E115"; } }
.glyphicon-text-smaller { &:before{ content:"\E116"; } }
.glyphicon-text-bigger { &:before{ content:"\E117"; } }
.glyphicon-terminal-isolated { &:before{ content:"\E118"; } }
.glyphicon-code { &:before{ content:"\E119"; } }
.glyphicon-table { &:before{ content:"\E120"; } }
.glyphicon-envelope-full { &:before{ content:"\E121"; } }
.glyphicon-envelope-empty { &:before{ content:"\E122"; } }
.glyphicon-envelope-down { &:before{ content:"\E123"; } }
.glyphicon-envelope-up { &:before{ content:"\E124"; } }
.glyphicon-envelope-plus { &:before{ content:"\E125"; } }
.glyphicon-envelope-minus { &:before{ content:"\E126"; } }
.glyphicon-envelope-no { &:before{ content:"\E127"; } }
.glyphicon-envelope-flag { &:before{ content:"\E128"; } }
.glyphicon-envelope-lock { &:before{ content:"\E129"; } }
.glyphicon-envelope-star { &:before{ content:"\E130"; } }
.glyphicon-inbox { &:before{ content:"\E131"; } }
.glyphicon-inbox-plus { &:before{ content:"\E132"; } }
.glyphicon-inbox-minus { &:before{ content:"\E133"; } }
.glyphicon-inbox-lock { &:before{ content:"\E134"; } }
.glyphicon-inbox-down { &:before{ content:"\E135"; } }
.glyphicon-inbox-up { &:before{ content:"\E136"; } }
.glyphicon-cogwheel { &:before{ content:"\E137"; } }
.glyphicon-cogwheels { &:before{ content:"\E138"; } }
.glyphicon-curves { &:before{ content:"\E139"; } }
.glyphicon-adjust { &:before{ content:"\E140"; } }
.glyphicon-database { &:before{ content:"\E141"; } }
.glyphicon-database-plus { &:before{ content:"\E142"; } }
.glyphicon-database-minus { &:before{ content:"\E143"; } }
.glyphicon-database-search { &:before{ content:"\E144"; } }
.glyphicon-folder-open { &:before{ content:"\E145"; } }
.glyphicon-folder-plus { &:before{ content:"\E146"; } }
.glyphicon-folder-minus { &:before{ content:"\E147"; } }
.glyphicon-folder-refresh { &:before{ content:"\E148"; } }
.glyphicon-folder-check { &:before{ content:"\E149"; } }
.glyphicon-folder-star { &:before{ content:"\E150"; } }
.glyphicon-square-edit { &:before{ content:"\E151"; } }
.glyphicon-square-new-window { &:before{ content:"\E152"; } }
.glyphicon-square-checkbox { &:before{ content:"\E153"; } }
.glyphicon-square-empty { &:before{ content:"\E154"; } }
.glyphicon-square-selected { &:before{ content:"\E155"; } }
.glyphicon-square-indeterminate { &:before{ content:"\E156"; } }
.glyphicon-thumbnails { &:before{ content:"\E157"; } }
.glyphicon-thumbnails-small { &:before{ content:"\E158"; } }
.glyphicon-thumbnails-list { &:before{ content:"\E159"; } }
.glyphicon-playlist { &:before{ content:"\E160"; } }
.glyphicon-computer-all-in-one { &:before{ content:"\E161"; } }
.glyphicon-computer-pc-tower { &:before{ content:"\E162"; } }
.glyphicon-computer { &:before{ content:"\E163"; } }
.glyphicon-notebook { &:before{ content:"\E164"; } }
.glyphicon-tablet { &:before{ content:"\E165"; } }
.glyphicon-mobile-phone { &:before{ content:"\E166"; } }
.glyphicon-mobile-phone-off { &:before{ content:"\E167"; } }
.glyphicon-mobile-phone-vibrations { &:before{ content:"\E168"; } }
.glyphicon-mobile-phone-shaking { &:before{ content:"\E169"; } }
.glyphicon-earphones { &:before{ content:"\E170"; } }
.glyphicon-skip-to-previous { &:before{ content:"\E171"; } }
.glyphicon-skip-to-start { &:before{ content:"\E172"; } }
.glyphicon-rewind { &:before{ content:"\E173"; } }
.glyphicon-pause { &:before{ content:"\E174"; } }
.glyphicon-play { &:before{ content:"\E175"; } }
.glyphicon-stop { &:before{ content:"\E176"; } }
.glyphicon-forward { &:before{ content:"\E177"; } }
.glyphicon-skip-to-end { &:before{ content:"\E178"; } }
.glyphicon-skip-to-next { &:before{ content:"\E179"; } }
.glyphicon-eject { &:before{ content:"\E180"; } }
.glyphicon-video { &:before{ content:"\E181"; } }
.glyphicon-video-off { &:before{ content:"\E182"; } }
.glyphicon-volume-bluetooth { &:before{ content:"\E183"; } }
.glyphicon-volume-off { &:before{ content:"\E184"; } }
.glyphicon-volume-down { &:before{ content:"\E185"; } }
.glyphicon-volume-up { &:before{ content:"\E186"; } }
.glyphicon-volume-max { &:before{ content:"\E187"; } }
.glyphicon-cd { &:before{ content:"\E188"; } }
.glyphicon-mc { &:before{ content:"\E189"; } }
.glyphicon-lp { &:before{ content:"\E190"; } }
.glyphicon-circle-empty-plus { &:before{ content:"\E191"; } }
.glyphicon-circle-empty-minus { &:before{ content:"\E192"; } }
.glyphicon-circle-empty-remove { &:before{ content:"\E193"; } }
.glyphicon-circle-empty-check { &:before{ content:"\E194"; } }
.glyphicon-circle-empty-question { &:before{ content:"\E195"; } }
.glyphicon-circle-empty-info { &:before{ content:"\E196"; } }
.glyphicon-circle-empty-alert { &:before{ content:"\E197"; } }
.glyphicon-open { &:before{ content:"\E198"; } }
.glyphicon-save { &:before{ content:"\E199"; } }
.glyphicon-save-as { &:before{ content:"\E200"; } }
.glyphicon-cart { &:before{ content:"\E201"; } }
.glyphicon-cart-in { &:before{ content:"\E202"; } }
.glyphicon-cart-out { &:before{ content:"\E203"; } }
.glyphicon-cart-checkout { &:before{ content:"\E204"; } }
.glyphicon-cart-check { &:before{ content:"\E205"; } }
.glyphicon-circle-empty-play { &:before{ content:"\E206"; } }
.glyphicon-circle-empty-down { &:before{ content:"\E207"; } }
.glyphicon-circle-empty-up { &:before{ content:"\E208"; } }
.glyphicon-circle-empty-left { &:before{ content:"\E209"; } }
.glyphicon-circle-empty-right { &:before{ content:"\E210"; } }
.glyphicon-arrow-down { &:before{ content:"\E211"; } }
.glyphicon-arrow-up { &:before{ content:"\E212"; } }
.glyphicon-arrow-left { &:before{ content:"\E213"; } }
.glyphicon-arrow-right { &:before{ content:"\E214"; } }
.glyphicon-fullscreen-off { &:before{ content:"\E215"; } }
.glyphicon-fullscreen { &:before{ content:"\E216"; } }
.glyphicon-lock { &:before{ content:"\E217"; } }
.glyphicon-lock-open { &:before{ content:"\E218"; } }
.glyphicon-coins { &:before{ content:"\E219"; } }
.glyphicon-banknotes { &:before{ content:"\E220"; } }
.glyphicon-chevron-down { &:before{ content:"\E221"; } }
.glyphicon-chevron-up { &:before{ content:"\E222"; } }
.glyphicon-chevron-left { &:before{ content:"\E223"; } }
.glyphicon-chevron-right { &:before{ content:"\E224"; } }
.glyphicon-bitcoin { &:before{ content:"\E225"; } }
.glyphicon-euro { &:before{ content:"\E226"; } }
.glyphicon-dollar { &:before{ content:"\E227"; } }
.glyphicon-pound { &:before{ content:"\E228"; } }
.glyphicon-yen { &:before{ content:"\E229"; } }
.glyphicon-ruble { &:before{ content:"\E230"; } }
.glyphicon-moon { &:before{ content:"\E231"; } }
.glyphicon-sun { &:before{ content:"\E232"; } }
.glyphicon-lasso { &:before{ content:"\E233"; } }
.glyphicon-calculator { &:before{ content:"\E234"; } }
.glyphicon-chat-conversation { &:before{ content:"\E235"; } }
.glyphicon-chat-conversation-off { &:before{ content:"\E236"; } }
.glyphicon-chat-conversation-lock { &:before{ content:"\E237"; } }
.glyphicon-chat-message { &:before{ content:"\E238"; } }
.glyphicon-chat-message-lock { &:before{ content:"\E239"; } }
.glyphicon-chat-message-check { &:before{ content:"\E240"; } }
.glyphicon-brush { &:before{ content:"\E241"; } }
.glyphicon-marker { &:before{ content:"\E242"; } }
.glyphicon-pen { &:before{ content:"\E243"; } }
.glyphicon-spray { &:before{ content:"\E244"; } }
.glyphicon-fill { &:before{ content:"\E245"; } }
.glyphicon-clean { &:before{ content:"\E246"; } }
.glyphicon-drop-off { &:before{ content:"\E247"; } }
.glyphicon-palette { &:before{ content:"\E248"; } }
.glyphicon-diamond { &:before{ content:"\E249"; } }
.glyphicon-eraser { &:before{ content:"\E250"; } }
.glyphicon-diving-free { &:before{ content:"\E251"; } }
.glyphicon-diving-scuba { &:before{ content:"\E252"; } }
.glyphicon-boat { &:before{ content:"\E253"; } }
.glyphicon-swimming-pool { &:before{ content:"\E254"; } }
.glyphicon-buoy { &:before{ content:"\E255"; } }
.glyphicon-oxygen-bottles { &:before{ content:"\E256"; } }
.glyphicon-fins { &:before{ content:"\E257"; } }
.glyphicon-anchor { &:before{ content:"\E258"; } }
.glyphicon-fishes { &:before{ content:"\E259"; } }
.glyphicon-fishes-bait { &:before{ content:"\E260"; } }
.glyphicon-direction { &:before{ content:"\E261"; } }
.glyphicon-direction-empty { &:before{ content:"\E262"; } }
.glyphicon-direction-full { &:before{ content:"\E263"; } }
.glyphicon-flag-waving { &:before{ content:"\E264"; } }
.glyphicon-flag { &:before{ content:"\E265"; } }
.glyphicon-flag-triangle { &:before{ content:"\E266"; } }
.glyphicon-comments { &:before{ content:"\E267"; } }
.glyphicon-comments-off { &:before{ content:"\E268"; } }
.glyphicon-comments-lock { &:before{ content:"\E269"; } }
.glyphicon-cake { &:before{ content:"\E270"; } }
.glyphicon-set-wine { &:before{ content:"\E271"; } }
.glyphicon-glass-wine { &:before{ content:"\E272"; } }
.glyphicon-coffee-mug { &:before{ content:"\E273"; } }
.glyphicon-drink { &:before{ content:"\E274"; } }
.glyphicon-beer { &:before{ content:"\E275"; } }
.glyphicon-beer-alt { &:before{ content:"\E276"; } }
.glyphicon-fast-food { &:before{ content:"\E277"; } }
.glyphicon-cutlery { &:before{ content:"\E278"; } }
.glyphicon-blender { &:before{ content:"\E279"; } }
.glyphicon-pizza { &:before{ content:"\E280"; } }
.glyphicon-coffee-to-go { &:before{ content:"\E281"; } }
.glyphicon-tea-pot { &:before{ content:"\E282"; } }
.glyphicon-tea-mug { &:before{ content:"\E283"; } }
.glyphicon-coffee-beans { &:before{ content:"\E284"; } }
.glyphicon-tea-leaves { &:before{ content:"\E285"; } }
.glyphicon-french-press { &:before{ content:"\E286"; } }
.glyphicon-pot { &:before{ content:"\E287"; } }
.glyphicon-kettle { &:before{ content:"\E288"; } }
.glyphicon-grater { &:before{ content:"\E289"; } }
.glyphicon-cooks-hat { &:before{ content:"\E290"; } }
.glyphicon-square-empty-plus { &:before{ content:"\E291"; } }
.glyphicon-square-empty-minus { &:before{ content:"\E292"; } }
.glyphicon-square-empty-remove { &:before{ content:"\E293"; } }
.glyphicon-square-empty-check { &:before{ content:"\E294"; } }
.glyphicon-square-empty-question { &:before{ content:"\E295"; } }
.glyphicon-square-empty-info { &:before{ content:"\E296"; } }
.glyphicon-square-empty-alert { &:before{ content:"\E297"; } }
.glyphicon-circle-empty { &:before{ content:"\E298"; } }
.glyphicon-circle-selected { &:before{ content:"\E299"; } }
.glyphicon-asian-food { &:before{ content:"\E300"; } }
.glyphicon-square-upload { &:before{ content:"\E301"; } }
.glyphicon-square-download { &:before{ content:"\E302"; } }
.glyphicon-verify-empty { &:before{ content:"\E303"; } }
.glyphicon-verify-check { &:before{ content:"\E304"; } }
.glyphicon-no-symbol { &:before{ content:"\E305"; } }
.glyphicon-square-empty-play { &:before{ content:"\E306"; } }
.glyphicon-square-empty-download { &:before{ content:"\E307"; } }
.glyphicon-square-empty-upload { &:before{ content:"\E308"; } }
.glyphicon-square-empty-left { &:before{ content:"\E309"; } }
.glyphicon-square-empty-right { &:before{ content:"\E310"; } }
.glyphicon-spade { &:before{ content:"\E311"; } }
.glyphicon-saw { &:before{ content:"\E312"; } }
.glyphicon-claw-hammer { &:before{ content:"\E313"; } }
.glyphicon-hammer { &:before{ content:"\E314"; } }
.glyphicon-screwdriver { &:before{ content:"\E315"; } }
.glyphicon-wrench { &:before{ content:"\E316"; } }
.glyphicon-ax { &:before{ content:"\E317"; } }
.glyphicon-blacksmith { &:before{ content:"\E318"; } }
.glyphicon-saw-blade { &:before{ content:"\E319"; } }
.glyphicon-certificate { &:before{ content:"\E320"; } }
.glyphicon-users { &:before{ content:"\E321"; } }
.glyphicon-shield-check { &:before{ content:"\E322"; } }
.glyphicon-shield-half { &:before{ content:"\E323"; } }
.glyphicon-shield-empty-star { &:before{ content:"\E324"; } }
.glyphicon-shield-quarter { &:before{ content:"\E325"; } }
.glyphicon-shield-star { &:before{ content:"\E326"; } }
.glyphicon-contactless-lock { &:before{ content:"\E327"; } }
.glyphicon-contactless { &:before{ content:"\E328"; } }
.glyphicon-credit-card { &:before{ content:"\E329"; } }
.glyphicon-credit-card-off { &:before{ content:"\E330"; } }
.glyphicon-quad-bike { &:before{ content:"\E331"; } }
.glyphicon-motorbike { &:before{ content:"\E332"; } }
.glyphicon-squares { &:before{ content:"\E333"; } }
.glyphicon-brightness-up { &:before{ content:"\E334"; } }
.glyphicon-brightness-down { &:before{ content:"\E335"; } }
.glyphicon-folder { &:before{ content:"\E336"; } }
.glyphicon-folder-cogwheel { &:before{ content:"\E337"; } }
.glyphicon-folder-alert { &:before{ content:"\E338"; } }
.glyphicon-folder-lock { &:before{ content:"\E339"; } }
.glyphicon-folder-no { &:before{ content:"\E340"; } }
.glyphicon-mic { &:before{ content:"\E341"; } }
.glyphicon-mic-off { &:before{ content:"\E342"; } }
.glyphicon-repeat { &:before{ content:"\E343"; } }
.glyphicon-repeat-once { &:before{ content:"\E344"; } }
.glyphicon-electric-cord { &:before{ content:"\E345"; } }
.glyphicon-self-winding-cord { &:before{ content:"\E346"; } }
.glyphicon-id-badge { &:before{ content:"\E347"; } }
.glyphicon-id-badge-vertical { &:before{ content:"\E348"; } }
.glyphicon-id-binder { &:before{ content:"\E349"; } }
.glyphicon-lock-off { &:before{ content:"\E350"; } }
.glyphicon-link { &:before{ content:"\E351"; } }
.glyphicon-link-remove { &:before{ content:"\E352"; } }
.glyphicon-bank { &:before{ content:"\E353"; } }
.glyphicon-scissors-cutting { &:before{ content:"\E354"; } }
.glyphicon-mouse { &:before{ content:"\E355"; } }
.glyphicon-mouse-wireless { &:before{ content:"\E356"; } }
.glyphicon-keyboard { &:before{ content:"\E357"; } }
.glyphicon-keyboard-wireless { &:before{ content:"\E358"; } }
.glyphicon-graphic-tablet { &:before{ content:"\E359"; } }
.glyphicon-graphic-tablet-wireless { &:before{ content:"\E360"; } }
.glyphicon-t-shirt { &:before{ content:"\E361"; } }
.glyphicon-t-shirt-v { &:before{ content:"\E362"; } }
.glyphicon-t-shirt-sleeves { &:before{ content:"\E363"; } }
.glyphicon-shirt { &:before{ content:"\E364"; } }
.glyphicon-tie { &:before{ content:"\E365"; } }
.glyphicon-trousers { &:before{ content:"\E366"; } }
.glyphicon-dress { &:before{ content:"\E367"; } }
.glyphicon-underwear { &:before{ content:"\E368"; } }
.glyphicon-fabric { &:before{ content:"\E369"; } }
.glyphicon-leather { &:before{ content:"\E370"; } }
.glyphicon-plus { &:before{ content:"\E371"; } }
.glyphicon-minus { &:before{ content:"\E372"; } }
.glyphicon-times { &:before{ content:"\E373"; } }
.glyphicon-division { &:before{ content:"\E374"; } }
.glyphicon-equals { &:before{ content:"\E375"; } }
.glyphicon-hanger { &:before{ content:"\E376"; } }
.glyphicon-flower { &:before{ content:"\E377"; } }
.glyphicon-plant { &:before{ content:"\E378"; } }
.glyphicon-tree-conifer { &:before{ content:"\E379"; } }
.glyphicon-tree-deciduous { &:before{ content:"\E380"; } }
.glyphicon-bowling { &:before{ content:"\E381"; } }
.glyphicon-rugby { &:before{ content:"\E382"; } }
.glyphicon-table-tennis { &:before{ content:"\E383"; } }
.glyphicon-basketball { &:before{ content:"\E384"; } }
.glyphicon-volleyball { &:before{ content:"\E385"; } }
.glyphicon-football { &:before{ content:"\E386"; } }
.glyphicon-baseball { &:before{ content:"\E387"; } }
.glyphicon-hockey { &:before{ content:"\E388"; } }
.glyphicon-golf { &:before{ content:"\E389"; } }
.glyphicon-golf-green { &:before{ content:"\E390"; } }
.glyphicon-winners { &:before{ content:"\E391"; } }
.glyphicon-winners-stars { &:before{ content:"\E392"; } }
.glyphicon-medal { &:before{ content:"\E393"; } }
.glyphicon-dumbbell { &:before{ content:"\E394"; } }
.glyphicon-filter { &:before{ content:"\E395"; } }
.glyphicon-filter-plus { &:before{ content:"\E396"; } }
.glyphicon-filter-minus { &:before{ content:"\E397"; } }
.glyphicon-filter-cogwheel { &:before{ content:"\E398"; } }
.glyphicon-import { &:before{ content:"\E399"; } }
.glyphicon-export { &:before{ content:"\E400"; } }
.glyphicon-hard-drive { &:before{ content:"\E401"; } }
.glyphicon-hard-drive-cogwheel { &:before{ content:"\E402"; } }
.glyphicon-hard-drive-lock { &:before{ content:"\E403"; } }
.glyphicon-hard-drive-eject { &:before{ content:"\E404"; } }
.glyphicon-turtle { &:before{ content:"\E405"; } }
.glyphicon-rabbit { &:before{ content:"\E406"; } }
.glyphicon-cat { &:before{ content:"\E407"; } }
.glyphicon-sailboat { &:before{ content:"\E408"; } }
.glyphicon-webcam { &:before{ content:"\E409"; } }
.glyphicon-projector { &:before{ content:"\E410"; } }
.glyphicon-shopping-bag { &:before{ content:"\E411"; } }
.glyphicon-dice { &:before{ content:"\E412"; } }
.glyphicon-game-controller { &:before{ content:"\E413"; } }
.glyphicon-game-controller-wireless { &:before{ content:"\E414"; } }
.glyphicon-push-pin { &:before{ content:"\E415"; } }
.glyphicon-id-badge-lanyard { &:before{ content:"\E416"; } }
.glyphicon-globe { &:before{ content:"\E417"; } }
.glyphicon-world-west { &:before{ content:"\E418"; } }
.glyphicon-world-east { &:before{ content:"\E419"; } }
.glyphicon-vases { &:before{ content:"\E420"; } }
.glyphicon-book-play { &:before{ content:"\E421"; } }
.glyphicon-book-library { &:before{ content:"\E422"; } }
.glyphicon-briefcase-alt { &:before{ content:"\E423"; } }
.glyphicon-blackboard { &:before{ content:"\E424"; } }
.glyphicon-crown { &:before{ content:"\E425"; } }
.glyphicon-home-flag { &:before{ content:"\E426"; } }
.glyphicon-square-triangle-down { &:before{ content:"\E427"; } }
.glyphicon-square-triangle-up { &:before{ content:"\E428"; } }
.glyphicon-square-triangle-left { &:before{ content:"\E429"; } }
.glyphicon-square-triangle-right { &:before{ content:"\E430"; } }
.glyphicon-log-in { &:before{ content:"\E431"; } }
.glyphicon-log-out { &:before{ content:"\E432"; } }
.glyphicon-reply { &:before{ content:"\E433"; } }
.glyphicon-reply-all { &:before{ content:"\E434"; } }
.glyphicon-forward-email { &:before{ content:"\E435"; } }
.glyphicon-archive { &:before{ content:"\E436"; } }
.glyphicon-playlist-music { &:before{ content:"\E437"; } }
.glyphicon-playlist-video { &:before{ content:"\E438"; } }
.glyphicon-video-play-empty { &:before{ content:"\E439"; } }
.glyphicon-video-play { &:before{ content:"\E440"; } }
.glyphicon-bell { &:before{ content:"\E441"; } }
.glyphicon-bell-off { &:before{ content:"\E442"; } }
.glyphicon-bell-ringing { &:before{ content:"\E443"; } }
.glyphicon-sampler { &:before{ content:"\E444"; } }
.glyphicon-wallet { &:before{ content:"\E445"; } }
.glyphicon-wallet-plus { &:before{ content:"\E446"; } }
.glyphicon-wallet-minus { &:before{ content:"\E447"; } }
.glyphicon-wallet-lock { &:before{ content:"\E448"; } }
.glyphicon-wallet-cogwheel { &:before{ content:"\E449"; } }
.glyphicon-wallet-check { &:before{ content:"\E450"; } }
.glyphicon-hand-like { &:before{ content:"\E451"; } }
.glyphicon-hand-dislike { &:before{ content:"\E452"; } }
.glyphicon-hand-pointing-right { &:before{ content:"\E453"; } }
.glyphicon-hand-pointing-left { &:before{ content:"\E454"; } }
.glyphicon-hand-pointing-up { &:before{ content:"\E455"; } }
.glyphicon-hand-pointing-down { &:before{ content:"\E456"; } }
.glyphicon-hand-open { &:before{ content:"\E457"; } }
.glyphicon-hand-open-alt { &:before{ content:"\E458"; } }
.glyphicon-hand-ok { &:before{ content:"\E459"; } }
.glyphicon-briefcase { &:before{ content:"\E460"; } }
.glyphicon-send { &:before{ content:"\E461"; } }
.glyphicon-footprints { &:before{ content:"\E462"; } }
.glyphicon-construction-cone { &:before{ content:"\E463"; } }
.glyphicon-phone-old { &:before{ content:"\E464"; } }
.glyphicon-call { &:before{ content:"\E465"; } }
.glyphicon-fax { &:before{ content:"\E466"; } }
.glyphicon-shredder { &:before{ content:"\E467"; } }
.glyphicon-multifunction-printer { &:before{ content:"\E468"; } }
.glyphicon-scanner { &:before{ content:"\E469"; } }
.glyphicon-security-camera { &:before{ content:"\E470"; } }
.glyphicon-sort { &:before{ content:"\E471"; } }
.glyphicon-sort-alphabetically { &:before{ content:"\E472"; } }
.glyphicon-sort-alphabetically-alt { &:before{ content:"\E473"; } }
.glyphicon-sort-numerically { &:before{ content:"\E474"; } }
.glyphicon-sort-numerically-alt { &:before{ content:"\E475"; } }
.glyphicon-sort-attributes { &:before{ content:"\E476"; } }
.glyphicon-sort-attributes-alt { &:before{ content:"\E477"; } }
.glyphicon-switch { &:before{ content:"\E478"; } }
.glyphicon-user-scam { &:before{ content:"\E479"; } }
.glyphicon-user-scam-alt { &:before{ content:"\E480"; } }
.glyphicon-shop-window { &:before{ content:"\E481"; } }
.glyphicon-shop-door { &:before{ content:"\E482"; } }
.glyphicon-kiosk { &:before{ content:"\E483"; } }
.glyphicon-kiosk-wheels { &:before{ content:"\E484"; } }
.glyphicon-kiosk-immobile { &:before{ content:"\E485"; } }
.glyphicon-kiosk-food { &:before{ content:"\E486"; } }
.glyphicon-exchange { &:before{ content:"\E487"; } }
.glyphicon-bullets { &:before{ content:"\E488"; } }
.glyphicon-gun { &:before{ content:"\E489"; } }
.glyphicon-gun-off { &:before{ content:"\E490"; } }
.glyphicon-charging-station { &:before{ content:"\E491"; } }
.glyphicon-gas-station { &:before{ content:"\E492"; } }
.glyphicon-rotate { &:before{ content:"\E493"; } }
.glyphicon-rotate-horizontal { &:before{ content:"\E494"; } }
.glyphicon-rotate-vertical { &:before{ content:"\E495"; } }
.glyphicon-podcast { &:before{ content:"\E496"; } }
.glyphicon-more { &:before{ content:"\E497"; } }
.glyphicon-more-vertical { &:before{ content:"\E498"; } }
.glyphicon-skull-crossbones { &:before{ content:"\E499"; } }
.glyphicon-skull { &:before{ content:"\E500"; } }
.glyphicon-server { &:before{ content:"\E501"; } }
.glyphicon-server-plus { &:before{ content:"\E502"; } }
.glyphicon-server-minus { &:before{ content:"\E503"; } }
.glyphicon-server-no { &:before{ content:"\E504"; } }
.glyphicon-server-check { &:before{ content:"\E505"; } }
.glyphicon-server-lock { &:before{ content:"\E506"; } }
.glyphicon-server-refresh { &:before{ content:"\E507"; } }
.glyphicon-server-flag { &:before{ content:"\E508"; } }
.glyphicon-server-cogwheel { &:before{ content:"\E509"; } }
.glyphicon-light-beacon { &:before{ content:"\E510"; } }
.glyphicon-bed { &:before{ content:"\E511"; } }
.glyphicon-bed-single { &:before{ content:"\E512"; } }
.glyphicon-cot { &:before{ content:"\E513"; } }
.glyphicon-personal-hygiene { &:before{ content:"\E514"; } }
.glyphicon-hairdresser { &:before{ content:"\E515"; } }
.glyphicon-bed-sleeping { &:before{ content:"\E516"; } }
.glyphicon-food-service { &:before{ content:"\E517"; } }
.glyphicon-lamp-table { &:before{ content:"\E518"; } }
.glyphicon-lamp { &:before{ content:"\E519"; } }
.glyphicon-hourglass { &:before{ content:"\E520"; } }
.glyphicon-monitor { &:before{ content:"\E521"; } }
.glyphicon-monitors { &:before{ content:"\E522"; } }
.glyphicon-monitor-rotate { &:before{ content:"\E523"; } }
.glyphicon-monitor-vertical { &:before{ content:"\E524"; } }
.glyphicon-phone-to-horizontal { &:before{ content:"\E525"; } }
.glyphicon-phone-rotate { &:before{ content:"\E526"; } }
.glyphicon-phone-horizontal { &:before{ content:"\E527"; } }
.glyphicon-shower { &:before{ content:"\E528"; } }
.glyphicon-shower-alt { &:before{ content:"\E529"; } }
.glyphicon-bath { &:before{ content:"\E530"; } }
.glyphicon-user-parents-alt { &:before{ content:"\E531"; } }
.glyphicon-user-family { &:before{ content:"\E532"; } }
.glyphicon-user-child { &:before{ content:"\E533"; } }
.glyphicon-user-boy { &:before{ content:"\E534"; } }
.glyphicon-user-girl { &:before{ content:"\E535"; } }
.glyphicon-speakers { &:before{ content:"\E536"; } }
.glyphicon-progress { &:before{ content:"\E537"; } }
.glyphicon-tasks { &:before{ content:"\E538"; } }
.glyphicon-barcode { &:before{ content:"\E539"; } }
.glyphicon-qr-code { &:before{ content:"\E540"; } }
.glyphicon-credit-empty { &:before{ content:"\E541"; } }
.glyphicon-credit { &:before{ content:"\E542"; } }
.glyphicon-star-half { &:before{ content:"\E543"; } }
.glyphicon-cloud { &:before{ content:"\E544"; } }
.glyphicon-cloud-upload { &:before{ content:"\E545"; } }
.glyphicon-cloud-download { &:before{ content:"\E546"; } }
.glyphicon-cloud-refresh { &:before{ content:"\E547"; } }
.glyphicon-cloud-alert { &:before{ content:"\E548"; } }
.glyphicon-cloud-pause { &:before{ content:"\E549"; } }
.glyphicon-cloud-check { &:before{ content:"\E550"; } }
.glyphicon-bag { &:before{ content:"\E551"; } }
.glyphicon-hand-donate { &:before{ content:"\E552"; } }
.glyphicon-hand-heart { &:before{ content:"\E553"; } }
.glyphicon-handshake { &:before{ content:"\E554"; } }
.glyphicon-hand-praying { &:before{ content:"\E555"; } }
.glyphicon-flash { &:before{ content:"\E556"; } }
.glyphicon-flash-automatic { &:before{ content:"\E557"; } }
.glyphicon-flash-no { &:before{ content:"\E558"; } }
.glyphicon-target { &:before{ content:"\E559"; } }
.glyphicon-marriage { &:before{ content:"\E560"; } }
.glyphicon-shoes { &:before{ content:"\E561"; } }
.glyphicon-shoes-off { &:before{ content:"\E562"; } }
.glyphicon-card-hearts { &:before{ content:"\E563"; } }
.glyphicon-card-spades { &:before{ content:"\E564"; } }
.glyphicon-card-diamonds { &:before{ content:"\E565"; } }
.glyphicon-card-clubs { &:before{ content:"\E566"; } }
.glyphicon-bring-forward { &:before{ content:"\E567"; } }
.glyphicon-bring-to-front { &:before{ content:"\E568"; } }
.glyphicon-send-backward { &:before{ content:"\E569"; } }
.glyphicon-send-to-back { &:before{ content:"\E570"; } }
.glyphicon-washing-machine { &:before{ content:"\E571"; } }
.glyphicon-dryer { &:before{ content:"\E572"; } }
.glyphicon-dishwasher { &:before{ content:"\E573"; } }
.glyphicon-oven { &:before{ content:"\E574"; } }
.glyphicon-hob { &:before{ content:"\E575"; } }
.glyphicon-microwave { &:before{ content:"\E576"; } }
.glyphicon-cluster { &:before{ content:"\E577"; } }
.glyphicon-share { &:before{ content:"\E578"; } }
.glyphicon-translate-alt { &:before{ content:"\E579"; } }
.glyphicon-translate { &:before{ content:"\E580"; } }
.glyphicon-directions { &:before{ content:"\E581"; } }
.glyphicon-directions-arrow { &:before{ content:"\E582"; } }
.glyphicon-finish-line { &:before{ content:"\E583"; } }
.glyphicon-radio { &:before{ content:"\E584"; } }
.glyphicon-start { &:before{ content:"\E585"; } }
.glyphicon-bomb { &:before{ content:"\E586"; } }
.glyphicon-bug { &:before{ content:"\E587"; } }
.glyphicon-book-open-text { &:before{ content:"\E588"; } }
.glyphicon-book-open { &:before{ content:"\E589"; } }
.glyphicon-newspaper { &:before{ content:"\E590"; } }
.glyphicon-map-marker { &:before{ content:"\E591"; } }
.glyphicon-map { &:before{ content:"\E592"; } }
.glyphicon-route { &:before{ content:"\E593"; } }
.glyphicon-nearby { &:before{ content:"\E594"; } }
.glyphicon-nearby-alt { &:before{ content:"\E595"; } }
.glyphicon-piggy-bank { &:before{ content:"\E596"; } }
.glyphicon-piggy-bank-coins { &:before{ content:"\E597"; } }
.glyphicon-sound-surround { &:before{ content:"\E598"; } }
.glyphicon-menu-close { &:before{ content:"\E599"; } }
.glyphicon-menu { &:before{ content:"\E600"; } }
.glyphicon-user-no { &:before{ content:"\E601"; } }
.glyphicon-user-lock { &:before{ content:"\E602"; } }
.glyphicon-user-flag { &:before{ content:"\E603"; } }
.glyphicon-user-star { &:before{ content:"\E604"; } }
.glyphicon-user-alert { &:before{ content:"\E605"; } }
.glyphicon-user-chat { &:before{ content:"\E606"; } }
.glyphicon-user-check { &:before{ content:"\E607"; } }
.glyphicon-square-hospital { &:before{ content:"\E608"; } }
.glyphicon-circle-red-cross { &:before{ content:"\E609"; } }
.glyphicon-star-of-life { &:before{ content:"\E610"; } }
.glyphicon-copy-duplicate { &:before{ content:"\E611"; } }
.glyphicon-scissors { &:before{ content:"\E612"; } }
.glyphicon-paste { &:before{ content:"\E613"; } }
.glyphicon-copy { &:before{ content:"\E614"; } }
.glyphicon-balance-scales { &:before{ content:"\E615"; } }
.glyphicon-court-gavel { &:before{ content:"\E616"; } }
.glyphicon-court-gavel-alt { &:before{ content:"\E617"; } }
.glyphicon-circle-hospital { &:before{ content:"\E618"; } }
.glyphicon-square-red-cross { &:before{ content:"\E619"; } }
.glyphicon-star-of-life-empty { &:before{ content:"\E620"; } }
.glyphicon-scale-personal { &:before{ content:"\E621"; } }
.glyphicon-scale-kitchen { &:before{ content:"\E622"; } }
.glyphicon-fireworks { &:before{ content:"\E623"; } }
.glyphicon-fireworks-alt { &:before{ content:"\E624"; } }
.glyphicon-chemistry { &:before{ content:"\E625"; } }
.glyphicon-chemistry-alt { &:before{ content:"\E626"; } }
.glyphicon-syringe-empty { &:before{ content:"\E627"; } }
.glyphicon-syringe { &:before{ content:"\E628"; } }
.glyphicon-heartbeat { &:before{ content:"\E629"; } }
.glyphicon-heart-broken { &:before{ content:"\E630"; } }
.glyphicon-circle-plus { &:before{ content:"\E631"; } }
.glyphicon-circle-minus { &:before{ content:"\E632"; } }
.glyphicon-circle-remove { &:before{ content:"\E633"; } }
.glyphicon-circle-check { &:before{ content:"\E634"; } }
.glyphicon-circle-question { &:before{ content:"\E635"; } }
.glyphicon-circle-info { &:before{ content:"\E636"; } }
.glyphicon-circle-alert { &:before{ content:"\E637"; } }
.glyphicon-triangle-alert { &:before{ content:"\E638"; } }
.glyphicon-octagon-remove-empty { &:before{ content:"\E639"; } }
.glyphicon-octagon-remove { &:before{ content:"\E640"; } }
.glyphicon-triangle-radioactive { &:before{ content:"\E641"; } }
.glyphicon-radioactive { &:before{ content:"\E642"; } }
.glyphicon-compound { &:before{ content:"\E643"; } }
.glyphicon-dna { &:before{ content:"\E644"; } }
.glyphicon-biohazard { &:before{ content:"\E645"; } }
.glyphicon-circle-play { &:before{ content:"\E646"; } }
.glyphicon-circle-down { &:before{ content:"\E647"; } }
.glyphicon-circle-up { &:before{ content:"\E648"; } }
.glyphicon-circle-left { &:before{ content:"\E649"; } }
.glyphicon-circle-right { &:before{ content:"\E650"; } }
.glyphicon-king { &:before{ content:"\E651"; } }
.glyphicon-queen { &:before{ content:"\E652"; } }
.glyphicon-rook { &:before{ content:"\E653"; } }
.glyphicon-bishop { &:before{ content:"\E654"; } }
.glyphicon-knight { &:before{ content:"\E655"; } }
.glyphicon-pawn { &:before{ content:"\E656"; } }
.glyphicon-door { &:before{ content:"\E657"; } }
.glyphicon-bicycle { &:before{ content:"\E658"; } }
.glyphicon-id { &:before{ content:"\E659"; } }
.glyphicon-payment { &:before{ content:"\E660"; } }
.glyphicon-legal-section-sign { &:before{ content:"\E661"; } }
.glyphicon-voicemail { &:before{ content:"\E662"; } }
.glyphicon-equalizer-dots { &:before{ content:"\E663"; } }
.glyphicon-equalizer-bars { &:before{ content:"\E664"; } }
.glyphicon-taxi { &:before{ content:"\E665"; } }
.glyphicon-transport-mixed { &:before{ content:"\E666"; } }
.glyphicon-metro { &:before{ content:"\E667"; } }
.glyphicon-car-rental { &:before{ content:"\E668"; } }
.glyphicon-tram { &:before{ content:"\E669"; } }
.glyphicon-dashboard { &:before{ content:"\E670"; } }
.glyphicon-mountains { &:before{ content:"\E671"; } }
.glyphicon-forest { &:before{ content:"\E672"; } }
.glyphicon-cableway { &:before{ content:"\E673"; } }
.glyphicon-canister { &:before{ content:"\E674"; } }
.glyphicon-motor-oil { &:before{ content:"\E675"; } }
.glyphicon-car-battery { &:before{ content:"\E676"; } }
.glyphicon-car-wheel { &:before{ content:"\E677"; } }
.glyphicon-car-wheel-defect { &:before{ content:"\E678"; } }
.glyphicon-car-wheel-wrench { &:before{ content:"\E679"; } }
.glyphicon-car-wheel-wrench-alt { &:before{ content:"\E680"; } }
.glyphicon-suitcase-doctor { &:before{ content:"\E681"; } }
.glyphicon-tent { &:before{ content:"\E682"; } }
.glyphicon-key-rounded { &:before{ content:"\E683"; } }
.glyphicon-flashlight { &:before{ content:"\E684"; } }
.glyphicon-backpack { &:before{ content:"\E685"; } }
.glyphicon-watch { &:before{ content:"\E686"; } }
.glyphicon-watch-squared { &:before{ content:"\E687"; } }
.glyphicon-smart-bracelet { &:before{ content:"\E688"; } }
.glyphicon-lighter { &:before{ content:"\E689"; } }
.glyphicon-multifunction-knife { &:before{ content:"\E690"; } }
.glyphicon-text-underline { &:before{ content:"\E691"; } }
.glyphicon-font { &:before{ content:"\E692"; } }
.glyphicon-superscript { &:before{ content:"\E693"; } }
.glyphicon-subscript { &:before{ content:"\E694"; } }
.glyphicon-text-background { &:before{ content:"\E695"; } }
.glyphicon-header { &:before{ content:"\E696"; } }
.glyphicon-directions-sign { &:before{ content:"\E697"; } }
.glyphicon-barbed-wire { &:before{ content:"\E698"; } }
.glyphicon-tractor { &:before{ content:"\E699"; } }
.glyphicon-fence { &:before{ content:"\E700"; } }
.glyphicon-ice-cream { &:before{ content:"\E701"; } }
.glyphicon-ice-cream-off { &:before{ content:"\E702"; } }
.glyphicon-remote-control { &:before{ content:"\E703"; } }
.glyphicon-pills { &:before{ content:"\E704"; } }
.glyphicon-medicine { &:before{ content:"\E705"; } }
.glyphicon-park { &:before{ content:"\E706"; } }
.glyphicon-dog-tags { &:before{ content:"\E707"; } }
.glyphicon-luggage-alt { &:before{ content:"\E708"; } }
.glyphicon-lawn-mower { &:before{ content:"\E709"; } }
.glyphicon-brick-wall { &:before{ content:"\E710"; } }
.glyphicon-voting-urn { &:before{ content:"\E711"; } }
.glyphicon-government { &:before{ content:"\E712"; } }
.glyphicon-announcement { &:before{ content:"\E713"; } }
.glyphicon-dustbin { &:before{ content:"\E714"; } }
.glyphicon-feather { &:before{ content:"\E715"; } }
.glyphicon-recycling { &:before{ content:"\E716"; } }
.glyphicon-home-fire { &:before{ content:"\E717"; } }
.glyphicon-home-flood { &:before{ content:"\E718"; } }
.glyphicon-water { &:before{ content:"\E719"; } }
.glyphicon-home-for-sale { &:before{ content:"\E720"; } }
.glyphicon-campfire { &:before{ content:"\E721"; } }
.glyphicon-fireplace { &:before{ content:"\E722"; } }
.glyphicon-basket { &:before{ content:"\E723"; } }
.glyphicon-basket-in { &:before{ content:"\E724"; } }
.glyphicon-basket-out { &:before{ content:"\E725"; } }
.glyphicon-basket-checkout { &:before{ content:"\E726"; } }
.glyphicon-basket-check { &:before{ content:"\E727"; } }
.glyphicon-firefighters { &:before{ content:"\E728"; } }
.glyphicon-police { &:before{ content:"\E729"; } }
.glyphicon-ambulance { &:before{ content:"\E730"; } }
.glyphicon-ear { &:before{ content:"\E731"; } }
.glyphicon-ear-off { &:before{ content:"\E732"; } }
.glyphicon-theater-masks { &:before{ content:"\E733"; } }
.glyphicon-kettlebell { &:before{ content:"\E734"; } }
.glyphicon-ticket { &:before{ content:"\E735"; } }
.glyphicon-ticket-parking { &:before{ content:"\E736"; } }
.glyphicon-parking-meter { &:before{ content:"\E737"; } }
.glyphicon-parking { &:before{ content:"\E738"; } }
.glyphicon-check { &:before{ content:"\E739"; } }
.glyphicon-hash { &:before{ content:"\E740"; } }
.glyphicon-align-top { &:before{ content:"\E741"; } }
.glyphicon-align-bottom { &:before{ content:"\E742"; } }
.glyphicon-align-horizontal { &:before{ content:"\E743"; } }
.glyphicon-align-left { &:before{ content:"\E744"; } }
.glyphicon-align-vertical { &:before{ content:"\E745"; } }
.glyphicon-align-right { &:before{ content:"\E746"; } }
.glyphicon-reflect-y { &:before{ content:"\E747"; } }
.glyphicon-reflect-x { &:before{ content:"\E748"; } }
.glyphicon-resize-horizontal { &:before{ content:"\E749"; } }
.glyphicon-resize-vertical { &:before{ content:"\E750"; } }
.glyphicon-call-redirect { &:before{ content:"\E751"; } }
.glyphicon-call-ip { &:before{ content:"\E752"; } }
.glyphicon-call-record { &:before{ content:"\E753"; } }
.glyphicon-call-music { &:before{ content:"\E754"; } }
.glyphicon-call-data { &:before{ content:"\E755"; } }
.glyphicon-call-pause { &:before{ content:"\E756"; } }
.glyphicon-call-incoming { &:before{ content:"\E757"; } }
.glyphicon-call-outgoing { &:before{ content:"\E758"; } }
.glyphicon-call-video { &:before{ content:"\E759"; } }
.glyphicon-call-lock { &:before{ content:"\E760"; } }
.glyphicon-sync { &:before{ content:"\E761"; } }
.glyphicon-sync-alert { &:before{ content:"\E762"; } }
.glyphicon-sync-check { &:before{ content:"\E763"; } }
.glyphicon-modal-window { &:before{ content:"\E764"; } }
.glyphicon-gas { &:before{ content:"\E765"; } }
.glyphicon-waste-pipe { &:before{ content:"\E766"; } }
.glyphicon-waste-pipe-end { &:before{ content:"\E767"; } }
.glyphicon-toilet { &:before{ content:"\E768"; } }
.glyphicon-drinking-water { &:before{ content:"\E769"; } }
.glyphicon-drinking-water-off { &:before{ content:"\E770"; } }
.glyphicon-apple { &:before{ content:"\E771"; } }
.glyphicon-neighborhood { &:before{ content:"\E772"; } }
.glyphicon-temperature { &:before{ content:"\E773"; } }
.glyphicon-temperature-alert { &:before{ content:"\E774"; } }
.glyphicon-temperature-set { &:before{ content:"\E775"; } }
.glyphicon-temperature-low { &:before{ content:"\E776"; } }
.glyphicon-temperature-high { &:before{ content:"\E777"; } }
.glyphicon-tornado { &:before{ content:"\E778"; } }
.glyphicon-ice-lolly { &:before{ content:"\E779"; } }
.glyphicon-ice-lolly-eaten { &:before{ content:"\E780"; } }
.glyphicon-milk { &:before{ content:"\E781"; } }
.glyphicon-egg { &:before{ content:"\E782"; } }
.glyphicon-wheat { &:before{ content:"\E783"; } }
.glyphicon-corn { &:before{ content:"\E784"; } }
.glyphicon-soya { &:before{ content:"\E785"; } }
.glyphicon-nuts { &:before{ content:"\E786"; } }
.glyphicon-carrot { &:before{ content:"\E787"; } }
.glyphicon-meat { &:before{ content:"\E788"; } }
.glyphicon-seafood { &:before{ content:"\E789"; } }
.glyphicon-fish { &:before{ content:"\E790"; } }
.glyphicon-square-email { &:before{ content:"\E791"; } }
.glyphicon-email { &:before{ content:"\E792"; } }
.glyphicon-paired { &:before{ content:"\E793"; } }
.glyphicon-paired-off { &:before{ content:"\E794"; } }
.glyphicon-set { &:before{ content:"\E795"; } }
.glyphicon-set-down { &:before{ content:"\E796"; } }
.glyphicon-chevron-last-down { &:before{ content:"\E797"; } }
.glyphicon-chevron-last-up { &:before{ content:"\E798"; } }
.glyphicon-chevron-last-left { &:before{ content:"\E799"; } }
.glyphicon-chevron-last-right { &:before{ content:"\E800"; } }
.glyphicon-file-plus { &:before{ content:"\E801"; } }
.glyphicon-file-minus { &:before{ content:"\E802"; } }
.glyphicon-file-refresh { &:before{ content:"\E803"; } }
.glyphicon-file-lock { &:before{ content:"\E804"; } }
.glyphicon-file-cloud { &:before{ content:"\E805"; } }
.glyphicon-user-rounded { &:before{ content:"\E806"; } }
.glyphicon-user-squared { &:before{ content:"\E807"; } }
.glyphicon-drop-down { &:before{ content:"\E808"; } }
.glyphicon-drop-plus { &:before{ content:"\E809"; } }
.glyphicon-block-move { &:before{ content:"\E810"; } }
.glyphicon-fingerprint-scan { &:before{ content:"\E811"; } }
.glyphicon-fingerprint { &:before{ content:"\E812"; } }
.glyphicon-fingerprint-lock { &:before{ content:"\E813"; } }
.glyphicon-fingerprint-check { &:before{ content:"\E814"; } }
.glyphicon-fingerprint-remove { &:before{ content:"\E815"; } }
.glyphicon-satellite { &:before{ content:"\E816"; } }
.glyphicon-satellite-dish { &:before{ content:"\E817"; } }
.glyphicon-satellite-dish-alt { &:before{ content:"\E818"; } }
.glyphicon-robot { &:before{ content:"\E819"; } }
.glyphicon-radar { &:before{ content:"\E820"; } }
.glyphicon-battery-charging { &:before{ content:"\E821"; } }
.glyphicon-battery-charged { &:before{ content:"\E822"; } }
.glyphicon-battery-three-quarters { &:before{ content:"\E823"; } }
.glyphicon-battery-half { &:before{ content:"\E824"; } }
.glyphicon-battery-quarter { &:before{ content:"\E825"; } }
.glyphicon-battery-low { &:before{ content:"\E826"; } }
.glyphicon-arrow-thin-down { &:before{ content:"\E827"; } }
.glyphicon-arrow-thin-up { &:before{ content:"\E828"; } }
.glyphicon-arrow-thin-left { &:before{ content:"\E829"; } }
.glyphicon-arrow-thin-right { &:before{ content:"\E830"; } }
.glyphicon-male { &:before{ content:"\E831"; } }
.glyphicon-female { &:before{ content:"\E832"; } }
.glyphicon-virgin-female { &:before{ content:"\E833"; } }
.glyphicon-intersex { &:before{ content:"\E834"; } }
.glyphicon-transgender { &:before{ content:"\E835"; } }
.glyphicon-lesbian { &:before{ content:"\E836"; } }
.glyphicon-gay { &:before{ content:"\E837"; } }
.glyphicon-hetero { &:before{ content:"\E838"; } }
.glyphicon-other { &:before{ content:"\E839"; } }
.glyphicon-unknown { &:before{ content:"\E840"; } }
.glyphicon-square-plus { &:before{ content:"\E841"; } }
.glyphicon-square-minus { &:before{ content:"\E842"; } }
.glyphicon-square-remove { &:before{ content:"\E843"; } }
.glyphicon-square-check { &:before{ content:"\E844"; } }
.glyphicon-square-question { &:before{ content:"\E845"; } }
.glyphicon-square-info { &:before{ content:"\E846"; } }
.glyphicon-square-alert { &:before{ content:"\E847"; } }
.glyphicon-subtitles { &:before{ content:"\E848"; } }
.glyphicon-computer-network { &:before{ content:"\E849"; } }
.glyphicon-computer-network-alt { &:before{ content:"\E850"; } }
.glyphicon-subtitles-off { &:before{ content:"\E851"; } }
.glyphicon-subtitles-plus { &:before{ content:"\E852"; } }
.glyphicon-subtitles-minus { &:before{ content:"\E853"; } }
.glyphicon-audio-description-d { &:before{ content:"\E854"; } }
.glyphicon-audio-description { &:before{ content:"\E855"; } }
.glyphicon-square-play { &:before{ content:"\E856"; } }
.glyphicon-square-down { &:before{ content:"\E857"; } }
.glyphicon-square-up { &:before{ content:"\E858"; } }
.glyphicon-square-left { &:before{ content:"\E859"; } }
.glyphicon-square-right { &:before{ content:"\E860"; } }
.glyphicon-vr-inside { &:before{ content:"\E861"; } }
.glyphicon-vr { &:before{ content:"\E862"; } }
.glyphicon-user-vr { &:before{ content:"\E863"; } }
.glyphicon-user-vr-plus { &:before{ content:"\E864"; } }
.glyphicon-user-vr-minus { &:before{ content:"\E865"; } }
.glyphicon-view-full { &:before{ content:"\E866"; } }
.glyphicon-view-half { &:before{ content:"\E867"; } }
.glyphicon-puzzle { &:before{ content:"\E868"; } }
.glyphicon-door-open { &:before{ content:"\E869"; } }
.glyphicon-door-close { &:before{ content:"\E870"; } }
.glyphicon-package { &:before{ content:"\E871"; } }
.glyphicon-one-day-delivery { &:before{ content:"\E872"; } }
.glyphicon-forklift { &:before{ content:"\E873"; } }
.glyphicon-transport-trolley { &:before{ content:"\E874"; } }
.glyphicon-simple-trolley { &:before{ content:"\E875"; } }
.glyphicon-palette-package { &:before{ content:"\E876"; } }
.glyphicon-warehouse { &:before{ content:"\E877"; } }
.glyphicon-this-side-up { &:before{ content:"\E878"; } }
.glyphicon-terminal-empty { &:before{ content:"\E879"; } }
.glyphicon-terminal { &:before{ content:"\E880"; } }
.glyphicon-candle { &:before{ content:"\E881"; } }
.glyphicon-balloon { &:before{ content:"\E882"; } }
.glyphicon-balloons { &:before{ content:"\E883"; } }
.glyphicon-missile { &:before{ content:"\E884"; } }
.glyphicon-step-back { &:before{ content:"\E885"; } }
.glyphicon-step-forward { &:before{ content:"\E886"; } }
.glyphicon-undo { &:before{ content:"\E887"; } }
.glyphicon-redo { &:before{ content:"\E888"; } }
.glyphicon-three-dimensional { &:before{ content:"\E889"; } }
.glyphicon-three-dimensional-full { &:before{ content:"\E890"; } }
.glyphicon-factory { &:before{ content:"\E891"; } }
.glyphicon-factory-alt { &:before{ content:"\E892"; } }
.glyphicon-user-worker { &:before{ content:"\E893"; } }
.glyphicon-barrel { &:before{ content:"\E894"; } }
.glyphicon-dice-one { &:before{ content:"\E895"; } }
.glyphicon-dice-two { &:before{ content:"\E896"; } }
.glyphicon-dice-three { &:before{ content:"\E897"; } }
.glyphicon-dice-four { &:before{ content:"\E898"; } }
.glyphicon-dice-five { &:before{ content:"\E899"; } }
.glyphicon-dice-six { &:before{ content:"\E900"; } }
.glyphicon-slightly-smiling { &:before{ content:"\E901"; } }
.glyphicon-slightly-frowning { &:before{ content:"\E902"; } }
.glyphicon-pool { &:before{ content:"\E903"; } }
.glyphicon-tennis { &:before{ content:"\E904"; } }
.glyphicon-badminton { &:before{ content:"\E905"; } }
.glyphicon-restart { &:before{ content:"\E906"; } }
.glyphicon-replay { &:before{ content:"\E907"; } }
.glyphicon-honeycombs { &:before{ content:"\E908"; } }
.glyphicon-honeybee { &:before{ content:"\E909"; } }
.glyphicon-honey { &:before{ content:"\E910"; } }
.glyphicon-fan { &:before{ content:"\E911"; } }
.glyphicon-wind { &:before{ content:"\E912"; } }
.glyphicon-rechargeable { &:before{ content:"\E913"; } }
.glyphicon-mobile-phone-lock { &:before{ content:"\E914"; } }
.glyphicon-mobile-phone-check { &:before{ content:"\E915"; } }
.glyphicon-mobile-phone-cogwheel { &:before{ content:"\E916"; } }
.glyphicon-mobile-phone-alert { &:before{ content:"\E917"; } }
.glyphicon-power-plant-wind { &:before{ content:"\E918"; } }
.glyphicon-power-plant-solar { &:before{ content:"\E919"; } }
.glyphicon-power-plant-water { &:before{ content:"\E920"; } }
.glyphicon-rewind-five { &:before{ content:"\E921"; } }
.glyphicon-rewind-ten { &:before{ content:"\E922"; } }
.glyphicon-rewind-fifteen { &:before{ content:"\E923"; } }
.glyphicon-rewind-thirty { &:before{ content:"\E924"; } }
.glyphicon-forward-five { &:before{ content:"\E925"; } }
.glyphicon-forward-ten { &:before{ content:"\E926"; } }
.glyphicon-forward-fifteen { &:before{ content:"\E927"; } }
.glyphicon-forward-thirty { &:before{ content:"\E928"; } }
.glyphicon-passport { &:before{ content:"\E929"; } }
.glyphicon-passport-alt { &:before{ content:"\E930"; } }
.glyphicon-speech-bubble-question { &:before{ content:"\E931"; } }
.glyphicon-speech-bubble-info { &:before{ content:"\E932"; } }
.glyphicon-speech-bubble-alert { &:before{ content:"\E933"; } }
.glyphicon-reload-alt { &:before{ content:"\E934"; } }
.glyphicon-power-cord-plug { &:before{ content:"\E935"; } }
.glyphicon-power-cord-plug-off { &:before{ content:"\E936"; } }
.glyphicon-wireless-charging { &:before{ content:"\E937"; } }
.glyphicon-tv-streaming { &:before{ content:"\E938"; } }
.glyphicon-cheque { &:before{ content:"\E939"; } }
.glyphicon-cheque-off { &:before{ content:"\E940"; } }
.glyphicon-buildings-mixed { &:before{ content:"\E941"; } }
.glyphicon-buildings-city { &:before{ content:"\E942"; } }
.glyphicon-buildings-park { &:before{ content:"\E943"; } }
.glyphicon-highway { &:before{ content:"\E944"; } }
.glyphicon-traffic-lights { &:before{ content:"\E945"; } }
.glyphicon-traffic-lights-off { &:before{ content:"\E946"; } }
.glyphicon-circle-more { &:before{ content:"\E947"; } }
.glyphicon-square-more { &:before{ content:"\E948"; } }
.glyphicon-circle-menu { &:before{ content:"\E949"; } }
.glyphicon-square-menu { &:before{ content:"\E950"; } }
.glyphicon-list-letters { &:before{ content:"\E951"; } }
.glyphicon-list-numbers { &:before{ content:"\E952"; } }
.glyphicon-initial-letter { &:before{ content:"\E953"; } }
.glyphicon-brain { &:before{ content:"\E954"; } }
.glyphicon-brain-ai { &:before{ content:"\E955"; } }
.glyphicon-artificial-intelligence { &:before{ content:"\E956"; } }
.glyphicon-microchip { &:before{ content:"\E957"; } }
.glyphicon-filter-off { &:before{ content:"\E958"; } }
.glyphicon-book-library-search { &:before{ content:"\E959"; } }
.glyphicon-files-queue { &:before{ content:"\E960"; } }
.glyphicon-cloud-off { &:before{ content:"\E961"; } }
.glyphicon-trending { &:before{ content:"\E962"; } }
.glyphicon-disappearing { &:before{ content:"\E963"; } }
.glyphicon-layers { &:before{ content:"\E964"; } }
.glyphicon-layers-plus { &:before{ content:"\E965"; } }
.glyphicon-layers-minus { &:before{ content:"\E966"; } }
.glyphicon-layers-lock { &:before{ content:"\E967"; } }
.glyphicon-layers-down { &:before{ content:"\E968"; } }
.glyphicon-layers-up { &:before{ content:"\E969"; } }
.glyphicon-layers-cogwheel { &:before{ content:"\E970"; } }
.glyphicon-axes-three-dimensional { &:before{ content:"\E971"; } }
.glyphicon-axes-two-dimensional { &:before{ content:"\E972"; } }
.glyphicon-rulers { &:before{ content:"\E973"; } }
.glyphicon-spell-check { &:before{ content:"\E974"; } }
.glyphicon-spell-check-check { &:before{ content:"\E975"; } }
.glyphicon-globe-data { &:before{ content:"\E976"; } }
.glyphicon-map-satellite { &:before{ content:"\E977"; } }
.glyphicon-map-cadastral { &:before{ content:"\E978"; } }
.glyphicon-map-aerial { &:before{ content:"\E979"; } }
.glyphicon-map-tourist { &:before{ content:"\E980"; } }
.glyphicon-cookie { &:before{ content:"\E981"; } }
.glyphicon-cookie-alt { &:before{ content:"\E982"; } }
.glyphicon-cookies { &:before{ content:"\E983"; } }
.glyphicon-cash-register { &:before{ content:"\E984"; } }
.glyphicon-cash-register-alt { &:before{ content:"\E985"; } }
.glyphicon-hard-drive-no { &:before{ content:"\E986"; } }
.glyphicon-switch-off { &:before{ content:"\E987"; } }
.glyphicon-switch-on { &:before{ content:"\E988"; } }
.glyphicon-receipt { &:before{ content:"\E989"; } }
.glyphicon-invoice { &:before{ content:"\E990"; } }
.glyphicon-usb-device { &:before{ content:"\E991"; } }
.glyphicon-usb-device-lock { &:before{ content:"\E992"; } }
.glyphicon-usb-device-no { &:before{ content:"\E993"; } }
.glyphicon-usb-device-cogwheel { &:before{ content:"\E994"; } }
.glyphicon-usb-device-eject { &:before{ content:"\E995"; } }
.glyphicon-memory-card { &:before{ content:"\E996"; } }
.glyphicon-memory-card-lock { &:before{ content:"\E997"; } }
.glyphicon-memory-card-no { &:before{ content:"\E998"; } }
.glyphicon-memory-card-cogwheel { &:before{ content:"\E999"; } }
.glyphicon-memory-card-eject { &:before{ content:"\E1000"; } }
.glyphicon-celeriac { &:before{ content:"\E1001"; } }
.glyphicon-celery { &:before{ content:"\E1002"; } }
.glyphicon-lupin { &:before{ content:"\E1003"; } }
.glyphicon-mustard { &:before{ content:"\E1004"; } }
.glyphicon-sesame { &:before{ content:"\E1005"; } }
.glyphicon-peanuts { &:before{ content:"\E1006"; } }
.glyphicon-invoice-plus { &:before{ content:"\E1007"; } }
.glyphicon-invoice-minus { &:before{ content:"\E1008"; } }
.glyphicon-invoice-alert { &:before{ content:"\E1009"; } }
.glyphicon-invoice-check { &:before{ content:"\E1010"; } }
.glyphicon-molluscs { &:before{ content:"\E1011"; } }
.glyphicon-percent-sign { &:before{ content:"\E1012"; } }
.glyphicon-mobile-phone-scan { &:before{ content:"\E1013"; } }
.glyphicon-mobile-phone-nfc { &:before{ content:"\E1014"; } }
.glyphicon-mobile-phone-charger { &:before{ content:"\E1015"; } }
.glyphicon-iris-scan { &:before{ content:"\E1016"; } }
.glyphicon-face-scan { &:before{ content:"\E1017"; } }
.glyphicon-voice-scan { &:before{ content:"\E1018"; } }
.glyphicon-user-voice { &:before{ content:"\E1019"; } }
.glyphicon-head-voice { &:before{ content:"\E1020"; } }
.glyphicon-shadows { &:before{ content:"\E1021"; } }
.glyphicon-highlights { &:before{ content:"\E1022"; } }
.glyphicon-vignetting { &:before{ content:"\E1023"; } }
.glyphicon-correction-skewed { &:before{ content:"\E1024"; } }
.glyphicon-correction-skewed-alt { &:before{ content:"\E1025"; } }
.glyphicon-correction-tilted { &:before{ content:"\E1026"; } }
.glyphicon-correction-auto { &:before{ content:"\E1027"; } }
.glyphicon-safe-open { &:before{ content:"\E1028"; } }
.glyphicon-safe { &:before{ content:"\E1029"; } }
.glyphicon-safe-digital { &:before{ content:"\E1030"; } }
.glyphicon-stats-one-day { &:before{ content:"\E1031"; } }
.glyphicon-stats-bars-one-day { &:before{ content:"\E1032"; } }
.glyphicon-stats-circle-one-day { &:before{ content:"\E1033"; } }
.glyphicon-disinfection-spray { &:before{ content:"\E1034"; } }
.glyphicon-disinfection-spray-small { &:before{ content:"\E1035"; } }
.glyphicon-disinfection-soap { &:before{ content:"\E1036"; } }
.glyphicon-sidebar { &:before{ content:"\E1037"; } }
.glyphicon-sidebar-right { &:before{ content:"\E1038"; } }
.glyphicon-toilet-paper { &:before{ content:"\E1039"; } }
.glyphicon-toilet-paper-alt { &:before{ content:"\E1040"; } }
.glyphicon-gloves { &:before{ content:"\E1041"; } }
.glyphicon-tongue { &:before{ content:"\E1042"; } }
.glyphicon-tongue-off { &:before{ content:"\E1043"; } }
.glyphicon-nose { &:before{ content:"\E1044"; } }
.glyphicon-nose-off { &:before{ content:"\E1045"; } }
.glyphicon-factory-off { &:before{ content:"\E1046"; } }
.glyphicon-government-off { &:before{ content:"\E1047"; } }
.glyphicon-blackboard-off { &:before{ content:"\E1048"; } }
.glyphicon-cart-off { &:before{ content:"\E1049"; } }
.glyphicon-dumbbell-off { &:before{ content:"\E1050"; } }
.glyphicon-face-mask-gas-full { &:before{ content:"\E1051"; } }
.glyphicon-door-handle { &:before{ content:"\E1052"; } }
.glyphicon-cursor { &:before{ content:"\E1053"; } }
.glyphicon-dock { &:before{ content:"\E1054"; } }
.glyphicon-dock-left { &:before{ content:"\E1055"; } }
.glyphicon-dock-right { &:before{ content:"\E1056"; } }
.glyphicon-socket-b { &:before{ content:"\E1057"; } }
.glyphicon-socket-e { &:before{ content:"\E1058"; } }
.glyphicon-socket-i { &:before{ content:"\E1059"; } }
.glyphicon-socket-g { &:before{ content:"\E1060"; } }

.glyphicon-user-add{ @extend .glyphicon-user-plus; }
.glyphicon-user-remove{ @extend .glyphicon-user-minus; }
.glyphicon-trash{ @extend .glyphicon-bin; }
.glyphicon-parents{ @extend .glyphicon-user-parents; }
.glyphicon-time{@extend .glyphicon-clock;}
.glyphicon-cog{ @extend .glyphicon-cogwheel; }
.glyphicon-th-list{ @extend .glyphicon-thumbnails-list; }
.glyphicon-phone{ @extend .glyphicon-mobile-phone; }
.glyphicon-comment{ @extend .glyphicon-comments; }
