@import "~bootstrap-sass/assets/stylesheets/bootstrap/navs";

ul.nav {
    border-bottom: 0 solid #ccc;
    margin: 0;
}

.nav-tabs {
  > li {
    > a {
      border-radius: 9px 9px 0 0;
      color: #000;
      text-decoration: none;
      > span {
          border-bottom: 1px dashed #000;
      }
      &:hover,
      &:focus,
      &:active{
          border-color: transparent;
      }
    }
    &.active{
      > a
      > a:hover,
      > a:focus {
        border: 1px solid #ccc;
        border-bottom-color: rgba(0, 0, 0, 0);
        color: #000;
      }
    }
  }
  &.nav-tabs-noborder{
    > li{
      > a {
          border-radius: 0;
          background-color: #f9f9f9;
          border: 0;
          border: 1px solid #b4b4b4;
          border-top: 1px solid #b4b4b4;
          border-bottom: 1px solid #b4b4b4;
          color: #b4b4b4;
          font-size: 14px;
          font-weight: normal;
          padding: 3px 15px;
          margin-right: 4px;
          text-decoration: none;
      }
      &.active{
        > a,
        &:hover > a,
        &:focus > a,
        > a:hover,
        &:hover > a:hover,
        &:focus > a:hover,
        > a:focus,
        &:hover > a:focus,
        &:focus > a:focus {
            background-color: #fff;
            border: 1px solid #b4b4b4;
            border-top: 1px solid #62c462;
            border-bottom: 1px solid #fff;
            border-radius: 0;
            color: #333;
        }
      }
    }
  }
  &.nav-background-gray {
    background: #f2f2f2;
  }
  /* ============================= */
  /*  ver.2 nav-tabs               */
  /* ============================= */
  &.v2-nav-tabs {
      border-bottom-width: 0;
      margin-bottom: 0;
     > li {
      margin-bottom: -1px; //
       > a {
        border-radius: 0;
        background-color: #f9f9f9;
        border: 0;
        border: 1px solid #b4b4b4;
        border-top: 1px solid #b4b4b4;
        border-bottom: 1px solid #b4b4b4;
        color: #b4b4b4;
        font-size: 14px;
        font-weight: normal;
        padding: 3px 15px;
        margin-right: 4px;
        text-decoration: none;
        &:hover,
        &:focus {
          background-color: #f9f9f9;
          border-top-color: #62c462;
        }
        > span {
          border-bottom: none;
        }
        .modal & {
          font-size: rem(12);
        }
      }
      &:last-child > a {
        margin-right: 0;
      }
      &.active > a,
      &.active:hover > a,
      &.active:focus > a,
      &.active > a:hover,
      &.active:hover > a:hover,
      &.active:focus > a:hover,
      &.active > a:focus,
      &.active:hover > a:focus,
      &.active:focus > a:focus {
        background-color: #fff;
        border: 1px solid #b4b4b4;
        border-top: 1px solid #62c462;
        border-bottom: 1px solid #fff;
        border-radius: 0;
        color: #333;
      }
    }
  }
}

.tab-content {
  border-top: 1px solid #CCC;
  border-radius: 9px 9px 0 0;
  margin-bottom: 14px;
  > .tab-pane {
      display: none;
  }
  > .active {
      background-color: #fff;
      display: block;
      padding: 34px 0 0 0;
      border-radius: 9px;
      border: 1px solid #ccc;
      border-top: 0;
  }
  .common-client-tab & {
    margin-bottom: 15px;
    table {
      margin-bottom: 0;;
    }
  }
  &.tab-content-noborder {
      background-color: #fff;
      border: none;
      border-top: 1px solid #b4b4b4;
      border-radius: 0;
      padding: 10px;
      > .active {
          border: none;
          border-radius: 0;
          padding-top: 10px;
      }

      .table {
        margin-bottom: 0;
      }
  }
  &.v2-tab-content {
    background-color: #fff;
    border-radius: 0;
    border-top: 0;
    margin-bottom: 0;
    > .active {
      background-color: transparent;
      border: none;
      border-top: 1px solid #b4b4b4;
      border-radius: 0;
      padding: 0;
      .modal & {
        padding: 10px 0 0;
      }
    }
  }
}

.links-nav-tabs {
  align-items: center;
  border-bottom-width: 0;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
  > li {
    align-items: center;
    background-color: _brand-colors(_transparent);
    height: 32px;
    display: inline-flex;
    float: none;
    padding: 0px 5px;
    margin-bottom: 0;
    margin-right: 5px;
    > a {
      border-radius: 0;
      border: 0;
      // border: 1px solid #b4b4b4;
      // border-top: 1px solid #b4b4b4;
      // border-bottom: 1px solid #b4b4b4;
      border-bottom: 1px dotted _brand-colors(_transparent);
      display: block;
      color: _brand-colors(_blue);
      font-size: 13px;
      font-weight: normal;
      line-height: 16px;
      margin-right: 0;
      padding: 0;
      text-decoration: none;
      &:hover,
      &:focus {
        background-color: _brand-colors(_light-blue2);
        border-bottom: 1px dotted _brand-colors(_blue);
        box-shadow: none;
        outline: none;
      }
      > span {
        border-bottom: none;
      }
    }
    &:last-child {
      margin-right: 0;
    }
    &:hover,
    &:focus,
    &.active{
      background-color: _brand-colors(_light-blue2);
    }
    &:hover > a,
    &:focus > a,
    &:hover > a:hover,
    &:focus > a:hover,
    &.active > a,
    &.active:hover > a:focus,
    &.active:focus > a:focus,
    &.active > a:hover,
    &.active > a:focus{
      background-color: _brand-colors(_light-blue2);
      border: none;
      border-bottom: 1px dotted _brand-colors(_blue);
      box-shadow: none;
      color: _brand-colors(_blue);
      outline: none;
    }
  }
}
