@import "~bootstrap-sass/assets/stylesheets/bootstrap/tables";

table td.border-left{
    border-left: 1px solid #cdcdcd;
}
table td.border-right{
    border-right: 1px solid #cdcdcd;
}
.table-bordered > tbody > tr > td.noborder-td-1{
    border-right-width:0;
}
.table-bordered > tbody > tr > td.noborder-td-2{
    border-left-width:0;
}
table > tbody > tr > td.td-line-stages {
    background-color: #fff;
    border-top: 0;
    padding: 0;
}
.table {
    border-collapse: separate;
    border-bottom: 1px solid #fff;
    > tbody > tr > td,
    > tfoot > tr > th{
        border-top: none;
        border-bottom: none;
        font-size: 12px;
        line-height: 14px;
        padding: 15px 10px;
    }
    &-new {
        > tbody > tr > td{
            border-top: 1px solid #fff;
            border-bottom: 1px solid #cdcdcd;
            vertical-align: middle;
        }
        > thead > tr > th{
            color: #333;
            font-size: 12px;
            font-weight: 700;
         }
    }
    .sort-link{
        &:after {
            position: relative;
            top: 1px;
            display: inline-block;
            font-family: 'Glyphicons Halflings';
            font-style: normal;
            font-weight: 400;
            line-height: 1;
            right: -4px;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
        &.asc:after {
            content: "\e155";
        }
        &.desc:after {
            content: "\e156";
        }
    }
    &-striped-new > tbody > tr.even {
        background-color: #f9f9f9;
    }
    &-striped-vert {
        th{
            &:nth-child(even){
                background-color: #f9f9f9;
            }
            &:nth-child(odd){
                background-color: #e9e9e9;
            }

        }
    }
    &.pad-sm{
        > tbody > tr > td,
        > tfoot > tr > th{
            padding: 12px 4px;
        }
    }
    > tfoot {
        > tr > td{
            font-weight: 700;
            background-color: #F5F5F5;
        }
        > tr > th{
            background-color: #d3d3d3;
        }
    }
    > tbody > tr{
        > th{
            color: #8a8a8a;
        }
        &.dealerGroup.expanded > td{
            background-color: #F5F5F5;
        }
        &.dealerGroup.expanded > td.bg-grey {
            background-color: #e9e9e9;
        }
        > td{
            color: _brand-palette(table-color);
            padding: 8px;

            @media (min-width: 992px) and (max-width: 1300px) {
                padding: 4px;
            }
            .glyphicon{
                color: _palette(tableSvgIicon-fill);
                font-size: 14px;
            }
            .crm-btn-row{
                vertical-align: middle;
            }
            .css-admin-modal{
                display: inline-block;
                text-align: center;
                width: 22px;
                margin: 0 5px;

                &.label{
                    display: inline-block;
                    padding: rem(1) rem(3) rem(1);
                    vertical-align: middle;
                    .svg--glyphicons-basic-lock{
                        svg{
                            fill:$white;
                            height: rem(16);
                        }
                    }
                }
                .glyphicon-lock{
                    font-size: rem(12);
                }
                .svg--glyphicons-basic-lock{
                    vertical-align: top;
                    svg{
                        height: rem(18);
                        // width: auto;
                    }
                }
            }
            &.td-total-color{
                background-color: #bfbfbf;
            }
            &.no-top-border{
                border-top: none;
            }
            &.no-bottom-border{
                border-bottom: none;
            }
            .svg--icon{
                svg{
                    fill: _palette(tableSvgIicon-fill);
                    height: rem(14);
                    width: auto;
                }
            }
            .svg--glyphicons-basic-eye{
                height: 11px;
                svg{
                    height: 11px;
                }
            }
            .svg--glyphicons-basic-eye-off{
                height: 14px;
                svg{
                    height: 14px;
                }
            }
            .svg--glyphicons-basic-pencil{
                height: 13px;
                svg{
                    height: 13px;
                }
            }
            .svg--glyphicons-basic-bin{
                height: 14px;
                svg{
                    height: 14px;
                }
            }
            .svg--favorite{
                .fill{
                    fill: _brand-colors(_grey3);
                }
                &:hover{
                    .fill{
                        fill: _brand-colors(_blue);
                    }
                }
                &.favorite-active{
                    .fill{
                        fill: _brand-colors(_orange);
                    }
                }
            }
        }
    }
    > thead {
        &:first-child > tr.tr-noborder > th{
            border: none;
        }
        > tr{
            &.tr-color-1 > th{
                background-color: #f3f3f3;
            }
            &.tr-color-2 > th{
                background-color: #efefef;
            }
            &.tr-color-3 > th{
                background-color: #e6e6e6;
            }
            &.td-color-important{
                background-color: #fff;
            }
            > th {
                border-bottom-width: 1px;
                color: _colors(medium-grey);
                font-size: 11px;
                font-weight: normal;
                line-height: rem(12);
                // padding-bottom: 2px;
                padding-bottom: 5px;
                text-decoration: none;

                @media (min-width: 992px) and (max-width: 1300px) {
                    padding: 8px 4px 6px 4px;
                }

                #ccr-inner  &{
                    text-align: center;
                }
                .asc, .desc{
                    &:after {
                        position: relative;
                        top: 2px;
                        display: inline-block;
                        font-family: 'Glyphicons Regular';
                        font-style: normal;
                        font-weight: 400;
                        line-height: 1;
                        right: -4px;
                        -webkit-font-smoothing: antialiased;
                        -moz-osx-font-smoothing: grayscale;
                    }
                }
                .asc:after {
                    content: "\e214";
                }
                .desc:after {
                    content: "\e213";
                }
            }
        }
    }
    &.table-nd {
        .css-td-expand{
            .glyphicon-expand{
                color: #006697;
            }
        }
        .css-td-collapse{
            .glyphicon-expand{
                color: #BABABA;
                &:before{
                    content: "\e369";
                }
            }
        }
        .glyphicon-expand{
            font-size: 14px;
            top: 0;
        }
        > thead > tr {
            > th {
                text-align: center;
                .glyphicon-question-sign{
                    color: #676767;
                    font-size: 12px;
                    top: 2px;
                }
                .text-red{
                    color: #FF0000;
                }
                .text-green{
                    color: #52A447;
                }
            }
            &.thead-title{
                > th {
                    border-bottom: none;
                    color: #262626;
                    font-size: 12px;
                    // line-height: 12px;
                    line-height: 16px; // obrezalas` bukva i`
                    font-weight: 700;
                    padding-top: 0;
                    padding-bottom: 0;
                    text-transform: uppercase;
                    vertical-align: top;
                }
                & + tr > th {
                    border-top: 0;
                    border-bottom: 0;
                    color: #BABABA;
                    font-size: 11px;
                    line-height: 11px;
                    padding-top: 6px;
                    padding-bottom: 10px;
                    vertical-align: top;
                }
            }
        }
        > tfoot > tr > th {
            background-color: #CCCCCC;
            border-top: none;
            color: #262626;
            font-size: 12px;
            font-weight: 700;
            line-height: 12px;
            padding-top: 10px;
            padding-bottom: 10px;
            // text-align: center;
            vertical-align: middle;
        }
        tr{
            > th,
            > td {
                text-align: center;
                &:first-child {
                    text-align: left;
                }
                &.tbody-1td-color-rowspansTd{
                    text-align: center;
                }
            }
        }
        .tbody-1td-color >tr {
            &.css-tr--master{
                > td{
                    &:first-child{
                        font-weight: 700;
                    }
                    &.tbody-1td-color-rowspansTd{
                        font-weight: 400;
                    }
                }
            }
            &.css-tr--slave{
                > td{
                    &:first-child{
                        padding-left: 18px;
                        font-weight: 400;
                    }
                }
            }
            > td{
                background-color: #F6F6F6;
                border-top:1px solid  #D9D9D9;
                border-bottom:none;
                color: #262626;
                font-size: 12px;
                font-weight: 400;
                line-height: 12px;
                padding-top: 10px;
                padding-bottom: 10px;
                // text-align: center;
                vertical-align: middle;
                &:first-child{
                    background-color: #fff;
                    border-right: 2px solid #D9D9D9;
                    font-size: 12px;
                    // font-weight: 600;
                    min-width:160px;
                }
                &:last-child{
                    border-right: none;
                }
                &.tbody-1td-color-rowspansTd{
                    background-color: #F6f6f6;
                    border-right: none;
                }
                &.td-total-color {
                    background-color: #bfbfbf;
                }
            }
        }
        .td-second-cell{
            margin-top: 2px;
        }
        td.cell-green{
            background:#e8fcfa;
        }
        td.cell-red{
            background:#ffc8ce;
        }
        td.sm{
            padding:4px;
        }
    }
    &-simple{
        border: none;
        > tbody > tr > td{
            border: none;
            box-shadow:none;
            padding: 0;
        }
    }
    &.td-spacing20{
        tr{
            + tr{
                td{
                    padding-top: 20px;
                }
            }
        }
    }
    &-default{
        > thead{
            > tr{
                > th{
                    border-bottom: 1px solid transparentize(_brand-colors(_black), 0.8);
                    color:_brand-colors(_grey);
                    font-weight: normal;
                    font-size: rem(11);
                    line-height: 13px;
                    padding-bottom: 4px;
                    &.text-center{
                        text-align: center;
                    }
                }
            }
        }
        > tbody{
            > tr{
                > td,
                > th{
                    background-color: _brand-colors(_white);
                    border-bottom: 1px solid transparentize(_brand-colors(_black), 0.8);
                    color:_brand-colors(_dark-grey);
                    font-style: normal;
                    font-weight: normal;
                    font-size: rem(13);
                    padding: 8px 10px;
                    line-height: 15px;
                    min-height: 46px;
                    vertical-align: middle;
                    &.text-center{
                        text-align: center;
                    }
                    &.bg-grey{
                        background-color: #F6F6F6;
                    }
                }
            }
        }
    }
}
.td-icon {
    white-space: nowrap;

    a {
        margin-right: 10px;

        &:last-child {
            margin-right: 0;
        }

    }
}
.js-tree-table {
    td:first-child span.glyphicon:before {
        content: "\e174";
    }
    .expanded{
        td:first-child span.glyphicon {
            transform: rotate(90deg);
        }
    }
}
.dealerGroup td:first-child span.glyphicon:before,
.serviceGroup td span.glyphicon:before {
    content: "\e174 ";
    color: #006699;
}

.dealerGroup.expanded td:first-child span.glyphicon,
.serviceGroup.expanded td span.glyphicon {
    transform: rotate(90deg);
}

.table-sticky-head-left_col{
    max-height: 50vh;
    margin-bottom: 20px;
    overflow: auto;
    .table{
        thead tr {
            &:first-child{
                th {
                    background-color: #fff;
                    position: sticky;
                    top: 0;
                    &:first-child {
                        left: 0;
                        z-index: _zindex(tableStickyTheadTrFirstChildThFirstChild);
                        &[rowspan="2"]{
                            z-index: _zindex(tableStickyTheadTrFirstChildThFirstChild);
                        }
                        &[rowspan="3"]{
                            z-index: _zindex(tableStickyTheadTrFirstChildThFirstChild);
                        }
                    }
                }
            }
            &:nth-child(2){
                th {
                    background-color: #fff;
                    position: sticky;
                    &:first-child {
                        left: 0;
                        text-align: center;
                        z-index: _zindex(tableStickyTheadThFirstChild);
                    }
                    top: 26px;
                }
            }
            &:nth-child(3){
                th {
                    background-color: #fff;
                    position: sticky;
                    top: 46px;
                }
            }
            th {
                z-index: _zindex(tableStickyTheadTh);
                &.colorHead {
                    background-color: #ececec;
                    border-left: 1px solid #ccc;
                    border-right: 1px solid #ccc;
                    color: #9e9e9e;
                }
                &.colorHead2{
                    background-color: #d4d4d4;
                    color: #616161;
                }
                &.colorHead3 {
                    background-color: #ececec;
                    color: #9e9e9e;
                    vertical-align: middle;
                }
            }
        }
        tfoot tr th,
        tfoot tr td {
            background-color: #d3d3d3;
            position: sticky;
            top: auto;
            &:first-child {
                left: 0;
                z-index: 1;
            }
        }
        tbody tr td{
            z-index: _zindex(tableStickyTbodyTd);
            &:first-child {
                background: $white;
                position: sticky;
                left: 0;
            }
        }
        &.table-nd{
            thead{
                tr{
                    &:first-child{
                        th{
                            top: 0;
                        }
                    }
                    &:nth-child(2){
                        th{
                            top: 16px;
                        }
                    }
                }
            }
            tfoot{
                tr{
                    th, td{
                        border-right: 0;
                    }
                }
            }
        }
        &.table-striped{
            > tbody > tr{
                &:nth-of-type(odd){
                    td{
                        background-color: #f9f9f9;
                    }
                }

                &:nth-of-type(even) {
                    td {
                        background-color: #fff;
                    }
                }
            }
        }
    }
}

.table {

    &.table-tooltip {
        .tooltip {
            width: 130px;
        }
    }

    .fixed-side {
        background-color: #fff;
        position: sticky;
        left: 0;
        z-index: 10;

        &:hover {
            z-index: 1;
        }
    }
}

.summary {
    margin: -5px -5px 0;
    font-size: rem(11);
    line-height: rem(13);
    text-transform: uppercase;
    text-align: right;

    .table-responsive & {
        margin: 0;
        position: absolute;
        right: 10px;
        top: 10px;
    }

    & + .table {
        .table-responsive & {
            padding-top: 12px;
        }
    }

    .section-filters + .grid-view & {
        margin-top: 10px;
        margin-bottom: 0;
    }
}

.table tr .fixed-side {
    background-color: #fff;
    position: sticky;
    left: 0;
}

.item-processing-report {
    .table {
        &.table-nd {
            .thead-title:first-of-type th {
                background-color: #d3d3d3;
            }

            .groupBy-title {

                &:before {
                    content: "";
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    top: 16px;
                    z-index: -1;
                    background-color: #fff;
                }
            }

            thead {
                tr {
                    th {
                        border-left: 1px solid #D9D9D9;
                        white-space: nowrap;

                    }

                    &:first-child {
                        th {
                            border-right: 2px solid #D9D9D9;
                            border-left: none;
                        }
                    }
                }
            }
        }
    }
    .table-sticky-head-left_col .table.table-nd thead tr:first-child th {
        top: 0;
    }
    .table-sticky-head-left_col .table.table-nd thead tr:nth-child(2) th {
        z-index: 0;
    }
    .table-sticky-head-left_col .table.table-nd thead tr:nth-child(3) th {
        top: 43px;
    }
}
.table-wrapper-forecast {
    overflow-x: auto;
}

.table-source_statistics {
    tbody {
        tr {
            td {
                white-space: nowrap;

                &:nth-child(2), &:nth-child(3), &:nth-child(4), &:nth-child(5), &:nth-child(10) {
                    border-right: 1px solid #D9D9D9;
                }
            }
        }
    }
}

.table-sticky-head-left_col {
    .table.table-nd.table-manual-report {
        .glyphicon-question-sign {
            top: 4px;
        }

        thead {
            tr:nth-child(2) th {
                top: 12px;
            }

            th {
                white-space: nowrap;
            }
        }

        tbody > tr > td .glyphicon {
            position: relative;
            top: 3px;
        }

        .tbody-1td-color > tr > td:nth-child(4), .tbody-1td-color > tr > td:nth-child(8), .tbody-1td-color > tr > td:nth-child(10) {
            border-right: 1px solid #D9D9D9;
        }
    }
}


.table-history {
    tbody {
        tr {
            td {
                &:nth-child(3) {
                    width: 300px;
                    max-width: 300px;
                }
                &:nth-child(4) {
                    width: 300px;
                    max-width: 300px;
                    overflow-wrap: break-word;
                }
            }
        }
    }
}

.table-sticky-head-left_col {
    .table-result {
        thead {
            tr {
                th {
                    min-width: 80px;
                }
            }
        }

        tfoot {
            tr {
                th {
                    white-space: nowrap;
                    position: sticky;
                    bottom: 0;
                    z-index: 1000;

                    &:first-child {
                        z-index: 1100;
                    }
                }
            }
        }
    }
}


.table.table-nd.table-report {
    tr > th:first-child {
        text-align: center;
    }
}
.table-number {
    .table.table-nd {
        & > thead {
            & > tr > th {
                .glyphicon-question-sign {
                    color: #BABABA;
                }
            }
        }
        & > tbody {
            & > tr > td {
                white-space: nowrap;
            }
        }
        & > tfoot  {
            & > tr > th {
                white-space: nowrap;
                vertical-align: top;
                &:hover {
                    z-index: 1000;
                }
            }
        }
    }
}
.table-pollFilling {
    min-height: 300px;

    .summary {
        display: none;
    }

    tbody {
        tr {
            td {
                &:last-child {
                    display: flex;
                    align-items: center;

                    .js-check-assignee {
                        position: relative;
                        top: 2px;
                    }
                }

                &:first-child {
                    display: table-cell;
                }
            }
        }
    }
}

.table-striped-progress {
    thead {
        tr {
            th {
                width: 200px;
                &:hover {
                    z-index: 1000;
                }
            }
        }
    }
}

.table-div {
    &-header {
        margin-top: 14px;
        display: flex;
        & > div {
            flex: none;
            border-bottom: 1px solid #ddd;
            color: #BABABA;
            font-size: 11px;
            font-weight: normal;
            line-height: 0.75rem;
            padding: 8px {
                bottom: 5px;
            }
        }
    }

    &-body {

        & > div {
            &:nth-of-type(2n+1) {
                .row {
                    & > div {
                        background-color: #f9f9f9;
                    }
                }
            }

            .row {
                display: flex;
                & > div {
                    flex: none;
                    font-size: 12px;
                    line-height: 14px;
                    padding: 15px 10px;

                    &:first-child {
                        position: relative;

                    }
                }
            }

            &.double {
                .row {
                    &:first-child {
                        & > div {
                            &:first-child {
                                &:after {
                                    content:"-";
                                    padding-left: 4px;
                                }

                                &:before {
                                    content:"";
                                    width: 1px;
                                    background: #000;
                                    position: absolute;
                                    right: 8px;
                                    bottom: 0;
                                    top: 22px;
                                }
                            }
                        }
                    }
                    &:last-child {
                        & > div {
                            &:first-child {
                                &:after {
                                    content:"-";
                                    padding-left: 4px;
                                }

                                &:before {
                                    content:"";
                                    width: 1px;
                                    background: #000;
                                    position: absolute;
                                    right: 8px;
                                    top: 0;
                                    height: 23px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .col-md-2 {
        min-width: 200px;
    }

    .col-md-1-5 {
        min-width: 180px;
    }

    .col-md-1 {
        min-width: 110px;
    }

    .col-md-0-5 {
        min-width: 60px;
    }
}

.word-wrap {
    p {
        .simple-discount-item & {
            width: 66px;
            word-wrap: break-word;
        }
    }

    &-label {
        .label {
            .simple-discount-item & {
                max-width: 80px;
                white-space: normal;
                text-align: left;
                line-height: 14px;
            }
        }
    }
}


.table-stage {
    :not(.input-group) > .bootstrap-select.form-control:not([class*="col-"]) {
        width: 200px;
    }
}

.table-sticky-head-left_col {
    .table.table-nd.table-forecast thead tr:nth-child(2) th {
        top: 16px;
    }
}

.table-revocableCompanies {
    .revocableCompanies {
        &-dropdown {
            display: flex;
            align-items: center;
            justify-content: space-between;

            a {
                order: 2;
            }
        }
    }

    .collapsed {
        .fixed-side {
            &:not(.revocableCompanies-dropdown) {
                padding-left: 18px;
                font-weight: 400 !important;
                a {
                    padding-left: 0 !important;
                }
            }
        }
    }

    &.js-tree-table td:first-child span.glyphicon::before {
        content: "\E368";
    }

    .thead-title {
        .glyphicon {
            z-index: 100;
        }
    }
}

#forecastContainer {
    .table-sticky-head-left_col {
        margin-top: 20px;
    }
}



.table-msrReport {
    .msrReport-dropdown {
        display: flex;
        align-items: center;
        justify-content: space-between;

        a {
            order: 2;
        }
    }

    &.js-tree-table td:first-child span.glyphicon::before {
        content: "\E368";
    }

    &.table  {

        &.table-bordered {
            border: 2px solid #262626;
        }

        & > thead > tr {
            &:first-child th {
                color: #262626;
                font-size: 12px;
                line-height: 16px;
                font-weight: 700;
                text-transform: uppercase;
                border-right: 1px solid #262626;
            }

            &:nth-child(4) th:nth-child(1), &:nth-child(5) th:nth-child(11), &:nth-child(5) th:nth-last-child(6) {
                border-left: 1px solid #262626;
            }
        }

        & > tfoot > tr > td {
            background-color: #CCCCCC;
            border-top: none;
            color: #262626;
            font-size: 12px;
            font-weight: 700;
            line-height: 12px;
            padding-top: 10px;
            padding-bottom: 10px;
            vertical-align: middle;
            border-top: 2px solid #262626;

            &:first-child, &:nth-child(12), &:nth-last-child(8) {
                border-right: 1px solid #262626;
            }

            &:nth-child(2), &:nth-child(13), &:nth-last-child(7) {
                border-left: 1px solid #262626;
            }
        }

        &.table-nd > thead > tr.thead-title > th {
            border: 1px solid #262626;
            border-bottom: 2px solid #ddd;
            border-top: 0;

            &:last-child {
                border-right: 0;
            }
        }

        &.table-nd tr > th:first-child, &.table-nd tr > td:first-child {
            text-align: center;
        }

        &.table-nd .tbody-1td-color tr {
            & > th:first-child, & > td:first-child {
                text-align: left;
                border-right: 1px solid #262626;
            }

            & > td {
                &:nth-child(12), &:nth-last-child(8) {
                    border-right: 1px solid #262626;
                }

                &:nth-child(2), &:nth-child(13), &:nth-last-child(7) {
                    border-left: 1px solid #262626;
                }
            }

            &:first-child {
                td {
                    border-top: 2px solid #262626;
                }
            }
        }

        .text-vertical {
            writing-mode: vertical-lr;
        }
    }
}


.csiReport-inner {
    padding-top: 5px;
    max-height: 600px;
    overflow: auto;
}

.table-csiReport {
    &.table  {

        &.table-bordered {
            border: 2px solid #262626;
            border-top: none;
            border-left: none;
        }

        & > thead > tr {
            &:first-child th {
                text-align: center;
                color: #262626;
                font-size: 12px;
                line-height: 16px;
                font-weight: 700;
                text-transform: uppercase;
                border-right: 1px solid #262626;
                border-left: 1px solid #262626;
                border-top: 2px solid #262626;
                background-color: #fff;
                position: sticky;
                top: -5px;
                z-index: 10;

                &:nth-child(1), &:nth-child(2) {
                  text-align: left;
                  top: -5px;
                  left: 0;
                  z-index: 20;
                }

                &:nth-child(1) {
                    border-right: 1px solid #ddd;
                    border-left: 2px solid #262626;
                    min-width: 80px;
                    vertical-align: middle;
                    text-align: center;
                }

                &:nth-child(2) {
                    min-width: 160px;
                    left: 80px;
                    border-left: 1px solid #ddd;
                    border-right: 2px solid #262626;
                    vertical-align: middle;
                    text-align: center;
                }

                &:nth-child(3) {
                    border-left: none;
                }

                &:last-child {
                    border-right: none;
                }
            }

            &:nth-child(2) th {
                vertical-align: top;
                background-color: #fff;
                position: sticky;
                top: 43px;
                z-index: 10;

              &.td-border-left {
                border-left: 1px solid #262626;
              }

              &.td-border-right {
                border-right: 1px solid #262626;

                &:last-child {
                    border-right: none;
                }
              }

                &:nth-child(1) {
                    border-left: none;
                }
            }
        }

        &.table-nd {
            & > tbody > tr > td {
                background-color: #F6F6F6;
                border-top: 1px solid #D9D9D9;
                border-bottom: none;
                color: #262626;
                font-size: 12px;
                font-weight: 400;
                line-height: 12px;
                padding-top: 10px;
                padding-bottom: 10px;
                vertical-align: middle;

                &.td-border-right {
                    border-right: 1px solid #262626;

                    &:last-child {
                        border-right: none;
                    }
                }

                &.td-border-left {
                    border-left: 1px solid #262626;
                }

                &:nth-child(1) {
                    text-align: left;
                    border-left: 2px solid #262626;
                }

                &:nth-child(2) {
                    text-align: left;
                    border-right: 2px solid #262626;
                }

                &:nth-child(3) {
                    border-left: none;
                }
            }

            & > tbody > tr {
                td {
                    &:nth-child(1), &:nth-child(2) {
                      background-color: #fff;
                      position: sticky;
                      left: 0;
                    }

                    &:nth-child(2) {
                        left: 80px;
                    }
                }
            }
        }

        & > tfoot {

            display: table-row-group;

            & > tr > td {
                color: #262626;
                font-size: 12px;
                font-weight: 700;
                line-height: 12px;
                padding-top: 10px;
                padding-bottom: 10px;
                vertical-align: middle;
                border-top: 2px solid #262626;
                border-bottom: 2px solid #262626;
                background-color: #CCCCCC;
                position: sticky;
                z-index: 10;
                top: 154px;
    
                &.td-border-right {
                    border-right: 1px solid #262626;

                    &:last-child {
                        border-right: none;
                    }
                }
        
                &.td-border-left {
                    border-left: 1px solid #262626;
                }
    
                &:nth-child(1) {
                    border-right: none;
                    border-left: 2px solid #262626;
                }
    
                &:nth-child(2) {
                    border-left: none;
                    border-right: 2px solid #262626;
                    text-align: center;
                }
    
                &:nth-child(3) {
                    border-left: none;
                }
    
                &:nth-child(1), &:nth-child(2) {
                  left: 0;
                  z-index: 20;
                }
    
                &:nth-child(2) {
                    left: 80px;
                }
            }
        }
    }
}

.table-csiDealer {
    &.table  {

        &.table-bordered {
            border: 2px solid #262626;
        }

        & > thead > tr {
            th {
                color: #262626;
                font-size: 12px;
                line-height: 16px;
                font-weight: 700;
                text-transform: uppercase;

                &:nth-child(1) {
                    border-right: 1px solid #262626;
                    width: 36px;
                }

                &:nth-child(2) {
                    width: 200px;
                    border-right: 1px solid #262626;
                    border-left: 1px solid #262626;
                }

                &:nth-child(3)  {
                    border-left: 1px solid #262626;
                }
            }
        }

        &.table-nd {
            & > tbody > tr > td {
                background-color: #F6F6F6;
                border-top: 1px solid #D9D9D9;
                border-bottom: none;
                color: #262626;
                font-size: 12px;
                font-weight: 400;
                line-height: 12px;
                padding-top: 10px;
                padding-bottom: 10px;
                vertical-align: middle;

                &:nth-child(1) {
                    border-right: 1px solid #262626;
                    border-left: 1px solid #262626;
                }

                &:nth-child(2)  {
                    border-left: 1px solid #262626;
                }

                &.group-view-merge-cells {
                    color: #262626;
                    font-size: 12px;
                    line-height: 16px;
                    font-weight: 700;
                    text-transform: uppercase;
                    border-right: 1px solid #262626;
                    border-left: none;
                    writing-mode: vertical-lr;
                    text-align: center;

                    & + td {
                        text-align: left;
                        border-right: 1px solid #262626;

                        & + td {
                            border-left: 1px solid #262626;
                        }
                    }
                }
            }

            & > tbody > tr:first-child {
                td {
                    border-top: 2px solid #262626;
                }
            }

            & > tbody > tr {

                &:not([data-key="0"]) {

                    td.group-view-merge-cells {
                        border-top: 2px solid #262626;

                        & ~ td {
                            border-top: 2px solid #262626;
                        }
                    }
                }
            }
        }

        & > tfoot > tr > td {
            background-color: #CCCCCC;
            color: #262626;
            font-size: 12px;
            font-weight: 700;
            line-height: 12px;
            padding-top: 10px;
            padding-bottom: 10px;
            vertical-align: middle;
            border-top: 2px solid #262626;

            &:nth-child(2)  {
                border-left: 1px solid #262626;
            }
        }
    }
}
