/* ============================= */
/*  Tools style                  */
/* ============================= */
.bg-grey {
    background-color: #e9e9e9;
}
.bg-orange{
    background-color: #ffdb7d;
}
.no-bg{
    background-color: transparent;
}

@include bg-variant('.bg-primary', $state-primary-bg);
@include bg-variant('.bg-success', $state-success-bg);
@include bg-variant('.bg-info', $state-info-bg);
@include bg-variant('.bg-warning', $state-warning-bg);
@include bg-variant('.bg-danger', $state-danger-bg);
@include bg-variant('.bg-dark', $state-dark-bg);

.text-gray {
    color: #666;
}
.text-medium-grey{
  color: #808080;
}
.text-mediumGrey{
  color: _colors(medium-grey);
}
.text-red{
  color: #FF0000;
}
.text-green{
  color: #52A447;
}

@include text-emphasis-variant('.text-primary', $state-primary-text);
@include text-emphasis-variant('.text-success', $state-success-text);
@include text-emphasis-variant('.text-info', $state-info-text);
@include text-emphasis-variant('.text-warning', $state-warning-text);
@include text-emphasis-variant('.text-danger', $state-danger-text);
@include text-emphasis-variant('.text-dark', $state-dark-text);
@include text-emphasis-variant('.text-muted', $state-muted-text);

@include svg-icon-variant('.svg-primary', $state-primary-text);
@include svg-icon-variant('.svg-success', $state-success-text);
@include svg-icon-variant('.svg-info', $state-info-text);
@include svg-icon-variant('.svg-warning', $state-warning-text);
@include svg-icon-variant('.svg-danger', $state-danger-text);
@include svg-icon-variant('.svg-dark', $state-dark-text);
@include svg-icon-variant('.svg-muted', $state-muted-text);

.nowrap{
  white-space: nowrap;
}
.break-word{
  word-break: break-word;
}
.overflow-ellipsis{
  overflow: hidden;
  text-overflow: ellipsis;
}
.text-bold{
  font-weight: 700;
}

.border{
  &-top{
    border-top: 1px solid $crm-dsf-gray;
  }
  &-right{
    border-right: 1px solid $crm-dsf-gray;
  }
  &-bottom{
    border-bottom: 1px solid $crm-dsf-gray;
  }
  &-left{
    border-left: 1px solid $crm-dsf-gray;
  }
}

.m {
  &t {
    &-0 {
      margin-top: 0;
    }
    &-10 {
      margin-top: rem(10);
    }
    &-15{
      margin-top: rem(15);
    }
    &-20{
      margin-top: rem(20);
    }
  }
  &r{
    &-8{
      margin-right: rem(8);
    }
    &-10{
      margin-right: rem(10);
    }
  }
  &b {
    &-0 {
      margin-bottom: 0;
    }
    &-5 {
      margin-bottom: rem(5);
    }
    &-10 {
      margin-bottom: rem(10);
    }
    &-20 {
      margin-bottom: rem(20);
    }
  }
  &l{
    &-10{
      margin-left: rem(10);
    }
  }
}

.p{
  &b {
    &-10 {
      padding-bottom: rem(10);
    }
  }
  &t{
    &-10{
      padding-top: rem(10);
    }
    &-20{
      padding-top: rem(20);
    }
  }
  &l{
    &-0{
      padding-left: 0;
    }
  }
}

.minwidth-125{
  min-width: 125px;
}

.text-uppercase{
  text-transform: uppercase;
}

.fz10{
  font-size: rem(10);
}
.fz12{
  font-size: rem(12);
}
.lh18{
  line-height: 18px;
}
.shadow {
    box-shadow: 1px 3px 0 rgba(140, 140, 141, 0.5);
}

.col-pr20,
.col-pr80{
  float: left;
}
.col-pr20{
  width: 20%;
}
.col-pr80{
  width: 80%;
}

.d-flex{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
.flex-end{
  justify-content: flex-end;
}
.justify-space-between{
  justify-content: space-between;
}
.align-center{
  align-items: center;
}
.align-start{
  align-items: flex-start;
}
