body .tree-select {
    border: none;

    &  > .tree-select-single, & > .tree-select-multiple {
        height: 28px;
        border-radius: 1px;
        background-image: linear-gradient(#ffffff 0%, #dddddd 100%);
        border: 1px solid #dddddd;
        color: #333333;
        padding: 0px 12px;
        font-size: 0.75rem;
        line-height: 26px;

        &:after {
            content:"";
            display: block;
            width: 32px;
            height: 28px;
            position: absolute;
            top: 0px;
            right: 0px;
            border: 1px solid #dddddd;
            border-left: none;
            background-image: linear-gradient(#ffffff 0%, #dddddd 100%);
        }

        &:hover {
            background-image: linear-gradient(#dddddd 0%, #ffffff 100%);
            background-color: #e6e5e5;
            border-color: #adadad;

            &:after {
                background-image: linear-gradient(#dddddd 0%, #ffffff 100%);
                background-color: #e6e5e5;
                border-color: #adadad;
            }
        }
    }

    &.tree-select-open {
        & > .tree-select-single, & > .tree-select-multiple {

            background-color: #e6e5e5;
            background-image: none;
            border-color: #adadad;

            &:after {
                background-color: #e6e5e5;
                background-image: none;
                border-color: #adadad;
            }

            &:hover {
                background-color: #d4d4d4;
                border-color: #8c8c8c;

                &:after {
                    background-color: #d4d4d4;
                    border-color: #8c8c8c;
                }
            }
        }
    }

    & > .tree-select-multiple {
        display: flex;
        overflow: hidden;

        & > .tree-select-tag {
            background: none;
            font-size: 0.75rem;
            line-height: 26px;
            color: #333333;
            padding: 0;
            white-space: nowrap;
            margin-bottom: 0;
        }
    }

    & > .tree-selec-allow {
        display: inline-block;
        width: 0;
        height: 0;
        margin-left: 2px;
        border-top: 4px dashed;
        border-right: 4px solid transparent;
        border-left: 4px solid transparent;
        position: absolute;
        top: 50%;
        right: 12px;
        margin-top: -2px;
        color: #333333;
        transform: none;
        z-index: 1;
    }

    &.tree-select-open > .tree-selec-allow {
        transform: none;
        top: 50%;
        right: 12px;
    }

    & > .tree-select-dropdown {
        margin: 2px 0 0;
        font-size: 14px;
        text-align: left;
        background-color: #fff;
        background-clip: padding-box;
        border-radius: 4px;

        & > .tree {
            margin: 0;
        }

        .tree-themeicon {
            display: none;
        }

        .tree-anchor {
            font-size: 0.75rem;
            color: #333333;
            font-weight: 400;
        }
    }

    &.tree-select-open > .tree-select-dropdown {
        border: 1px solid rgba(0, 0, 0, 0.15);
        margin: 2px 0 0;
        padding: 5px 0;
    }
}